@import "../pui-variables";

.map-wrapper {
  position: relative;
}

.pane-map {
  height: 450px;
  position: relative;
}

.map-overlay {
  position: absolute;
  top: 70px;
  z-index: 99;
}

@media (max-width: $screen-sm) {
  .map-overlay {
    top: 0;
    position: relative;
  }
}

.labs-map {
  height: 100%;
}
