@import "../pui-variables";
@import '../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins';

.row-gutter-sm {
  margin-left: -$grid-gutter-width-small / 2;
  margin-right: -$grid-gutter-width-small / 2;

  > [class^="col"] {
    padding-left: $grid-gutter-width-small / 2;
    padding-right: $grid-gutter-width-small / 2;
  }
}

.row-gutter-md {
  margin-left: -$grid-gutter-width-md / 2;
  margin-right: -$grid-gutter-width-md / 2;

  > [class^="col"] {
    padding-left: $grid-gutter-width-md / 2;
    padding-right: $grid-gutter-width-md / 2;
  }
}

@media (min-width: $screen-xl-min) {
  @include make-grid(xl);
}