@import "../pui-variables";
@import "../buttons/buttons";

.pui-btn-group {
  display: inline-block;

  > .pui-btn {
    float:left;
  }

  .pui-btn:hover {
    z-index: 2;
  }

  .pui-btn + .pui-btn {
    margin-left: -2px;
  }

  .pui-btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    border-radius: 0;
  }

  .pui-btn:first-child {
    border-bottom-left-radius: $btn-border-radius;
    border-top-left-radius: $btn-border-radius;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  .pui-btn:last-child:not(:first-child),
  .dropdown-toggle:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: $btn-border-radius;
    border-top-right-radius: $btn-border-radius;
  }
}

.pui-btn-group-flat {
  display: inline-block;

  > .pui-btn {
    padding: 0 $btn-spacing-base;
    float:left;
  }

  .pui-btn-icon {
    padding: 0 3px;
  }
}

.pui-btn-group-large {
  > .pui-btn {
    @extend .pui-btn-lg;
  }
}

.pui-btn-group-small {
  > .pui-btn {
    @extend .pui-btn-sm;
  }
}