/*doc
---
title: Spinners
name: iconography_spinner
parent: iconography
---

Spinners are used to show that some action is in progress. Spinners come in two sizes: large and small.

```html_example_table
<div class="spinner-lg bkg-default-5 out">
  <i class="fa fa-spin fa-cog mtxl"></i>
</div>

<div class="spinner-sm bkg-default-5 out">
  <i class="fa fa-spin fa-cog mtxl"></i>
</div>
```

*/

.spinner-lg {
  margin-top: 64px;
  text-align: center;
  .fa-spin {
    font-size: 48px;
    opacity: 0.5;
  }
}

.spinner-sm {
  text-align: center;
  min-height: 320px;
  .fa-spin {
    font-size: 28px;
  }
  &.out {
    opacity: 0.2;
  }
}
