<!DOCTYPE html>

<html>
<head>
  <link rel="stylesheet" href="../../dist/pivotal-ui/pivotal-ui.css">
</head>
<body>
  <div class="codeExample"><div class="exampleOutput"><div class="alert alert-success alert-dismissable">
    <button class="close" data-dismiss="alert">
      <i class="fa fa-times"></i>
    </button>
    <p>Everything is wonderful.</p>
  </div>
    <div class="alert alert-info alert-dismissable">
      <button class="close" data-dismiss="alert">
        <i class="fa fa-times"></i>
      </button>
      <p>Some info message</p>
    </div>
    <div class="alert alert-error alert-dismissable">
      <button class="close" data-dismiss="alert">
        <i class="fa fa-times"></i>
      </button>
      <p>Something has gone horribly awry</p>
    </div>
    <div class="alert alert-warning alert-dismissable">
      <button class="close" data-dismiss="alert">
        <i class="fa fa-times"></i>
      </button>
      <p>Warning: There is no parking on the dancefloor.</p>
    </div>
    <div class="alert alert-error alert-dismissable">
      <button class="close" data-dismiss="alert">
        <i class="fa fa-times"></i>
      </button>
      <p>
        Error
        <a href="#">Link to resolve Error</a>
      </p>
    </div>
  </div>
</body>
</html>