@import "../pui-variables";

.progress {
  background-color: $shadow-3;

  overflow: hidden;
}

.progress-bar {
  -webkit-transition: width .6s ease;
  transition: width .6s ease;

  background: $gray-5;

  .label {
    margin-left: 7px;
    font-size: 14px;
    font-weight: 900;
  }
}

.progress-bar[aria-valuenow="1"],
.progress-bar[aria-valuenow="2"] {
  min-width: 3%;
}

.progress-bar[aria-valuenow="0"] {
  color: $text-color;
  min-width: 3%;
  background: transparent;
}

.progress-bar[aria-valuenow^="9"]:not([aria-valuenow="9"]), .progress-bar[aria-valuenow="100"] {
  background: $red-3;
}
