.txt-c {
  text-align: center !important;
}

.txt-l {
  text-align: left !important;
}

.txt-r {
  text-align: right !important;
}

.txt-t {
  vertical-align: top !important;
}

.txt-b {
  vertical-align: bottom !important;
}

.txt-m {
  vertical-align: middle !important;
}

// Table alignment

/* horizontal alignment */
table .txt-c, table tr .txt-c, table tr td.txt-c {
  @extend .txt-c;
}

table .txt-l, table tr .txt-l, table tr td.txt-l {
  @extend .txt-l;
}

table .txt-r, table tr .txt-r, table tr td.txt-r {
  @extend .txt-r;
}

/* vertical alignment */
table .txt-t, table tr .txt-t, table tr td.txt-t, table tr th.txt-t {
  @extend .txt-t;
}

table .txt-b, table tr .txt-b, table tr td.txt-b, table tr th.txt-b {
  @extend .txt-b;
}

table .txt-m, table tr .txt-m, table tr td.txt-m, table tr th.txt-m {
  @extend .txt-m;
}
