@import "../pui-variables";

/*doc
---
title: Avatars
name: avatar
categories:
 - css_base_avatars
 - css_all
---

<code class="pam">
<i class="fa fa-download" alt="Install the Component">
npm install pui-css-avatars --save
</i>
</code>

Regular avatars are expected to by 100px by 100px.


```html_example
<img alt="..." class="img-circle avatar" height="100" src="http://placehold.it/100x100" width="100">
```


*/
.avatar {
  border: $avatar-border;
  box-sizing: border-box;
}


.gravatar {
  display: inline-block;
  position: relative;
  img {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  i {
    text-align: center;
    z-index: 1;
  }
  i.overlay {
    background-color: transparent;
    z-index: 3;
    position: absolute;
  }
}

/*doc
---
title: Small Gravatar
name: avatar_01_gravatar_small
parent: avatar
---

Allows you to show a gravatar with the proper default 'image' (icon).

To use in a view, simply call

`= render 'shared/gravatar_small', email: 'some@email.com'`

```html_example
<div class="gravatar gravatar-sm">
  <img alt="anonymous gravatar" src="https://secure.gravatar.com/avatar/8b7970c372aabb936ca455127e04c959?s=20&amp;d=blank">
  <i class="fa fa-user"></i>
</div>
<div class="gravatar gravatar-sm">
  <img alt="nicole and some people" src="https://s.gravatar.com/avatar/c99bd3ce00444f946027741d5a5cd9e9?s=20&amp;d=blank">
  <i class="fa fa-user"></i>
</div>
```

*/

/*doc
---
title: Small with Envelope
name: avatar_02_gravatar_small_with_envelope
parent: avatar
---

Allows you to show a gravatar with an icon overlay.

To use in a view, simply call

`= render 'shared/gravatar_small', email: 'some@email.com'`

```html_example
<div class="gravatar gravatar-sm">
  <img alt="anonymous gravatar" src="https://secure.gravatar.com/avatar/8b7970c372aabb936ca455127e04c959?s=20&amp;d=blank">
  <i class="fa fa-user"></i>
  <i class="overlay fa fa-envelope"></i>
</div>
<div class="gravatar gravatar-sm mlxl">
  <img alt="nicole and some people" src="https://s.gravatar.com/avatar/c99bd3ce00444f946027741d5a5cd9e9?s=20&amp;d=blank">
  <i class="fa fa-user"></i>
  <i class="overlay fa fa-envelope"></i>
</div>
<div class="gravatar gravatar-sm mlxl">
  <img alt="anonymous gravatar" src="https://secure.gravatar.com/avatar/8b7970c372aabb936ca455127e04c959?s=20&amp;d=blank">
  <i class="fa fa-user highlight"></i>
  <i class="overlay fa fa-check"></i>
</div>
<div class="gravatar gravatar-sm mlxl">
  <img alt="nicole and some people" src="https://s.gravatar.com/avatar/c99bd3ce00444f946027741d5a5cd9e9?s=20&amp;d=blank">
  <i class="fa fa-user"></i>
  <i class="overlay fa fa-check"></i>
</div>
```
*/


.gravatar-sm {
  i {
    color: $gray-5;
    font-size: 20px;
    line-height: 20px;
    width: 20px;
    height: 20px;
  }

  i.highlight {
    color: $teal-3;
  }

  i.overlay {
    font-size: 10px;
    color: #fff;
    right: -30%;
    bottom: -25%;
  }
  .fa-envelope {
    text-shadow: 1px 0px 1px $gray-5, -1px 0px 1px $gray-5, 0px 1px 1px $gray-5, 0px 0px 1px $gray-5;
  }
  .fa-check {
    text-shadow: 1px 0px 0px $teal-3, -1px 0px 0px $teal-3, 0px 1px 0px $teal-3, 0px 0px 0px $teal-3;
  }
}

/*doc
---
title: Large Gravatar
name: avatar_03_gravatar_large
parent: avatar
---

Allows you to show a gravatar with the proper default 'image' (icon).

Large gravatar has a white background so it can be used on the edit profile form.

To use in a view, simply call

`= render 'shared/gravatar_large', email: 'some@email.com'`

```html_example
<div class="gravatar gravatar-lg">
  <img alt="anonymous gravatar" src="https://secure.gravatar.com/avatar/8b7970c372aabb936ca455127e04c959?s=80&amp;d=blank">
  <i class="fa fa-user"></i>
</div>
<div class="gravatar gravatar-lg">
  <img alt="nicole and some people" src="https://s.gravatar.com/avatar/c99bd3ce00444f946027741d5a5cd9e9?s=80&amp;d=blank">
  <i class="fa fa-user"></i>
</div>
```

*/

.gravatar-lg {
  border: 3px solid $gray-10;
  i {
    background-color: #fff;
    color: $gray-10;
    font-size: 62px;
    line-height: 80px;
    width: 80px;
    height: 80px;
  }
}

