@import "../pui-variables";

%dropdown {
  background-color: $white;
  border: 1px solid $accent-gray;
  border-bottom: 1px solid $accent-gray;
  border-radius: 2px;
  position: relative;

  &.open, &:hover, &:focus, &:focus:hover {
    border-color: $gray;
  }
}

%dropdown-toggle {
  background-color: transparent;
  border: 0;
  color: $gray;
  font-weight: normal;
  display: inline;

  padding-left: $whitespace-l;
  padding-right: $whitespace-l;

  text-transform: none;
  width: 100%;

  justify-content: space-between;

  .icon {
    vertical-align: sub;
    fill: $accent-gray;
  }

  &:hover, &:focus, &:focus:hover {
    background-color: transparent;

    .icon {
      fill: $gray;
    }
  }
}

%dropdown-menu {
  box-shadow: none;
  display: none;
  left: -1px;
  margin-top: -1px;

  position: absolute;
  right: -1px;
  top: 100%;
  z-index: $zindex-dropdown;

  > ul {
    background-color: $white;
    border: 1px solid $gray;
    border-radius: 0 0 2px 2px;
    border-top: none;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;

    > li {
      color: $dark-gray;
      display: block;
      padding: 2px $whitespace-l;
      &:hover {
        background-color: darken($white, 6%);
      }
    }
  }
}

%dropdown-menu-open {
  display: block;
}

%dropdown-toggle-open {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  &:hover {
    border-bottom: none;
  }

  .icon {
    fill: $gray;
  }
}
