{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "node": true,
    "jasmine": true
  },
  "ecmaFeatures": {
    "modules": true
  },
  "rules": {
    "camelcase": 0,
    "curly": 0,
    "eol-last": 0,
    "no-undef": 0,
    "no-path-concat": 0,
    "no-process-exit": 0,
    "no-shadow": 0,
    "no-underscore-dangle": 0,
    "no-unused-expressions": 0,
    "quotes": [2, "single", "avoid-escape"],
    "strict": 0
  }
}
