{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "node": true,
    "jasmine": true
  },
  "ecmaFeatures": {
    "modules": true,
    "jsx": true
  },
  "globals": {
    "React": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "camelcase": 0,
    "curly": 0,
    "eol-last": 0,
    "no-undef": 0,
    "no-path-concat": 0,
    "no-process-exit": 0,
    "no-shadow": 0,
    "no-underscore-dangle": 0,
    "no-unused-expressions": 0,
    "quotes": [2, "single", "avoid-escape"],
    "strict": 0,
    "react/jsx-uses-vars": 2,
    "react/jsx-no-undef": 2,
    "react/jsx-uses-react": 2,
    "react/no-is-mounted": 2,
    "react/react-in-jsx-scope": 2,
    "react/prefer-es6-class": 2,
    "react/no-did-mount-set-state": 0,
    "react/no-did-update-set-state": 2,
    "react/prop-types": [2, {"ignore": ['children', 'className', 'id', 'style']}],
    "react/prefer-stateless-function": 0,
    "react/self-closing-comp": 2,
    "react/sort-comp": 2,
    "react/jsx-wrap-multilines": 2,
    "semi": 2
  }
}
