@import "../pui-variables";

.pagination {
  font-size: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  li {
    display: inline-block;
    font-size: $font-size-base;
    border-right: 1px solid $pagination-border;
    border-top: 1px solid $pagination-border;
    border-bottom: 1px solid $pagination-border;
    background-color: $pagination-bg;
    cursor: pointer;

    a {
      display: block;
      padding: 6px 12px;

    }
    &:hover {
      background-color: $pagination-hover-bg;
      a {
        color: $pagination-hover-color;
      }
    }

    &:first-child {
      border-left: 1px solid $pagination-border;
      border-bottom-left-radius: 4px;
      border-top-left-radius: 4px;
    }

    &:last-child {
      border-bottom-right-radius: 4px;
      border-top-right-radius: 4px;
    }

    &.disabled {
      background-color: $pagination-disabled-bg;
      cursor: default;
      a {
        cursor: default;
        color: $pagination-disabled-color;
      }
    }

    &.selected {
      background-color: $pagination-hover-color;
      cursor: default;
      a {
        cursor: default;
        color: $neutral-11;
      }
    }
  }
}
