// @import "../pui-variables";

// .table {
//   font-size: $table-font-size;
// }

// table.table {
//   width: 100%;
//   background-color: $table-bg;
//   margin-bottom: ($base-unit*2);
//   //HTML table reset
//   table-layout: fixed;
//   border-collapse: collapse;
//   border-spacing: 0;
//   p {
//     margin: 0;
//   }

//   //General Row
//   tr {
//     border-top: solid 1px $table-border-color;
//     border-left: solid 1px $table-border-color;
//     border-right: solid 1px $table-border-color;
//     &:last-child {
//       border-bottom: solid 1px $table-border-color;
//     }
//     &.tr-hover:hover {
//       background-color: $table-bg-hover;
//     }
//   }
//   //Table Header Cell
//   th {
//     font-weight: $table-header-font-weight;
//     //Borders stack on HTML Tables so this needs to be 2px
//     border-bottom: solid 2px $table-border-color;
//   }
//   //General Cell
//   td, th {
//     border-right: solid 1px $table-border-color;
//     padding: $base-unit ($base-unit*2);
//     text-align: inherit;
//     &:last-child {
//       border-right: none;
//     }
//   }
//   p {
//     margin: 0;
//   }
//   //HTML Hover on Tables
//   &.tr-hover {
//     tr:hover {
//       background-color: $table-bg-hover;
//     }
//   }
//   //HTML hover table cells
//   &.td-hover {
//     tr:hover {
//       background-color: $table-bg;
//     }
//     tr td:hover {
//       background-color: $table-bg-hover;
//     }
//   }
//   //Borders
//   //No cell borders in row
//   tr.tr-no-h-borders {
//     td, th {
//       border-right: none;
//     }
//   }
//   //Attached to .table
//   &.tr-no-h-borders {
//     td, th {
//       border-right: none;
//     }
//   }
//   //No External borders to a table
//   &.table-no-ext-borders tr {
//     border-left: none;
//     border-right: none;
//     &:first-child {
//       border-top: none;
//     }
//     &:last-child {
//       border-bottom: none;
//     }
//   }
//   tr.table-no-ext-borders {
//     border-left: none;
//     border-right: none;
//     &:first-child {
//       border-top: none;
//     }
//     &:last-child {
//       border-bottom: none;
//     }
//   }
//   //No borders on table
//   &.table-no-borders {
//     tr,
//     tr td,
//     tr th {
//       border: none;
//     }
//   }
// }

// //Table Scrollable
// .table-scrollable {
//   //defined in the CSS Tables
//   table.table {
//     margin-bottom: 0;
//     tr:first-child {
//       border-top: none;
//     }
//     tr:last-child {
//       border-bottom: none;
//     }
//   }
// }