@import "../pui-variables";
@import '../mixins';
@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/modals";

.modal-fade-enter, .modal-fade-leave {
  @extend .fade;

  //Base .fade styles from bootstrap
  @include transition(opacity .15s linear);
  opacity: 0;
}

//Class created in React Animations
.modal-fade-enter-active {
  @extend .in;

  //Base .in styles from bootstrap
  opacity: 1;
}


/*doc
---
title: Modals
name: modal
categories:
  - Objects
  - All
---

Install the component:

```
npm install pui-css-modals --save
```

Modals bring desired content to the foreground and de-emphasize the rest of the page.

<!-- Button trigger modal -->
<button class="btn btn-primary" data-toggle="modal" data-target="#myModal">
  Launch basic modal
</button>
<button class="btn btn-primary" data-toggle="modal" data-target="#myAltModal">
  Launch alternate modal
</button>

<!-- Modal Basic -->
<div class="modal fade modal-basic" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-lowlight" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Alternate -->
<div class="modal fade modal-alt" id="myAltModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-lowlight" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="alert alert-danger mbxl">
  <h5 class="em-high mtn">
    Deprecation warning
  </h5>
  <p>
    The alternate modal is deprecated.
  </p>
</div>
*/


.modal {

  .modal-dialog {
    padding-top: 50px;
  }
  .modal-content {
    border-radius: $modal-basic-content-border-radius;
    border-width: 0;
    box-shadow: none;
    -webkit-box-shadow:none;
  }

  .modal-header {
    padding: $modal-inner-padding/2;
  }

  .modal-footer {
    padding: $modal-inner-padding/2;
    background-color: $modal-basic-footer-bg;
    text-align: right;
    border-top:0px;
  }
}

.modal.modal-basic {
  .modal-header {
    background-color: $modal-basic-header-bg;
    .modal-title{
      color: $modal-basic-title-color;
      text-transform:uppercase;
      font-weight:900;
    }
  }
}


//.modal-backdrop {
//  &.in {
//    @include opacity($modal-backdrop-opacity); //bootstrap override
//  }
//}

.modal.modal-alt {
  .modal-header {
    background-color: $modal-alt-header-bg;
    .modal-title{
      color: $modal-alt-title-color;
      font-weight:900;
    }
    .close {
      color: $modal-alt-title-color;
    }
  }
}

/*pending
---
title: Inline
name: modal_inline
parent: modal
---

```html_example
<div class="inline-modal" ng-class="inlineModalExample.state" ng-cloak="<%= true %>" ng-controller="InlineModalExampleCtrl">
  <div class="modal-backdrop animate-show"></div>
  <div class="content">
    <div class="panel panel-shadow">
      <div class="panel-body pavxl phxxl">
        I'm the content!
        <a ng-click="activateInlineModal()" ng-show="inlineModalExample.state === "showing"">Click here to inline-modal me.</a>
        <a ng-click="deactivateInlineModal()" ng-show="inlineModalExample.state === "editing"">Click here to de-inline-modal me.</a>
      </div>
    </div>
  </div>
</div>
```
*/

/* .inline-modal { */
  /* position: relative; */

  /* .inline-modal-errors { */
    /* position: absolute; */
    /* right: 0; */
    /* top: 110%; */
    /* z-index: 1029; */
  /* } */

  /* .modal-backdrop { */
    /* position: fixed; */
    /* top: 0; */
    /* right: 0; */
    /* bottom: 0; */
    /* left: 0; */
  /* } */

  /* .content { */
    /* position: relative; */
  /* } */
  /* &.editing { */
    /* h2, .h4 { */
      /* color: $gray-2; */
    /* } */

    /* .content { */
      /* z-index: 1029; // above the scrim */
      /* background-color: $blue-4; */
    /* } */
    /* .modal-backdrop { */
      /* display: block; */
      /* z-index: 1019; */
    /* } */
  /* } */
  /* &.showing { */
    /* .content { */
      /* background-color: $gray-10; */
    /* } */
    /* .modal-backdrop { */
      /* display: none; */
    /* } */
  /* } */
  /* &.saving { */
    /* .content { */
      /* background-color: $gray-10; */
    /* } */
    /* .modal-backdrop { */
      /* display: none; */
    /* } */
  /* } */

  /* > .panel-body { */
    /* min-height: 140px; */
  /* } */

  /* .animate-show { */
    /* opacity: .8; */
  /* } */

  /* .animate-show.ng-hide-add, */
  /* .animate-show.ng-hide-remove { */
    /* display: block !important; */
  /* } */

  /* .animate-show.ng-hide-add.ng-hide-add-active, */
  /* .animate-show.ng-hide-remove.ng-hide-remove-active { */
    /* -webkit-transition: all ease-out 0.1s; */
    /* transition: all ease-out 0.1s; */
  /* } */

  /* .animate-show.ng-hide { */
    /* opacity: 0; */
  /* } */
/* } */

/*doc
---
title: Modals
name: modal_react
categories:
  - React Beta
---

Install the component:

```
npm install pui-react-modals --save
```

Require the component:

```
var Modal = require('pui-react-modals').Modal;
```


We provide 3 components that can be used to assemble modals:

* `UI.Modal`
* `UI.ModalBody`
* `UI.ModalFooter`

<div class="alert alert-info mbxl">
  <h5 class="em-high mtn">
    Opening and closing the modal with callbacks
  </h5>
  <p>
    Modals will be closed by default. To open the modal, add a <code>ref</code>
    property to the modal (i.e. <code>ref='myModal'</code>). Trigger
    <code>this.refs.myModal.open();</code> to open the modal, and
    <code>this.refs.myModal.close();</code> to close the modal.
  </p>
</div>

There are 4 ways to close the modal

* Clicking the "x" button
* Clicking on the modal backdrop
* Clicking the esc key
* Doing any action that triggers `this.refs.myModal.close`.

```jsx_example

var MyModal = React.createClass({
  _openModal: function(){
    this.refs.modal.open();
  },

  _closeModal: function() {
    this.refs.modal.close();
  },

  render: function() {
    return (
      <div>
        <UI.DefaultButton id='openButton' onClick={this._openModal}>Open Modal</UI.DefaultButton>
        <UI.Modal title='What a Header!' ref='modal'>
          <UI.ModalBody>Text in a body</UI.ModalBody>
          <UI.ModalFooter>
            <UI.DefaultButton id='closeButton' onClick={this._closeModal}>Close</UI.DefaultButton>
          </UI.ModalFooter>
        </UI.Modal>
      </div>
    )
  }
});

```

```react_example_table
<MyModal/>
```
*/
