@import "../pui-variables";

/*doc
---
title: Colors
name: color
categories:
  - Elements
  - Utilities
  - All
---

<code class="pam">
<i class="fa fa-download" alt="Install the Component">
npm install pui-css-colors --save
</i>
</code>



Our color pallet is composed of several different colors. At any given point in captures the current
evolution of our design and likely includes old and new colors. Whenever possible, evolve the old
colors rather than adding new ones.

<div class="alert alert-warning alert-dismissable">
  <h5 class="em-high mtn">
    Sass variables should only be used in variables.css.scss.
  </h5>
  <p>
    They should never be used directly when building components, because it makes
    it very hard to change the values later if you can't tell how they might have been used.
    You should <strong>define your own variables</strong> that use these colors in variables.css.scss.
  </p>
</div>

This example shows proper use of Sass variables.

```
$tabs-active-bg-color: $gray-2;
```

<div class="color-chip-row">

    <div class="chip" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
      <div class="chip-color bg-neutral-1"></div>
      <div class="chip-color-name">
        <p class="mvn">neutral-1</p> </ul>
      </div>
    </div>

    <div class="chip">
      <div class="chip-color bg-neutral-2"></div>
      <div class="chip-color-name">
        <p class="mvn">neutral-2</p>
      </div>
    </div>
    <div class="chip">
      <div class="chip-color bg-neutral-3"></div>
      <div class="chip-color-name">
        <p class="mvn">neutral-3</p>
      </div>
    </div>
    <div class="chip">
      <div class="chip-color bg-neutral-4"></div>
      <div class="chip-color-name">
        <p class="mvn">neutral-4</p>
      </div>
    </div>
    <div class="chip">
      <div class="chip-color bg-neutral-5"></div>
      <div class="chip-color-name">
        <p class="mvn">neutral-5</p>
      </div>
    </div>
    <div class="chip">
      <div class="chip-color bg-neutral-6"></div>
      <div class="chip-color-name">
        <p class="mvn">neutral-6</p>
      </div>
    </div>
    <div class="chip">
      <div class="chip-color bg-neutral-7"></div>
      <div class="chip-color-name">
        <p class="mvn">neutral-7</p>
      </div>
    </div>
    <div class="chip">
      <div class="chip-color bg-neutral-8"></div>
      <div class="chip-color-name">
        <p class="mvn">neutral-8</p>
      </div>
    </div>
    <div class="chip">
      <div class="chip-color bg-neutral-9"></div>
      <div class="chip-color-name">
        <p class="mvn">neutral-9</p>
      </div>
    </div>
    <div class="chip">
      <div class="chip-color bg-neutral-10"></div>
      <div class="chip-color-name">
        <p class="mvn">neutral-10</p>
      </div>
    </div>
    <div class="chip">
      <div class="chip-color bg-neutral-11"></div>
      <div class="chip-color-name">
        <p class="mvn">neutral-11</p>
      </div>
    </div>
</div>

<div class="color-chip-row">
    <div class="chip">
      <div class="chip-color bg-dark-1"></div>
      <div class="chip-color-name">
        <p class="mvn">dark-1</p>
      </div>
    </div>
    <div class="chip">
      <div class="chip-color bg-dark-2"></div>
      <div class="chip-color-name">
        <p class="mvn">dark-2</p>
      </div>
    </div>
    <div class="chip">
      <div class="chip-color bg-dark-3"></div>
      <div class="chip-color-name">
        <p class="mvn">dark-3</p>
      </div>
    </div>
    <div class="chip">
      <div class="chip-color bg-dark-4"></div>
      <div class="chip-color-name">
        <p class="mvn">dark-4</p>
      </div>
    </div>
    <div class="chip">
      <div class="chip-color bg-dark-5"></div>
      <div class="chip-color-name">
        <p class="mvn">dark-5</p>
      </div>
    </div>
    <div class="chip">
      <div class="chip-color bg-dark-6"></div>
      <div class="chip-color-name">
        <p class="mvn">dark-6</p>
      </div>
    </div>
    <div class="chip">
      <div class="chip-color bg-dark-7"></div>
      <div class="chip-color-name">
        <p class="mvn">dark-7</p>
      </div>
    </div>
    <div class="chip">
      <div class="chip-color bg-dark-8"></div>
      <div class="chip-color-name">
        <p class="mvn">dark-8</p>
      </div>
    </div>
    <div class="chip">
      <div class="chip-color bg-dark-9"></div>
      <div class="chip-color-name">
        <p class="mvn">dark-9</p>
      </div>
    </div>
    <div class="chip">
      <div class="chip-color bg-dark-10"></div>
      <div class="chip-color-name">
        <p class="mvn">dark-10</p>
      </div>
    </div>
    <div class="chip">
      <div class="chip-color bg-dark-11"></div>
      <div class="chip-color-name">
        <p class="mvn">dark-11</p>
      </div>
    </div>
</div>

<div class="color-chip-row">
    <div class="chip">
      <div class="chip-color bg-brand-1"></div>
      <div class="chip-color-name">
        <p class="mvn">brand-1</p>
      </div>
    </div>
    <div class="chip">
      <div class="chip-color bg-brand-2"></div>
      <div class="chip-color-name">
        <p class="mvn">brand-2</p>
      </div>
    </div>
    <div class="chip">
      <div class="chip-color bg-brand-3"></div>
      <div class="chip-color-name">
        <p class="mvn">brand-3</p>
      </div>
    </div>
    <div class="chip">
      <div class="chip-color bg-brand-4"></div>
      <div class="chip-color-name">
        <p class="mvn">brand-4</p>
      </div>
    </div>
    <div class="chip">
      <div class="chip-color bg-brand-5"></div>
      <div class="chip-color-name">
        <p class="mvn">brand-5</p>
      </div>
    </div>
    <div class="chip"></div>
    <div class="chip"></div>
    <div class="chip"></div>
    <div class="chip"></div>
    <div class="chip"></div>
    <div class="chip"></div>
</div>

<div class="color-chip-row">
    <div class="chip">
      <div class="chip-color bg-accent-1"></div>
      <div class="chip-color-name">
        <p class="mvn">accent-1</p>
      </div>
    </div>
    <div class="chip">
      <div class="chip-color bg-accent-2"></div>
      <div class="chip-color-name">
        <p class="mvn">accent-2</p>
      </div>
    </div>
    <div class="chip">
      <div class="chip-color bg-accent-3"></div>
      <div class="chip-color-name">
        <p class="mvn">accent-3</p>
      </div>
    </div>
    <div class="chip">
      <div class="chip-color bg-accent-4"></div>
      <div class="chip-color-name">
        <p class="mvn">accent-4</p>
      </div>
    </div>

    <div class="chip">
      <div class="chip-color bg-accent-5"></div>
      <div class="chip-color-name">
        <p class="mvn">accent-5</p>
      </div>
    </div>
    <div class="chip"></div>
    <div class="chip"></div>
    <div class="chip"></div>
    <div class="chip"></div>
    <div class="chip"></div>
    <div class="chip"></div>
</div>

<div class="color-chip-row">
    <div class="chip">
      <div class="chip-color bg-error-1"></div>
      <div class="chip-color-name">
        <p class="mvn">error-1</p>
      </div>
    </div>

    <div class="chip">
      <div class="chip-color bg-error-2"></div>
      <div class="chip-color-name">
        <p class="mvn">error-2</p>
      </div>
    </div>

    <div class="chip">
      <div class="chip-color bg-error-3"></div>
      <div class="chip-color-name">
        <p class="mvn">error-3</p>
      </div>
    </div>

    <div class="chip">
      <div class="chip-color bg-error-4"></div>
      <div class="chip-color-name">
        <p class="mvn">error-4</p>
      </div>
    </div>
    <div class="chip"></div>
    <div class="chip"></div>
    <div class="chip"></div>
    <div class="chip"></div>
    <div class="chip"></div>
    <div class="chip"></div>
    <div class="chip"></div>
</div>

<div class="color-chip-row">
    <div class="chip">
      <div class="chip-color bg-warn-1"></div>
      <div class="chip-color-name">
        <p class="mvn">warn-1</p>
      </div>
    </div>
    <div class="chip">
      <div class="chip-color bg-warn-2"></div>
      <div class="chip-color-name">
        <p class="mvn">warn-2</p>
      </div>
    </div>
    <div class="chip">
      <div class="chip-color bg-warn-3"></div>
      <div class="chip-color-name">
        <p class="mvn">warn-3</p>
      </div>
    </div>
    <div class="chip"></div>
    <div class="chip"></div>
    <div class="chip"></div>
    <div class="chip"></div>
    <div class="chip"></div>
    <div class="chip"></div>
    <div class="chip"></div>
    <div class="chip"></div>
</div>

<div class="color-chip-row">
    <div class="chip">
      <div class="chip-color bg-success-1"></div>
      <div class="chip-color-name">
        <p class="mvn">success-1</p>
      </div>
    </div>

    <div class="chip">
      <div class="chip-color bg-success-2"></div>
      <div class="chip-color-name">
        <p class="mvn">success-2</p>
      </div>
    </div>
    <div class="chip"></div>
    <div class="chip"></div>
    <div class="chip"></div>
    <div class="chip"></div>
    <div class="chip"></div>
    <div class="chip"></div>
    <div class="chip"></div>
    <div class="chip"></div>
    <div class="chip"></div>
</div>

*/

.bg-neutral-1 {
  background-color: $neutral-1 !important;
}
.bg-neutral-2 {
  background-color: $neutral-2 !important;
}
.bg-neutral-3 {
  background-color: $neutral-3 !important;
}
.bg-neutral-4 {
  background-color: $neutral-4 !important;
}
.bg-neutral-5 {
  background-color: $neutral-5 !important;
}
.bg-neutral-6 {
  background-color: $neutral-6 !important;
}
.bg-neutral-7 {
  background-color: $neutral-7 !important;
}
.bg-neutral-8 {
  background-color: $neutral-8 !important;
}
.bg-neutral-9 {
  background-color: $neutral-9 !important;
}
.bg-neutral-10 {
  background-color: $neutral-10 !important;
}
.bg-neutral-11 {
  background-color: $neutral-11 !important;
}

// Teals
.bg-brand-1{
  background-color: $brand-1 !important;
}

.bg-brand-2{
  background-color: $brand-2 !important;
}

.bg-brand-3{
  background-color: $brand-3 !important;
}

.bg-brand-4{
  background-color: $brand-4 !important;
}

.bg-brand-5{
  background-color: $brand-5 !important;
}

// Blues

.bg-accent-1{
  background-color: $accent-1 !important;
}

.bg-accent-2{
  background-color: $accent-2 !important;
}

.bg-accent-3{
  background-color: $accent-3 !important;
}

.bg-accent-4{
  background-color: $accent-4 !important;
}

.bg-accent-5{
  background-color: $accent-5 !important;
}

// Navies

.bg-dark-1{
  background-color: $dark-1 !important;
}

.bg-dark-2{
  background-color: $dark-2 !important;
}

.bg-dark-3{
  background-color: $dark-3 !important;
}

.bg-dark-4{
  background-color: $dark-4 !important;
}

.bg-dark-5{
  background-color: $dark-5 !important;
}

.bg-dark-6{
  background-color: $dark-6 !important;
}

.bg-dark-7{
  background-color: $dark-7 !important;
}

.bg-dark-8{
  background-color: $dark-8 !important;
}

.bg-dark-9{
  background-color: $dark-9 !important;
}

.bg-dark-10{
  background-color: $dark-10 !important;
}

.bg-dark-11{
  background-color: $dark-11 !important;
}
// Reds
.bg-error-1{
  background-color: $error-1 !important;
}

.bg-error-2{
  background-color: $error-2 !important;
}

.bg-error-3{
  background-color: $error-3 !important;
}

.bg-error-4{
  background-color: $error-4 !important;
}

// Yellows
.bg-warn-1{
  background-color: $warn-1 !important;
}

.bg-warn-2{
  background-color: $warn-2 !important;
}

.bg-warn-3{
  background-color: $warn-3 !important;
}

// Greens
.bg-success-1{
  background-color: $success-1 !important;
}

.bg-success-2{
  background-color: $success-2 !important;
}

/*doc
---
title: Shadows & Glows
name: color_shadows_glows
parent: color
---
<div class="contrast-bar">
  <div class="color-chip-row" style="position: relative; top: 65px; margin-bottom: 0;">
      <div class="chip">
        <div class="chip-color bg-shadow-1"></div>
        <div class="chip-color-name">$shadow-1</div>
      </div>
      <div class="chip">
        <div class="chip-color bg-shadow-2"></div>
        <div class="chip-color-name">$shadow-2</div>
      </div>
      <div class="chip">
        <div class="chip-color bg-shadow-3"></div>
        <div class="chip-color-name">$shadow-3</div>
      </div>
      <div class="chip">
        <div class="chip-color bg-shadow-4"></div>
        <div class="chip-color-name">$shadow-4</div>
      </div>
      <div class="chip">
        <div class="chip-color bg-glow-1"></div>
        <div class="chip-color-name">$glow-1</div>
      </div>
      <div class="chip">
        <div class="chip-color bg-glow-2"></div>
        <div class="chip-color-name">$glow-2</div>
      </div>
      <div class="chip">
        <div class="chip-color bg-glow-3"></div>
        <div class="chip-color-name">$glow-3</div>
      </div>
      <div class="chip">
        <div class="chip-color bg-glow-4"></div>
        <div class="chip-color-name">$glow-4</div>
      </div>
      <div class="chip">
        <div class="chip-color bg-glow-5"></div>
        <div class="chip-color-name">$glow-5</div>
      </div>
      <div class="chip"></div>
      <div class="chip"></div>
  </div>
</div>
*/


// These classes are for the style guide only

.bg-glow-1 {
  background-color: $glow-1 !important;
}

.bg-glow-2 {
  background-color: $glow-2 !important;
}

.bg-glow-3 {
  background-color: $glow-3 !important;
}

.bg-glow-4 {
  background-color: $glow-4 !important;
}

.bg-glow-5 {
  background-color: $glow-5 !important;
}

.bg-shadow-1{
  background-color: $shadow-1 !important;
}

.bg-shadow-2{
  background-color: $shadow-2 !important;
}

.bg-shadow-3{
  background-color: $shadow-3 !important;
}

.bg-shadow-4{
  background-color: $shadow-4 !important;
}



