@import "../pui-variables";

$base-unit: 8px;

.grid {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  margin: 0 0 $base-unit*2 0;

  &.grid-nogutter {
    margin: 0;
    & > .col {
      padding: 0;
    }
  }

  & > .col {
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }

  .col {
    box-sizing: border-box;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    -webkit-flex-basis: 0;
    flex-basis: 0;
    max-width: 100%;
    padding: 0 $base-unit 0 $base-unit;
  }

  .col-fixed {
    flex: initial;
  }

  @for $i from 1 through 24 {
    .col-#{$i} {
      -ms-flex-preferred-size: (100% / 24) * $i;
      -webkit-flex-basis: (100% / 24) * $i;
      flex-basis: (100% / 24) * $i;
      max-width: (100% / 24) * $i;
    }
  }
}