@import '../pui-variables';
@import '../bootstrap/mixins';

.alert {
  border: none !important;
  margin: 0;
  padding: 8px !important;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  a.alert-link {
    color: inherit;
    text-decoration: underline;
  }

  .icon {
    font-size: $font-size-h3 !important;
    line-height: $headings-line-height;
  }

  & > div.grid {
    margin: 0;
    padding: 0;
    width: 100%;
  }
}

.alert-dismissable .close {
  top: inherit !important;
  right: inherit !important;
}

.alert-success svg {
  fill: $alert-success-text;
}

.alert-info svg {
  fill: $alert-info-text;
}

.alert-warning svg {
  fill: $alert-warning-text;
}

.alert-danger svg {
  fill: $alert-danger-text;
}

.alert-success .alert-link:hover {
  color: darken($alert-success-text, 10%);
}

.alert-info .alert-link:hover {
  color: darken($alert-info-text, 10%);
}

.alert-warning .alert-link:hover {
  color: darken($alert-warning-text, 10%);
}

//Bootstrap
.alert-danger {
  @include alert-variant($alert-danger-bg, $alert-danger-border, $alert-danger-text);
}

// bootstrap includes alert-danger, but our html expects "alert-error" class
.alert-error {
  @extend .alert-danger;

  .alert-link:hover {
    color: darken($alert-danger-text, 10%);
  }
}
