@import '../pui-variables';
@import '../mixins';

.pui-alert {
  border: none;
  padding: 8px;
  margin: 0;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  margin-bottom: $line-height-computed;
  border-radius: $alert-border-radius;

  a.pui-alert-link {
    color: inherit;
    text-decoration: underline;
  }

  .icon {
    font-size: $font-size-h3;
    line-height: $headings-line-height;
  }

  & > div.grid {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  // Headings for larger alerts
  h4 {
    margin-top: 0;
    // Specified for the h4 to prevent conflicts of changing $headings-color
    color: inherit;
  }

  // Provide class for links that match alerts
  .pui-alert-link {
    font-weight: $alert-link-font-weight;
  }

  // Improve alignment and spacing of inner content
  > p,
  > ul {
    margin-bottom: 0;
  }

  > p + p {
    margin-top: 5px;
  }
}

.pui-alert-dismissable .close {
  top: inherit;
  right: inherit;
}

.pui-alert-success svg {
  fill: $alert-success-text;
}

.pui-alert-info svg {
  fill: $alert-info-text;
}

.pui-alert-warning svg {
  fill: $alert-warning-text;
}

.pui-alert-danger svg {
  fill: $alert-danger-text;
}

.pui-alert-success .pui-alert-link:hover {
  color: darken($alert-success-text, 10%);
}

.pui-alert-info .pui-alert-link:hover {
  color: darken($alert-info-text, 10%);
}

.pui-alert-warning .pui-alert-link:hover {
  color: darken($alert-warning-text, 10%);
}

.pui-alert-danger {
  @include pui-alert-variant($alert-danger-bg, $alert-danger-border, $alert-danger-text);
}

.pui-alert-error {
  @extend .pui-alert-danger;

  .pui-alert-link:hover {
    color: darken($alert-danger-text, 10%);
  }
}

// Alternate styles
//
// Generate contextual modifier classes for colorizing the alert.

.pui-alert-success {
  @include pui-alert-variant($alert-success-bg, $alert-success-border, $alert-success-text);
}

.pui-alert-info {
  @include pui-alert-variant($alert-info-bg, $alert-info-border, $alert-info-text);
}

.pui-alert-warning {
  @include pui-alert-variant($alert-warning-bg, $alert-warning-border, $alert-warning-text);
}

.pui-alert-danger {
  @include pui-alert-variant($alert-danger-bg, $alert-danger-border, $alert-danger-text);
}
