@import "../pui-variables";
@import '../mixins';

.autocomplete {
  position: relative;

  .form-inline & {
    display: inline-block;
  }

  .autocomplete-list {
    z-index: 1000;
    position: absolute;
    padding: 0;
    margin: 0;
    left: 0;
    right: 0;
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    border: solid 1px $light-gray;
    border-top: 0;
  }

  .autocomplete-item-no-results {
    font-size: 14px;
    opacity: .75;
  }

  .autocomplete-item {
    padding: $whitespace-s 15px; //specific horizontal padding to align with text in the input
    display: block;
    white-space: nowrap;
    color: inherit;
    background: $white;

    &:hover {
      text-decoration: none;
    }
    &:active {
      background: $light-gray;
    }
    &.selected {
      font-weight: $font-weight-em-high;
    }
    &.highlighted {
      background: $light-gray;
      text-decoration: none;
    }
  }

  &.disabled {
    background-color: $white;
    border-radius: 4px;

    input {
      box-shadow: none;
      color: $accent-gray;
      background-color: transparent;
      cursor: default;
    }
  }
}