@import "./toolbar";

.code-editor--edit {
  align-content: stretch;
}

.code-editor--html-preview {
  border-top: 0;
}

.code-editor--edit, .code-editor--html-preview {
  padding: 5px;
  border: 1px solid $dark-9;
  background-color: $dark-11;

  .ace_content {
    background-color: $dark-11;
  }
}

.code-editor--titlebar {
  margin: 3px 0;
  color: $gray-4;
  display: flex;
  justify-content: space-between;

  svg {
    transform: scale(1.5);
    fill: $gray-4;
  }

  .clipboard-button {
    background-color: inherit;
    border: 0;

    svg {
      transform: scale(.75);
    }
  }
}

.code-editor--label {
  display: flex;
  align-items: center;
}

.code-editor--label-icon {
  bottom: 0.125em;
}

.code-editor--actions {
  display: flex;
}

.ace_gutter-layer {
  background-color: $dark-9;
}

.code-editor {
  margin-bottom: 48px;
}