@import "./variables.scss";

html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;;
}

.type-inherit {
  color: inherit !important;
}

.styleguide-siteframe-wrapper {
  position: relative;
  height: 100vh;

  > .pui-siteframe > .pui-siteframe-header {
    padding: $base-unit / 2;
  }

  > .pui-siteframe > .pui-siteframe-header input[type=search]:focus {
    border-color: $accent-teal;
  }

  > .pui-siteframe > .pui-siteframe-header > .col {
    padding: 0;
  }

  .styleguide-header-logo {
    display: flex;
    align-items: center;
    padding: $base-unit;
  }

  .styleguide-header-icon {
    border-radius: 2px;
    height: $base-unit * 4;
    width: $base-unit * 4;
    padding: $base-unit / 2;
    background: $teal;

    svg {
      height: $base-unit * 3;
      width: $base-unit * 3;
    }
  }
}