@import "./variables.scss";

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;;
}

.sg-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.sg-footer {
  padding: $base-unit * 2;
  text-align: center;
  box-sizing: border-box;
}

.grid-show {
  margin-bottom: $grid-gutter-width;
  text-align: center;

  [class*=col]:before {
    content: attr(class) '\a' attr(grid-content);
    white-space: pre;
    display: block;
    background-color: $white;
    padding: 10px 0;
    outline: 1px solid $accent-gray;
  }
}