@import "./variables.scss";

.sg-content {
  height: 100%;
  display: flex;
  position: relative;
}

.sg-main {
  flex-grow: 1;
  overflow-y: auto;
  outline: none !important;
}

.sg-main__content {
  max-width: $base-unit * 103;
  padding: ($base-unit * 2) ($base-unit * 4);
  margin: 0 auto;
}