@import "./variables.scss";

.sg-heading {
  border-bottom: 1px solid $light-gray;
  &:hover {
    .sg-heading__link {
      opacity: 1;
    }
  }
}

.sg-heading + .sg-heading {
  border-bottom: 1px solid transparent;
}

.sg-heading__link {
  opacity: 0;

  &:focus {
    opacity: 1;
  }

  svg {
    fill: currentColor;
  }
}

table.table.sg-table {
  table-layout: auto;
}

.sg-img {
  width: 100%;
}

.sg-pre {
  border-radius: 0;
  border-color: $light-gray;
}