@import "./variables.scss";

.sg-h1 {
  font-size: $base-unit * 6;
}

.sg-heading {
  &:hover {
    .sg-heading__link {
      opacity: 1;
    }
  }
}

.sg-heading__link {
  opacity: 0;

  &:focus {
    opacity: 1;
  }

  svg {
    fill: currentColor;
  }
}

table.table.sg-table {
  table-layout: auto;
}

.sg-img {
  width: 100%;
}