@import "./variables.scss";

.sg-page {
  max-width: $base-unit * 103;
  padding: ($base-unit * 2) ($base-unit * 4);
  margin: 0 auto;

  @media screen and (max-width: $responsive-breakpoint) {
    padding: $base-unit * 2;
  }
}

.sg-page__breadcrumbs {
  @media screen and (max-width: $responsive-breakpoint) {
    display: none;
  }
}