@import "./variables.scss";

.sg-sidebar {
  width: 240px;
  height: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  background: $white;
  border-right: 1px solid $accent-gray;
  overflow-y: auto;
}

.sg-sidebar__list {
  list-style-type: none;
  padding: 0;
}

.sg-sidebar__group {
  padding: $base-unit * 2;

  + .sg-sidebar__group {
    border-top: 1px solid $accent-gray;
  }
}

.sg-sidebar__group-list {
  list-style-type: none;
  padding: 0;
}

.sg-sidebar__list-item--active {
  font-weight: 600;
  position: relative;

  ~ .sg-sidebar__list-item-sections {
    display: block;
  }
}

.sg-sidebar__list-item {
  padding: ($base-unit / 2) 0;

  a:hover {
    text-decoration: underline;
  }
}

.sg-sidebar__list-item-sections {
  display: none;
  border-left: 2px solid $accent-gray;
  margin-left: 2px;
  padding-left: $base-unit;

  a, a:hover {
    display: inline-block;
    padding: ($base-unit / 2) 0;
    color: inherit;
  }
}

@media screen and (max-width: $responsive-breakpoint) {
  .sg-sidebar {
    display: none;
  }
}