@import "../pui-variables";

.ribbon {
  position: relative;
  display: inline-block;
  padding: 2px 10px;
  margin-left: 22px;
  margin-right: 22px;
  color: $ribbon-color;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  background-color: $ribbon-bg-default;

  &:before,
  &:after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    border-color: $ribbon-bg-default;
    border-width: 11px;
    border-style: solid;
  }

  &:before {
    border-left-color: transparent;
    left: -22px;
  }

  &:after {
    border-right-color: transparent;
    right: -22px;
  }
}

.ribbon-primary {
  background-color: $ribbon-bg-primary;

  &:before {
    border-color: $ribbon-bg-primary;
    border-left-color: transparent;
  }

  &:after {
    border-color: $ribbon-bg-primary;
    border-right-color: transparent;
  }
}

.ribbon-banner {
  position: fixed;
  top: 20px;
  left: 0;
  padding: 4px 18px 4px 24px;
  margin-left: 0;
  margin-right: 32px;
  color: $ribbon-color;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  background-color: $ribbon-bg-banner;

  &:after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    right: -32px;
    border-style: solid;
    border-width: 16px;
    border-color: $ribbon-bg-banner;
    border-right-color: transparent;
  }
}
