@import "../pui-variables";
@import '../mixins';
@import '../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins';

.btn {
  font-weight: $btn-font-weight;
  padding: 5px 15px;

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: not-allowed;
    pointer-events: none; // Future-proof disabling of clicks
  }
}

.btn-default {
  @include button-skin($btn-default-color, $btn-default-bg, $btn-default-border);
}

.btn-default-alt {
  @include button-skin($btn-default-alt-color, $btn-default-alt-bg, $btn-default-alt-border);
  @include button-shadow;
  &:hover, &:focus {
    border-color: $btn-default-border-hover;
  }
}

.btn-link {
  @include button-skin($btn-link-color, $btn-link-bg);
}

.btn-lowlight {
   @include button-skin($btn-lowlight-color, $btn-lowlight-bg);
 }

// Danger and error appear as red
.btn-danger {
  @include button-skin($btn-danger-color, $btn-danger-bg, $border: null, $color-disabled: $btn-danger-color-disabled);
  @include button-shadow;
}

.btn-highlight {
  @include button-skin($btn-highlight-color, $btn-highlight-bg, $border: null, $color-disabled: $btn-highlight-color-disabled);
  @include button-shadow;
}

.btn-highlight-alt {
  @include button-skin($btn-highlight-alt-color, $btn-highlight-alt-bg, $border: null, $color-disabled: $btn-highlight-alt-color-disabled);
  @include button-shadow;
}

.btn-lg {
  // line-height: ensure even-numbered height of button next to large input
  @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-medium, $line-height-large, $border-radius-small);
}

