/*doc
---
title: Expander
name: expander_react
categories:
  - React Beta
---


Install the component:

```
npm install pui-react-expander --save
```

Require the component:

```
var ExpanderContent = require('pui-react-expander').ExpanderContent;
```


Expanders are collapsable content areas which are unlike their accordion counterparts in that they do not require a
parent collapse and child content structure. This means you can trigger the expanding and collapsing content from somewhere
else within the DOM.

The expander pattern requires two components -- the ExpanderContent and the ExpanderTrigger. You will need to implement a
component which handles the communication between these two components so the Trigger knows which Content to toggle. This is done
through the setTarget method exposed on the ExpanderTrigger.

See the example below for how to use these components in your own application.

```jsx_example
var MoreInfo = React.createClass({
  componentDidMount: function () {
    this.refs.infoTrigger.setTarget(this.refs.infoContent);
  },
  render: function() {
    return (
      <main>
        <UI.ExpanderContent ref="infoContent">
          <p className='h1 bg-neutral-2 type-neutral-9'>Hamburgers</p>
        </UI.ExpanderContent>
        <br/>
        <UI.ExpanderTrigger ref="infoTrigger">
          <button className='btn btn-highlight'>Toggle Content</button>
        </UI.ExpanderTrigger>
      </main>
    )
  }
});
```

```react_example
<MoreInfo />
```
*/
