/*doc
---
title: Alerts
name: alert
categories:
  - All
  - Objects
---

Alerts are used to display flash messages to the user.

```html_example
<div class="alert alert-success">
  <p>Success</p>
</div>
```

You can also make them dismissable:

```html_example_table
<div class="alert alert-success alert-dismissable">
  <button class="close" data-dismiss="alert">
    <i class="fa fa-times"></i>
  </button>
  <div class="media">
    <div class="media-left">
      <i class="fa fa-check-circle"></i>
    </div>
    <div class="media-body">
      Everything is wonderful.
      <a class="alert-link" href="http://bit.ly/QCMZM5" target="_blank">Be happy.</a>
    </div>
  </div>
</div>

<div class="alert alert-info alert-dismissable">
  <button class="close" data-dismiss="alert">
    <i class="fa fa-times"></i>
  </button>
  <div class="media">
    <div class="media-left">
      <i class="fa fa-info-circle"></i>
    </div>
    <div class="media-body">
      Info for you.
      <a class="alert-link" href="http://bit.ly/1DFns8H" target="_blank">Tell me more.</a>
    </div>
  </div>
</div>

<div class="alert alert-warning alert-dismissable">
  <button class="close" data-dismiss="alert">
    <i class="fa fa-times"></i>
  </button>
  <div class="media">
    <div class="media-left">
      <i class="fa fa-exclamation-triangle"></i>
    </div>
    <div class="media-body">
      Warning: There is no parking on the dancefloor.
      <a class="alert-link" href="http://bit.ly/1uM05DJ" target="_blank">Be alert.</a>
    </div>
  </div>
</div>

<div class="alert alert-error alert-dismissable">
  <button class="close" data-dismiss="alert">
    <i class="fa fa-times"></i>
  </button>
  <div class="media">
    <div class="media-left">
      <i class="fa fa-exclamation-triangle"></i>
    </div>
    <div class="media-body">
      Something has gone horribly awry.
      <a class="alert-link" href="http://bit.ly/1rooFJV" target="_blank">You've made a huge mistake.</a>
    </div>
  </div>
</div>
```



*/

.alert {
  border: none;
  margin: $baseSpacing 0 0;
  font-weight: 600;

  a.alert-link {
    &:hover {
      text-decoration: underline;
    }
  }

  .close {
    text-decoration: none;
    line-height: .7;
    text-shadow: none;
  }
}

// bootstrap includes alert-danger, but our html expects "alert-error" class
.alert-error {
  @include alert-variant($alert-danger-bg, $alert-danger-border, $alert-danger-text);
}
