/*doc
---
title: Application Dashboard
name: application_dashboard
categories:
  - All
  - CSS
---

This is a hacky one-off to center the panel content + size the text


```haml_example
.row.application-dashboard
  .col-sm-8
    .panel.panel-simple.panel-square.application-health-panel
      .panel-heading.panel-heading-simple
        %h6 Status
      .panel-body
        .health.stopped.editable.health-indicator-large
          %form
            %input.indicator
            .value Stopped
  .col-sm-8
    .panel.panel-simple.panel-square
      .panel-heading.panel-heading-simple
        %h6 Instances
      .panel-body.txt-c
        1
  .col-sm-8
    .panel.panel-simple.panel-square
      .panel-heading.panel-heading-simple
        %h6 Memory
      .panel-body.txt-c
        128
        %span.units MB
```

*/

#application-dashboard {
  #top-section {
    .pull-left {
      margin-right: 25px;
    }
    .media-body {
      min-width: 370px;
    }
  }
}
