/*doc
---
title: Back to Top
name: back_to_top
categories:
- All
- Objects
---

You can use this component to scroll to the top of a page. Leave off the `.styleguide-component-wrapper` div when using it in other contexts.

The button will be fixed to the bottom right hand corner of the page. 

You can place the link anywhere in your markup, but best practices are either towards the top or bottom of your markup. 

```haml_example
.styleguide-component-wrapper
  %a.back-to-top{:href => "#"}
```
*/

.back-to-top {
  @extend .fa;
  @extend .fa-arrow-up;
  color: $neutral-11;
  text-align: center;
  font-size: $font-size-h3;

  bottom: 100px;
  position: fixed;
  right: 100px;
  display: none;
  padding-top: 13px;
  height: 50px;
  width: 50px;
  z-index: $zindex-navbar;

  border: 0;
  border-radius: 50%;
  background: $brand-3;
  box-shadow: 0 0 9px rgba(153, 153, 153, 0.8);

  &:hover {
    background: $brand-2;
    color: $neutral-11;
  }
}
