/*doc
---
title: Backgrounds
name: background
parent: colors
categories:
  - All
  - CSS
  - marketing-site
---

Background color classes can be applied to any element.

<div class="row mvxl">
  <div class="col-md-4">
    <div class="chip">
      <div class="chip-color bg-cloud"></div>
      <div class="chip-color-name">.bg-cloud</div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="chip">
      <div class="chip-color bg-glow"></div>
      <div class="chip-color-name">.bg-glow</div>
    </div>
  </div>
</div>

*/

.bg-cloud {
  background: $neutral-10 url('../images/gray-cloud.png') no-repeat 50% 50%;
}

.bg-glow {
  background: radial-gradient(at bottom center, #4b6475 0%, #243640 60%);
}

/*doc
---
title: Deprecated Backgrounds
name: deprecated_background
parent: deprecated
---

<div class="row mvxl">
  <div class="col-md-4">
    <div class="chip">
      <div class="chip-color bkg-highlight-1"></div>
      <div class="chip-color-name">bkg-highlight-1</div>
    </div>
  </div>
</div>

*/
.bkg-highlight-1 {
  background-image: -webkit-gradient(
      linear,
      left bottom,
      right top,
      color-stop(1, rgb(99,173,167)),
      color-stop(0, rgb(0, 119, 109))
  );
}



