/*doc
---
title: Banners
name: banner
categories:
  - All
  - Objects
---

You can use a banner to let the team know which environment they're
working on. Leave off the `.banner-styleguide-wrapper` div when using it
in other contexts.

```haml_example
.banner-styleguide-wrapper
  .banner
    Acceptance
```

*/

.banner {
  background: #a81500; /* Old browsers */
  background: -moz-linear-gradient(top, #a81500 0%, #9b1200 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a81500), color-stop(100%,#9b1200)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #a81500 0%,#9b1200 100%); /* Chrome10+,Safari5.1+ */
  background: -ms-linear-gradient(top, #a81500 0%,#9b1200 100%); /* IE10+ */
  background: linear-gradient(to bottom, #a81500 0%,#9b1200 100%); /* W3C */
  color: white;
  padding: 5px 55px;
  text-align: center;
  font-size: 16px;
  font-weight: 200;
  position: fixed;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2);
  top: 109px;
  left: -23px;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin:    0 0;
  -ms-transform-origin:     0 0;
  -o-transform-origin:      0 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform:    rotate(-45deg);
  -ms-transform:     rotate(-45deg);
  -o-transform:      rotate(-45deg);
  z-index: 10000;

  &:before {
    content: "";
    top: 2px;
    bottom: 2px;
    right: 2px;
    left: 2px;
    position: absolute;
    border: 1px dashed #c07074;
  }
}
