/*doc
---
title: Code
name: code
categories:
  - All
  - CSS
  - marketing-site
---

In order to show highlighted code, you will need to apply a language specific class to the code tag. For example, `.language-ruby`.

There are several languages already available (and others available from the [Prismjs.com](http://prismjs.com
) website), including:

* Markup
* CSS
* C-like
* JavaScript
* Java
* PHP
* PHP
* CoffeeScript
* Sass
* Bash
* Python
* HTTP
* Ruby
* Go

```haml_example
%pre
  %code.language-ruby
    :preserve
      class Foo
        def bar
          puts 'hi'
        end
      end
```

Make it scrollable

```haml_example

%pre.pre-scrollable
  %code.language-ruby
    :preserve
      class Foo
        def bar
          puts 'hi'
        end

        def bar
          puts 'hi'
        end

        def bar
          puts 'hi'
        end

        def bar
          puts 'hi'
        end

        def bar
          puts 'hi'
        end

        def bar
          puts 'hi'
        end

        def bar
          puts 'hi'
        end
      end
```

Scrollable with too little content:

```haml_example

%pre.pre-scrollable
  %code.language-ruby
    :preserve
      class Foo
        def bar
          puts 'hi'
        end
      end
```
*/

.pre-scrollable {
  overflow-y: auto; //bootstrap override
}

/*doc
---
title: Inline Code
name: inline_code
parent: code
---

```html_example
<p>This is an example of a paragraph with <code>an inline code snippet</code> within it.</p>
```

*/
