/*doc
---
title: Colors
name: colors
categories:
  - All
  - Elements
  - Utilities
---

Our color pallet is composed of several different colors. At any given point in captures the current
evolution of our design and likely includes old and new colors. Whenever possible, evolve the old
colors rather than adding new ones.


<div class="alert alert-warning alert-dismissable">
  Sass variables should <strong>only be used in variables.css.scss</strong>. They should never be used
  directly when building components, because it makes
  it very hard to change the values later if you can't tell how they might have been used.
   You should <strong>define your own variables</strong> that use these colors in variables.css.scss.
</div>

This example shows proper use of Sass variables.

```
$tabs-active-bg-color: $gray-2;
```

<div class="row row-gutter-sm mvxl">
  <div class="col-md-2">
    <div class="chip" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
      <div class="chip-color bg-neutral-1"></div>
      <div class="chip-color-name">
        <ul class='list-unstyled'>
          <li>$gray-1</li>
          <li>.bg-neutral-1</li>
          <li>.type-neutral-1</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-2">
    <div class="chip">
      <div class="chip-color bg-neutral-2"></div>
      <div class="chip-color-name">
        <ul class='list-unstyled'>
          <li>$gray-2</li>
          <li>.bg-neutral-2</li>
          <li>.type-neutral-2</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="chip">
      <div class="chip-color bg-neutral-3"></div>
      <div class="chip-color-name">
        <ul class='list-unstyled'>
          <li>$gray-3</li>
          <li>.bg-neutral-3</li>
          <li>.type-neutral-3</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="chip">
      <div class="chip-color bg-neutral-4"></div>
      <div class="chip-color-name">
        <ul class='list-unstyled'>
          <li>$gray-4</li>
          <li>.bg-neutral-4</li>
          <li>.type-neutral-4</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="chip">
      <div class="chip-color bg-neutral-5"></div>
      <div class="chip-color-name">
        <ul class='list-unstyled'>
          <li>$gray-5</li>
          <li>.bg-neutral-5</li>
          <li>.type-neutral-5</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="chip">
      <div class="chip-color bg-neutral-6"></div>
      <div class="chip-color-name">
        <ul class='list-unstyled'>
          <li>$gray-6</li>
          <li>.bg-neutral-6</li>
          <li>.type-neutral-6</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="chip">
      <div class="chip-color bg-neutral-7"></div>
      <div class="chip-color-name">
        <ul class='list-unstyled'>
          <li>$gray-7</li>
          <li>.bg-neutral-7</li>
          <li>.type-neutral-7</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="chip">
      <div class="chip-color bg-neutral-8"></div>
      <div class="chip-color-name">
        <ul class='list-unstyled'>
          <li>$gray-8</li>
          <li>.bg-neutral-8</li>
          <li>.type-neutral-8</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="chip">
      <div class="chip-color bg-neutral-9"></div>
      <div class="chip-color-name">
        <ul class='list-unstyled'>
          <li>$gray-9</li>
          <li>.bg-neutral-9</li>
          <li>.type-neutral-9</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="chip">
      <div class="chip-color bg-neutral-10"></div>
      <div class="chip-color-name">
        <ul class='list-unstyled'>
          <li>$gray-10</li>
          <li>.bg-neutral-10</li>
          <li>.type-neutral-10</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="chip">
      <div class="chip-color bg-neutral-11"></div>
      <div class="chip-color-name">
        <ul class='list-unstyled'>
          <li>$gray-11</li>
          <li>.bg-neutral-11</li>
          <li>.type-neutral-11</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row mvxl">
  <div class="col-md-3">
    <div class="chip">
      <div class="chip-color bg-dark-1"></div>
      <div class="chip-color-name">
        <ul class='list-unstyled'>
          <li>$dark-1</li>
          <li>.bg-dark-1</li>
          <li>.type-dark-1</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="chip">
      <div class="chip-color bg-dark-2"></div>
      <div class="chip-color-name">
        <ul class='list-unstyled'>
          <li>$dark-2</li>
          <li>.bg-dark-2</li>
          <li>.type-dark-2</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="chip">
      <div class="chip-color bg-dark-3"></div>
      <div class="chip-color-name">
        <ul class='list-unstyled'>
          <li>$dark-3</li>
          <li>.bg-dark-3</li>
          <li>.type-dark-3</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row mvxl">
  <div class="col-md-3">
    <div class="chip">
      <div class="chip-color bg-brand-1"></div>
      <div class="chip-color-name">
        <ul class='list-unstyled'>
          <li>$brand-1</li>
          <li>.bg-brand-1</li>
          <li>.type-brand-1</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="chip">
      <div class="chip-color bg-brand-2"></div>
      <div class="chip-color-name">
        <ul class='list-unstyled'>
          <li>$brand-2</li>
          <li>.bg-brand-2</li>
          <li>.type-brand-2</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="chip">
      <div class="chip-color bg-brand-3"></div>
      <div class="chip-color-name">
        <ul class='list-unstyled'>
          <li>$brand-3</li>
          <li>.bg-brand-3</li>
          <li>.type-brand-3</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="chip">
      <div class="chip-color bg-brand-4"></div>
      <div class="chip-color-name">
        <ul class='list-unstyled'>
          <li>$brand-4</li>
          <li>.bg-brand-4</li>
          <li>.type-brand-4</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="chip">
      <div class="chip-color bg-brand-5"></div>
      <div class="chip-color-name">
        <ul class='list-unstyled'>
          <li>$brand-5</li>
          <li>.bg-brand-5</li>
          <li>.type-brand-5</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row mvxl">
  <div class="col-md-3">
    <div class="chip">
      <div class="chip-color bg-accent-1"></div>
      <div class="chip-color-name">
        <ul class='list-unstyled'>
          <li>$accent-5</li>
          <li>.bg-accent-5</li>
          <li>.type-accent-5</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="chip">
      <div class="chip-color bg-accent-2"></div>
      <div class="chip-color-name">
        <ul class='list-unstyled'>
          <li>$accent-2</li>
          <li>.bg-accent-2</li>
          <li>.type-accent-2</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="chip">
      <div class="chip-color bg-accent-3"></div>
      <div class="chip-color-name">
        <ul class='list-unstyled'>
          <li>$accent-3</li>
          <li>.bg-accent-3</li>
          <li>.type-accent-3</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="chip">
      <div class="chip-color bg-accent-4"></div>
      <div class="chip-color-name">
        <ul class='list-unstyled'>
          <li>$accent-4</li>
          <li>.bg-accent-4</li>
          <li>.type-accent-4</li>
        </ul>
      </div>
    </div>
  </div>
   <div class="col-md-3">
    <div class="chip">
      <div class="chip-color bg-accent-5"></div>
      <div class="chip-color-name">
        <ul class='list-unstyled'>
          <li>$accent-5</li>
          <li>.bg-accent-5</li>
          <li>.type-accent-5</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row mvxl">
  <div class="col-md-4">
    <div class="chip">
      <div class="chip-color bg-error-1"></div>
      <div class="chip-color-name">
        <ul class='list-unstyled'>
          <li>$error-1</li>
          <li>.bg-error-1</li>
          <li>.type-error-1</li>
        </ul>
      </div>
    </div>
  </div>
   <div class="col-md-4">
    <div class="chip">
      <div class="chip-color bg-error-2"></div>
      <div class="chip-color-name">
        <ul class='list-unstyled'>
          <li>$error-2</li>
          <li>.bg-error-2</li>
          <li>.type-error-2</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="chip">
      <div class="chip-color bg-error-3"></div>
      <div class="chip-color-name">
        <ul class='list-unstyled'>
          <li>$error-3</li>
          <li>.bg-error-3</li>
          <li>.type-error-3</li>
        </ul>
      </div>
    </div>
  </div>
   <div class="col-md-4">
    <div class="chip">
      <div class="chip-color bg-error-4"></div>
      <div class="chip-color-name">
        <ul class='list-unstyled'>
          <li>$error-4</li>
          <li>.bg-error-4</li>
          <li>.type-error-4</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row mvxl">
  <div class="col-md-4">
    <div class="chip">
      <div class="chip-color bg-warn-1"></div>
      <div class="chip-color-name">
        <ul class='list-unstyled'>
          <li>$warn-1</li>
          <li>.bg-warn-1</li>
          <li>.type-warn-1</li>
        </ul>
      </div>
    </div>
  </div>
   <div class="col-md-4">
    <div class="chip">
      <div class="chip-color bg-warn-2"></div>
      <div class="chip-color-name">
        <ul class='list-unstyled'>
          <li>$warn-2</li>
          <li>.bg-warn-2</li>
          <li>.type-warn-2</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row mvxl">
  <div class="col-md-4">
    <div class="chip">
      <div class="chip-color bg-success-1"></div>
      <div class="chip-color-name">$green-1</div>
    </div>
  </div>
   <div class="col-md-4">
    <div class="chip">
      <div class="chip-color bg-success-2"></div>
      <div class="chip-color-name">$green-2</div>
    </div>
  </div>
</div>

*/

.bg-neutral-1 {
  background-color: $neutral-1;
}
.bg-neutral-2 {
  background-color: $neutral-2;
}
.bg-neutral-3 {
  background-color: $neutral-3;
}
.bg-neutral-4 {
  background-color: $neutral-4;
}
.bg-neutral-5 {
  background-color: $neutral-5;
}
.bg-neutral-6 {
  background-color: $neutral-6;
}
.bg-neutral-7 {
  background-color: $neutral-7;
}
.bg-neutral-8 {
  background-color: $neutral-8;
}
.bg-neutral-9 {
  background-color: $neutral-9;
}
.bg-neutral-10 {
  background-color: $neutral-10;
}
.bg-neutral-11 {
  background-color: $neutral-11;
}

// Teals
.bg-brand-1{
  background-color: $brand-1;
}

.bg-brand-2{
  background-color: $brand-2;
}

.bg-brand-3{
  background-color: $brand-3;
}

.bg-brand-4{
  background-color: $brand-4;
}

.bg-brand-5{
  background-color: $brand-5;
}

// Blues

.bg-accent-1{
  background-color: $accent-1;
}

.bg-accent-2{
  background-color: $accent-2;
}

.bg-accent-3{
  background-color: $accent-3;
}

.bg-accent-4{
  background-color: $accent-4;
}

.bg-accent-5{
  background-color: $accent-5;
}

// Navies

.bg-dark-1{
  background-color: $dark-1;
}

.bg-dark-2{
  background-color: $dark-2;
}

.bg-dark-3{
  background-color: $dark-3;
}

// Reds
.bg-error-1{
  background-color: $error-1;
}

.bg-error-2{
  background-color: $error-2;
}

.bg-error-3{
  background-color: $error-3;
}

.bg-error-4{
  background-color: $error-4;
}

// Yellows
.bg-warn-1{
  background-color: $warn-1;
}

.bg-warn-2{
  background-color: $warn-2;
}

// Greens
.bg-success-1{
  background-color: $success-1;
}

.bg-success-2{
  background-color: $success-2;
}
/*doc
---
title: Shadows & Glows
name: shadows
parent: colors
---
<div class="row">
<div class="contrast-bar">
  <div class="row mvxl">
    <div class="col-md-3">
      <div class="chip">
        <div class="chip-color bg-shadow-1"></div>
        <div class="chip-color-name">$shadow-1</div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="chip">
        <div class="chip-color bg-shadow-2"></div>
        <div class="chip-color-name">$shadow-2</div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="chip">
        <div class="chip-color bg-shadow-3"></div>
        <div class="chip-color-name">$shadow-3</div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="chip">
        <div class="chip-color bg-shadow-4"></div>
        <div class="chip-color-name">$shadow-4</div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="chip">
        <div class="chip-color bg-glow-1"></div>
        <div class="chip-color-name">$glow-1</div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="chip">
        <div class="chip-color bg-glow-2"></div>
        <div class="chip-color-name">$glow-2</div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="chip">
        <div class="chip-color bg-glow-3"></div>
        <div class="chip-color-name">$glow-3</div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="chip">
        <div class="chip-color bg-glow-4"></div>
        <div class="chip-color-name">$glow-4</div>
      </div>
    </div>
  </div>
</div>
</div>
*/


// These classes are for the style guide only

.bg-glow-1 {
  background-color: $glow-1;
}

.bg-glow-2 {
  background-color: $glow-2;
}

.bg-glow-3 {
  background-color: $glow-3;
}

.bg-glow-4 {
  background-color: $glow-4;
}

.bg-shadow-1{
  background-color: $shadow-1;
}

.bg-shadow-2{
  background-color: $shadow-2;
}

.bg-shadow-3{
  background-color: $shadow-3;
}

.bg-shadow-4{
  background-color: $shadow-4;
}



