/*doc
---
title: Deprecated
name: deprecated
categories:
  - Deprecated
  - All
---

Sometimes components are still used, but we are moving away from them.
For example, password reset pages use some very old button styles,
but we won't take the time to update them because those pages are moving
over to UAA. This is the place where styles are put out to pasture...

*/
