/*doc
---
title: Dividers
name: divider
categories:
  - Elements
  - All
---

Dividers draw horizontal lines between different content groupings.

```html_example
<hr class="divider-alternate-1"/>
<hr class="divider-alternate-2"/>
<div class="contrast-bar">
  <hr class="divider-1"/>
  <hr class="divider-2"/>
</div>
```

*/


.divider-alternate-1 {
  border: 1px solid rgba(0,0,0,0.1);
  border-width: 1px 0 0 0;
}

.divider-alternate-2 {
  border: 3px solid rgba(0,0,0,0.1);
  border-width: 3px 0 0 0;
}

.divider-1 {
  border: 1px solid rgba(255,255,255,0.1);
  border-width: 1px 0 0 0;
}

.divider-2 {
  border: 3px solid rgba(255,255,255,0.1);
  border-width: 3px 0 0 0;
}

.divider-alternate-2,
.divider-2 {
  margin: 4vw 0;
}


/*doc
---
title: Dividers
name: divider_react
categories:
  - Beta
---

Dividers draw horizontal lines between different content groupings.

```html_example_table
<div id="divider-example"></div>
```

```jsx_example
React.render(
  <Divider />,
  document.getElementById('divider-example')
);
```
```html_example_table
<div id="divider-large-example"></div>
```

```jsx_example
React.render(
  <Divider large="true" />,
  document.getElementById('divider-large-example')
);
```


```html_example_table
<div id="divider-alt-example" class="contrast-bar"></div>
```

```jsx_example
React.render(
  <DividerInverse />,
  document.getElementById('divider-alt-example')
);
```

```html_example_table
<div id="divider-alt-large-example" class="contrast-bar"></div>
```

```jsx_example
React.render(
  <DividerInverse large="true" />,
  document.getElementById('divider-alt-large-example')
);
```
*/
