/*doc
---
title: Dividers
name: divider
categories:
  - All
  - Elements
  - Intro
---

Dividers draw horizontal lines between different content groupings.

```haml_example

%hr.divider-alternate-1
%hr.divider-alternate-2

.contrast-bar
  %hr.divider-1
  %hr.divider-2

```

*/


.divider-alternate-1 {
  border: 1px solid rgba(0,0,0,0.1);
  border-width: 1px 0 0 0;
}

.divider-alternate-2 {
  border: 3px solid rgba(0,0,0,0.1);
  border-width: 3px 0 0 0;
}

.divider-1 {
  border: 1px solid rgba(255,255,255,0.1);
  border-width: 1px 0 0 0;
}

.divider-2 {
  border: 3px solid rgba(255,255,255,0.1);
  border-width: 3px 0 0 0;
}

.divider-alternate-2,
.divider-2 {
  margin: 4vw 0;
}
