/*doc
---
title: React Dropdowns
name: dropdown_react
categories:
  - Beta
---

This is the basic bootstrap dropdown, to be styled in a subsequent story.

```html_example
<div class="dropdown">
  <a id="drop3" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="true">
    Dropdown
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
    <li role="presentation"><a role="menuDropdownItem" tabindex="-1" href="https://twitter.com/fat">Action</a></li>
    <li role="presentation"><a role="menuDropdownItem" tabindex="-1" href="https://twitter.com/fat">Another action</a></li>
    <li role="presentation"><a role="menuDropdownItem" tabindex="-1" href="https://twitter.com/fat">Something else here</a></li>
    <li role="presentation" class="divider"></li>
    <li role="presentation"><a role="menuDropdownItem" tabindex="-1" href="https://twitter.com/fat">Separated link</a></li>
  </ul>
</div>
```

```react_example_table
  <UI.Dropdown title='DropDown'>
    <UI.DropdownItem href="http://media.giphy.com/media/13py6c5BSnBkic/giphy.gif">Booyeah</UI.DropdownItem>
    <UI.DropdownItem divider />
    <UI.DropdownItem href="http://media.giphy.com/media/TlK63EQERmiAVzMEgO4/giphy.gif">Adorable</UI.DropdownItem>
  </UI.Dropdown>
```

Here are all the different dropdown styles:

```react_example_table
<UI.DropdownLink title='Link'>
   <UI.DropdownItem href="http://media.giphy.com/media/TlK63EQERmiAVzMEgO4/giphy.gif">Adorable</UI.DropdownItem>
</UI.DropdownLink>

<UI.DropdownDefaultAlt title='Default Alt'>
   <UI.DropdownItem href="http://media.giphy.com/media/TlK63EQERmiAVzMEgO4/giphy.gif">Adorable</UI.DropdownItem>
</UI.DropdownDefaultAlt>

<UI.DropdownPrimary title='Primary'>
   <UI.DropdownItem href="http://media.giphy.com/media/TlK63EQERmiAVzMEgO4/giphy.gif">Adorable</UI.DropdownItem>
</UI.DropdownPrimary>

<UI.DropdownLowlight title='Lowlight'>
   <UI.DropdownItem href="http://media.giphy.com/media/TlK63EQERmiAVzMEgO4/giphy.gif">Adorable</UI.DropdownItem>
</UI.DropdownLowlight>

<UI.DropdownDanger title='Danger'>
   <UI.DropdownItem href="http://media.giphy.com/media/TlK63EQERmiAVzMEgO4/giphy.gif">Adorable</UI.DropdownItem>
</UI.DropdownDanger>

<UI.DropdownHighlight title='Highlight'>
   <UI.DropdownItem href="http://media.giphy.com/media/TlK63EQERmiAVzMEgO4/giphy.gif">Adorable</UI.DropdownItem>
</UI.DropdownHighlight>

<UI.DropdownHighlightAlt title='Highlight Alt'>
   <UI.DropdownItem href="http://media.giphy.com/media/TlK63EQERmiAVzMEgO4/giphy.gif">Adorable</UI.DropdownItem>
</UI.DropdownHighlightAlt>
```

*/
