/*doc
---
title: Grids
name: grid
categories:
  - All
  - Layout
---

<p class="h3">
  Pivotal ui (via bootstrap) includes a responsive, <strong>mobile first</strong> fluid grid system that
  appropriately scales up to 24 columns as the device or viewport size increases.
  To work with the system, you need to <strong>treat mobile as your default</strong>
  and build more complex layouts up from there.
</p>

*/

/*doc
---
title: Introduction
name: 01_grid_intro
parent: grid
---

Grid systems are used for creating page layouts through a series of rows and columns that house your content.
Here's how the bootstrap grid system works:

* Rows must be placed within a `.container` for proper alignment and padding.

* Use `.row` to create horizontal groups of columns.

* Content should be placed within columns (e.g. `.col-sm-11`, `.col-lg-6`, etc.).
Only columns may be immediate children of rows.

Columns are defined by two properties:
the breakpoint at which they start acting like columns,
and their relative width (on a scale of 24) beginning at this breakpoint.
For example:

* A column with the class `.col-sm-11` will take up 100% of the container
for devices with screen-width &lt; 768px (the extra small breakpoint),
and 11/24ths for devices &geq; 768px.

* A column with the class `.col-lg-6` will take up 100% of the container
for devices with &lt; 1200px,
and 1/4th (6/24ths) for devices &geq; 1200px.

* 3 `.col-md-8` columns would fill a row for devices &geq; 992px.
They would each take up their own row on devices &lt; 992px.

* Use the `.col-xs-*` classes to use a grid on mobile.

Look to the [examples][04_grid_examples] for applying these principles to your code.
*/

/*doc
---
title: Media Queries
name: 02_grid_media_queries
parent: grid
---

We use the following media queries in our sass files to create the key breakpoints in our grid system.

Name      |   Size         | Variable Name
--------- | -------------- | ------------------
mobile    |                | no media query since this is the default in bootstrap
x-small   | 480px          | `$screen-xs-min`
small     | 768px          | `$screen-sm-min`
medium    | 992px          | `$screen-md-min`
large     | 1200px         | `$screen-lg-min`
x-large   | 1800px         | `$screen-xl-min`

*/

/*doc
---
title: Grid Sizes
name: 03_grid_sizes
parent: grid
---

See how aspects of the bootstrap grid system work across multiple devices with a handy table.

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th></th>
      <th>
        extra small devices
        <small>phones (&leq;768px)</small>
      </th>
      <th>
        small devices
        <small>tablets (&gt;768px)</small>
      </th>
      <th>
        medium devices
        <small>laptops (&gt;992px)</small>
      </th>
      <th>
        large devices
        <small>desktops (&gt;1200px)</small>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="text-nowrap">grid behavior</th>
      <td>horizontal at all times</td>
      <td colspan="3">collapsed to start, horizontal above breakpoints</td>
    </tr>
    <tr>
      <th class="text-nowrap">container width</th>
      <td>none (auto)</td>
      <td>750px</td>
      <td>970px</td>
      <td>1170px</td>
    </tr>
    <tr>
      <th class="text-nowrap">class prefix</th>
      <td><code>.col-xs-</code></td>
      <td><code>.col-sm-</code></td>
      <td><code>.col-md-</code></td>
      <td><code>.col-lg-</code></td>
    </tr>
    <tr>
      <th class="text-nowrap"># of columns</th>
      <td colspan="4">24</td>
    </tr>
    <tr>
      <th class="text-nowrap">column width</th>
      <td>auto</td>
      <td>~62px</td>
      <td>~81px</td>
      <td>~97px</td>
    </tr>
    <tr>
      <th class="text-nowrap">gutter width</th>
      <td colspan="4">30px (15px on each side of a column)</td>
    </tr>
    <tr>
      <th class="text-nowrap">nestable</th>
      <td colspan="4">yes</td>
    </tr>
    <tr>
      <th class="text-nowrap">offsets</th>
      <td colspan="4">yes</td>
    </tr>
    <tr>
      <th class="text-nowrap">column ordering</th>
      <td colspan="4">yes</td>
    </tr>
  </tbody>
</table>

*/

/*doc
---
title: Examples
name: 04_grid_examples
parent: grid
---

Using a single set of `.col-md-*` grid classes,
you can create a basic grid system that starts out stacked on mobile devices and tablet devices
(the extra small to small range) before becoming horizontal on desktop (medium) devices.
Place grid columns in any `.row`.

<div class="alert alert-warning mbxl">
  <p>The <code>.grid-show</code> class in the examples is for demo purposes. Don't use it IRL.</p>
</div>

```html_example
<div class="row grid-show">
  <div class="col-md-2"></div>
  <div class="col-md-2"></div>
  <div class="col-md-2"></div>
  <div class="col-md-2"></div>
  <div class="col-md-2"></div>
  <div class="col-md-2"></div>
  <div class="col-md-2"></div>
  <div class="col-md-2"></div>
  <div class="col-md-2"></div>
  <div class="col-md-2"></div>
  <div class="col-md-2"></div>
  <div class="col-md-2"></div>
</div>

<div class="row grid-show">
  <div class="col-md-16"></div>
  <div class="col-md-8"></div>
</div>

<div class="row grid-show">
  <div class="col-md-8"></div>
  <div class="col-md-8"></div>
  <div class="col-md-8"></div>
</div>

<div class="row grid-show">
  <div class="col-md-12"></div>
  <div class="col-md-12"></div>
</div>
```
*/

/*doc
---
title: "Example: Mobile and Desktop"
name: 04_a_grid_mobile_and_desktop
parent: 04_grid_examples
---

Don't want your columns to simply stack in smaller devices?
Use the extra small and medium device grid classes by adding `.col-xs-*` `.col-md-*` to your columns.
See the example below for a better idea of how it all works.

```html_example
<!-- stack the columns on mobile by making one full-width and the other half-width -->
<div class="row grid-show">
  <div class="col-xs-24 col-md-16"></div>
  <div class="col-xs-12 col-md-8"></div>
</div>

<!-- columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
<div class="row grid-show">
  <div class="col-xs-12 col-md-8"></div>
  <div class="col-xs-12 col-md-8"></div>
  <div class="col-xs-12 col-md-8"></div>
</div>

<!-- columns are always 50% wide, on mobile and desktop -->
<div class="row grid-show">
  <div class="col-xs-12"></div>
  <div class="col-xs-12"></div>
</div>
```

*/

/*doc
---
title: "Example: Mobile, Tablet, Desktops"
name: 04_b_grid_mobile_tablet_desktop
parent: 04_grid_examples
---

Build on the previous example by creating even more dynamic and powerful layouts
with tablet `.col-sm-*` classes.

```html_example
<div class="row grid-show">
  <div class="col-xs-24 col-sm-12 col-md-16"></div>
  <div class="col-xs-12 col-md-8"></div>
</div>
<div class="row grid-show">
  <div class="col-xs-12 col-sm-8"></div>
  <div class="col-xs-12 col-sm-8"></div>
  <!-- optional: clear the xs cols if their content doesn't match in height -->
  <div class="clearfix visible-xs-block"></div>
  <div class="col-xs-12 col-sm-8"></div>
</div>
```

*/

/*doc
---
title: "Example: Column Wrapping"
name: 04_c_grid_column_wrapping
parent: 04_grid_examples
---

If more than 24 columns are placed within a single row, each group of extra columns will,
as one unit, wrap onto a new line.

```html_example
<div class="row grid-show">
  <div class="col-xs-12"></div>
  <div class="col-xs-12"></div>
  <div class="col-xs-10"></div>
  <div class="col-xs-10"></div>
  <div class="col-xs-5"></div>
  <div class="col-xs-6"></div>
</div>
```

**note** In the second row, since 10 + 10 + 5 &gt; 24,
the 5-column-wide div gets wrapped onto a new line as one contiguous unit.
Subsequent columns continue along the new line.

*/

/*doc
---
title: Gutter Sizes
name: 04_grid_gutter_sizes
parent: grid
---

You can change the size of a row's gutters with these classes.

Class            | Padding between columns
---------------- | --------------------------
default          | 20px
`.row-gutter-md` | 10px
`.row-gutter-sm` | 5px

Here's what the gutters look like in action.

```html_example_table
<div class="row grid-show">
  <div class="col-md-12" grid-content="Default gutter"></div>
  <div class="col-md-12" grid-content="Default gutter"></div>
</div>

<div class="row row-gutter-md grid-show">
  <div class="col-md-12" grid-content="Medium gutter"></div>
  <div class="col-md-12" grid-content="Medium gutter"></div>
</div>

<div class="row row-gutter-sm grid-show">
  <div class="col-md-12" grid-content="Small gutter"></div>
  <div class="col-md-12" grid-content="Small gutter"></div>
</div>
```
*/

.row-gutter-sm {
  margin-left: -$grid-gutter-width-small / 2;
  margin-right: -$grid-gutter-width-small / 2;

  > [class^="col"] {
    padding-left: $grid-gutter-width-small / 2;
    padding-right: $grid-gutter-width-small / 2;
  }
}

.row-gutter-md {
  margin-left: -$grid-gutter-width-md / 2;
  margin-right: -$grid-gutter-width-md / 2;

  > [class^="col"] {
    padding-left: $grid-gutter-width-md / 2;
    padding-right: $grid-gutter-width-md / 2;
  }
}

/*doc
---
title: Responsive Column Resets
name: 08_grid_column_resets
parent: grid
---

With the four tiers of grids available you're bound to run into issues where,
at certain breakpoints, your columns don't clear quite right as one is taller than the other.
To fix that, use a combination of a `.clearfix`
and our [responsive utility classes][responsive_utilities].

```html_example
<div class="row grid-show">
  <div class="col-xs-12 col-sm-6" grid-content="this is a tall column"></div>
  <div class="col-xs-12 col-sm-6"></div>

  <!-- add the extra clearfix for only the required viewport -->
  <div class="clearfix visible-xs-block"></div>

  <div class="col-xs-12 col-sm-6"></div>
  <div class="col-xs-12 col-sm-6"></div>
</div>
```

*/

/*doc
---
title: Offsetting Columns
name: 09_grid_offsetting
parent: grid
---

Move columns to the right using `.col-md-offset-*` classes.
These classes increase the left margin of a column by `*` columns.
For example, `.col-md-offset-4` moves `.col-md-4` over four columns.

```html_example
<div class="row grid-show">
  <div class="col-md-8"></div>
  <div class="col-md-8 col-md-offset-8"></div>
</div>
<div class="row grid-show">
  <div class="col-md-6 col-md-offset-6"></div>
  <div class="col-md-6 col-md-offset-6"></div>
</div>
<div class="row grid-show">
  <div class="col-md-12 col-md-offset-6"></div>
</div>
```

*/

/*doc
---
title: Column Ordering
name: 10_grid_ordering
parent: grid
---

Easily change the order of our built-in grid columns
with `.col-md-push-*` and `.col-md-pull-*` modifier classes.
This is useful if you want to change the order of columns at different screen sizes.

```html_example
<div class="row grid-show">
  <div class="col-md-18 col-md-push-6"></div>
  <div class="col-md-6 col-md-pull-18"></div>
</div>
```

*/

// Large grid
//
// Columns, offsets, pushes, and pulls for the large desktop device range.
//
// Note that `.col-lg-24` doesn't get floated on purpose--there's no need since
// it's full-width.


// Extra Large grid
//
// Columns, offsets, pushes, and pulls for the large desktop device range.

@media (min-width: $screen-xl-min) {
  @include make-grid(xl);
}

/*pending
---
title: Responsive
name: grid_responsive
parent: grid
---

Having trouble debugging grids? You can also set `$grids-debug: true` in the `grids.css.scss` file.
This will allow you to visualize the changes taking place at different device widths.

*/


$grids-debug: false;

@if $grids-debug == true {

  /* */
  /* debug Bootstrap 3 grid by Andre Firchow */
  /* http://firchow.net/bootstrap3-grid-debug/ (docs in german for extra fun) */
  /* */
  .debug-output, body:before, [class*="col-"]:after, [class*="col-"]:before {
    content: "";
    position: absolute;
    top: 1px;
    right: 1px;
    font-size: 10px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    background-color: #eff8a0;
    white-space: nowrap;
  }

  body:before {
    content: "\00a0 Large screen (lg) \00a0";
    background-color: #cde8f6;
    position: fixed;
    z-index: 2000;
  }

  [class*="col-"] {
    -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0 0 0 1px inset;
    -moz-box-shadow: rgba(0, 0, 0, 0.05) 0 0 0 1px inset;
    box-shadow: rgba(0, 0, 0, 0.05) 0 0 0 1px inset;
  }
  [class*="col-"]:after {
    min-width: 56px;
  }
  [class*="col-"]:before {
    right: 57px;
  }

  [class*="col-xs-pull-"],
  [class*="col-xs-push-"],
  [class*="col-xs-offset-"] {
    content: "";
  }

  [class*="col-xs-"] {
    background-color: rgba(246, 233, 205, 0.3);
  }

  [class*="col-xs-"]:nth-child(odd) {
    background-color: rgba(246, 233, 205, 0.5);
  }

  .col-xs-1:after {
    content: "\00a0 .col-xs-1 \00a0";
    background-color: #f6e9cd;
  }

  .col-xs-pull-1:before {
    content: "\00a0 << .col-xs-pull-1 \00a0";
  }

  .col-xs-push-1:before {
    content: "\00a0 >> .col-xs-push-1 \00a0";
  }

  .col-xs-2:after {
    content: "\00a0 .col-xs-2 \00a0";
    background-color: #f6e9cd;
  }

  .col-xs-pull-2:before {
    content: "\00a0 << .col-xs-pull-2 \00a0";
  }

  .col-xs-push-2:before {
    content: "\00a0 >> .col-xs-push-2 \00a0";
  }

  .col-xs-3:after {
    content: "\00a0 .col-xs-3 \00a0";
    background-color: #f6e9cd;
  }

  .col-xs-pull-3:before {
    content: "\00a0 << .col-xs-pull-3 \00a0";
  }

  .col-xs-push-3:before {
    content: "\00a0 >> .col-xs-push-3 \00a0";
  }

  .col-xs-4:after {
    content: "\00a0 .col-xs-4 \00a0";
    background-color: #f6e9cd;
  }

  .col-xs-pull-4:before {
    content: "\00a0 << .col-xs-pull-4 \00a0";
  }

  .col-xs-push-4:before {
    content: "\00a0 >> .col-xs-push-4 \00a0";
  }

  .col-xs-5:after {
    content: "\00a0 .col-xs-5 \00a0";
    background-color: #f6e9cd;
  }

  .col-xs-pull-5:before {
    content: "\00a0 << .col-xs-pull-5 \00a0";
  }

  .col-xs-push-5:before {
    content: "\00a0 >> .col-xs-push-5 \00a0";
  }

  .col-xs-6:after {
    content: "\00a0 .col-xs-6 \00a0";
    background-color: #f6e9cd;
  }

  .col-xs-pull-6:before {
    content: "\00a0 << .col-xs-pull-6 \00a0";
  }

  .col-xs-push-6:before {
    content: "\00a0 >> .col-xs-push-6 \00a0";
  }

  .col-xs-7:after {
    content: "\00a0 .col-xs-7 \00a0";
    background-color: #f6e9cd;
  }

  .col-xs-pull-7:before {
    content: "\00a0 << .col-xs-pull-7 \00a0";
  }

  .col-xs-push-7:before {
    content: "\00a0 >> .col-xs-push-7 \00a0";
  }

  .col-xs-8:after {
    content: "\00a0 .col-xs-8 \00a0";
    background-color: #f6e9cd;
  }

  .col-xs-pull-8:before {
    content: "\00a0 << .col-xs-pull-8 \00a0";
  }

  .col-xs-push-8:before {
    content: "\00a0 >> .col-xs-push-8 \00a0";
  }

  .col-xs-9:after {
    content: "\00a0 .col-xs-9 \00a0";
    background-color: #f6e9cd;
  }

  .col-xs-pull-9:before {
    content: "\00a0 << .col-xs-pull-9 \00a0";
  }

  .col-xs-push-9:before {
    content: "\00a0 >> .col-xs-push-9 \00a0";
  }

  .col-xs-10:after {
    content: "\00a0 .col-xs-10 \00a0";
    background-color: #f6e9cd;
  }

  .col-xs-pull-10:before {
    content: "\00a0 << .col-xs-pull-10 \00a0";
  }

  .col-xs-push-10:before {
    content: "\00a0 >> .col-xs-push-10 \00a0";
  }

  .col-xs-11:after {
    content: "\00a0 .col-xs-11 \00a0";
    background-color: #f6e9cd;
  }

  .col-xs-pull-11:before {
    content: "\00a0 << .col-xs-pull-11 \00a0";
  }

  .col-xs-push-11:before {
    content: "\00a0 >> .col-xs-push-11 \00a0";
  }

  .col-xs-12:after {
    content: "\00a0 .col-xs-12 \00a0";
    background-color: #f6e9cd;
  }

  .col-xs-pull-12:before {
    content: "\00a0 << .col-xs-pull-12 \00a0";
  }

  .col-xs-push-12:before {
    content: "\00a0 >> .col-xs-push-12 \00a0";
  }

  .col-xs-offset-0:before {
    content: "\00a0 << .col-xs-offset-0 \00a0";
  }

  .col-xs-offset-1:before {
    content: "\00a0 << .col-xs-offset-1 \00a0";
  }

  .col-xs-offset-2:before {
    content: "\00a0 << .col-xs-offset-2 \00a0";
  }

  .col-xs-offset-3:before {
    content: "\00a0 << .col-xs-offset-3 \00a0";
  }

  .col-xs-offset-4:before {
    content: "\00a0 << .col-xs-offset-4 \00a0";
  }

  .col-xs-offset-5:before {
    content: "\00a0 << .col-xs-offset-5 \00a0";
  }

  .col-xs-offset-6:before {
    content: "\00a0 << .col-xs-offset-6 \00a0";
  }

  .col-xs-offset-7:before {
    content: "\00a0 << .col-xs-offset-7 \00a0";
  }

  .col-xs-offset-8:before {
    content: "\00a0 << .col-xs-offset-8 \00a0";
  }

  .col-xs-offset-9:before {
    content: "\00a0 << .col-xs-offset-9 \00a0";
  }

  .col-xs-offset-10:before {
    content: "\00a0 << .col-xs-offset-10 \00a0";
  }

  .col-xs-offset-11:before {
    content: "\00a0 << .col-xs-offset-11 \00a0";
  }

  .col-xs-offset-12:before {
    content: "\00a0 << .col-xs-offset-12 \00a0";
  }

  [class*="col-sm-pull-"],
  [class*="col-sm-push-"],
  [class*="col-sm-offset-"] {
    content: "";
  }

  [class*="col-sm-"] {
    background-color: rgba(205, 237, 206, 0.3);
  }

  [class*="col-sm-"]:nth-child(odd) {
    background-color: rgba(205, 237, 206, 0.5);
  }

  .col-sm-1:after {
    content: "\00a0 .col-sm-1 \00a0";
    background-color: #cdedce;
  }

  .col-sm-pull-1:before {
    content: "\00a0 << .col-sm-pull-1 \00a0";
  }

  .col-sm-push-1:before {
    content: "\00a0 >> .col-sm-push-1 \00a0";
  }

  .col-sm-2:after {
    content: "\00a0 .col-sm-2 \00a0";
    background-color: #cdedce;
  }

  .col-sm-pull-2:before {
    content: "\00a0 << .col-sm-pull-2 \00a0";
  }

  .col-sm-push-2:before {
    content: "\00a0 >> .col-sm-push-2 \00a0";
  }

  .col-sm-3:after {
    content: "\00a0 .col-sm-3 \00a0";
    background-color: #cdedce;
  }

  .col-sm-pull-3:before {
    content: "\00a0 << .col-sm-pull-3 \00a0";
  }

  .col-sm-push-3:before {
    content: "\00a0 >> .col-sm-push-3 \00a0";
  }

  .col-sm-4:after {
    content: "\00a0 .col-sm-4 \00a0";
    background-color: #cdedce;
  }

  .col-sm-pull-4:before {
    content: "\00a0 << .col-sm-pull-4 \00a0";
  }

  .col-sm-push-4:before {
    content: "\00a0 >> .col-sm-push-4 \00a0";
  }

  .col-sm-5:after {
    content: "\00a0 .col-sm-5 \00a0";
    background-color: #cdedce;
  }

  .col-sm-pull-5:before {
    content: "\00a0 << .col-sm-pull-5 \00a0";
  }

  .col-sm-push-5:before {
    content: "\00a0 >> .col-sm-push-5 \00a0";
  }

  .col-sm-6:after {
    content: "\00a0 .col-sm-6 \00a0";
    background-color: #cdedce;
  }

  .col-sm-pull-6:before {
    content: "\00a0 << .col-sm-pull-6 \00a0";
  }

  .col-sm-push-6:before {
    content: "\00a0 >> .col-sm-push-6 \00a0";
  }

  .col-sm-7:after {
    content: "\00a0 .col-sm-7 \00a0";
    background-color: #cdedce;
  }

  .col-sm-pull-7:before {
    content: "\00a0 << .col-sm-pull-7 \00a0";
  }

  .col-sm-push-7:before {
    content: "\00a0 >> .col-sm-push-7 \00a0";
  }

  .col-sm-8:after {
    content: "\00a0 .col-sm-8 \00a0";
    background-color: #cdedce;
  }

  .col-sm-pull-8:before {
    content: "\00a0 << .col-sm-pull-8 \00a0";
  }

  .col-sm-push-8:before {
    content: "\00a0 >> .col-sm-push-8 \00a0";
  }

  .col-sm-9:after {
    content: "\00a0 .col-sm-9 \00a0";
    background-color: #cdedce;
  }

  .col-sm-pull-9:before {
    content: "\00a0 << .col-sm-pull-9 \00a0";
  }

  .col-sm-push-9:before {
    content: "\00a0 >> .col-sm-push-9 \00a0";
  }

  .col-sm-10:after {
    content: "\00a0 .col-sm-10 \00a0";
    background-color: #cdedce;
  }

  .col-sm-pull-10:before {
    content: "\00a0 << .col-sm-pull-10 \00a0";
  }

  .col-sm-push-10:before {
    content: "\00a0 >> .col-sm-push-10 \00a0";
  }

  .col-sm-11:after {
    content: "\00a0 .col-sm-11 \00a0";
    background-color: #cdedce;
  }

  .col-sm-pull-11:before {
    content: "\00a0 << .col-sm-pull-11 \00a0";
  }

  .col-sm-push-11:before {
    content: "\00a0 >> .col-sm-push-11 \00a0";
  }

  .col-sm-12:after {
    content: "\00a0 .col-sm-12 \00a0";
    background-color: #cdedce;
  }

  .col-sm-pull-12:before {
    content: "\00a0 << .col-sm-pull-12 \00a0";
  }

  .col-sm-push-12:before {
    content: "\00a0 >> .col-sm-push-12 \00a0";
  }

  .col-sm-offset-0:before {
    content: "\00a0 << .col-sm-offset-0 \00a0";
  }

  .col-sm-offset-1:before {
    content: "\00a0 << .col-sm-offset-1 \00a0";
  }

  .col-sm-offset-2:before {
    content: "\00a0 << .col-sm-offset-2 \00a0";
  }

  .col-sm-offset-3:before {
    content: "\00a0 << .col-sm-offset-3 \00a0";
  }

  .col-sm-offset-4:before {
    content: "\00a0 << .col-sm-offset-4 \00a0";
  }

  .col-sm-offset-5:before {
    content: "\00a0 << .col-sm-offset-5 \00a0";
  }

  .col-sm-offset-6:before {
    content: "\00a0 << .col-sm-offset-6 \00a0";
  }

  .col-sm-offset-7:before {
    content: "\00a0 << .col-sm-offset-7 \00a0";
  }

  .col-sm-offset-8:before {
    content: "\00a0 << .col-sm-offset-8 \00a0";
  }

  .col-sm-offset-9:before {
    content: "\00a0 << .col-sm-offset-9 \00a0";
  }

  .col-sm-offset-10:before {
    content: "\00a0 << .col-sm-offset-10 \00a0";
  }

  .col-sm-offset-11:before {
    content: "\00a0 << .col-sm-offset-11 \00a0";
  }

  .col-sm-offset-12:before {
    content: "\00a0 << .col-sm-offset-12 \00a0";
  }

  [class*="col-md-pull-"],
  [class*="col-md-push-"],
  [class*="col-md-offset-"] {
    content: "";
  }

  [class*="col-md-"] {
    background-color: rgba(231, 205, 246, 0.3);
  }

  [class*="col-md-"]:nth-child(odd) {
    background-color: rgba(231, 205, 246, 0.5);
  }

  .col-md-1:after {
    content: "\00a0 .col-md-1 \00a0";
    background-color: #e7cdf6;
  }

  .col-md-pull-1:before {
    content: "\00a0 << .col-md-pull-1 \00a0";
  }

  .col-md-push-1:before {
    content: "\00a0 >> .col-md-push-1 \00a0";
  }

  .col-md-2:after {
    content: "\00a0 .col-md-2 \00a0";
    background-color: #e7cdf6;
  }

  .col-md-pull-2:before {
    content: "\00a0 << .col-md-pull-2 \00a0";
  }

  .col-md-push-2:before {
    content: "\00a0 >> .col-md-push-2 \00a0";
  }

  .col-md-3:after {
    content: "\00a0 .col-md-3 \00a0";
    background-color: #e7cdf6;
  }

  .col-md-pull-3:before {
    content: "\00a0 << .col-md-pull-3 \00a0";
  }

  .col-md-push-3:before {
    content: "\00a0 >> .col-md-push-3 \00a0";
  }

  .col-md-4:after {
    content: "\00a0 .col-md-4 \00a0";
    background-color: #e7cdf6;
  }

  .col-md-pull-4:before {
    content: "\00a0 << .col-md-pull-4 \00a0";
  }

  .col-md-push-4:before {
    content: "\00a0 >> .col-md-push-4 \00a0";
  }

  .col-md-5:after {
    content: "\00a0 .col-md-5 \00a0";
    background-color: #e7cdf6;
  }

  .col-md-pull-5:before {
    content: "\00a0 << .col-md-pull-5 \00a0";
  }

  .col-md-push-5:before {
    content: "\00a0 >> .col-md-push-5 \00a0";
  }

  .col-md-6:after {
    content: "\00a0 .col-md-6 \00a0";
    background-color: #e7cdf6;
  }

  .col-md-pull-6:before {
    content: "\00a0 << .col-md-pull-6 \00a0";
  }

  .col-md-push-6:before {
    content: "\00a0 >> .col-md-push-6 \00a0";
  }

  .col-md-7:after {
    content: "\00a0 .col-md-7 \00a0";
    background-color: #e7cdf6;
  }

  .col-md-pull-7:before {
    content: "\00a0 << .col-md-pull-7 \00a0";
  }

  .col-md-push-7:before {
    content: "\00a0 >> .col-md-push-7 \00a0";
  }

  .col-md-8:after {
    content: "\00a0 .col-md-8 \00a0";
    background-color: #e7cdf6;
  }

  .col-md-pull-8:before {
    content: "\00a0 << .col-md-pull-8 \00a0";
  }

  .col-md-push-8:before {
    content: "\00a0 >> .col-md-push-8 \00a0";
  }

  .col-md-9:after {
    content: "\00a0 .col-md-9 \00a0";
    background-color: #e7cdf6;
  }

  .col-md-pull-9:before {
    content: "\00a0 << .col-md-pull-9 \00a0";
  }

  .col-md-push-9:before {
    content: "\00a0 >> .col-md-push-9 \00a0";
  }

  .col-md-10:after {
    content: "\00a0 .col-md-10 \00a0";
    background-color: #e7cdf6;
  }

  .col-md-pull-10:before {
    content: "\00a0 << .col-md-pull-10 \00a0";
  }

  .col-md-push-10:before {
    content: "\00a0 >> .col-md-push-10 \00a0";
  }

  .col-md-11:after {
    content: "\00a0 .col-md-11 \00a0";
    background-color: #e7cdf6;
  }

  .col-md-pull-11:before {
    content: "\00a0 << .col-md-pull-11 \00a0";
  }

  .col-md-push-11:before {
    content: "\00a0 >> .col-md-push-11 \00a0";
  }

  .col-md-12:after {
    content: "\00a0 .col-md-12 \00a0";
    background-color: #e7cdf6;
  }

  .col-md-pull-12:before {
    content: "\00a0 << .col-md-pull-12 \00a0";
  }

  .col-md-push-12:before {
    content: "\00a0 >> .col-md-push-12 \00a0";
  }

  .col-md-offset-0:before {
    content: "\00a0 << .col-md-offset-0 \00a0";
  }

  .col-md-offset-1:before {
    content: "\00a0 << .col-md-offset-1 \00a0";
  }

  .col-md-offset-2:before {
    content: "\00a0 << .col-md-offset-2 \00a0";
  }

  .col-md-offset-3:before {
    content: "\00a0 << .col-md-offset-3 \00a0";
  }

  .col-md-offset-4:before {
    content: "\00a0 << .col-md-offset-4 \00a0";
  }

  .col-md-offset-5:before {
    content: "\00a0 << .col-md-offset-5 \00a0";
  }

  .col-md-offset-6:before {
    content: "\00a0 << .col-md-offset-6 \00a0";
  }

  .col-md-offset-7:before {
    content: "\00a0 << .col-md-offset-7 \00a0";
  }

  .col-md-offset-8:before {
    content: "\00a0 << .col-md-offset-8 \00a0";
  }

  .col-md-offset-9:before {
    content: "\00a0 << .col-md-offset-9 \00a0";
  }

  .col-md-offset-10:before {
    content: "\00a0 << .col-md-offset-10 \00a0";
  }

  .col-md-offset-11:before {
    content: "\00a0 << .col-md-offset-11 \00a0";
  }

  .col-md-offset-12:before {
    content: "\00a0 << .col-md-offset-12 \00a0";
  }

  [class*="col-md-pull-"]:before,
  [class*="col-md-push-"]:before,
  [class*="col-md-offset-"]:before,
  [class*="col-sm-pull-"]:before,
  [class*="col-sm-push-"]:before,
  [class*="col-sm-offset-"]:before,
  [class*="col-xs-pull-"]:before,
  [class*="col-xs-push-"]:before,
  [class*="col-xs-offset-"]:before {
    content: "";
  }

  [class*="col-lg-pull-"],
  [class*="col-lg-push-"],
  [class*="col-lg-offset-"] {
    content: "";
  }

  [class*="col-lg-"] {
    background-color: rgba(205, 232, 246, 0.3);
  }

  [class*="col-lg-"]:nth-child(odd) {
    background-color: rgba(205, 232, 246, 0.5);
  }

  .col-lg-1:after {
    content: "\00a0 .col-lg-1 \00a0";
    background-color: #cde8f6;
  }

  .col-lg-pull-1:before {
    content: "\00a0 << .col-lg-pull-1 \00a0";
  }

  .col-lg-push-1:before {
    content: "\00a0 >> .col-lg-push-1 \00a0";
  }

  .col-lg-2:after {
    content: "\00a0 .col-lg-2 \00a0";
    background-color: #cde8f6;
  }

  .col-lg-pull-2:before {
    content: "\00a0 << .col-lg-pull-2 \00a0";
  }

  .col-lg-push-2:before {
    content: "\00a0 >> .col-lg-push-2 \00a0";
  }

  .col-lg-3:after {
    content: "\00a0 .col-lg-3 \00a0";
    background-color: #cde8f6;
  }

  .col-lg-pull-3:before {
    content: "\00a0 << .col-lg-pull-3 \00a0";
  }

  .col-lg-push-3:before {
    content: "\00a0 >> .col-lg-push-3 \00a0";
  }

  .col-lg-4:after {
    content: "\00a0 .col-lg-4 \00a0";
    background-color: #cde8f6;
  }

  .col-lg-pull-4:before {
    content: "\00a0 << .col-lg-pull-4 \00a0";
  }

  .col-lg-push-4:before {
    content: "\00a0 >> .col-lg-push-4 \00a0";
  }

  .col-lg-5:after {
    content: "\00a0 .col-lg-5 \00a0";
    background-color: #cde8f6;
  }

  .col-lg-pull-5:before {
    content: "\00a0 << .col-lg-pull-5 \00a0";
  }

  .col-lg-push-5:before {
    content: "\00a0 >> .col-lg-push-5 \00a0";
  }

  .col-lg-6:after {
    content: "\00a0 .col-lg-6 \00a0";
    background-color: #cde8f6;
  }

  .col-lg-pull-6:before {
    content: "\00a0 << .col-lg-pull-6 \00a0";
  }

  .col-lg-push-6:before {
    content: "\00a0 >> .col-lg-push-6 \00a0";
  }

  .col-lg-7:after {
    content: "\00a0 .col-lg-7 \00a0";
    background-color: #cde8f6;
  }

  .col-lg-pull-7:before {
    content: "\00a0 << .col-lg-pull-7 \00a0";
  }

  .col-lg-push-7:before {
    content: "\00a0 >> .col-lg-push-7 \00a0";
  }

  .col-lg-8:after {
    content: "\00a0 .col-lg-8 \00a0";
    background-color: #cde8f6;
  }

  .col-lg-pull-8:before {
    content: "\00a0 << .col-lg-pull-8 \00a0";
  }

  .col-lg-push-8:before {
    content: "\00a0 >> .col-lg-push-8 \00a0";
  }

  .col-lg-9:after {
    content: "\00a0 .col-lg-9 \00a0";
    background-color: #cde8f6;
  }

  .col-lg-pull-9:before {
    content: "\00a0 << .col-lg-pull-9 \00a0";
  }

  .col-lg-push-9:before {
    content: "\00a0 >> .col-lg-push-9 \00a0";
  }

  .col-lg-10:after {
    content: "\00a0 .col-lg-10 \00a0";
    background-color: #cde8f6;
  }

  .col-lg-pull-10:before {
    content: "\00a0 << .col-lg-pull-10 \00a0";
  }

  .col-lg-push-10:before {
    content: "\00a0 >> .col-lg-push-10 \00a0";
  }

  .col-lg-11:after {
    content: "\00a0 .col-lg-11 \00a0";
    background-color: #cde8f6;
  }

  .col-lg-pull-11:before {
    content: "\00a0 << .col-lg-pull-11 \00a0";
  }

  .col-lg-push-11:before {
    content: "\00a0 >> .col-lg-push-11 \00a0";
  }

  .col-lg-12:after {
    content: "\00a0 .col-lg-12 \00a0";
    background-color: #cde8f6;
  }

  .col-lg-pull-12:before {
    content: "\00a0 << .col-lg-pull-12 \00a0";
  }

  .col-lg-push-12:before {
    content: "\00a0 >> .col-lg-push-12 \00a0";
  }

  .col-lg-offset-0:before {
    content: "\00a0 << .col-lg-offset-0 \00a0";
  }

  .col-lg-offset-1:before {
    content: "\00a0 << .col-lg-offset-1 \00a0";
  }

  .col-lg-offset-2:before {
    content: "\00a0 << .col-lg-offset-2 \00a0";
  }

  .col-lg-offset-3:before {
    content: "\00a0 << .col-lg-offset-3 \00a0";
  }

  .col-lg-offset-4:before {
    content: "\00a0 << .col-lg-offset-4 \00a0";
  }

  .col-lg-offset-5:before {
    content: "\00a0 << .col-lg-offset-5 \00a0";
  }

  .col-lg-offset-6:before {
    content: "\00a0 << .col-lg-offset-6 \00a0";
  }

  .col-lg-offset-7:before {
    content: "\00a0 << .col-lg-offset-7 \00a0";
  }

  .col-lg-offset-8:before {
    content: "\00a0 << .col-lg-offset-8 \00a0";
  }

  .col-lg-offset-9:before {
    content: "\00a0 << .col-lg-offset-9 \00a0";
  }

  .col-lg-offset-10:before {
    content: "\00a0 << .col-lg-offset-10 \00a0";
  }

  .col-lg-offset-11:before {
    content: "\00a0 << .col-lg-offset-11 \00a0";
  }

  .col-lg-offset-12:before {
    content: "\00a0 << .col-lg-offset-12 \00a0";
  }

  @media (min-width: $screen-lg-min) {
    .clearfix[class*="visible-lg-"]:after {
      font-size: 10px;
      font-style: italic;
      color: red;
      width: 100%;
    }

    .clearfix.visible-lg-inline:after {
      content: "\00a0 .clearfix .visible-lg-inline";
    }

    .clearfix.visible-lg-block:after {
      content: "\00a0 .clearfix .visible-lg-block";
    }

    .clearfix.visible-lg-inline-block:after {
      content: "\00a0 .clearfix .visible-lg-inline-block";
    }
  }
  @media (max-width: $screen-md-max) {
    [class*="col-lg-pull-"]:before,
    [class*="col-lg-push-"]:before,
    [class*="col-lg-offset-"]:before,
    [class*="col-sm-pull-"]:before,
    [class*="col-sm-push-"]:before,
    [class*="col-sm-offset-"]:before,
    [class*="col-xs-pull-"]:before,
    [class*="col-xs-push-"]:before,
    [class*="col-xs-offset-"]:before {
      content: "";
    }

    [class*="col-md-pull-"],
    [class*="col-md-push-"],
    [class*="col-md-offset-"] {
      content: "";
    }

    [class*="col-md-"] {
      background-color: rgba(231, 205, 246, 0.3);
    }

    [class*="col-md-"]:nth-child(odd) {
      background-color: rgba(231, 205, 246, 0.5);
    }

    .col-md-1:after {
      content: "\00a0 .col-md-1 \00a0";
      background-color: #e7cdf6;
    }

    .col-md-pull-1:before {
      content: "\00a0 << .col-md-pull-1 \00a0";
    }

    .col-md-push-1:before {
      content: "\00a0 >> .col-md-push-1 \00a0";
    }

    .col-md-2:after {
      content: "\00a0 .col-md-2 \00a0";
      background-color: #e7cdf6;
    }

    .col-md-pull-2:before {
      content: "\00a0 << .col-md-pull-2 \00a0";
    }

    .col-md-push-2:before {
      content: "\00a0 >> .col-md-push-2 \00a0";
    }

    .col-md-3:after {
      content: "\00a0 .col-md-3 \00a0";
      background-color: #e7cdf6;
    }

    .col-md-pull-3:before {
      content: "\00a0 << .col-md-pull-3 \00a0";
    }

    .col-md-push-3:before {
      content: "\00a0 >> .col-md-push-3 \00a0";
    }

    .col-md-4:after {
      content: "\00a0 .col-md-4 \00a0";
      background-color: #e7cdf6;
    }

    .col-md-pull-4:before {
      content: "\00a0 << .col-md-pull-4 \00a0";
    }

    .col-md-push-4:before {
      content: "\00a0 >> .col-md-push-4 \00a0";
    }

    .col-md-5:after {
      content: "\00a0 .col-md-5 \00a0";
      background-color: #e7cdf6;
    }

    .col-md-pull-5:before {
      content: "\00a0 << .col-md-pull-5 \00a0";
    }

    .col-md-push-5:before {
      content: "\00a0 >> .col-md-push-5 \00a0";
    }

    .col-md-6:after {
      content: "\00a0 .col-md-6 \00a0";
      background-color: #e7cdf6;
    }

    .col-md-pull-6:before {
      content: "\00a0 << .col-md-pull-6 \00a0";
    }

    .col-md-push-6:before {
      content: "\00a0 >> .col-md-push-6 \00a0";
    }

    .col-md-7:after {
      content: "\00a0 .col-md-7 \00a0";
      background-color: #e7cdf6;
    }

    .col-md-pull-7:before {
      content: "\00a0 << .col-md-pull-7 \00a0";
    }

    .col-md-push-7:before {
      content: "\00a0 >> .col-md-push-7 \00a0";
    }

    .col-md-8:after {
      content: "\00a0 .col-md-8 \00a0";
      background-color: #e7cdf6;
    }

    .col-md-pull-8:before {
      content: "\00a0 << .col-md-pull-8 \00a0";
    }

    .col-md-push-8:before {
      content: "\00a0 >> .col-md-push-8 \00a0";
    }

    .col-md-9:after {
      content: "\00a0 .col-md-9 \00a0";
      background-color: #e7cdf6;
    }

    .col-md-pull-9:before {
      content: "\00a0 << .col-md-pull-9 \00a0";
    }

    .col-md-push-9:before {
      content: "\00a0 >> .col-md-push-9 \00a0";
    }

    .col-md-10:after {
      content: "\00a0 .col-md-10 \00a0";
      background-color: #e7cdf6;
    }

    .col-md-pull-10:before {
      content: "\00a0 << .col-md-pull-10 \00a0";
    }

    .col-md-push-10:before {
      content: "\00a0 >> .col-md-push-10 \00a0";
    }

    .col-md-11:after {
      content: "\00a0 .col-md-11 \00a0";
      background-color: #e7cdf6;
    }

    .col-md-pull-11:before {
      content: "\00a0 << .col-md-pull-11 \00a0";
    }

    .col-md-push-11:before {
      content: "\00a0 >> .col-md-push-11 \00a0";
    }

    .col-md-12:after {
      content: "\00a0 .col-md-12 \00a0";
      background-color: #e7cdf6;
    }

    .col-md-pull-12:before {
      content: "\00a0 << .col-md-pull-12 \00a0";
    }

    .col-md-push-12:before {
      content: "\00a0 >> .col-md-push-12 \00a0";
    }

    .col-md-offset-0:before {
      content: "\00a0 << .col-md-offset-0 \00a0";
    }

    .col-md-offset-1:before {
      content: "\00a0 << .col-md-offset-1 \00a0";
    }

    .col-md-offset-2:before {
      content: "\00a0 << .col-md-offset-2 \00a0";
    }

    .col-md-offset-3:before {
      content: "\00a0 << .col-md-offset-3 \00a0";
    }

    .col-md-offset-4:before {
      content: "\00a0 << .col-md-offset-4 \00a0";
    }

    .col-md-offset-5:before {
      content: "\00a0 << .col-md-offset-5 \00a0";
    }

    .col-md-offset-6:before {
      content: "\00a0 << .col-md-offset-6 \00a0";
    }

    .col-md-offset-7:before {
      content: "\00a0 << .col-md-offset-7 \00a0";
    }

    .col-md-offset-8:before {
      content: "\00a0 << .col-md-offset-8 \00a0";
    }

    .col-md-offset-9:before {
      content: "\00a0 << .col-md-offset-9 \00a0";
    }

    .col-md-offset-10:before {
      content: "\00a0 << .col-md-offset-10 \00a0";
    }

    .col-md-offset-11:before {
      content: "\00a0 << .col-md-offset-11 \00a0";
    }

    .col-md-offset-12:before {
      content: "\00a0 << .col-md-offset-12 \00a0";
    }

    body:before {
      content: "\00a0 medium screen / laptop (md) \00a0";
      background-color: #e7cdf6;
    }

    .clearfix[class*="visible-md-"]:after {
      font-size: 10px;
      font-style: italic;
      color: red;
      width: 100%;
    }

    .clearfix.visible-md-inline:after {
      content: "\00a0 .clearfix .visible-md-inline";
    }

    .clearfix.visible-md-block:after {
      content: "\00a0 .clearfix .visible-md-block";
    }

    .clearfix.visible-md-inline-block:after {
      content: "\00a0 .clearfix .visible-md-inline-block";
    }
  }
  @media (max-width: $screen-sm-max) {
    [class*="col-lg-pull-"]:before,
    [class*="col-lg-push-"]:before,
    [class*="col-lg-offset-"]:before,
    [class*="col-md-pull-"]:before,
    [class*="col-md-push-"]:before,
    [class*="col-md-offset-"]:before,
    [class*="col-xs-pull-"]:before,
    [class*="col-xs-push-"]:before,
    [class*="col-xs-offset-"]:before {
      content: "";
    }

    [class*="col-sm-pull-"],
    [class*="col-sm-push-"],
    [class*="col-sm-offset-"] {
      content: "";
    }

    [class*="col-sm-"] {
      background-color: rgba(205, 237, 206, 0.3);
    }

    [class*="col-sm-"]:nth-child(odd) {
      background-color: rgba(205, 237, 206, 0.5);
    }

    .col-sm-1:after {
      content: "\00a0 .col-sm-1 \00a0";
      background-color: #cdedce;
    }

    .col-sm-pull-1:before {
      content: "\00a0 << .col-sm-pull-1 \00a0";
    }

    .col-sm-push-1:before {
      content: "\00a0 >> .col-sm-push-1 \00a0";
    }

    .col-sm-2:after {
      content: "\00a0 .col-sm-2 \00a0";
      background-color: #cdedce;
    }

    .col-sm-pull-2:before {
      content: "\00a0 << .col-sm-pull-2 \00a0";
    }

    .col-sm-push-2:before {
      content: "\00a0 >> .col-sm-push-2 \00a0";
    }

    .col-sm-3:after {
      content: "\00a0 .col-sm-3 \00a0";
      background-color: #cdedce;
    }

    .col-sm-pull-3:before {
      content: "\00a0 << .col-sm-pull-3 \00a0";
    }

    .col-sm-push-3:before {
      content: "\00a0 >> .col-sm-push-3 \00a0";
    }

    .col-sm-4:after {
      content: "\00a0 .col-sm-4 \00a0";
      background-color: #cdedce;
    }

    .col-sm-pull-4:before {
      content: "\00a0 << .col-sm-pull-4 \00a0";
    }

    .col-sm-push-4:before {
      content: "\00a0 >> .col-sm-push-4 \00a0";
    }

    .col-sm-5:after {
      content: "\00a0 .col-sm-5 \00a0";
      background-color: #cdedce;
    }

    .col-sm-pull-5:before {
      content: "\00a0 << .col-sm-pull-5 \00a0";
    }

    .col-sm-push-5:before {
      content: "\00a0 >> .col-sm-push-5 \00a0";
    }

    .col-sm-6:after {
      content: "\00a0 .col-sm-6 \00a0";
      background-color: #cdedce;
    }

    .col-sm-pull-6:before {
      content: "\00a0 << .col-sm-pull-6 \00a0";
    }

    .col-sm-push-6:before {
      content: "\00a0 >> .col-sm-push-6 \00a0";
    }

    .col-sm-7:after {
      content: "\00a0 .col-sm-7 \00a0";
      background-color: #cdedce;
    }

    .col-sm-pull-7:before {
      content: "\00a0 << .col-sm-pull-7 \00a0";
    }

    .col-sm-push-7:before {
      content: "\00a0 >> .col-sm-push-7 \00a0";
    }

    .col-sm-8:after {
      content: "\00a0 .col-sm-8 \00a0";
      background-color: #cdedce;
    }

    .col-sm-pull-8:before {
      content: "\00a0 << .col-sm-pull-8 \00a0";
    }

    .col-sm-push-8:before {
      content: "\00a0 >> .col-sm-push-8 \00a0";
    }

    .col-sm-9:after {
      content: "\00a0 .col-sm-9 \00a0";
      background-color: #cdedce;
    }

    .col-sm-pull-9:before {
      content: "\00a0 << .col-sm-pull-9 \00a0";
    }

    .col-sm-push-9:before {
      content: "\00a0 >> .col-sm-push-9 \00a0";
    }

    .col-sm-10:after {
      content: "\00a0 .col-sm-10 \00a0";
      background-color: #cdedce;
    }

    .col-sm-pull-10:before {
      content: "\00a0 << .col-sm-pull-10 \00a0";
    }

    .col-sm-push-10:before {
      content: "\00a0 >> .col-sm-push-10 \00a0";
    }

    .col-sm-11:after {
      content: "\00a0 .col-sm-11 \00a0";
      background-color: #cdedce;
    }

    .col-sm-pull-11:before {
      content: "\00a0 << .col-sm-pull-11 \00a0";
    }

    .col-sm-push-11:before {
      content: "\00a0 >> .col-sm-push-11 \00a0";
    }

    .col-sm-12:after {
      content: "\00a0 .col-sm-12 \00a0";
      background-color: #cdedce;
    }

    .col-sm-pull-12:before {
      content: "\00a0 << .col-sm-pull-12 \00a0";
    }

    .col-sm-push-12:before {
      content: "\00a0 >> .col-sm-push-12 \00a0";
    }

    .col-sm-offset-0:before {
      content: "\00a0 << .col-sm-offset-0 \00a0";
    }

    .col-sm-offset-1:before {
      content: "\00a0 << .col-sm-offset-1 \00a0";
    }

    .col-sm-offset-2:before {
      content: "\00a0 << .col-sm-offset-2 \00a0";
    }

    .col-sm-offset-3:before {
      content: "\00a0 << .col-sm-offset-3 \00a0";
    }

    .col-sm-offset-4:before {
      content: "\00a0 << .col-sm-offset-4 \00a0";
    }

    .col-sm-offset-5:before {
      content: "\00a0 << .col-sm-offset-5 \00a0";
    }

    .col-sm-offset-6:before {
      content: "\00a0 << .col-sm-offset-6 \00a0";
    }

    .col-sm-offset-7:before {
      content: "\00a0 << .col-sm-offset-7 \00a0";
    }

    .col-sm-offset-8:before {
      content: "\00a0 << .col-sm-offset-8 \00a0";
    }

    .col-sm-offset-9:before {
      content: "\00a0 << .col-sm-offset-9 \00a0";
    }

    .col-sm-offset-10:before {
      content: "\00a0 << .col-sm-offset-10 \00a0";
    }

    .col-sm-offset-11:before {
      content: "\00a0 << .col-sm-offset-11 \00a0";
    }

    .col-sm-offset-12:before {
      content: "\00a0 << .col-sm-offset-12 \00a0";
    }

    body:before {
      content: "\00a0 small screen / tablet (sm) \00a0";
      background-color: #cdedce;
    }

    .clearfix[class*="visible-sm-"]:after {
      font-size: 10px;
      font-style: italic;
      color: red;
      width: 100%;
    }

    .clearfix.visible-sm-inline:after {
      content: "\00a0 .clearfix .visible-sm-inline";
    }

    .clearfix.visible-sm-block:after {
      content: "\00a0 .clearfix .visible-sm-block";
    }

    .clearfix.visible-sm-inline-block:after {
      content: "\00a0 .clearfix .visible-sm-inline-block";
    }
  }
  @media (max-width: $screen-xs-max) {
    [class*="col-lg-pull-"]:before,
    [class*="col-lg-push-"]:before,
    [class*="col-lg-offset-"]:before,
    [class*="col-md-pull-"]:before,
    [class*="col-md-push-"]:before,
    [class*="col-md-offset-"]:before,
    [class*="col-sm-pull-"]:before,
    [class*="col-sm-push-"]:before,
    [class*="col-sm-offset-"]:before {
      content: "";
    }

    [class*="col-xs-pull-"],
    [class*="col-xs-push-"],
    [class*="col-xs-offset-"] {
      content: "";
    }

    [class*="col-xs-"] {
      background-color: rgba(246, 233, 205, 0.3);
    }

    [class*="col-xs-"]:nth-child(odd) {
      background-color: rgba(246, 233, 205, 0.5);
    }

    .col-xs-1:after {
      content: "\00a0 .col-xs-1 \00a0";
      background-color: #f6e9cd;
    }

    .col-xs-pull-1:before {
      content: "\00a0 << .col-xs-pull-1 \00a0";
    }

    .col-xs-push-1:before {
      content: "\00a0 >> .col-xs-push-1 \00a0";
    }

    .col-xs-2:after {
      content: "\00a0 .col-xs-2 \00a0";
      background-color: #f6e9cd;
    }

    .col-xs-pull-2:before {
      content: "\00a0 << .col-xs-pull-2 \00a0";
    }

    .col-xs-push-2:before {
      content: "\00a0 >> .col-xs-push-2 \00a0";
    }

    .col-xs-3:after {
      content: "\00a0 .col-xs-3 \00a0";
      background-color: #f6e9cd;
    }

    .col-xs-pull-3:before {
      content: "\00a0 << .col-xs-pull-3 \00a0";
    }

    .col-xs-push-3:before {
      content: "\00a0 >> .col-xs-push-3 \00a0";
    }

    .col-xs-4:after {
      content: "\00a0 .col-xs-4 \00a0";
      background-color: #f6e9cd;
    }

    .col-xs-pull-4:before {
      content: "\00a0 << .col-xs-pull-4 \00a0";
    }

    .col-xs-push-4:before {
      content: "\00a0 >> .col-xs-push-4 \00a0";
    }

    .col-xs-5:after {
      content: "\00a0 .col-xs-5 \00a0";
      background-color: #f6e9cd;
    }

    .col-xs-pull-5:before {
      content: "\00a0 << .col-xs-pull-5 \00a0";
    }

    .col-xs-push-5:before {
      content: "\00a0 >> .col-xs-push-5 \00a0";
    }

    .col-xs-6:after {
      content: "\00a0 .col-xs-6 \00a0";
      background-color: #f6e9cd;
    }

    .col-xs-pull-6:before {
      content: "\00a0 << .col-xs-pull-6 \00a0";
    }

    .col-xs-push-6:before {
      content: "\00a0 >> .col-xs-push-6 \00a0";
    }

    .col-xs-7:after {
      content: "\00a0 .col-xs-7 \00a0";
      background-color: #f6e9cd;
    }

    .col-xs-pull-7:before {
      content: "\00a0 << .col-xs-pull-7 \00a0";
    }

    .col-xs-push-7:before {
      content: "\00a0 >> .col-xs-push-7 \00a0";
    }

    .col-xs-8:after {
      content: "\00a0 .col-xs-8 \00a0";
      background-color: #f6e9cd;
    }

    .col-xs-pull-8:before {
      content: "\00a0 << .col-xs-pull-8 \00a0";
    }

    .col-xs-push-8:before {
      content: "\00a0 >> .col-xs-push-8 \00a0";
    }

    .col-xs-9:after {
      content: "\00a0 .col-xs-9 \00a0";
      background-color: #f6e9cd;
    }

    .col-xs-pull-9:before {
      content: "\00a0 << .col-xs-pull-9 \00a0";
    }

    .col-xs-push-9:before {
      content: "\00a0 >> .col-xs-push-9 \00a0";
    }

    .col-xs-10:after {
      content: "\00a0 .col-xs-10 \00a0";
      background-color: #f6e9cd;
    }

    .col-xs-pull-10:before {
      content: "\00a0 << .col-xs-pull-10 \00a0";
    }

    .col-xs-push-10:before {
      content: "\00a0 >> .col-xs-push-10 \00a0";
    }

    .col-xs-11:after {
      content: "\00a0 .col-xs-11 \00a0";
      background-color: #f6e9cd;
    }

    .col-xs-pull-11:before {
      content: "\00a0 << .col-xs-pull-11 \00a0";
    }

    .col-xs-push-11:before {
      content: "\00a0 >> .col-xs-push-11 \00a0";
    }

    .col-xs-12:after {
      content: "\00a0 .col-xs-12 \00a0";
      background-color: #f6e9cd;
    }

    .col-xs-pull-12:before {
      content: "\00a0 << .col-xs-pull-12 \00a0";
    }

    .col-xs-push-12:before {
      content: "\00a0 >> .col-xs-push-12 \00a0";
    }

    .col-xs-offset-0:before {
      content: "\00a0 << .col-xs-offset-0 \00a0";
    }

    .col-xs-offset-1:before {
      content: "\00a0 << .col-xs-offset-1 \00a0";
    }

    .col-xs-offset-2:before {
      content: "\00a0 << .col-xs-offset-2 \00a0";
    }

    .col-xs-offset-3:before {
      content: "\00a0 << .col-xs-offset-3 \00a0";
    }

    .col-xs-offset-4:before {
      content: "\00a0 << .col-xs-offset-4 \00a0";
    }

    .col-xs-offset-5:before {
      content: "\00a0 << .col-xs-offset-5 \00a0";
    }

    .col-xs-offset-6:before {
      content: "\00a0 << .col-xs-offset-6 \00a0";
    }

    .col-xs-offset-7:before {
      content: "\00a0 << .col-xs-offset-7 \00a0";
    }

    .col-xs-offset-8:before {
      content: "\00a0 << .col-xs-offset-8 \00a0";
    }

    .col-xs-offset-9:before {
      content: "\00a0 << .col-xs-offset-9 \00a0";
    }

    .col-xs-offset-10:before {
      content: "\00a0 << .col-xs-offset-10 \00a0";
    }

    .col-xs-offset-11:before {
      content: "\00a0 << .col-xs-offset-11 \00a0";
    }

    .col-xs-offset-12:before {
      content: "\00a0 << .col-xs-offset-12 \00a0";
    }

    body:before {
      content: "\00a0 extra small screen / phone (xs) \00a0";
      background-color: #f6e9cd;
    }

    .clearfix[class*="visible-xs"]:after {
      font-size: 10px;
      font-style: italic;
      color: red;
      width: 100%;
    }

    .clearfix.visible-xs-inline:after {
      content: "\00a0 .clearfix .visible-xs-inline";
    }

    .clearfix.visible-xs-block:after {
      content: "\00a0 .clearfix .visible-xs-block";
    }

    .clearfix.visible-xs-inline-block:after {
      content: "\00a0 .clearfix .visible-xs-inline-block";
    }
  }

  @media(max-width: $screen-xs-min) {
    body:before {
      content: "\00a0 mobile (default) \00a0";
      background-color: #f6e9cd;
    }
  }

  @media(min-width: $screen-xl-min) {
    body:before {
      content: "\00a0 extra large (xl) \00a0";
      background-color: #f6e9cd;
    }
  }
  .debug-grid {
    position: fixed;
    height: auto;
    width: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
  .debug-grid .col-xs-1 {
    height: 15000px;
    outline: none;
    background-color: rgba(204, 102, 0, 0.07);
  }
  .debug-grid .row .col-xs-1:nth-child(even) {
    background-color: rgba(204, 102, 0, 0.02);
  }
  .debug-grid .col-xs-1:after {
    content: "" !important;
  }

}
