
/*pending
---
title: App Status
name: app_status
parent: console
---

```html_example
<div class="started mtxl" id="app_status">
  <div class="circle">
    <div class="content">
      <div class="name">
        <h5 class="mbn">
          <strong class="type-primary-4">APP</strong>
        </h5>
        <h1 class="mtn">App Name</h1>
      </div>
      <div class="started-controls">
        <button class="btn btn-highlight">
          <i class="fa fa-square icon-control"></i>
        </button>
        <button class="btn btn-highlight mll">
          <i class="fa fa-repeat icon-control"></i>
        </button>
      </div>
      <div class="stopped-controls">
        <button class="btn btn-highlight">
          <i class="fa fa-play icon-control"></i>
        </button>
      </div>
    </div>
  </div>
</div>
```
*/

@-webkit-keyframes loadingPulse {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

@-moz-keyframes loadingPulse {
  0% { opacity: 0;}
  50% { opacity: 1; }
  100% { opacity: 0;}
}

@keyframes loadingPulse {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0;}
}

#app_status {
  position: relative;
  $circle-circumference: 1070;

  #svg {
    border-radius: 50%;
    box-shadow: 0px 4px 0px rgba(0, 0, 0, .08);
    background-color: $gray-10;

    circle {
      fill: $gray-10;
      stroke: $gray-10;
      stroke-dashoffset: 0;
      @include transition-pui(stroke-dashoffset, 1s, cubic-bezier(0.55, 0.085, 0.68, 0.53));
      stroke-width: 10px;
    }
  }

  .content {
    position: absolute;
    top: 116px;
    left: 13px;
    width: 325px;

    .name {
      text-align: center;
    }

    .started-controls {
      margin-top: 20px;
      width: 150px;
      position: absolute;
      left: 87px;
      opacity: 1;
      visibility: visible;
      @include transition-pui(opacity, 0.5s, ease-out);
    }
    .stopped-controls {
      margin-top: 20px;
      width: 58px;
      opacity: 1;
      visibility: visible;
      position: absolute;
      left: 134px;
      @include transition-pui(opacity, 0.5s, ease-out);
    }
    .stopping-message, .starting-message, .scaling-message {
      position: absolute;
      opacity: 0;
      visibility: hidden;
      left: 120px;
      margin-top: 20px;
    }
    .just-stopped-message, .just-started-message {
      position: absolute;
      opacity: 0;
      visibility: hidden;
      left: 130px;
      margin-top: -5px;
      color: $gray-5;
    }
  }

  &.stopped {
    .started-controls {
      opacity: 0;
      visibility: hidden;
    }
    #svg circle {
      stroke: $gray-5;
      stroke-dashoffset: 0;
    }
  }

  &.started {
    .stopped-controls {
      opacity: 0;
      visibility: hidden;
    }
    #svg circle {
      stroke: $teal-3;
      stroke-dashoffset: 0;
    }
  }

  &.crashing {
    .stopped-controls {
      opacity: 0;
      visibility: hidden;
    }
    #svg circle {
      stroke: $red-3;
      stroke-dashoffset: 0;
    }
  }

  &.transitioning {
    .started-controls, .stopped-controls {
      opacity: 0;
      visibility: hidden;
    }
  }

  &.begin-transitioning {
    #svg circle {
      stroke-dashoffset: -$circle-circumference;
    }
  }

  &.starting {
    .starting-message {
      opacity: 1;
      visibility: visible;
    }
    &.begin-transitioning {
      .starting-message {
        -webkit-transition: opacity 1000ms ease-out 600ms;
        -moz-transition: opacity 1000ms ease-out 600ms;
        transition: opacity 1000ms ease-out 600ms;
        @include animation(loadingPulse 1.4s ease-in-out 600ms infinite);
      }
    }
  }

  &.stopping {
    .stopping-message {
      opacity: 1;
      visibility: visible;
    }
    &.begin-transitioning {
      .stopping-message {
        -webkit-transition: opacity 1000ms ease-out 600ms;
        -moz-transition: opacity 1000ms ease-out 600ms;
        transition: opacity 1000ms ease-out 600ms;
        @include animation(loadingPulse 1.4s ease-in-out 600ms infinite);
      }
    }
  }

  &.restarting {
    .starting-message {
      opacity: 1;
      visibility: visible;
    }
    &.begin-transitioning {
      .starting-message {
        -webkit-transition: opacity 1000ms ease-out 600ms;
        -moz-transition: opacity 1000ms ease-out 600ms;
        transition: opacity 1000ms ease-out 600ms;
        @include animation(loadingPulse 1.4s ease-in-out 600ms infinite);
      }
    }
  }

  &.scaling {
    .scaling-message {
      opacity: 1;
      visibility: visible;
    }

    &.scaling-with-restage{
      &.begin-transitioning {
        .scaling-message {
          -webkit-transition: opacity 1000ms ease-out 600ms;
          -moz-transition: opacity 1000ms ease-out 600ms;
          transition: opacity 1000ms ease-out 600ms;
          @include animation(loadingPulse 1.4s ease-in-out 600ms infinite);
        }
      }
    }

    &.scaling-without-restage{
      .scaling-message {
        -webkit-transition: opacity 1000ms ease-out 600ms;
        -moz-transition: opacity 1000ms ease-out 600ms;
        transition: opacity 1000ms ease-out 600ms;
        @include animation(loadingPulse 1.4s ease-in-out 600ms infinite);
      }

      #svg circle {
        stroke-dashoffset: 0;
      }
    }

  }

  &.just-started {
    .just-started-message {
      @include transition-pui(opacity, 0.5s, ease-out);
      opacity: 1;
      visibility: visible;
    }
  }

  &.just-stopped {
    .just-stopped-message {
      @include transition-pui(opacity, 0.5s, ease-out);
      opacity: 1;
      visibility: visible;
    }
  }
}


/*pending
---
title: App Health Indicator
name: app_health_indicator
parent: console
---

This component indicates application health. It has two sizes, many states, and can be editable or not depending on user permissions.

## States

The application health indicator can be `.running`, `.warning_75`, `.warning_50`, `.warning_25`, `.warning_0`, `.stopped`.

<div class="row">
  <div class="col-md-4">
    <div class="health running editable">
      <form accept-charset="UTF-8" action="/organizations/org-id/spaces/space-id/applications/application-id" class="state_form" id="edit_application_application-id" method="post">
        <input name="utf8" type="hidden" value="✓">
        <input name="_method" type="hidden" value="put">
        <input name="authenticity_token" type="hidden" value="token-value">
        <input id="application_state" name="application[state]" type="hidden" value="STOPPED">
        <input class="indicator" data-action="Stop" data-confirm="Are you sure you want to stop app?" name="commit" title="Stop" type="submit" value="">
        <div class="value">100%</div>
      </form>
    </div>
  </div>
  <div class="col-md-4">
    <div class="health warning_75 editable">
      <form accept-charset="UTF-8" action="/organizations/org-id/spaces/space-id/applications/application-id" class="state_form" id="edit_application_application-id" method="post">
        <input name="utf8" type="hidden" value="✓">
        <input name="_method" type="hidden" value="put">
        <input name="authenticity_token" type="hidden" value="token-value">
        <input id="application_state" name="application[state]" type="hidden" value="STOPPED">
        <input class="indicator" data-action="Stop" data-confirm="Are you sure you want to stop app?" name="commit" title="Stop" type="submit" value="">
        <div class="value">75%</div>
      </form>
    </div>
  </div>
  <div class="col-md-4">
    <div class="health warning_50 editable">
      <form accept-charset="UTF-8" action="/organizations/org-id/spaces/space-id/applications/application-id" class="state_form" id="edit_application_application-id" method="post">
        <input name="utf8" type="hidden" value="✓">
        <input name="_method" type="hidden" value="put">
        <input name="authenticity_token" type="hidden" value="token-value">
        <input id="application_state" name="application[state]" type="hidden" value="STOPPED">
        <input class="indicator" data-action="Stop" data-confirm="Are you sure you want to stop app?" name="commit" title="Stop" type="submit" value="">
        <div class="value">50%</div>
      </form>
    </div>
  </div>
  <div class="col-md-4">
    <div class="health warning_25 editable">
      <form accept-charset="UTF-8" action="/organizations/org-id/spaces/space-id/applications/application-id" class="state_form" id="edit_application_application-id" method="post">
        <input name="utf8" type="hidden" value="✓">
        <input name="_method" type="hidden" value="put">
        <input name="authenticity_token" type="hidden" value="token-value">
        <input id="application_state" name="application[state]" type="hidden" value="STOPPED">
        <input class="indicator" data-action="Stop" data-confirm="Are you sure you want to stop app?" name="commit" title="Stop" type="submit" value="">
        <div class="value">25%</div>
      </form>
    </div>
  </div>
  <div class="col-md-4">
    <div class="health warning_0 editable">
      <form accept-charset="UTF-8" action="/organizations/org-id/spaces/space-id/applications/application-id" class="state_form" id="edit_application_application-id" method="post">
        <input name="utf8" type="hidden" value="✓">
        <input name="_method" type="hidden" value="put">
        <input name="authenticity_token" type="hidden" value="token-value">
        <input id="application_state" name="application[state]" type="hidden" value="STOPPED">
        <input class="indicator" data-action="Stop" data-confirm="Are you sure you want to stop app?" name="commit" title="Stop" type="submit" value="">
        <div class="value">0%</div>
      </form>
    </div>
  </div>
  <div class="col-md-4">
    <div class="health stopped editable">
      <form accept-charset="UTF-8" action="/organizations/org-id/spaces/space-id/applications/application-id" class="state_form" id="edit_application_application-id" method="post">
        <input name="utf8" type="hidden" value="✓">
        <input name="_method" type="hidden" value="put">
        <input name="authenticity_token" type="hidden" value="token-value">
        <input id="application_state" name="application[state]" type="hidden" value="STARTED">
        <input class="indicator" data-action="Start" data-confirm="Are you sure you want to start app?" name="commit" title="Start" type="submit" value="">
        <div class="value">stopped</div>
      </form>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-4">
    <div class="health health-indicator-large running editable">
      <form accept-charset="UTF-8" action="/organizations/org-id/spaces/space-id/applications/application-id" class="state_form" id="edit_application_application-id" method="post">
        <input name="utf8" type="hidden" value="✓">
        <input name="_method" type="hidden" value="put">
        <input name="authenticity_token" type="hidden" value="token-value">
        <input id="application_state" name="application[state]" type="hidden" value="STOPPED">
        <input class="indicator" data-action="Stop" data-confirm="Are you sure you want to stop app?" name="commit" title="Stop" type="submit" value="">
        <div class="value">100%</div>
      </form>
    </div>
  </div>
  <div class="col-md-4">
    <div class="health health-indicator-large warning_75 editable">
      <form accept-charset="UTF-8" action="/organizations/org-id/spaces/space-id/applications/application-id" class="state_form" id="edit_application_application-id" method="post">
        <input name="utf8" type="hidden" value="✓">
        <input name="_method" type="hidden" value="put">
        <input name="authenticity_token" type="hidden" value="token-value">
        <input id="application_state" name="application[state]" type="hidden" value="STOPPED">
        <input class="indicator" data-action="Stop" data-confirm="Are you sure you want to stop app?" name="commit" title="Stop" type="submit" value="">
        <div class="value">75%</div>
      </form>
    </div>
  </div>
  <div class="col-md-4">
    <div class="health health-indicator-large warning_50 editable">
      <form accept-charset="UTF-8" action="/organizations/org-id/spaces/space-id/applications/application-id" class="state_form" id="edit_application_application-id" method="post">
        <input name="utf8" type="hidden" value="✓">
        <input name="_method" type="hidden" value="put">
        <input name="authenticity_token" type="hidden" value="token-value">
        <input id="application_state" name="application[state]" type="hidden" value="STOPPED">
        <input class="indicator" data-action="Stop" data-confirm="Are you sure you want to stop app?" name="commit" title="Stop" type="submit" value="">
        <div class="value">50%</div>
      </form>
    </div>
  </div>
  <div class="col-md-4">
    <div class="health health-indicator-large warning_25 editable">
      <form accept-charset="UTF-8" action="/organizations/org-id/spaces/space-id/applications/application-id" class="state_form" id="edit_application_application-id" method="post">
        <input name="utf8" type="hidden" value="✓">
        <input name="_method" type="hidden" value="put">
        <input name="authenticity_token" type="hidden" value="token-value">
        <input id="application_state" name="application[state]" type="hidden" value="STOPPED">
        <input class="indicator" data-action="Stop" data-confirm="Are you sure you want to stop app?" name="commit" title="Stop" type="submit" value="">
        <div class="value">25%</div>
      </form>
    </div>
  </div>
  <div class="col-md-4">
    <div class="health health-indicator-large warning_0 editable">
      <form accept-charset="UTF-8" action="/organizations/org-id/spaces/space-id/applications/application-id" class="state_form" id="edit_application_application-id" method="post">
        <input name="utf8" type="hidden" value="✓">
        <input name="_method" type="hidden" value="put">
        <input name="authenticity_token" type="hidden" value="token-value">
        <input id="application_state" name="application[state]" type="hidden" value="STOPPED">
        <input class="indicator" data-action="Stop" data-confirm="Are you sure you want to stop app?" name="commit" title="Stop" type="submit" value="">
        <div class="value">0%</div>
      </form>
    </div>
  </div>
  <div class="col-md-4">
    <div class="health health-indicator-large stopped editable">
      <form accept-charset="UTF-8" action="/organizations/org-id/spaces/space-id/applications/application-id" class="state_form" id="edit_application_application-id" method="post">
        <input name="utf8" type="hidden" value="✓">
        <input name="_method" type="hidden" value="put">
        <input name="authenticity_token" type="hidden" value="token-value">
        <input id="application_state" name="application[state]" type="hidden" value="STARTED">
        <input class="indicator" data-action="Start" data-confirm="Are you sure you want to start app?" name="commit" title="Start" type="submit" value="">
        <div class="value">stopped</div>
      </form>
    </div>
  </div>
</div>

## Sizes

The application health indicator can be large or small using the `.health` and `.health health-indicator-large` classes.

<div class="row">
  <div class="col-md-4">
    <p>Small</p>
    <div class="health running editable">
      <form accept-charset="UTF-8" action="/organizations/org-id/spaces/space-id/applications/application-id" class="state_form" id="edit_application_application-id" method="post">
        <input name="utf8" type="hidden" value="✓">
        <input name="_method" type="hidden" value="put">
        <input name="authenticity_token" type="hidden" value="token-value">

        <input id="application_state" name="application[state]" type="hidden" value="STOPPED">
        <input class="indicator" data-action="Stop" data-confirm="Are you sure you want to stop app?" name="commit" title="Stop" type="submit" value="">
        <div class="value">100%</div>
      </form>
    </div>
  </div>
  <div class="col-md-4">
    <p>large</p>
      <div class="health health-indicator-large running editable">
      <form accept-charset="UTF-8" action="/organizations/org-id/spaces/space-id/applications/application-id" class="state_form" id="edit_application_application-id" method="post">
        <input name="utf8" type="hidden" value="✓">
        <input name="_method" type="hidden" value="put">
        <input name="authenticity_token" type="hidden" value="token-value">

        <input id="application_state" name="application[state]" type="hidden" value="STOPPED">
        <input class="indicator" data-action="Stop" data-confirm="Are you sure you want to stop app?" name="commit" title="Stop" type="submit" value="">
        <div class="value">100%</div>
      </form>
    </div>
  </div>
</div>

## Enforcing Permissions

Depending if the user has permission to start and stop applications, the application health indicator will be `.editable` or not.

<div class="row mbl">
  <div class="col-md-4">
    <p>Not Editable</p>
    <div class="health running">
      <form accept-charset="UTF-8" action="/organizations/org-id/spaces/space-id/applications/application-id" class="state_form" id="edit_application_application-id" method="post">
        <input name="utf8" type="hidden" value="✓">
        <input name="_method" type="hidden" value="put">
        <input name="authenticity_token" type="hidden" value="token-value">

        <input id="application_state" name="application[state]" type="hidden" value="STOPPED">
        <input class="indicator" data-action="Stop" data-confirm="Are you sure you want to stop app?" name="commit" title="Stop" type="submit" value="">
        <div class="value">100%</div>
      </form>
    </div>
  </div>
  <div class="col-md-4">
    <p>Editable</p>
    <div class="health running editable">
      <form accept-charset="UTF-8" action="/organizations/org-id/spaces/space-id/applications/application-id" class="state_form" id="edit_application_application-id" method="post">
        <input name="utf8" type="hidden" value="✓">
        <input name="_method" type="hidden" value="put">
        <input name="authenticity_token" type="hidden" value="token-value">

        <input id="application_state" name="application[state]" type="hidden" value="STOPPED">
        <input class="indicator" data-action="Stop" data-confirm="Are you sure you want to stop app?" name="commit" title="Stop" type="submit" value="">
        <div class="value">100%</div>
      </form>
    </div>
  </div>
</div>

These states are handled automatically when you use the `application_state_indicator()`
helper in your templates. The latter parameter determines the size. The first
parameter is the application affected by the actions of the application health indicator.

```erb
<%= application_state_indicator(application) %>
<%= application_state_indicator(application, {:large_indicator: true}) %>
```

*/



.health {
  width: $health-indicator-size;
  position: relative;

  form {
    margin: 0;
  }

  input:focus {
    outline: none;
  }

  .value {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: $health-indicator-size;
    width: $health-indicator-size;
    font-size: $health-indicator-font-size;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -1px;
    z-index: 2;
  }

  .indicator {
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;

    border: none;
    width: $health-indicator-size;
    height: $health-indicator-size;
    box-shadow: none;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 1;
  }

  &.editable:hover:before {
    content: "\f04d";
    font-family: FontAwesome;
    color: $link-color;
    position: absolute;
    top: 50%;
    left: 50%;
    cursor: pointer;
    z-index: 0;

    font-size: 12px;
    margin-top: -8px;
    margin-left: -5px;
  }

  form {
    position: relative;
    &:before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      border-radius: 300px;
      border: 7px solid $health-indicator-stopped-color;

      @include rotate(45deg);
    }
  }

  &.health-indicator-large {
    form {
      &:before {
        border-width: 12px;
      }
    }
  }

  &.running {
    form:before {
      border-color: $health-indicator-running-color;
    }
  }

  &.stopped {
    form:before {
      border-color: $health-indicator-stopped-color;
    }

    &.editable:hover:before {
      content: "\f04b";
      font-family: FontAwesome;
      font-size: 15px;
      margin-top: -11px;
      margin-left: -4px;
    }
  }

  &.warning_0 {
    form:before {
      border-color: $health-indicator-warn-color;
    }
  }

  &.warning_25 {
    form:before {
      border-top-color: $health-indicator-warn-color;
    }
  }

  &.warning_50 {
    form:before {
      border-top-color: $health-indicator-warn-color;
      border-right-color: $health-indicator-warn-color;
    }
  }

  &.warning_75 {
    form:before {
      border-color: $health-indicator-warn-color $health-indicator-warn-color $health-indicator-warn-color $health-indicator-stopped-color;
    }
  }

  &.editable:hover .value {
    display: none;
  }
}

.health-indicator-large {
  width: 64px;
  height: 64px;
  margin: auto;

  font-size: $health-indicator-large-font-size;
  width: $health-indicator-large-size;

  &.editable:hover:before {
    font-size: 20px;
    margin-top: -14px;
    margin-left: -8px;
  }

  &.stopped.editable:hover:before {
    font-size: 20px;
    margin-top: -14px;
    margin-left: -6px;
  }

  .value {
    line-height: $health-indicator-large-size;
    width: $health-indicator-large-size;
    font-size: $health-indicator-large-font-size;
  }

  .indicator {
    width: $health-indicator-large-size;
    height: $health-indicator-large-size;
  }

}
