/*doc
---
title: Labels
name: label
categories:
  - Elements
  - All
---

Labels are based on Bootstrap's labels.
Here's an example of a label on its own.

```haml_example_table
<span class="label label-primary">new</span>
```

You can also place labels within HTML elements.
It will be sized based on the element's font size and its font modifiers.

```html_example_table
<p>I am a P.
  <span class="label label-primary">new</span>
</p>

<h3>I am an H3.
  <span class="label label-primary">new</span>
</h3>

<h3 class="h5">I am an H3 with an H5 modifier.
  <span class="label label-primary">new</span>
</h3>

```
*/

.label {
  padding: 0.2em 0.6em;
  border-radius: 3px;
  text-transform: uppercase;
}
