/*doc
---
title: Labels
name: label
categories:
  - All
  - Elements
---

Labels are based on Bootstrap's labels. You can place them on their own or within an HTML element. It will be sized based on the element's font size and listens to font size modifiers.

```haml_example

%span.label.label-primary
  new

%p
  I am a P.
  %span.label.label-primary
    new

%h1
  I am an H1.
  %span.label.label-primary
    new

%h1.h5
  I am an H1 with an H5 modifier.
  %span.label.label-primary
    new
```
*/

.label {
  padding: 1px 3px;
  border-radius: 3px;
  text-transform: uppercase;
}

/*doc
---
title: Removable Labels
name: removable_label
parent: label
---

Removable labels are used as tags in an editable list. The user will either enter text or select content (i.e.: a dropdown item), and it will be styled as a removable label (most likely in a list). Developers who use these labels must implement the close functionality for when the user clicks the close button. 

```html_example

  <span class="label-removable">Removable
    <a class="close-btn fa fa-close"></a>
  </span>

  <h1>
    I am an H1.
    <span class="label-removable">Removable
      <a class="close-btn fa fa-close"></a>
    </span>
  </h1>

```
*/

.label-removable {
  padding: 4px 7px;
  border-radius: 3px;
  color: $neutral-11;
  opacity: 0.6;
  font-weight: $font-weight-em-high;
  word-spacing: 1px;
  background-color: $brand-2;
  font-family: $font-family-sans-serif;
}

.label-removable .close-btn {
  padding: 4px 3px 4px 15px;
  color: $neutral-11;
  opacity: 0.6;

  &:hover {
        color: $neutral-11;
        opacity: 1;
    }
}