/*doc
---
title: Layout Lists
name: layout_lists
categories:
  - All
  - Layout
---

Sometimes you might want to use lists to lay out elements on the page. They are particularly useful when you don't know the width of the element you want to layout, or you want to vertically align it.

[Inline lists](/elements.html?target=list-inline) and [vertical divider lists](/elements.html?target=list-vertical-divider) are good for those situations.

*/