/*doc
---
title: Links
name: link
categories:
  - Elements
  - All
---

Add the class `link-text` on any text links.
This will make the link underlined on hover (except lowlight links).

```html_example
<a class="link-text" href="http://bitly.com/11vCzUx">
  <i class="fa fa-plus"></i> Click me!
</a>
```

There are four different kinds of links you can use to connect related content.
In most cases (unless the designer specifically asks for another type of link)
you should choose the default link.

Link                                                                                                              | Class                           | Description
--------------------------------------------------------------------------------------------------------------    | ----------------------------    | -----------
<a class="link-text" href="http://bit.ly/1ulOAW7" target="_blank">default link</a>                                | `link-text`                     | Important links
<a class="link-text link-lowlight" href="http://bit.ly/1ulOAW7" target="_blank">lowlight link</a>                 | `link-text link-lowlight`       | Less important links
<a class="link-text link-lowlight-alt" href="http://bit.ly/1ulOAW7" target="_blank">lowlight link alternate</a>   | `link-text link-lowlight-alt`   | Less important links
<a class="link-text link-inverse bg-dark-1" href="http://bit.ly/1ulOAW7" target="_blank">inverse link</a>         | `link-text link-inverse`        | I go on a non-white background

```html_example
Here's a <a class="link-text link-lowlight" href="http://bit.ly/1wO7Nhv">less important link</a>
```

*/

a{
  @include transition-pui();

  &:hover {
    cursor: pointer;
    text-decoration: none;
  }

  &.link-text {
    &:not(.link-lowlight):hover {
      text-decoration: underline;
    }
  }
}


.link-lowlight {
  font-weight: $link-lowlight-font-weight;
  color: $link-lowlight-color;

  &:hover {
    color: $link-lowlight-hover-color;
  }
}

.link-lowlight-alt {
  color: $link-lowlight-alt-color;

  &:hover {
    color: $link-lowlight-alt-hover-color;
  }
}

.link-inverse {
  color: $link-inverse-color;

  &:hover {
    color: $link-inverse-hover-color;
  }
}

/*pending
---
title: Gentle Scroll Links
name: gentle-scroll
categories:
  - Utilities
  - JavaScript
  - All
---

If you want to gently scroll from one part of the page to another, you'll need to add
a `data-behavior: GentleScroll` to the trigger element as well as an `href` for the
id of the target it will scroll to.

```haml_example
%a.btn.btn-default{"data-behavior" => "GentleScroll", :href => "#scroll-target"} Scroll Trigger
```
It can scroll to anything, in this case, we'll use a text input.

```haml_example
%input#scroll-target.form-control{:type => "text", :placeholder => "Scroll target"}
```
*/

