/*doc
---
title: Media
name: media
categories:
  - All
  - Layout
---

The default media allow to float a media object (images, video, audio) to the left or right of a content block.

```haml_example
.media
  %a.pull-left{:href => "#"}
    %img.media-object{:alt => "...", :src => "http://placehold.it/64x64"}
  .media-body
    %h4.media-heading Media heading
    %p
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
```

Wrap the image in a fixed-size `.image-container` to make sure the image isn't
larger than the container

```haml_example
.media
  %a.pull-left{:href => "#"}
    .image-container{style: "width: 100px; height: 50px;"}
      %img.media-object{:alt => "...", :src => "http://placehold.it/64x64"}
  .media-body
    %h4.media-heading Media heading
    %p
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
```

You can also make the media block stack with grid columns

```haml_example
.media.media-stackable-md
  %a.pull-left{:href => "#"}
    %img.media-object{:alt => "...", :src => "http://placehold.it/200x200"}
  .media-body
    %h4.media-heading Media heading
    %p Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
```
*/


.media-stackable-xs{
  @media (max-width: $screen-xs) {
    > .pull-left {
      margin-right: 0 !important;
      display: block;
      float: none;
      .media-object {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
.media-stackable-sm{
  @media (max-width: $screen-sm) {
    > .pull-left {
      margin-right: 0 !important;
      display: block;
      float: none;
      .media-object {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
.media-stackable-md{
  @media (max-width: $screen-md) {
     .pull-left {
      display: block;
      float:none;
      clear:both;
      margin:0 auto !important;
      .media-object {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
.media-stackable-lg{
  @media (max-width: $screen-lg) {
    > .pull-left {
      margin:0 auto;
      display: block;
      float: none;
      .media-object {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

/*doc
---
title: Media Flag
name: media_flag
parent: media
---

Sometimes you will want a media object that is vertically centered. You must wrap the flag object with `.media-flag` and the image and body content will need to be wrapped with `.flag-image` and `.flag-body` respectively. These are examples of the flag object with the image on the left.

```haml_example

.media-flag
  .flag-image
    %img{:alt => "...", :src => "http://placehold.it/64x64"}
  .flag-body
    %p.mbn Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

%br
%br

.media-flag
  .flag-image
    %img{:alt => "...", :src => "http://placehold.it/64x64"}
  .flag-body
    %p.mbn Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
```

This example is of the flag object with the image on the right. You can also change the vertical alignment by using `.flag-top` and `.flag-bottom`.

```haml_example

.media-flag.flag-bottom.flag-rev
  .flag-body.txt-r
    %p.mbn Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. Cras sit amet nibh libero, in gravida nulla. 
  .flag-image
    %img{:alt => "...", :src => "http://placehold.it/64x64"}
```

*/
.media-flag {
    display: table;
    width: 100%;
}

.flag-image,
.flag-body {
    display: table-cell;
    vertical-align: middle;

    .flag-top & {
        vertical-align: top;
    }

    .flag-bottom & {
        vertical-align: bottom;
    }

}

.flag-image {
    padding-right: 10px;

    > img {
        display: block;
        max-width: none;
    }

    .flag-rev & {
        padding-right: 0;
        padding-left: 10px;
    }

}

.flag-body {
    width: 100%;
}
