/*doc
---
title: Media
name: media
categories:
  - All
  - Layout
---

The default media allow to float a media object (images, video, audio) to the left or right of a content block.

```haml_example
.media
  %a.pull-left{:href => "#"}
    %img.media-object{:alt => "...", :src => "http://placehold.it/64x64"}
  .media-body
    %h4.media-heading Media heading
    %p
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
```

Wrap the image in a fixed-size `.image-container` to make sure the image isn't
larger than the container

```haml_example
.media
  %a.pull-left{:href => "#"}
    .image-container{style: "width: 100px; height: 50px;"}
      %img.media-object{:alt => "...", :src => "http://placehold.it/64x64"}
  .media-body
    %h4.media-heading Media heading
    %p
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
```

You can also make the media block stack with grid columns

```haml_example
.media.media-stackable-md
  %a.pull-left{:href => "#"}
    %img.media-object{:alt => "...", :src => "http://placehold.it/200x200"}
  .media-body
    %h4.media-heading Media heading
    %p Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
```
*/


.media-stackable-xs{
  @media (max-width: $screen-xs) {
    > .pull-left {
      margin-right: 0 !important;
      display: block;
      float: none;
      .media-object {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
.media-stackable-sm{
  @media (max-width: $screen-sm) {
    > .pull-left {
      margin-right: 0 !important;
      display: block;
      float: none;
      .media-object {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
.media-stackable-md{
  @media (max-width: $screen-md) {
     .pull-left {
      display: block;
      float:none;
      clear:both;
      margin:0 auto !important;
      .media-object {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
.media-stackable-lg{
  @media (max-width: $screen-lg) {
    > .pull-left {
      margin:0 auto;
      display: block;
      float: none;
      .media-object {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
