/*doc
---
title: Media
name: media
categories:
  - Layout
  - All
---

The default media displays a media object (images, video, audio) to the left or right of a content block.

```html_example
<div class="media">
  <a class="media-left" href="#">
    <img alt="..." class="media-object" src="http://placehold.it/64x64"/>
  </a>
  <div class="media-body">
    <h4 class="media-heading">Media heading</h4>
    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
  </div>
</div>

<div class="media">
  <div class="media-body">
    <h4 class="media-heading">Media heading</h4>
    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
  </div>
  <a class="media-right" href="#">
    <img alt="..." class="media-object" src="http://placehold.it/64x64"/>
  </a>
</div>
```

Wrap the image in a fixed-size `.image-container` to make sure the image isn't
larger than the container

```html_example
<div class="media">
  <a class="media-left" href="#">
    <div class="image-container" style="width: 100px; height: 50px;">
      <img alt="..." class="media-object" src="http://placehold.it/64x64"/>
    </div>
  </a>
  <div class="media-body">
    <h4 class="media-heading">Media heading</h4>
    <p>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </p>
  </div>
</div>
```

You can also nest media objects inside of each other (useful for comment threads or articles lists).

```html_example
<div class="media">
  <a class="media-left" href="#" target="_blank">
    <img alt="..." class="media-object" src="http://placehold.it/64x64">
  </a>
  <div class="media-body">
    <h4 class="media-heading">Media heading</h4>
    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>

    <!-- Nested media object -->
    <div class="media">
      <a class="media-left" href="#" target="_blank">
        <img alt="..." class="media-object" src="http://placehold.it/64x64">
      </a>
      <div class="media-body">
        <h4 class="media-heading">Nested media heading</h4>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.

        <!-- Nested media object -->
        <div class="media">
          <a class="media-left" href="#" target="_blank">
            <img alt="..." class="media-object" src="http://placehold.it/64x64">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Nested media heading</h4>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
          </div>
        </div>
      </div>
    </div>

    <!-- Nested media object -->
    <div class="media">
      <a class="media-left" href="#" target="_blank">
        <img alt="..." class="media-object" src="http://placehold.it/64x64">
      </a>
      <div class="media-body">
        <h4 class="media-heading">Nested media heading</h4>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
      </div>
    </div>
  </div>
</div>
```

*/

/*doc
---
title: Alignment
name: media_alignment
parent: media
---

The images or other media can be aligned top, middle, or bottom. The default is top aligned.

```html_example
<div class="media">
  <a class="media-left" href="#" target="_blank">
    <img alt="..." class="media-object" src="http://placehold.it/40x40">
  </a>
  <div class="media-body">
    <h4 class="media-heading">Top aligned media</h4>
    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
  </div>
</div>

<div class="media">
  <a class="media-left media-middle" href="#" target="_blank">
    <img alt="..." class="media-object" src="http://placehold.it/40x40">
  </a>
  <div class="media-body">
    <h4 class="media-heading">Middle aligned media</h4>
    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
  </div>
</div>

<div class="media">
  <a class="media-left media-bottom" href="#" target="_blank">
    <img alt="..." class="media-object" src="http://placehold.it/40x40">
  </a>
  <div class="media-body">
    <h4 class="media-heading">Bottom aligned media</h4>
    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
  </div>
</div>
```

*/




/*doc
---
title: Stackable
name: media_stackable
parent: media
---


You can also make the media block stack with grid columns.
Media objects switch from being stacked on top to being floated left of the media body as the screen size gets larger.
For example, `.media-stackable-xs` is stacked on screen sizes from 0-480px and then left floated on larger screens.

```html_example
<div class="media media-stackable-xs">
  <a class="media-left" href="#" target="_blank">
    <img alt="..." class="media-object" src="http://placehold.it/100x100">
  </a>
  <div class="media-body">
    <p>Extra-small stackable</p>
  </div>
</div>

<div class="media media-stackable-sm">
  <a class="media-left" href="#" target="_blank">
    <img alt="..." class="media-object" src="http://placehold.it/100x100">
  </a>
  <div class="media-body">
    <p>Small stackable</p>
  </div>
</div>

<div class="media media-stackable-md">
  <a class="media-left" href="#" target="_blank">
    <img alt="..." class="media-object" src="http://placehold.it/100x100">
  </a>
  <div class="media-body">
    <p>Medium stackable</p>
  </div>
</div>

<div class="media media-stackable-lg">
  <a class="media-left" href="#" target="_blank">
    <img alt="..." class="media-object" src="http://placehold.it/100x100">
  </a>
  <div class="media-body">
    <p>Large stackable</p>
  </div>
</div>
```

*/

@mixin media-stackable($max-width) {
  @media (max-width: $max-width) {
    > .pull-left, .media-left {
      display: block;
      float: none;
      clear: both;
      margin: 0 auto 10px auto !important;
      .media-object {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

.media {
  &.media-stackable-xs{
    @include media-stackable($screen-xs);
  }

  &.media-stackable-sm {
    @include media-stackable($screen-sm);
  }

  &.media-stackable-md {
    @include media-stackable($screen-md);
  }

  &.media-stackable-lg {
    @include media-stackable($screen-lg);
  }

  .media-body {
    width: 1000000px;
  }
}


/*doc
---
title: React Media
name: media_react
category: Beta
---

## General media object modifiers

Media Modifiers     | Options                                        | Description
------------------- | ---------------------------------------------- | --------------------------------------------------------------------------
`bodyAlignment`     | top (default), "middle", "bottom"              | Vertical alignment of the body (used for large images with small content next to it, usually centered)
`stackSize    `     | "xsmall", "small", "medium", "large"           | At what breakpoint should the media object stack

The images or other media can be aligned top, middle, or bottom. The default is top aligned.

The base button renderer. You won't really interact with this directly.

```html_example
<div id="media-basic-example"></div>
```

```jsx_example
var image = <img src='http://placehold.it/50x50' />
var linkedImage = <img src='http://placehold.it/50x50' href="http://google.com" />
var alignedImage = <img src='http://placehold.it/50x50' alignment='middle' />

React.render(
  <div>
    <Media
      leftImage={image}>
        left media
    </Media>

    <Media
        rightImage={linkedImage}>
        right media
    </Media>

    <Media
      leftImage={image}
      rightImage={image}
      bodyAlignment='middle'
      stackSize='medium'>
        left and right media
    </Media>
  </div>,
  document.getElementById('media-basic-example')
);
```

```html_example
<div id="media-alignment-example"></div>
```

```jsx_example
var image = <img href='http://www.google.com' src='http://placehold.it/50x50'/>
var middleAlignedImage = <img href='http://www.google.com' src='http://placehold.it/50x50' alignment='middle' />
var bottomAlignedImage = <img href='http://www.google.com' src='http://placehold.it/50x50' alignment='bottom' />

React.render(
  <div>
    <Media
      leftImage={image}>
        top aligned image - Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </Media>

    <Media
      leftImage={middleAlignedImage}>
        middle aligned image - Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </Media>

    <Media
      leftImage={middleAlignedImage}
      bodyAlignment='middle'>
        middle aligned and middle body (for short text and big images)
    </Media>

    <Media
      leftImage={bottomAlignedImage}>
        bottom aligned - Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </Media>
  </div>,
  document.getElementById('media-alignment-example')
);
```
## Image spacing

Media spacing can be added to the left and right medias. If no spacing is defined, it defaults to large.

```html_example
<div id="media-image-spacing-example"></div>
```

```jsx_example
var image = <img href='http://www.google.com' src='http://placehold.it/50x50'/>
var smallSpaceImage =  <img href='http://www.google.com' src='http://placehold.it/50x50' spacing='small'/>
var mediumSpaceImage =  <img href='http://www.google.com' src='http://placehold.it/50x50' spacing='medium'/>
var largeSpaceImage =  <img href='http://www.google.com' src='http://placehold.it/50x50' spacing='large'/>
var xlargeSpaceImage =  <img href='http://www.google.com' src='http://placehold.it/50x50' spacing='xlarge'/>

React.render(
  <div>
    <Media
      leftImage={image}>
        default image spacing media
    </Media>

    <Media
      leftImage={smallSpaceImage}>
        small image spacing media
    </Media>

    <Media
      leftImage={mediumSpaceImage}>
        medium image spacing media
    </Media>

    <Media
      leftImage={largeSpaceImage}>
        large image spacing media
    </Media>

    <Media
      leftImage={xlargeSpaceImage}>
        xlarge image spacing media
    </Media>
  </div>,
  document.getElementById('media-image-spacing-example')
);
```
## Setting image dimensions

```html_example
<div id="media-image-dimensions-example"></div>
```

```jsx_example
React.render(
  <div>
    <Media
      leftImageHref='http://www.google.com'
      leftImageSource='http://placehold.it/50x50'
      leftImageHeight='25px'
      leftImageWidth='25px'>
        Sized image in a media block
    </Media>
  </div>,
  document.getElementById('media-image-dimensions-example')
);
```

*/
