/*doc
---
title: Modals
name: modal
categories:
  - JavaScript
  - All
---

Modals bring desired content to the foreground and de-emphasize the rest of the page.

<!-- Button trigger modal -->
<button class="btn btn-primary" data-toggle="modal" data-target="#myModal">
  Launch basic modal
</button>
<button class="btn btn-primary" data-toggle="modal" data-target="#myAltModal">
  Launch alternate modal
</button>

<!-- Modal Basic -->
<div class="modal fade modal-basic" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-lowlight" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Alternate -->
<div class="modal fade modal-alt" id="myAltModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-lowlight" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
*/


.modal {

  .modal-dialog {
    padding-top: 50px;
  }
  .modal-content {
    border-radius: $modal-basic-content-border-radius;
    border-width: 0;
    box-shadow: none;
    -webkit-box-shadow:none;
  }

  .modal-header {
    padding: $modal-inner-padding/2;
  }

  .modal-footer {
    padding: $modal-inner-padding/2;
    background-color: $modal-basic-footer-bg;
    text-align: right;
    border-top:0px;
  }
}

.modal.modal-basic {
  .modal-header {
    background-color: $modal-basic-header-bg;
    .modal-title{
      color: $modal-basic-title-color;
      text-transform:uppercase;
      font-weight:900;
    }
  }
}


//.modal-backdrop {
//  &.in {
//    @include opacity($modal-backdrop-opacity); //bootstrap override
//  }
//}

.modal.modal-alt {
  .modal-header {
    background-color: $modal-alt-header-bg;
    .modal-title{
      color: $modal-alt-title-color;
      font-weight:900;
    }
    .close {
      color: $modal-alt-title-color;
    }
  }
}

/*pending
---
title: Inline
name: modal_inline
parent: modal
---

```haml_example
.inline-modal{'ng-controller' => 'InlineModalExampleCtrl', 'ng-cloak' => true, 'ng-class' => 'inlineModalExample.state'}
  .modal-backdrop.animate-show
  .content
    .panel.panel-shadow
      .panel-body.pavxl.phxxl
        I'm the content!
        %a{'ng-click' => 'activateInlineModal()', 'ng-show' => 'inlineModalExample.state === "showing"'} Click here to inline-modal me.
        %a{'ng-click' => 'deactivateInlineModal()', 'ng-show' => 'inlineModalExample.state === "editing"'} Click here to de-inline-modal me.
```
*/

.inline-modal {
  position: relative;

  .inline-modal-errors {
    position: absolute;
    right: 0;
    top: 110%;
    z-index: 1029;
  }

  .content {
    position: relative;
  }
  &.editing {
    h2, .h4 {
      color: $gray-2;
    }

    .content {
      z-index: 1029; // above the scrim
      background-color: $blue-4;
    }
    .modal-backdrop {
      display: block;
      z-index: 1019;
    }
  }
  &.showing {
    .content {
      background-color: $gray-10;
    }
    .modal-backdrop {
      display: none;
    }
  }
  &.saving {
    .content {
      background-color: $gray-10;
    }
    .modal-backdrop {
      display: none;
    }
  }

  > .panel-body {
    min-height: 140px;
  }

  .animate-show {
    opacity: .8;
  }

  .animate-show.ng-hide-add,
  .animate-show.ng-hide-remove {
    display: block !important;
  }

  .animate-show.ng-hide-add.ng-hide-add-active,
  .animate-show.ng-hide-remove.ng-hide-remove-active {
    -webkit-transition: all ease-out 0.1s;
    transition: all ease-out 0.1s;
  }

  .animate-show.ng-hide {
    opacity: 0;
  }
}


