.navbar-fixed-left{
  width: $navbar-width;
  float: left;
  color: #fff;
  border: none;

  .navbar-header {
    float: none; //bootstrap override
    padding: 4px 0;
    .navbar-brand {
      font-size: 17px;
      font-weight: 200;
      float:none;
      display: block;
      padding: 10px;

      .image-logo {
        width: $logo-width;
        height: $logo-height;
        display: block;
        background-position: top left;
        background-repeat: no-repeat;
        background-image: image-url("logo-pws.png");
        .on_premise & {
          background-image: image-url("logo-pcf.png");
        }
      }
    }
  }

  .nav {
    float: none; //bootstrap override //TODO: move up
    > a {
      float: none; //bootstrap override //TODO: move up
      background-color: $glow-1;
      margin-top: 1px;
    }

    > li {
      float: none; //bootstrap override //TODO: move up
      background-color: $glow-1;
      margin-top: 1px;
      font-weight: 600;
      font-size: 16px;
      a{
        border-left: 3px solid transparent;
      }
      &.active {
        > a {
          border-left: 3px solid $teal-5;
        }
      }
    }
  }
  .navbar-secondary {
    padding: 0px 11px 11px 11px;
    li{
      font-size: 14px;
      font-weight:400;
      &:hover{
        @include background-clip-fix;
      }
      a {
        transition: background-color 300ms ease-out;
      }
    }
  }
  .navbar-collapse {
    padding-bottom: 12px; //bootstrap override

    .navbar-topper {
      @include background-clip-fix;
      border-top: 5px solid rgba(0,0,0,0.4);
      padding-bottom: 8px;
      @extend .bkg-overlay-1;

      .dropdown {
        height:40px;


        a.current-org {
          width: 80%;
          color: $gray-5;
          float: left;
          @include transition;
          &:hover {
            background-color: $glow-2;
            color: $gray-8;
          }
        }

        .dropdown-caret {
          width: 20%;
          border-left: 2px solid $navbar-default-toggle-hover-bg;
          display: inline-block;
          padding: 12px;
          float: right;
          color: $gray-5;
          @include transition;
          &:hover {
            cursor: pointer;
            background-color: $glow-2;
            @include background-clip-fix;
            color: $gray-8;
          }

          &.fa-chevron-up {
            display: none;
          }
        }

        &.open {
          .dropdown-caret {
            background-color: $gray-10;
            @include background-clip-fix;
          }
          .fa-chevron-up {
            display: inline-block;
          }

          .fa-chevron-down {
            display: none;
          }

          a.current-org {
            color: $gray-3;
          }
        }

        .dropdown-menu {
          background-color: $gray-10;
          width: 100%;
          border-radius: 0;
          border: 0;

          .active-org a {
            color: $gray-5;
          }

          a {
            padding-left: 16px;
            font-size: 16px;
            font-weight: 600;
            color: $gray-3;
            &:hover {
              background-color: $shadow-3;
            }
          }

          .create-link {
            a {
              color: $blue-3;
            }
          }
        }
      }

    }
  }
  .navlinks-global {
    a {
      font-weight: 400;
      color: $gray-5;
      display: block;
      @include transition;
      padding: 8px;
    }

    li:hover, li:focus {
      cursor: pointer;
      a {
        background-color: $glow-1;
        color: $gray-8;
      }
    }
  }
  .nav-title{
    font-weight: 600;
    font-size: 13px;
    margin-top: 10px;
    text-transform: uppercase;
    padding-left: 11px;
  }
  .nav-item-em{
    border-bottom: 5px solid rgba(0,0,0,0.1);
  }
  .nav-last-item-em > li:last-child{
    border-bottom: 5px solid rgba(0,0,0,0.1);
    -moz-background-clip: padding;     /* Firefox 3.6 */
    -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
    background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
  }
}

.navbar-default .navbar-nav > .active > a {
  background-color: transparent; // bootstrap override
}

@media (max-width: $screen-sm) {
  .navbar-fixed-left {
    float: none;
    width: auto;
  }
  .navbar-toggle {
    margin: 20px;
  }
}
