/*doc
---
title: Pivnetacos
name: pivnetacos_react
category:
  - React Beta
---

Here is a basic example of how React components can be combined to create larger pieces.

```jsx_example
var PivnetHomepage = React.createClass({
  render: function () {
    return (
      <div className="bg-dark-1 txt-c ptxl">
        <div className="pvxxxl">
          <UI.DefaultH1 color="type-neutral-9" className="mbn">Explore, download, and update Pivotal software and services</UI.DefaultH1>
          <UI.DefaultH2 color="type-neutral-11" bold="low" className="mtn">Software designed with the enterprise in mind</UI.DefaultH2>
        </div>

        <UI.InverseDivider className="mbn" />

        <UI.Pane className="bg-shadow-1">
          <div className="row">
            <div className="col-md-8 col-md-offset-8">
              <UI.HighlightAltButton className="mtxxl" block={true} large={true}>Join</UI.HighlightAltButton>
              <p className="type-sm type-neutral-6">To download and evaluate all products and services</p>
            </div>
          </div>
        </UI.Pane>
      </div>
      );
  }
});
```

```react_example
<PivnetHomepage />
```
*/
