/*doc
---
title: Pivnetacos
name: pivnetacos_react
category: Beta
---

```html_example
<div id="pivnetacos"></div>
```

```jsx_example
React.render(
  <UI.PivnetHomepage />,
  document.getElementById('pivnetacos')
);
```
*/
