@import "pui-variables";

/*doc
---
title: Progress Bars
name: progress_bar
categories:
  - Objects
  - All
---

This section contains static progress bar styles.


```html_example_table
<div class="progress">
  <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" class="progress-bar" role="progressbar" style="width: 0%;">
    <div class="label">
      0%
    </div>
  </div>
</div>
<p>
  0 MB of 100 MB Used
</p>

<div class="progress">
  <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="3" class="progress-bar" role="progressbar" style="width: 3%;">
    <div class="label">
      3%
    </div>
  </div>
</div>
<p>
  3 MB of 100 MB Used
</p>

<div class="progress">
  <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="9" class="progress-bar" role="progressbar" style="width: 9%;">
    <div class="label">
      9%
    </div>
  </div>
</div>
<p>
  9 MB of 100 MB Used
</p>

<div class="progress">
  <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" class="progress-bar" role="progressbar" style="width: 60%;">
    <div class="label">
      60%
    </div>
  </div>
</div>
<p>
  60 MB of 100 MB Used
</p>

<div class="progress">
  <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="90" class="progress-bar" role="progressbar" style="width: 90%;">
    <div class="label">
      90%
    </div>
  </div>
</div>
<p>
  90 MB of 100 MB Used
</p>
```
*/

.progress {
  margin-bottom: 0; // Bootstrap override
  border-radius: 0;
  background-color: $shadow-3;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

.progress-bar {
  background: $gray-5;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  text-align: left;
  .label {
    margin-left: 7px;
    font-size: 14px;
    font-weight: 900;
  }
}

.progress-bar[aria-valuenow="1"],
.progress-bar[aria-valuenow="2"] {
  min-width: 3%;
}

.progress-bar[aria-valuenow="0"] {
  color: $text-color;
  min-width: 3%;
  background: transparent;
  box-shadow: none;
}

.progress-bar[aria-valuenow^="9"]:not([aria-valuenow="9"]), .progress-bar[aria-valuenow="100"] {
  background: $red-3;
}

/*pending
---
title: Animated Progress Bar
name: animated_progress_bar
categories:
  - Objects
  - All
---

This is an animated progress bar. See [progress bar][progress_bar] to see the static version.


Sometimes you will need to graphically display percent used (e.g. quota usage) or progress (e.g. profile completion).
In the html, the width should be set to match the `aria-valuenow` if the progress bar isn't animated. If it is, it should be set to 0% initially.

```html_example
<div class="progress">
  <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" class="progress-bar progress-bar-animated" data-behavior="ProgressBar" role="progressbar">
    <div class="label">
      0%
    </div>
  </div>
</div>
<p>
  0 MB of 100 MB Used
</p>

<div class="progress">
  <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" class="progress-bar progress-bar-animated" data-behavior="ProgressBar" role="progressbar">
    <div class="label">
      60%
    </div>
  </div>
</div>
<p>
  60 MB of 100 MB Used
</p>

<div class="progress">
  <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="93" class="progress-bar progress-bar-animated" data-behavior="ProgressBar" role="progressbar">
    <div class="label">
      93%
    </div>
  </div>
</div>
<p>
  93 MB of 100 MB Used
</p>
```
*/

.progress-bar-animated {
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 2s ease-in-out;
}
