/*doc
---
title: Tabs
name: tabs
categories:
  - All
  - JavaScript
  - marketing-site
---

You can activate a tab or pill navigation without writing any JavaScript by simply specifying `data-toggle="tab"` on an element.

*/
/*doc
---
title: Highlight Tabs
name: tab_highlight
parent: tabs
---

```haml_example
.tab-highlight
  .row
    .col-md-8
      %h1 Service Plans
      %ul.nav.nav-stacked
        %li.active
          %a{"data-toggle" => "tab", :href => "#home"}
            .row
              .col-md-10.tab-title
                Spark
              .col-md-14
                Free
        %li
          %a{"data-toggle" => "tab", :href => "#profile"}
            .row
              .col-md-10.tab-title
                Boost
              .col-md-14
                $10/month
        %li
          %a{"data-toggle" => "tab", :href => "#messages"}
            .row
              .col-md-10.tab-title
                Amp
              .col-md-14
                $50/month
        %li
          %a{"data-toggle" => "tab", :href => "#settings"}
            .row
              .col-md-10.tab-title
                Shockingly long plan name is important to test
              .col-md-14
                $1000/month

    .col-md-16
      %h1 Plan Features
      .tab-content
        #home.tab-pane.fade.in.active Content 1
        #profile.tab-pane.fade Content 2
        #messages.tab-pane.fade Content 3
        #settings.tab-pane.fade Content 4
```

*/

.tab-highlight {
  .nav {
    > li {
      position: relative;
      overflow: hidden;

      + li {
        margin-top: -$tab-highlight-border-width; // overriding bootstrap defaults
      }

      > a {
        padding: 15px;
        color: $tab-highlight-tab-color;
        background-color:$tab-highlight-bg-color;
        transition: background-color 150ms ease-out;
      }

      > a:hover {
        z-index: 100;
        background-color: $tab-highlight-hover-bg-color;
      }
    }

    > li.active {
      a {
        z-index: 50;
      }

      > a,
      > a:hover {
        color: $tab-highlight-tab-active-color;
        background-color: $tab-highlight-tab-hover-bg-color;
        border-width: 0;
        cursor: default;
      }
    }

    .tab-title {
      font-size: $nav-tabs-title-font-size;
    }
  }


  //content area of tabs
  .tab-content {
    border-top: $tab-highlight-border-width solid $tab-highlight-border-color;
    padding: 0;
    margin-left: -20px;
  }
}

/*doc
---
title: Simple Tabs
name: tab_simple
parent: tabs
---

```haml_example
.tab-simple
  .tabs-action.txt-r
    %a Some Action
  %ul.nav.nav-tabs
    %li.active
      %a{"data-toggle" => "tab", :href => "#spaces"}Spaces
    %li
      %a{"data-toggle" => "tab", :href => "#domains"}Domains
    %li
      %a{"data-toggle" => "tab", :href => "#members"}Members


  .tab-content
    #spaces.tab-pane.fade.in.active Spaces Content
    #domains.tab-pane.fade Domains Content
    #members.tab-pane.fade Members Content

```
*/

$tab-border-size: 3px;
.tab-simple {
  background-color: $tab-simple-tab-active-bg-color;
  position: relative;
  .nav {
    &.nav-tabs {
      border-bottom: $tab-border-size solid $tab-simple-shadow-border-color;
      border-top: 1px solid $tab-simple-tab-border-color;
      background-color: $tab-simple-bg-color;
      @include background-clip-fix;
    }

    > li {
      border-right: 1px solid $tab-simple-tab-border-color;
      > a {
        margin-right: 0; // bootstrap override
        border: 0; //bootstrap override
        border-radius: 0; //bootstrap override
        padding: 10px 19px 13px 19px;
        color: $tab-simple-link-color;
        font-weight: $tab-simple-link-font-weight;
        font-size: 16px;
      }

      > a:hover {
        border: 0;
      }
    }

    > li:hover {
      cursor: pointer;
      @include transition-pui();

      > a {
        background-color: $tab-simple-tab-hover-bg-color;
      }
    }

    > li.active {
      margin-bottom: -$tab-border-size; //Don't show the border on the active tab
      border-top: $tab-border-size solid $tab-simple-shadow-border-color;
      background-color: $tab-simple-tab-active-bg-color;
      cursor: default;
      border-right: 0;
      @include no-transition;

      > a {
        margin: -$tab-border-size 0 $tab-border-size 0; //shift text up to offset top border
        color: $tab-simple-link-active-color;
        background-color: transparent;
      }
    }
  }



  .tabs-action {
    padding: 14px 16px;
    position: absolute;
    right: 0;
  }
}

.tab-content {
  padding: 20px;
}

/*doc
---
title: Responsive Tabs
name: tab_responsive
parent: tabs
---

```haml_example
.tab-responsive
  .row
    .col-sm-5
      %ul.nav.hidden-xs
        %li.active
          %a{"data-toggle" => "tab", :href => "#tab-responsive-1"}
            meep
        %li
          %a{"data-toggle" => "tab", :href => "#tab-responsive-2"}
            foo
        %li
          %a{"data-toggle" => "tab", :href => "#tab-responsive-3"}
            bar
        %li
          %a{"data-toggle" => "tab", :href => "#tab-responsive-4"}
            baz

    .col-sm-19
      %ul.tab-content
        %li.active
          %a.visible-xs{"data-toggle" => "tab", :href => "#tab-responsive-1"}
            meep
        %li#tab-responsive-1.tab-pane.active.fade.in Content 1
        %li
          %a.visible-xs{"data-toggle" => "tab", :href => "#tab-responsive-2"}
            foo
        %li#tab-responsive-2.tab-pane.fade Content 2
        %li
          %a.visible-xs{"data-toggle" => "tab", :href => "#tab-responsive-3"}
            foo
        %li#tab-responsive-3.tab-pane.fade Content 3
        %li
          %a.visible-xs{"data-toggle" => "tab", :href => "#tab-responsive-4"}
            foo
        %li#tab-responsive-4.tab-pane.fade Content 4

```
*/

.tab-responsive {
  .tab-content {
    @extend .list-unstyled;
  }

  a[data-toggle="tab"] {
    padding: 8px 10px;
    color: $tab-responsive-color;
    margin: 5px 0;
    border-radius: $tab-responsive-radius;
    @include transition-pui();
  }

  .active a[data-toggle="tab"],
  a[data-toggle="tab"]:hover,
  a[data-toggle="tab"]:focus {
    background-color: $tab-responsive-bg;
    color: $tab-responsive-active-color;
  }

  @media (max-width: $screen-xs) {
    a[data-toggle="tab"] {
      background-color: $tab-responsive-bg;
      color: $tab-responsive-active-color;
    }

    .tab-pane {
      padding: $tab-responsive-pane-padding;
    }
  }
}



/*doc
---
title: Image Tabs
name: image_tabs
parent: tabs
---

Images for the tabs should be the full color version. When the tab is inactive, it will be grayscale.

```haml_example
.tabs-images
  %ul.list-inline.nav-tabs-images
    %li.active
      %a{"data-toggle" => "tab", :href => "#agility"}
        %img.img-responsive{src: 'images/open-source-icon.png', alt: 'agility'}
    %li
      %a{"data-toggle" => "tab", :href => "#choice"}
        %img.img-responsive{src: 'images/open-source-icon.png', alt: 'choice'}
    %li
      %a{"data-toggle" => "tab", :href => "#open-source"}
        %img.img-responsive{src: 'images/open-source-icon.png', alt: 'open source'}

  .tab-content
    #agility.tab-pane.fade.in.active Agility Content
    #choice.tab-pane.fade Choice Content
    #open-source.tab-pane.fade Open Source

```
*/

.tabs-images {
  .nav-tabs-images li {
    margin: 0 3vw;

    a[data-toggle=tab] {
      display: inline-block;
      max-width: 15vw;
    }
  }

  .nav-tabs-images, .tab-content {
    text-align: center;
  }

  .nav-tabs-images img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
  }

  .nav-tabs-images .active img,
  .nav-tabs-images img:hover,
  .nav-tabs-images img:focus {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
  }
}
