/*doc
---
title: Tooltip
name: tooltip
categories:
  - JavaScript
  - All
---

Tooltips are used to display extra information on hover. They can be used with any hoverable element.

The `title` attribute defines the text that appears on the tooltip.
The `data-placement` attribute defines the tooltip's placement.
If `data-placement` is not specified, the tooltip is placed on top by default.

<div class="alert alert-warning">
  <p class="em-high">
    Tooltips must be initialized with javascript: <code>$(mySelector).tooltip();</code>
  </p>
</div>

```html_example
<p>
  Check out this
  <a id="link-with-tooltip-1" href="#" data-toggle="tooltip" data-placement="left" title="I should be on the left">
    tooltip on the left!
  </a>
</p>

<p>
  Check out this
  <a id="link-with-tooltip-2" href="#" data-toggle="tooltip" data-placement="right" title="I should be on the right">
    tooltip on the right!
  </a>
</p>

<p>
  <button id="button-with-tooltip-1" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="I should be on the top">
    Check out this tooltip on the top!
  </button>
</p>

<p>
  <button id="button-with-tooltip-2" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="I should be on the bottom">
    Check out this tooltip on the bottom!
  </button>
</p>
```

```js_example
$('#link-with-tooltip-1').tooltip();
$('#link-with-tooltip-2').tooltip();
$('#button-with-tooltip-1').tooltip();
$('#button-with-tooltip-2').tooltip();
```

<div class="alert alert-info">
  <p class="em-high">
    If you want to use a tooltip on a disabled element, place the tooltip in a wrapper div with the class <code>.button-with-tooltip-wrapper</code>.
  </p>
</div>

```html_example
<div id="disabled-button-with-tooltip" class="button-with-tooltip-wrapper" data-toggle="tooltip" data-placement="right" title="This button is totally disabled!">
  <button type="button" class="btn btn-default" disabled=true>
    Disabled button
  </button>
</div>
```

```js_example
$('#disabled-button-with-tooltip').tooltip();
```

*/

.button-with-tooltip-wrapper {
  display: inline-block;
}
