/*doc
---
title: Typography
name: type
categories:
  - All
  - CSS
  - marketing-site
---

*/

* {
  -webkit-font-smoothing: antialiased;
}

/*doc
---
title: Type Sizes
name: 1_type_sizes
parent: type
---

Headings can be used to define the applications typographical hierarchy.

```haml_example

%h1.title Even bigger heading for those moments when an h1 is not enough
%h1 h1.heading level 1
%h2 h2.heading level 2
%h3 h3.heading level 3
%h4 h4.heading level 4
%h5 h5.heading level 5
%p.type-sm Small text can also be achieved with the small tag, when appropriate
%p.type-xs Extra small text


%p This is an example of our base font styles. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
```

### Separating code and visual semantics

Sometimes you may need to use a heading which has different visual and code semantics. You can accomplish this by combining classes with elements (classes take visual precedence over elements in this case):

```haml_example
  %h2.h1 h2.heading level 1 class applied
```

If it's not a heading but you need similar visual treatment you can add just the class to any element
  (Use headings when possible since they add semantic value).

```haml_example
  %div.h2 div.heading level 2
```

*/

// Override the bootstrap margins to use our margin classes so we can align
// things. This is necessary because we have to keep the whitespace margins in sync with this

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: $whitespace-xl;
  margin-bottom: $whitespace-l;
}

h4, .h4, h5, .h5, h6, .h6 {
  margin-top: $whitespace-l;
  margin-bottom: $whitespace-l;
}

@media all and (max-width: $screen-sm) {
  h1, .h1, h2, .h2, h3, .h3 {
    margin-top: $whitespace-screen-sm-xl;
    margin-bottom: $whitespace-screen-sm-l;
  }

  h4, .h4, h5, .h5, h6, .h6 {
    margin-top: $whitespace-screen-sm-l;
    margin-bottom: $whitespace-screen-sm-l;
  }
}

// We handle font-weight here, bootstrap handles font-size and color

h1, .h1 {
  font-weight: $font-weight-h1;
  color: $font-color-h1;
}

h2, .h2 {
  font-weight: $font-weight-h2;
}

h3, .h3 {
  font-weight: $font-weight-h3;
}

h4, .h4 {
  font-weight: $font-weight-h4;
}

h5, .h5 {
  font-weight: $font-weight-h5;
}

small,
.type-sm { font-size: $font-size-small; } // bootstrap override

.type-xs,
.type-terms { font-size: $font-size-extra-small; } // bootstrap override

.title {
  font-size: $font-size-title;
}

/*doc
---
title: Type Modifiers
name: type-modifiers
parent: type
---

```haml_example
%h1.em-low Low emphasis
%h1.em-default Default emphasis
%h1.em-high High emphasis
%h1.em-max Maximum emphasis
%h1.em-alt Emphasis alternate
```

*/

.em-low { font-weight: $font-weight-em-low; }
.em-default { font-weight: $font-weight-em-default; }
.em-high { font-weight: $font-weight-em-high; }
.em-max { font-weight: $font-weight-em-max; }
.em-alt { text-transform: uppercase; }


/*doc
---
title: Type Colors
name: type-colors
parent: colors
---

```haml_example
%p.type-accent-2 Dark Teal text
%p.type-accent-3 Teal text
%p.type-accent-4 Another shade of teal text
%p.type-accent-5 Even lighter shade of teal text
%p.type-primary-2 Gray text
%p.type-primary-4 Another shade of gray
%p.type-primary-5 Even lighter gray
%p.type-inverse{style:'background-color: #000'} type-inverse text
```

*/

.type-accent-2 {
  color: $type-accent-2 !important;
}

.type-accent-3 {
  color: $type-accent-3 !important;
}

.type-accent-4 {
  color: $type-accent-4 !important;
}

.type-accent-5 {
  color: $type-accent-5 !important;
}

.type-inverse {
  color: $type-inverse !important;
}
a:hover.type-inverse {
  color: $type-inverse-hover !important;
}

.type-primary-2 {
  color: $type-primary-2 !important;
}

.type-primary-3 {
  color: $type-primary-3 !important;
}

.type-primary-4 {
  color: $type-primary-4 !important;
}

.type-primary-5 {
  color: $type-primary-5 !important;
}

.error-color {
  color: $error-color !important;
}



/*doc
---
title: Type Alignment
name: type_alignment
parent: type
---

Alignment classes can be used to align text top, bottom, middle or left, right, center.

Class                 | Description
--------------------- | -----------------
`.txt-l`              | Aligns text to the left
`.txt-r`              | Aligns text to the right
`.txt-c`              | Centers text horizontally
`.txt-t`              | Aligns text to the top
`.txt-b`              | Aligns text to the bottom
`.txt-m`              | Centers text vertically

*/

.txt-c {
  text-align: center;
}

.txt-l {
  text-align: left;
}

.txt-r {
  text-align: right;
}

.txt-t {
  vertical-align: top;
}

.txt-b {
  vertical-align: bottom;
}

.txt-m {
  vertical-align: middle;
}
