
/*doc
---
title: No JavaScript
name: no-js
categories:
  - All
  - JavaScript
  - Utilities
---
### Javascript

Try disabling js and rendering this page.

```haml_example
%h3.invisible-no-js Won't show if browser doesn't support JS.
```

*/

.no-js .invisible-no-js {
  visibility: hidden;
}



[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/*doc
---
title: Responsive Utilities
name: responsive_utilities
categories:
  - All
  - Utilities
---

Use a single or combination of the available classes for toggling content across viewport breakpoints.

<table class="styleguide">
  <thead>
    <tr>
      <th></th>
      <th>
        Extra small devices
        <small>Phones (&lt;768px)</small>
      </th>
      <th>
        Small devices
        <small>Tablets (≥768px)</small>
      </th>
      <th>
        Medium devices
        <small>Desktops (≥992px)</small>
      </th>
      <th>
        Large devices
        <small>Desktops (≥1200px)</small>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="no-wrap"><code>.visible-xs-*</code></th>
      <td class="is-visible">Visible</td>
      <td class="is-hidden">Hidden</td>
      <td class="is-hidden">Hidden</td>
      <td class="is-hidden">Hidden</td>
    </tr>
    <tr>
      <th class="no-wrap"><code>.visible-sm-*</code></th>
      <td class="is-hidden">Hidden</td>
      <td class="is-visible">Visible</td>
      <td class="is-hidden">Hidden</td>
      <td class="is-hidden">Hidden</td>
    </tr>
    <tr>
      <th class="no-wrap"><code>.visible-md-*</code></th>
      <td class="is-hidden">Hidden</td>
      <td class="is-hidden">Hidden</td>
      <td class="is-visible">Visible</td>
      <td class="is-hidden">Hidden</td>
    </tr>
    <tr>
      <th class="no-wrap"><code>.visible-lg-*</code></th>
      <td class="is-hidden">Hidden</td>
      <td class="is-hidden">Hidden</td>
      <td class="is-hidden">Hidden</td>
      <td class="is-visible">Visible</td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <th class="no-wrap"><code>.hidden-xs</code></th>
      <td class="is-hidden">Hidden</td>
      <td class="is-visible">Visible</td>
      <td class="is-visible">Visible</td>
      <td class="is-visible">Visible</td>
    </tr>
    <tr>
      <th class="no-wrap"><code>.hidden-sm</code></th>
      <td class="is-visible">Visible</td>
      <td class="is-hidden">Hidden</td>
      <td class="is-visible">Visible</td>
      <td class="is-visible">Visible</td>
    </tr>
    <tr>
      <th class="no-wrap"><code>.hidden-md</code></th>
      <td class="is-visible">Visible</td>
      <td class="is-visible">Visible</td>
      <td class="is-hidden">Hidden</td>
      <td class="is-visible">Visible</td>
    </tr>
    <tr>
      <th class="no-wrap"><code>.hidden-lg</code></th>
      <td class="is-visible">Visible</td>
      <td class="is-visible">Visible</td>
      <td class="is-visible">Visible</td>
      <td class="is-hidden">Hidden</td>
    </tr>
  </tbody>
</table>


The `.visible-*-*` classes for each breakpoint come in three variations, one for each CSS display property value listed below.

<table class="styleguide">
  <thead>
    <tr>
      <th>Group of classes</th>
      <th>CSS display</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="no-wrap"><code>.visible-*-block</code></td>
      <td class="no-wrap"><code>display: block;</code></td>
    </tr>
    <tr>
      <td class="no-wrap"><code>.visible-*-inline</code></td>
      <td class="no-wrap"><code>display: inline;</code></td>
    </tr>
    <tr>
      <td class="no-wrap"><code>.visible-*-inline-block</code></td>
      <td class="no-wrap"><code>display: inline-block;</code></td>
    </tr>
  </tbody>
</table>

So, for extra small (`xs`) screens for example, the available `.visible-*-*` classes are:

- `.visible-xs-block`
- `.visible-xs-inline`
- `.visible-xs-inline-block`

*/

/*doc
---
title: Print
name: print
categories:
  - All
  - Utilities
---

Similar to the regular responsive classes, use these for toggling content for print.

<table class="styleguide">
  <thead>
    <tr>
      <th>Classes</th>
      <th>Browser</th>
      <th>Print</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>
        <code>.visible-print-block</code><br>
        <code>.visible-print-inline</code><br>
        <code>.visible-print-inline-block</code>
      </th>
      <td class="is-hidden">Hidden</td>
      <td class="is-visible">Visible</td>
    </tr>
    <tr>
      <th><code>.hidden-print</code></th>
      <td class="is-visible">Visible</td>
      <td class="is-hidden">Hidden</td>
    </tr>
  </tbody>
</table>


*/

/*doc
---
title: Aligner
name: vertical_aligner
parent: grids
---

Based on a [component by Philip Walton](https://github.com/philipwalton/solved-by-flexbox/blob/master/_sass/components/_aligner.scss),
this component will allow us to vertically align portions of our app.

NB: DON'T use the DEMO class when using this component in the wild.

Annoyingly, this component needs to have it's height/min-height set explicitly...
That makes it not so reusable.
Currently set to 230px as required by the space cards.

```haml_example
.Demo.aligner
  .Demo.aligner-item.aligner-item-top
    %h2 top
  .Demo.aligner-item
    %h2 centered
  .Demo.aligner-item.aligner-item-bottom
    %h2 bottom
```

*/
.aligner {
  display: flex;
  align-items: center;
  justify-content: center;

  // height is needed for IE10-11 for this bug
  // http://bit.ly/16b1Xhx
  height: 200px; // TODO: this is super annoying, and means it can only work as a one-off since the height needs to be fixed. Blarg. Maybe set the height inline for each usage? Ew.
  // other browsers use min-height
  @supports not(-ms-flex: 1) {
    height: auto;
    min-height: 200px;
  }


  .aligner-item {
    max-width: 50%;

  }

  .aligner-item-top {
    align-self: flex-start;
  }

  .aligner-item-bottom {
    align-self: flex-end;
  }
}

.Demo { // TODO: move this to the styleguide.css file
  width: 100%;
  padding: .8em 1em 0;
  margin-bottom: 1em;
  background: rgba(147,128,108,.1);
  border-radius: 3px;
}
