//
// Our Bootstrap Variables
// --------------------------------------------------


// Global values
// --------------------------------------------------


// Accent colors - teal for now
// -------------------------

$teal-1: #025a53;
$teal-2: #00776d;
$teal-3: #00a79d;
$teal-4: #92d0c0;
$teal-5: #71ffda;


// Grays - use these rather than the bootstrap grays
// -------------------------

$gray-1: #282828;
$gray-2: #424242;
$gray-3: #686868;
$gray-4: #8d8e8e;
$gray-5: #b4b4b4;
$gray-6: #c3c5c7;
$gray-7: #d4d9d9;
$gray-8: #e0e4e5;
$gray-9: #ecefef;
$gray-10: #F8F8F8;
$gray-11: white;

// Shadows
// -------------------------

$shadow-1 : rgba(0, 0, 0, 0.8);
$shadow-2 : rgba(0, 0, 0, 0.14);
$shadow-3 : rgba(0, 0, 0, 0.07);
$glow-1 : rgba(255,255,255,0.1);
$glow-2 : rgba(255,255,255,0.2);
$glow-3 : rgba(255,255,255,0.4);
$glow-4 : rgba(255,255,255,0.6);

// Blue
// -------------------------

$blue-1: #1a739e;
$blue-2: #2185c5;
$blue-3: #49a8d5;
$blue-4: #a7c9e0;
$blue-5: #c3f4ff;

// Navy
// -------------------------

$navy-1: #243640;
$navy-2: #3f484f;
$navy-3: #525c63;

// Red
// -------------------------

$red-1: #b31612;
$red-2: #eb3d46;
$red-3: #ff434c;
$red-4: #febfc1;

// Green
// -------------------------
$green-1: #165450;
$green-2: #AFD79B;

// Yellow
// -------------------------
$yellow-1: #C2760A;
$yellow-2: #FBF7D5;

// Orange
// -------------------------
$orange-1: null;
$orange-2: null;


// Background Colors
// -------------------------

// gray backgrounds
$neutral-1: $gray-1;
$neutral-2: $gray-2;
$neutral-3: $gray-3;
$neutral-4: $gray-4;
$neutral-5: $gray-5;
$neutral-6: $gray-6;
$neutral-7: $gray-7;
$neutral-8: $gray-8;
$neutral-9: $gray-9;
$neutral-10: $gray-10;
$neutral-11: $gray-11;

// Grays (Bootstrap only, don't use directly) TODO: can we eliminate these entirely without modifying bootstrap base files?
// -------------------------

$gray-darker:            lighten(#000, 13.5%) !default; // #222 bootstrap only
$gray-dark:              lighten(#000, 20%) !default;   // #333 bootstrap only
$gray:                   lighten(#000, 33.5%) !default; // #555 bootstrap only
$gray-light:             lighten(#000, 60%) !default;   // #999 bootstrap only
$gray-lighter:           lighten(#000, 93.5%) !default; // #eee bootstrap only

// Dark colors
// -------------------------

$dark-1:                $navy-1;
$dark-2:                $navy-2;
$dark-3:                $navy-3;

// Brand colors
// -------------------------

$brand-1:               $teal-1;
$brand-2:               $teal-2;
$brand-3:               $teal-3;
$brand-4:               $teal-4;
$brand-5:               $teal-5;

$brand-primary:         #1b92cb !default;
$brand-success:         #5cb85c !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #CA7070 !default;
$brand-info:            #5bc0de !default;

// login page colors
// --------------------------
$dark_grey:             #3b3c41;
$almost_white:          #ededed;

// Typography Colors
// ------------------------

$type-muted:                  $gray-9 !important !default;
$text-muted:                  $type-muted; // unused, keep for bootstrap, use $type-muted instead
$type-inverse:                $gray-8;
$type-inverse-hover:          $teal-1;

$type-accent-5:               $teal-4;
$type-accent-4:               $teal-2;
$type-accent-3:               $teal-2;
$type-accent-2:               $teal-1;

$type-primary-2:              $gray-3;
$type-primary-3:              $gray-3;
$type-primary-4:              $gray-5;
$type-primary-5:              $gray-9;

$type-gray-2:              $gray-3; //FIXME: what to name this that isn't color specific?
$type-gray-3:              $gray-5;
$type-gray-4:              $gray-9;

$abbr-border-color:           $gray-light !default;
$headings-small-color:        $gray-light !default;
$blockquote-small-color:      $gray-light !default;
$blockquote-border-color:     $gray-lighter !default;
$page-header-border-color:    $gray-lighter !default;

$error-color:               $red-3;



// Layout
// -------------------------
$footer-login-bg:           $dark_grey; // login footer
$footer-login-color:        $almost_white; // login footer
$footer-login-height:       46px;

$footer-bg:                 $teal-2;
$footer-divider-color:      $teal-4;

$navbar-width:              210px;

// Scaffolding
// -------------------------

$html-bg:               white;
$body-bg:               transparent;
$text-color:            $gray-3 !default;

// Links
// -------------------------

$link-color:                      $blue-2 !default;
$link-hover-color:                $blue-3 !default;

$link-highlight-color:            $teal-2 !default;
$link-highlight-hover-color:      darken($link-color, 15%) !default;

$link-lowlight-color:             $blue-4 !default;
$link-lowlight-hover-color:       $blue-2 !default;

// Typography
// -------------------------

$font-family-sans-serif:  'Source Sans Pro', 'SourceSansPro', sans-serif !default;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:   Monaco, Menlo, Consolas, "Courier New", monospace !default;
$font-family-base:        $font-family-sans-serif !default;

$font-size-base:          15px !default;
$font-size-extra-large:   ceil($font-size-base * 1.5) !default; // ~21px
$font-size-large:         ceil($font-size-base * 1.25) !default; // ~18px
$font-size-medium:        ceil($font-size-base * 1.14) !default; // ~16px
$font-size-small:         ceil($font-size-base * 0.85) !default; // ~12px
$font-size-extra-small:   11px;

$headings-font-family:    $font-family-base;
$headings-font-weight:    400 !default;
$headings-line-height:    1.5 !default;
$headings-color:          $gray-3;

//TODO: create a mixin that will determine multiplers based on px-size
$font-size-h1:            30px;
$font-weight-h1:          900;
$font-color-h1:           $navy-1;

$font-size-h2:            16px;
$font-weight-h2:          900;

$font-size-h3:            16px;
$font-weight-h3:          600;

$font-size-h4:            13px;
$font-weight-h4:          900;

$font-size-h5:            12px;
$font-weight-h5:          600;

$font-size-h6:            16px;
$font-weight-h6:          600;

$line-height-base:        1.5; //1.428571429 !default; // 20/14
$line-height-computed:    floor($font-size-base * $line-height-base) !default; // ~20px


// Whitespace
// -------------------------
$whitespace-s:        5px;
$whitespace-m:        7px;
$whitespace-l:        10px;
$whitespace-xl:       20px;
$whitespace-xxl:      40px;
$whitespace-xxxl:     120px;
$whitespace-xxxxl:    140px;

// mobile screen whitespace
$whitespace-screen-sm-s:     5px;
$whitespace-screen-sm-m:     7px;
$whitespace-screen-sm-l:     10px;
$whitespace-screen-sm-xl:    15px;
$whitespace-screen-sm-xxl:   20px;
$whitespace-screen-sm-xxxl:  30px;
$whitespace-screen-sm-xxxxl: 30px;

// Iconography
// -------------------------

$icon-font-path:          "bootstrap/" !default;
$icon-font-name:          "glyphicons-halflings-regular" !default;


// Components
// -------------------------
// Based on 14px font-size and 1.428 line-height (~20px to start)

$padding-base-vertical:          8px !default;
$padding-base-horizontal:        20px !default;

$padding-large-vertical:         10px !default;
$padding-large-horizontal:       26px !default;

$padding-small-vertical:         2px !default;
$padding-small-horizontal:       10px !default;

$line-height-extra-large:        2.48 !default;
$line-height-large:              1.33 !default;
$line-height-small:              1.5 !default;

$border-radius-base:             4px !default;
$border-radius-large:            6px !default;
$border-radius-small:            3px !default;
$border-radius-none:             0;

$component-active-color:         #fff !default;
$component-active-bg:            $brand-primary !default;

$caret-width-base:               4px !default;
$caret-width-large:              5px !default;

// Tables
// -------------------------

$table-cell-padding:                 8px 14px !default;
$table-condensed-cell-padding:       5px !default;

$table-bg:                           transparent !default; // overall background-color
$table-bg-accent:                    $gray-10; // for striping
$table-bg-hover:                     null;
$table-bg-active:                    $table-bg-hover !default;

$table-border-color:                 #ddd !default; // table and cell border

$table-standard-header-bg:           $gray-3;
$table-standard-border-color:        $gray-9;


// Buttons
// -------------------------

$btn-font-weight:                600 !default;
$btn-border-width:               0;

$btn-default-color:              $link-color !default;
$btn-default-bg:                 $glow-3 !default; // not currently used, but bootstrap relies on this value
$btn-default-border:             transparent !default; // not currently used, but bootstrap relies on this value
$btn-default-border-hover:       transparent;
$btn-default-bg-hover:           white;

$btn-default-alt-color:          $link-color;
$btn-default-alt-bg:             $gray-10;
$btn-default-alt-bg-hover:       $gray-9;

$btn-primary-color:              $blue-2;
$btn-primary-bg:                 white;
$btn-primary-bg-hover:           white;
$btn-primary-border:             #49A8D5 !default;

$btn-lowlight-color:             $gray-3;
$btn-lowlight-bg:                transparent;
$btn-lowlight-bg-hover:          $glow-4;

$btn-highlight-color:             $type-inverse;
$btn-highlight-bg:                $blue-2;
$btn-highlight-bg-hover:          #1a739e;

$btn-highlight-alt-color:         white;
$btn-highlight-alt-bg:            $teal-2;
$btn-highlight-alt-bg-hover:      $teal-3;



// alternate is only used on login pages
$btn-alternate-color:            #eee !default;
$btn-alternate-bg:               $brand-primary !default;
$btn-alternate-border:           darken($btn-primary-bg, 5%) !default;

$btn-success-color:              null !default;
$btn-success-bg:                 null !default;
$btn-success-bg-hover:           null;
$btn-success-border:             null !default;

$btn-warning-color:              null !default;
$btn-warning-bg:                 null !default;
$btn-warning-bg-hover:           null;
$btn-warning-border:             null !default;

$btn-danger-color:               $type-inverse !default;
$btn-danger-bg:                  $red-3 !default;
$btn-danger-bg-hover:            $red-2 !default;
$btn-danger-border:              $brand-danger !default;

$btn-info-color:                 null !default;
$btn-info-bg:                    null !default;
$btn-info-bg-hover:              null !default;
$btn-info-border:                null !default;

$btn-disabled-bg:                $gray-9;
$btn-disabled-color:             $gray-5;

$btn-link-disabled-color:        $gray-light !default;


// Forms
// -------------------------

$input-bg:                       #fff !default;
$input-bg-disabled:              $gray-lighter !default;

$input-color:                    $gray !default;
$input-border:                   #ccc !default;
$input-border-radius:            $border-radius-small !default;
$input-border-focus:             $blue-3 !default;
$input-border-width:             1px !default;

$input-color-placeholder:        $gray-5 !default;

$input-height-base:              ($line-height-computed + ($padding-base-vertical * 2) + 2) !default;
$input-height-large:             (floor($font-size-large * $line-height-large) + ($padding-large-vertical * 2) + 2) !default;
$input-height-small:             (floor($font-size-small * $line-height-small) + ($padding-small-vertical * 2) + 2) !default;

$legend-color:                   $gray-dark !default;
$legend-border-color:            #e5e5e5 !default;

$input-group-addon-bg:           $gray-lighter !default;
$input-group-addon-border-color: $input-border !default;


// Dropdowns
// -------------------------

$dropdown-bg:                    #fff !default;
$dropdown-border:                rgba(0,0,0,.15) !default;
$dropdown-fallback-border:       #ccc !default;
$dropdown-divider-bg:            #e5e5e5 !default;

$dropdown-link-color:            $gray-dark !default;
$dropdown-link-hover-color:      darken($gray-dark, 5%) !default;
$dropdown-link-hover-bg:         #f5f5f5 !default;

$dropdown-link-active-color:     $component-active-color !default;
$dropdown-link-active-bg:        $component-active-bg !default;

$dropdown-link-disabled-color:   $gray-light !default;

$dropdown-header-color:          $gray-light !default;

$dropdown-caret-color:           #000 !default;


// COMPONENT VARIABLES
// --------------------------------------------------


// Z-index master list
// -------------------------
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)

$zindex-navbar:            1000 !default;
$zindex-dropdown:          1000 !default;
$zindex-popover:           1010 !default;
$zindex-tooltip:           1030 !default;
$zindex-navbar-fixed:      1030 !default;
$zindex-modal-background:  1040 !default;
$zindex-modal:             1050 !default;

// Media queries breakpoints
// --------------------------------------------------

// Extra small screen / phone
// Note: Deprecated $screen-xs and $screen-phone as of v3.0.1
$screen-xs:                  480px !default;
$screen-xs-min:              $screen-xs !default;
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
// Note: Deprecated $screen-sm and $screen-tablet as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
// Note: Deprecated $screen-md and $screen-desktop as of v3.0.1
$screen-md:                  1082px !default;
$screen-md-min:              $screen-md !default;
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
// Note: Deprecated $screen-lg and $screen-lg-desktop as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
$screen-lg-desktop:          $screen-lg-min !default;

// XL screen / wide desktop
// Note: Deprecated $screen-lg and $screen-lg-desktop as of v3.0.1
$screen-xl:                  1800px !default;
$screen-xl-min:              $screen-xl !default;
$screen-xl-desktop:          $screen-xl-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;

// Max widths for fluid pages

$constrain-width-lg:         $screen-lg;
$constrain-width-xl:         $screen-xl;

// Grid system
// --------------------------------------------------

// Number of columns in the grid system
$grid-columns:              24 !default;
// Padding, to be divided by two and applied to the left and right of all columns
$grid-gutter-width:         20px !default;

$grid-gutter-width-md:   10px !default;

$grid-gutter-width-small:   4px !default;
// Point at which the navbar stops collapsing
$grid-float-breakpoint:     $screen-sm-min !default;


// Navbar
// -------------------------

// Basics of a navbar
$navbar-height:                    40px !default;
$navbar-margin-bottom:             0 !default;
$navbar-border-radius:             0 !default;
$navbar-padding-horizontal:        0 !default;
$navbar-padding-vertical:          12px;

$navbar-default-color:             $almost_white !default;
$navbar-default-bg:                transparent !default;
$navbar-default-border:            none !default;

// Subnav
$navbar-subnav-bg:                 $gray-9;
$navbar-subnav-border-radius:      5px;

// Navbar links
$navbar-default-link-color:                #9faaad !default;
$navbar-default-link-hover-color:          $gray-9 !default;
$navbar-default-link-hover-bg:             $glow-1 !default;
$navbar-default-link-active-color:         #fff !default;
$navbar-default-link-active-bg:            $glow-1 !default;
$navbar-default-link-disabled-color:       #ccc !default;
$navbar-default-link-disabled-bg:          transparent !default;

// Navbar brand label
$navbar-default-brand-color:               $navbar-default-link-color !default;
$navbar-default-brand-hover-color:         darken($navbar-default-brand-color, 10%) !default;
$navbar-default-brand-hover-bg:            transparent !default;

// Navbar toggle
$navbar-default-toggle-hover-bg:           rgba(0,0,0,0.3) !default;
$navbar-default-toggle-icon-bar-bg:        rgba(255,255,255,0.3) !default;
$navbar-default-toggle-border-color:       rgba(255,255,255,0.3) !default;


// Inverted navbar
//
// Reset inverted navbar basics
$navbar-inverse-color:                      $type-inverse;
$navbar-inverse-bg:                         $teal-2 !default;
$navbar-inverse-border:                     transparent;

// Inverted navbar links
$navbar-inverse-link-color:                 $teal-4 !default;
$navbar-inverse-link-hover-color:           #fff !default;
$navbar-inverse-link-hover-bg:              transparent !default;
$navbar-inverse-link-active-color:          $type-inverse !default;
$navbar-inverse-link-active-bg:             $navbar-inverse-bg;
$navbar-inverse-link-disabled-color:        #444 !default;
$navbar-inverse-link-disabled-bg:           transparent !default;

// Inverted navbar brand label
$navbar-inverse-brand-color:                $type-inverse !default;
$navbar-inverse-brand-hover-color:          #fff !default;
$navbar-inverse-brand-hover-bg:             transparent !default;

// Inverted navbar toggle
$navbar-inverse-toggle-hover-bg:            $teal-2 !default;
$navbar-inverse-toggle-icon-bar-bg:         $type-inverse !default;
$navbar-inverse-toggle-border-color:        $teal-4 !default;


// Nav List (top nav)
// -------------------------
$nav-list-link-color:                       $teal-4;
$nav-list-link-hover-color:                 $teal-2;

// Navs
// -------------------------

$nav-link-padding:                          5px 10px !default;
$nav-link-hover-bg:                         transparent !default;

$nav-disabled-link-color:                   $gray-light !default;
$nav-disabled-link-hover-color:             $gray-light !default;

$nav-open-link-hover-color:                 #fff !default;
$nav-open-caret-border-color:               #fff !default;

// Tabs
$nav-tabs-border-color:                     #ddd !default;

$nav-tabs-link-hover-border-color:          $gray-lighter !default;

$nav-tabs-active-link-hover-bg:             $gray-9 !default;
$nav-tabs-active-link-hover-color:          $teal-2 !default;
$nav-tabs-active-link-hover-border-color:   $teal-2 !default;

$nav-tabs-justified-link-border-color:            #ddd !default;
$nav-tabs-justified-active-link-border-color:     $body-bg !default;

$nav-tabs-title-font-size:                  16px;

// Highlighted tabs (used on the service offering page)
$tab-highlight-beak-width:                  14px;
$tab-highlight-beak-height:                 55px;
$tab-highlight-beak-color:                  $gray-9;
$tab-highlight-tab-color:                   $blue-2;
$tab-highlight-tab-active-color:            $gray-3;
$tab-highlight-tab-hover-bg-color:          $gray-9;
$tab-highlight-border-color:                $gray-9;
$tab-highlight-border-width:                2px;
$tab-highlight-bg-color:                    $gray-8;
$tab-highlight-hover-bg-color:              $gray-9;

// Simple tabs
$tab-simple-bg-color:                       $gray-9;
$tab-simple-tab-hover-bg-color:             $gray-10;
$tab-simple-tab-active-bg-color:            $gray-8;
$tab-simple-shadow-border-color:            $shadow-3;
$tab-simple-tab-border-color:               $gray-8;
$tab-simple-link-active-color:              $navy-1;
$tab-simple-link-color:                     $blue-2;
$tab-simple-link-font-weight:                600;

// Pills
$nav-pills-border-radius:                   null;

$nav-pills-active-link-hover-bg:            null;
$nav-pills-active-link-hover-color:         null;

// Nav list
$nav-list-divider-border-color:             $teal-4;

// Logo / Branding
// -------------------------
$logo-height:                           50px;
$logo-width:                           177px;


// Pagination
// -------------------------

$pagination-bg:                        #fff !default;
$pagination-border:                    #ddd !default;

$pagination-hover-bg:                  $gray-lighter !default;

$pagination-active-bg:                 $brand-primary !default;
$pagination-active-color:              #fff !default;

$pagination-disabled-color:            $gray-light !default;


// Pager
// -------------------------

$pager-border-radius:                  15px !default;
$pager-disabled-color:                 $gray-light !default;


// Jumbotron
// -------------------------

$jumbotron-padding:              30px !default;
$jumbotron-color:                inherit !default;
$jumbotron-bg:                   $gray-lighter !default;
$jumbotron-heading-color:        inherit !default;
$jumbotron-font-size:            ceil($font-size-base * 1.5) !default;


// Health Indicator
// -------------------------
$health-indicator-running-color: $teal-3;
$health-indicator-stopped-color: $gray-7;
$health-indicator-warn-color: $red-1;
$health-indicator-size: 40px;
$health-indicator-font-size: 10px;
$health-indicator-large-font-size: 14px;
$health-indicator-large-size: 64px;

// Traffic Lights
// -------------------------
$traffic-light-running-color:   $teal-3;
$traffic-light-stopped-color:   $gray-4;
$traffic-light-crashed-color:   $red-3;

// Form states
// -------------------------

$state-success-text:             $gray-7; // bootstrap uses this for both border and text color
$state-success-bg:               $gray-3;
$state-success-border:           $gray-7;

$state-info-text:                #8e8837; // bootstrap uses this for both border and text color
$state-info-bg:                  #e2df80;
$state-info-border:              #c0b84d;

$state-warning-text:             $yellow-1; // bootstrap uses this for both border and text color
$state-warning-bg:               $yellow-2;
$state-warning-border:           $yellow-1;

$state-danger-text:              $red-3; // bootstrap uses this for both border and text color
$state-danger-bg:                $red-4;
$state-danger-border:            $red-3;


// Tooltips
// -------------------------
$tooltip-max-width:           200px !default;
$tooltip-color:               $gray-9 !default;
$tooltip-bg:                  $gray-2 !default;

$tooltip-arrow-width:         5px !default;
$tooltip-arrow-color:         $tooltip-bg !default;


// Popovers
// -------------------------
$popover-bg:                          #fff !default;
$popover-max-width:                   276px !default;
$popover-border-color:                rgba(0,0,0,.2) !default;
$popover-fallback-border-color:       #ccc !default;

$popover-title-bg:                    darken($popover-bg, 3%) !default;

$popover-arrow-width:                 10px !default;
$popover-arrow-color:                 #fff !default;

$popover-arrow-outer-width:           ($popover-arrow-width + 1) !default;
$popover-arrow-outer-color:           rgba(0,0,0,.25) !default;
$popover-arrow-outer-fallback-color:  #999 !default;


// Labels
// -------------------------

$label-default-bg:            $gray-light !default;
$label-primary-bg:            $brand-primary !default;
$label-success-bg:            $brand-success !default;
$label-info-bg:               $brand-info !default;
$label-warning-bg:            $brand-warning !default;
$label-danger-bg:             $brand-danger !default;

$label-color:                 #fff !default;
$label-link-hover-color:      #fff !default;


// Modals
// -------------------------
$modal-inner-padding:         30px !default;

$modal-title-padding:         15px !default;
$modal-title-line-height:     $line-height-base !default;

$modal-content-bg:                             $gray-9 !default;
$modal-content-border-color:                   $teal-2 !default;
$modal-content-fallback-border-color:          #999 !default;

$modal-backdrop-bg:           $navy-1 !default;
$modal-backdrop-opacity:      .80;
$modal-header-border-color:   $gray-8 !default;
$modal-footer-border-color:   $modal-header-border-color !default;

// Modal basic
$modal-basic-title-color:             $text-color;
$modal-basic-content-border-radius:   $border-radius-none;
$modal-basic-content-border-width:    2px;
$modal-basic-header-bg:               $gray-9;
$modal-basic-footer-bg:               $gray-9;

// Alerts
// -------------------------
$alert-border-radius:         0px;
$alert-padding:               15px;
$alert-close-size:            16px;
$alert-border-radius:         0px;
$alert-link-font-weight:      bold !default;

$alert-success-bg:            $green-2;
$alert-success-text:          $green-1;
$alert-success-border:        $green-1;

$alert-info-bg:               $blue-5 !default;
$alert-info-text:             $blue-1;
$alert-info-border:           #8AC0C4 !default;

$alert-warning-bg:            $yellow-2;
$alert-warning-text:          $yellow-1;
$alert-warning-border:        $yellow-1;

$alert-danger-bg:             $red-4;
$alert-danger-text:           $red-1;
$alert-danger-border:         $red-4;


// Progress bars
// -------------------------
$progress-bg:                 #f5f5f5 !default;
$progress-bar-color:          #fff !default;

$progress-bar-bg:             $brand-primary !default;
$progress-bar-success-bg:     $brand-success !default;
$progress-bar-warning-bg:     $brand-warning !default;
$progress-bar-danger-bg:      $brand-danger !default;
$progress-bar-info-bg:        $brand-info !default;

// Dividers
// -------------------------
$divider-lowlight-border:     1px solid $gray-8;

// Lists
// -------------------------
$list-inline-divider-border:  1px solid $gray-5;
$list-vertical-divider-border:  2px solid $gray-9;

$list-steps-color:            $gray-5;
$list-steps-color-current:    $gray-10;

// List group
// -------------------------
$list-group-bg:               #fff !default;
$list-group-border:           #ddd !default;
$list-group-border-radius:    $border-radius-none !default;

$list-group-hover-bg:         #f5f5f5 !default;
$list-group-active-color:     $component-active-color !default;
$list-group-active-bg:        $component-active-bg !default;
$list-group-active-border:    $list-group-active-bg !default;

$list-group-link-color:          #555 !default;
$list-group-link-heading-color:  #333 !default;


// Panels
// -------------------------
$panel-bg:                    null;
$panel-inner-border:          transparent !default;
$panel-border-radius:         $border-radius-none !default;
$panel-footer-bg:             transparent !default;

$panel-default-text:          $text-color !default;
$panel-default-border:        transparent;
$panel-default-heading-bg:    none;

$panel-primary-text:          #fff !default;
$panel-primary-border:        $brand-primary !default;
$panel-primary-heading-bg:    $brand-primary !default;

$panel-simple-border:         1px solid $gray-9;

$panel-tile-border:             2px solid $gray-9;
$panel-tile-hover-border-color: $blue-2;
$panel-tile-hover-bg-color:     $gray-10;

$panel-success-text:          $state-success-text !default;
$panel-success-border:        $state-success-border !default;
$panel-success-heading-bg:    $state-success-bg !default;

$panel-warning-text:          $state-warning-text !default;
$panel-warning-border:        $state-warning-border !default;
$panel-warning-heading-bg:    $state-warning-bg !default;

$panel-danger-text:           $state-danger-text !default;
$panel-danger-border:         $state-danger-border !default;
$panel-danger-heading-bg:     $state-danger-bg !default;

$panel-info-text:             $state-info-text !default;
$panel-info-border:           $state-info-border !default;
$panel-info-heading-bg:       $state-info-bg !default;

// Panel Headings
// -------------------------
$panel-heading-basic-bg:             $gray-9;
$panel-heading-basic-text:           $gray-3;
$panel-heading-basic-font-size:      22px; //TODO: once typography is solidified this should use heading vars

$panel-heading-simple-text:            $gray-5;
$panel-heading-simple-text-align:      center;
$panel-heading-simple-font-weight:     600;
$panel-heading-simple-font-size:       14px;
$panel-heading-simple-text-transform:  uppercase;

// Panel Footers
// -------------------------
$panel-footer-tile-text:               $gray-10;
$panel-tile-font-size:                 12px;


// Thumbnails
// -------------------------
$thumbnail-padding:           4px !default;
$thumbnail-bg:                $body-bg !default;
$thumbnail-border:            #ddd !default;
$thumbnail-border-radius:     $border-radius-base !default;

$thumbnail-caption-color:     $text-color !default;
$thumbnail-caption-padding:   9px !default;


// Wells
// -------------------------
$well-bg:                     #f5f5f5 !default;


// Badges
// -------------------------
$badge-color:                 #fff !default;
$badge-link-hover-color:      #fff !default;
$badge-bg:                    $gray-light !default;

$badge-active-color:          $link-color !default;
$badge-active-bg:             #fff !default;

$badge-font-weight:           bold !default;
$badge-line-height:           1 !default;
$badge-border-radius:         10px !default;


// Breadcrumbs
// -------------------------
$breadcrumb-bg:               #f5f5f5 !default;
$breadcrumb-color:            #ccc !default;
$breadcrumb-active-color:     $gray-light !default;
$breadcrumb-separator:        "/" !default;


// Carousel
// ------------------------

$carousel-text-shadow:                        0 1px 2px rgba(0,0,0,.6) !default;

$carousel-control-color:                      #fff !default;
$carousel-control-width:                      15% !default;
$carousel-control-opacity:                    .5 !default;
$carousel-control-font-size:                  20px !default;

$carousel-indicator-active-bg:                #fff !default;
$carousel-indicator-border-color:             #fff !default;

$carousel-caption-color:                      #fff !default;


// Close
// ------------------------
$close-font-weight:           bold !default;
$close-color:                 #000 !default;
$close-text-shadow:           0 1px 0 #fff !default;


// Code
// ------------------------
$code-color:                  #c7254e !default;
$code-bg:                     #f9f2f4 !default;

$pre-bg:                      #f5f5f5 !default;
$pre-color:                   $gray-dark !default;
$pre-border-color:            #ccc !default;
$pre-scrollable-max-height:   340px !default;



// Miscellaneous
// -------------------------

// Hr border color
$hr-border:                   $gray-lighter !default;

// Horizontal forms & lists
$component-offset-horizontal: 180px !default;


// Container sizes
// --------------------------------------------------

// Small screen / tablet
$container-tablet:             ((720px + $grid-gutter-width)) !default;
$container-sm:                 $container-tablet !default;

// Medium screen / desktop
$container-desktop:            ((940px + $grid-gutter-width)) !default;
$container-md:                 $container-desktop !default;

// Large screen / wide desktop
$container-large-desktop:      ((1140px + $grid-gutter-width)) !default;
$container-lg:                 $container-large-desktop !default;

// XL screen / xtra-wide desktop
$container-extra-large-desktop:      ((1740px + $grid-gutter-width)) !default;
$container-xl:                 $container-extra-large-desktop !default;

// OOCSS Variables

// TODO: Including these for box support. When we move to building the console, use bootstrap panels
// setting oocss value to match bootstrap

// Calculate grid widths for old versions of IE
$pageWidth:                 997px;
/* ==========================================================================
  Browser support
  ========================================================================== */
$ie7: false;
$ie8: false;


/* Typography
   ========================================================================== */
$baseFontSize:              $font-size-base;
$baseLineHeight:            $line-height-base; //must be unitless
$baseSpacing:               $line-height-base;

/* Grid
   ========================================================================== */
$baseGutter:                $grid-gutter-width;


