/*doc
---
title: Whitespace
name: whitespace
categories:
  - All
  - Utilities
---
*/
/*doc
---
title: Standard
name: standard
parent: whitespace
---

Should be used to modify the default spacing between objects (not between nodes of the same object)
Please use judiciously. You want to be using defaults most of the time, these are exceptions!
`<type><location><size>`

Letter                           | Description
-------------------------------- | ------------------------------------------------------------------
p, m                             | padding, margin
a, t, r, b, l, h, v              | all, top, right, bottom, left, horizontal, vertical
n, s, m, l, xl, xxl, xxxl, xxxxl | none(0px), small(5px), medium(7px), large(10px), extra large(20px), extra extra large (40px), extra extra extra large (120px), extra extra extra extra large (140px)


```haml_example
%p A normal paragraph
%p.pal A paragraph with large padding
```


*/

@include whitespace(($whitespace-s, $whitespace-m, $whitespace-l, $whitespace-xl, $whitespace-xxl, $whitespace-xxxl, $whitespace-xxxxl));

@media all and (max-width: $screen-sm) {
  @include whitespace(($whitespace-screen-sm-s, $whitespace-screen-sm-m, $whitespace-screen-sm-l, $whitespace-screen-sm-xl, $whitespace-screen-sm-xxl, $whitespace-screen-sm-xxxl, $whitespace-screen-sm-xxxxl));
}


/*doc
---
title: List Spacing
name: list-whitespace
parent: lists
categories:
  - All
  - Utilities
---

Most lists come with built in default spacing that should work for you. However, if you find yourself needing to modify the spacing, you should do that with list spacing classes rather than whitespace classes. A single class can be applied to the list and all direct children will be modified.
The classes are constructed by specifying `<type><location><size>`.

<table>
    <tbody><tr>
      <th scope="col" colspan="3" class="txtL"><strong>Type:</strong></th>
    </tr>
    <tr>
      <th scope="row"><code class="sg-code">l</code></th>
      <td>list</td>
      <td>Space on the inside of each of the li direct children of the element</td>
    </tr>
    <tr>
      <th scope="col" colspan="3" class="txtL"><strong>Location:</strong></th>
    </tr>
    <tr>
      <th scope="row"><code class="sg-code">h</code></th>
      <td>horizontal</td>
      <td>Adds spacing to the left and right of the <code class="sg-code">li</code>.</td>
    </tr>
    <tr>
      <th scope="row"><code class="sg-code">v</code></th>
      <td>vertical</td>
      <td>Adds spacing to the top and bottom of the <code class="sg-code">li</code>.</td>
    </tr>
    <tr>
      <th scope="col" colspan="3" class="txtL"><strong>Size:</strong></th>
    </tr>
    <tr>
      <th scope="row"><code class="sg-code">xl</code></th>
      <td>extra large</td>
      <td>Adds 21 pixels of space</td>
    </tr>
    <tr>
      <th scope="row"><code class="sg-code">l</code></th>
      <td>large</td>
      <td>Adds 10 pixels of space</td>
    </tr>
    <tr>
      <th scope="row"><code class="sg-code">m</code></th>
      <td>medium</td>
      <td>Adds 7 pixels of space</td>
    </tr>
    <tr>
      <th scope="row"><code class="sg-code">s</code></th>
      <td>small</td>
      <td>Adds 5 pixels of space</td>
    </tr>
    <tr>
      <th scope="row"><code class="sg-code">n</code></th>
      <td>none</td>
      <td>Sets any existing space to 0</td>
    </tr>
  </tbody></table>

<div class="row">
  <div class="col-md-12">

  </div>
  <div class="col-md-12">

  </div>
</div>

#### Vertical Spacing Options

##### None

```haml_example
%ul.lvn
  %li
    feep
  %li
    fop
  %li
    meep
```

##### Small

```haml_example
%ul.lvs
  %li
    feep
  %li
    fop
  %li
    meep
```

##### Medium

```haml_example
%ul.lvm
  %li
    feep
  %li
    fop
  %li
    meep
```

##### Large

```haml_example
%ul.lvl
  %li
    feep
  %li
    fop
  %li
    meep
```


##### Extra Large

```haml_example
%ul.lvxl
  %li
    feep
  %li
    fop
  %li
    meep
```

#### Horizontal Spacing Options

##### None

```haml_example
%ul.list-inline.lhn
  %li
    feep
  %li
    fop
  %li
    meep
```

##### Small

```haml_example
%ul.list-inline.lhs
  %li
    feep
  %li
    fop
  %li
    meep
```

##### Medium

```haml_example
%ul.list-inline.lhm
  %li
    feep
  %li
    fop
  %li
    meep
```

##### Large

```haml_example
%ul.list-inline.lhl
  %li
    feep
  %li
    fop
  %li
    meep
```

##### Extra Large

```haml_example
%ul.list-inline.lhxl
  %li
    feep
  %li
    fop
  %li
    meep
```

*/
