@import "../pui-variables";

.bg-neutral-1 {
  background-color: $neutral-1 !important;
}

.bg-neutral-2 {
  background-color: $neutral-2 !important;
}

.bg-neutral-3 {
  background-color: $neutral-3 !important;
}

.bg-neutral-4 {
  background-color: $neutral-4 !important;
}

.bg-neutral-5 {
  background-color: $neutral-5 !important;
}

.bg-neutral-6 {
  background-color: $neutral-6 !important;
}

.bg-neutral-7 {
  background-color: $neutral-7 !important;
}

.bg-neutral-8 {
  background-color: $neutral-8 !important;
}

.bg-neutral-9 {
  background-color: $neutral-9 !important;
}

.bg-neutral-10 {
  background-color: $neutral-10 !important;
}

.bg-neutral-11 {
  background-color: $neutral-11 !important;
}

// Teals
.bg-brand-1 {
  background-color: $brand-1 !important;
}

.bg-brand-2 {
  background-color: $brand-2 !important;
}

.bg-brand-3 {
  background-color: $brand-3 !important;
}

.bg-brand-4 {
  background-color: $brand-4 !important;
}

.bg-brand-5 {
  background-color: $brand-5 !important;
}

.bg-brand-6 {
  background-color: $brand-6 !important;
}

.bg-brand-7 {
  background-color: $brand-7 !important;
}

.bg-brand-8 {
  background-color: $brand-8 !important;
}

.bg-brand-9 {
  background-color: $brand-9 !important;
}

.bg-brand-10 {
  background-color: $brand-10 !important;
}

.bg-brand-11 {
  background-color: $brand-11 !important;
}

// Blues

.bg-accent-1 {
  background-color: $accent-1 !important;
}

.bg-accent-2 {
  background-color: $accent-2 !important;
}

.bg-accent-3 {
  background-color: $accent-3 !important;
}

.bg-accent-4 {
  background-color: $accent-4 !important;
}

.bg-accent-5 {
  background-color: $accent-5 !important;
}

.bg-accent-6 {
  background-color: $accent-6 !important;
}

// Navies

.bg-dark-1 {
  background-color: $dark-1 !important;
}

.bg-dark-2 {
  background-color: $dark-2 !important;
}

.bg-dark-3 {
  background-color: $dark-3 !important;
}

.bg-dark-4 {
  background-color: $dark-4 !important;
}

.bg-dark-5 {
  background-color: $dark-5 !important;
}

.bg-dark-6 {
  background-color: $dark-6 !important;
}

.bg-dark-7 {
  background-color: $dark-7 !important;
}

.bg-dark-8 {
  background-color: $dark-8 !important;
}

.bg-dark-9 {
  background-color: $dark-9 !important;
}

.bg-dark-10 {
  background-color: $dark-10 !important;
}

.bg-dark-11 {
  background-color: $dark-11 !important;
}

// Reds
.bg-error-1 {
  background-color: $error-1 !important;
}

.bg-error-2 {
  background-color: $error-2 !important;
}

.bg-error-3 {
  background-color: $error-3 !important;
}

.bg-error-4 {
  background-color: $error-4 !important;
}

.bg-error-5 {
  background-color: $error-5 !important;
}

.bg-error-6 {
  background-color: $error-6 !important;
}

// Yellows
.bg-warn-1 {
  background-color: $warn-1 !important;
}

.bg-warn-2 {
  background-color: $warn-2 !important;
}

.bg-warn-3 {
  background-color: $warn-3 !important;
}

.bg-warn-4 {
  background-color: $warn-4 !important;
}

.bg-warn-5 {
  background-color: $warn-5 !important;
}

.bg-warn-6 {
  background-color: $warn-6 !important;
}

// Greens
.bg-success-1 {
  background-color: $success-1 !important;
}

.bg-success-2 {
  background-color: $success-2 !important;
}

.bg-success-3 {
  background-color: $success-3 !important;
}

.bg-success-4 {
  background-color: $success-4 !important;
}

.bg-success-5 {
  background-color: $success-5 !important;
}

.bg-success-6 {
  background-color: $success-6 !important;
}

// These classes are for the style guide only

.bg-glow-1 {
  background-color: $glow-1 !important;
}

.bg-glow-2 {
  background-color: $glow-2 !important;
}

.bg-glow-3 {
  background-color: $glow-3 !important;
}

.bg-glow-4 {
  background-color: $glow-4 !important;
}

.bg-glow-5 {
  background-color: $glow-5 !important;
}

.bg-shadow-1 {
  background-color: $shadow-1 !important;
}

.bg-shadow-2 {
  background-color: $shadow-2 !important;
}

.bg-shadow-3 {
  background-color: $shadow-3 !important;
}

.bg-shadow-4 {
  background-color: $shadow-4 !important;
}
