@import "../pui-variables";
@import "../mixins";
@import '../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins';

.panel { // resets bootstrap default
  display: flex;
  flex-direction: column;

  box-shadow: none;
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
  margin: 0;
  //background-color: transparent; // Bootstrap Override
}

.panel-body {
  flex: 1 0 auto;
  align-self: auto;
  min-height: $base-unit * 5;
  position: relative;
}

.panel-footer {
  flex: 0 0 auto;
  align-self: auto;
}

.panel-title {
  font-size: inherit; // Bootstrap Override for React Collapses
}

.panel-simple {
  border: $panel-simple-border;
}

.panel-basic {
  border-radius: $border-radius-medium;
  @include background-clip-fix;
  border-bottom: 2px solid $shadow-3;
}

.panel-header {
  padding: $panel-heading-padding;
  border-bottom: $panel-title-border;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.panel-title-alt {
  color: $panel-title-text;
  font-weight: $panel-title-font-weight;
  font-size: $panel-title-font-size;
}

.panel-basic-alt {
  border: $panel-basic-alt-border;
  border-radius: $panel-basic-alt-border-radius;
  @include background-clip-fix;
  border-bottom: $panel-basic-alt-border-bottom;
  background-color: $panel-basic-alt-background;
}

//Animation Panel Loading
.panel-loading-indicator {
  position: absolute;
  top: -3px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: transparent;
  overflow: hidden;
  &:after {
    content: "";
    position: absolute;
    right: 100%;
    width: 40%;
    height: 3px;
    background-color: $blue-3;
    animation: panel-loading-slide 1s infinite cubic-bezier(0.45, 0.05, 0.55, 0.95);
  }
}

@keyframes panel-loading-slide {
  0% {
    right: 100%;
    width: 100%;
    opacity: 1;
  }
  85% {
    opacity: .15;
  }
  100% {
    right: 0;
    width: 100%;
    opacity: .05;
  }
}

.panel-scrollable {
  max-height: $base-unit * 23;
  overflow-x: hidden;
}

.panel-highlight {
  background-color: $gray-10;
  border-radius: $base-unit;
  box-shadow: 0 ($base-unit / 2) 0 0 $shadow-3;

  &.title-panel h1 {
    overflow: hidden;
    @include text-overflow;
  }
}

.panel-alt {

  // while creating a new space (form inside)
  &.panel-editing {
    background-color: $gray-9;
  }

  // add a space box
  &.panel-empty {
    background-color: $shadow-3;

    &:hover {
      @include transition-pui();
      background-color: $gray-9;
      border-bottom: ($base-unit / 2) solid $shadow-2;
    }
  }

  .aligner {
    min-height: $base-unit * 24;
  }

  .panel-basic {
    min-height: $base-unit * 11;
  }

  &%panel-state {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 0;
      height: 0;
      border-left: ($base-unit*3) solid transparent;
    }
  }

  &.panel-danger, &.panel-off {
    @extend %panel-state;
  }

  &.panel-danger:before {
    border-top: ($base-unit*3) solid $red-3;
  }

  &.panel-off:before {
    border-top: ($base-unit*3) solid $gray-4;
  }
}

.panel {
  border: none; //Bootstrap override
}

.panel-shadow {
  @include background-clip-fix;
}

.panel-shadow-1 {
  @extend .panel-shadow;
  box-shadow: 0 ($base-unit / 2) $shadow-1;
}

.panel-shadow-2 {
  @extend .panel-shadow;
  box-shadow: 0 ($base-unit / 2) $shadow-2;
}

.panel-shadow-3 {
  @extend .panel-shadow;
  box-shadow: 0 ($base-unit / 2) $shadow-3;
}

.panel-shadow-4 {
  @extend .panel-shadow;
  box-shadow: 0 ($base-unit / 2) $shadow-4;
}

.panel-clickable {
  display: block;
  background-color: $gray-9;
  cursor: pointer;
  @include transition-pui();

  .hover-target-1, .hover-target-2, .hover-target-3 {
    @include transition-pui();
  }

  .hover-target-1 {
    color: $text-color;
  }

  .hover-target-2 {
    color: $gray-5;
  }

  .hover-target-3 {
    background-color: $gray-10;
  }

  &:hover {
    background-color: $gray-10;

    .hover-target-1 { // default text color => link color
      color: $link-color;
    }
    .hover-target-2 { // light gray => default text color
      color: $text-color;
    }
    .hover-target-3 {
      background-color: $gray-11;
    }
  }
}

.panel-clickable-alt {
  @extend .panel-highlight;
  @extend .panel-clickable;
  background-color: $gray-10;

  &:hover {
    background-color: $gray-11;
    box-shadow: 0 ($base-unit / 2) 0 0 $shadow-2;
  }
}
