@import "../pui-variables";
@import '../mixins';
@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/modals";

.modal-fade-enter, .modal-fade-leave {
  @extend .fade;

  //Base .fade styles from bootstrap
  @include transition(opacity .15s linear);
  opacity: 0;
}

//Class created in React Animations
.modal-fade-enter-active {
  @extend .in;

  //Base .in styles from bootstrap
  opacity: 1;
}

.modal-backdrop.in {
  // Bootstrap defines the modal-backdrop opacity on the .modal-backdrop.in rule
  // so we have to create more specific rules for our React transition group to
  // actually see a transition :(

  //Class created in React Animations
  &.modal-backdrop-fade-enter, &.modal-backdrop-fade-leave {
    @include transition(opacity .15s linear);
    opacity: 0;
  }

  //Class created in React Animations
  &.modal-backdrop-fade-enter-active {
    opacity: $modal-backdrop-opacity;
  }
}

.modal {
  .modal-dialog {
    margin-top: 50px;
    box-shadow: $box-shadow-key-3, $box-shadow-amb-3;
  }

  .modal-content {
    border-radius: $modal-content-border-radius;
    border-width: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    background-color: $modal-bg-color;
  }

  .modal-header {
    padding: $modal-inner-padding/2 $modal-inner-padding;
    border-bottom: 1px solid $navy-9;

    .modal-title {
      color: $modal-title-color;
      font-weight: 600;
      padding: 0;
    }

    .close {
      line-height: 30px;
    }
  }

  .modal-footer {
    padding: 0 $modal-inner-padding $modal-inner-padding $modal-inner-padding;
    text-align: right;
    border-top: 0;
  }

  overflow-y: auto;
}

.pui-no-scroll {
  overflow: hidden;
}