/*
 * IE 10 doesn't support conditional comments so using IE9/IE10 hack.
 * Does not affect IE 5.5 through IE 8, nor other browsers.
 *
 * For details see: http://www.impressivewebs.com/ie10-css-hacks/
 */
@media screen and (min-width: 0\0) {
  .chip .chip-color-name {
    font-size: 10px !important; }
  h3, .h3 {
    font-size: 22px; } }

/* ==========================================================================
  Browser support
  ========================================================================== */
/* Typography
   ========================================================================== */
/* Grid
   ========================================================================== */
/* Code examples
   ========================================================================== */
/* Transition mixins */
/* Button Mixins */
html {
  background-color: white; }

.container {
  max-width: 1128px;
  width: auto;
  margin: 0 auto; }

.content {
  margin-top: 5px; }

.main > h1 {
  margin-top: 30px; }

.main > h1:first-child {
  margin-top: 0; }

h1.styleguide, h2.styleguide, h3.styleguide, h4.styleguide, h5.styleguide, h6.styleguide {
  color: #243641;
  font-weight: 600;
  margin-top: 0; }
  @media screen and (min-width: 992px) {
    h1.styleguide, h2.styleguide, h3.styleguide, h4.styleguide, h5.styleguide, h6.styleguide {
      padding-top: 50px; } }

h1.styleguide {
  font-size: 42px; }

footer {
  margin-top: 20px;
  text-align: center; }

.componentMenu {
  max-height: 535px;
  width: 175px;
  overflow-y: auto; }

blockquote:before {
  content: "Design Note:";
  font-weight: bold; }

blockquote {
  border: 1px solid #eee;
  border-radius: 4px;
  font-family: "Comic Sans MS";
  font-size: 16px;
  margin: 10px 0;
  padding: 5px; }

main {
  padding-left: 300px; }

.styleguide-header {
  width: 300px;
  height: 100%;
  z-index: 100;
  overflow: auto;
  position: fixed;
  top: 0;
  background: white;
  border-right: 1px solid #ecefef; }
  .styleguide-header .visible-on-focus {
    position: absolute;
    left: 0px;
    top: -40px; }
    .styleguide-header .visible-on-focus:focus, .styleguide-header .visible-on-focus:hover {
      top: 40px; }
  .styleguide-header .logo-type-company, .styleguide-header .logo-type-app {
    display: block;
    line-height: 1; }
  .styleguide-header #styleguide-navbar .nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-align: center; }
    .styleguide-header #styleguide-navbar .nav > li {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1; }
  .styleguide-header #styleguide-navbar .nav-component-type {
    margin: 0;
    background-color: white; }
    .styleguide-header #styleguide-navbar .nav-component-type .panel-body {
      padding-top: 0;
      padding-bottom: 0; }
      .styleguide-header #styleguide-navbar .nav-component-type .panel-body a {
        display: block; }

.exampleOutput .back-to-top {
  position: absolute; }

.contrast-bar {
  background-color: #232B2F;
  min-height: 80px;
  padding: 20px; }

.color-chip-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px; }

.chip {
  margin-top: 5px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 5px; }
  .chip .chip-color {
    min-height: 53px;
    border-radius: 5px 5px 0 0; }
  .chip .chip-color-name {
    color: #243641;
    padding-top: 5px;
    font-size: 14px;
    text-align: center;
    padding: 10px;
    background-color: white;
    border-radius: 0 0 5px 5px;
    box-shadow: 0px 2px 0 rgba(0, 0, 0, 0.1); }

.marquee {
  min-height: 400px; }

.marquee-name {
  color: #777;
  padding-top: 5px;
  font-size: 11px;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace; }

.componentMenu {
  max-height: 535px;
  width: 175px;
  overflow-y: auto; }

blockquote:before {
  content: "Design Note:";
  font-weight: bold; }

blockquote {
  border: 1px solid #eee;
  border-radius: 4px;
  font-family: "Comic Sans MS";
  font-size: 16px;
  margin: 10px 0;
  padding: 5px; }

.sg-code {
  padding: 2px 4px;
  color: #d14;
  white-space: nowrap;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 4px; }

.codeExample, .jsExample {
  background-clip: padding-box; }
  .codeExample .docSwatch, .jsExample .docSwatch {
    min-height: 218.21px;
    border: 1px solid #ccc;
    padding: 10px 0 0 10px;
    font-size: 12px;
    margin-bottom: 5px; }

.codeExample .codeBlock, .jsExample.codeBlock {
  position: relative;
  background-color: white;
  border-top: 1px solid rgba(0, 0, 0, 0.07);
  padding: 40px;
  border: 1px solid #d4d9d9;
  border-radius: 0 0 5px 5px; }
  .codeExample .codeBlock pre, .jsExample.codeBlock pre {
    background-color: transparent;
    margin: 0;
    border: none;
    padding: 0; }
  .codeExample .codeBlock .btn-copy, .jsExample.codeBlock .btn-copy {
    display: none;
    border-left: 1px solid rgba(0, 0, 0, 0.07);
    border-bottom: 1px solid rgba(0, 0, 0, 0.07); }
    .codeExample .codeBlock .btn-copy.zeroclipboard-is-hover, .jsExample.codeBlock .btn-copy.zeroclipboard-is-hover {
      display: block; }
  .codeExample .codeBlock:hover .btn-copy, .jsExample.codeBlock:hover .btn-copy {
    display: block; }

.codeExample {
  margin: 10px 0;
  background-color: white; }
  .codeExample .exampleOutput {
    padding: 20px;
    border: 1px solid #d4d9d9;
    border-radius: 5px 5px 0 0; }
    .codeExample .exampleOutput.inverse {
      background-color: #232B2F; }
  .codeExample .line > div:after {
    content: attr(class);
    display: block;
    min-height: 40px;
    line-height: 40px;
    background-color: #EEE;
    text-align: center;
    border-radius: 3px;
    font-size: 12px; }

.jsExample {
  margin: -10px 0 10px; }

.codeTable table {
  padding: 7px;
  border: none;
  table-layout: fixed;
  width: 100%;
  max-width: 100%;
  margin-bottom: 24px;
  border: 1px solid #e0e4e5;
  border-radius: 5px; }
  .codeTable table tr, .codeTable table th, .codeTable table td {
    font-weight: normal; }
  .codeTable table tr {
    padding: 7px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07); }
    .codeTable table tr:last-of-type {
      border-bottom: none; }
  .codeTable table th {
    padding: 10px 20px;
    vertical-align: middle;
    background-color: white; }
  .codeTable table td {
    position: relative;
    padding: 10px 10px;
    vertical-align: middle;
    background-color: #F8F8F8; }
    .codeTable table td .btn-copy {
      display: none;
      border-left: 1px solid rgba(0, 0, 0, 0.14);
      border-bottom: 1px solid rgba(0, 0, 0, 0.14); }
      .codeTable table td .btn-copy.zeroclipboard-is-hover {
        display: block; }
    .codeTable table td:hover .btn-copy {
      display: block; }
  .codeTable table.inverse th {
    background-color: #232B2F; }
  .codeTable table pre {
    background-color: transparent;
    margin: 0;
    border: none;
    padding: 0; }

table.styleguide {
  padding: 7px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  width: 100%; }
  table.styleguide tr, table.styleguide th, table.styleguide td {
    padding: 7px;
    border: 1px solid #ccc;
    font-weight: normal; }
  table.styleguide th {
    font-weight: bold; }
  table.styleguide td.no-wrap, table.styleguide th.no-wrap {
    white-space: nowrap; }

.btn-copy {
  -webkit-transition: background 0.5s ease-out;
  transition: background 0.5s ease-out;
  position: absolute;
  top: 0;
  right: 0;
  padding: 7px 20px;
  border-radius: 0; }
  .btn-copy.zeroclipboard-is-hover {
    background-color: white; }

.grid-show {
  margin-bottom: 20px;
  text-align: center; }
  .grid-show [class*=col]:before {
    content: attr(class) '\a' attr(grid-content);
    white-space: pre;
    display: block;
    background-color: #F8F8F8;
    padding: 10px 0;
    outline: 1px solid #b4b4b4; }

.styleguide-form {
  padding: 25px; }

.styleguide-component-wrapper {
  position: relative;
  border: 1px solid #c3c5c7;
  height: 200px;
  width: 100%;
  overflow: hidden; }
  .styleguide-component-wrapper .ribbon-banner {
    position: absolute; }

.bkg-highlight-2 {
  background-position: 0 50%; }

.section-nav {
  font-size: 14px;
  padding-left: 0;
  font-weight: bold; }
  .section-nav li {
    display: inline-block; }
    .section-nav li a {
      display: inline-block;
      padding: 5px 10px;
      margin-right: 5px;
      margin-bottom: 10px;
      background-color: #FFFFFF;
      background-color: rgba(255, 255, 255, 0.4);
      -webkit-transition: all 300ms ease-out;
      transition: all 300ms ease-out;
      border-radius: 3px; }
      .section-nav li a:hover {
        background-color: white; }

td.is-visible, td.is-hidden {
  color: #686868;
  text-align: center;
  vertical-align: middle; }

td.is-visible {
  background-color: #dff0d8 !important; }

td.is-hidden {
  background-color: #f9f9f9 !important; }

h1#intro.styleguide {
  height: 0;
  width: 0;
  font-size: 0;
  padding: 0;
  margin: 0; }

.aligned-item {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: transparent; }

.styleguide.panel-body {
  height: 225px; }

.styleguide.code {
  background-color: transparent;
  border: none; }

.styleguide-hero {
  border-bottom: 3px solid rgba(255, 255, 255, 0.25);
  color: white; }
  .styleguide-hero .container {
    margin: 0 2vw;
    max-width: none; }

.bg-gradient-1 {
  background-image: -webkit-linear-gradient(90deg, #1F7BA6 0%, #46B1E3 100%);
  background-image: linear-gradient(0deg, #1F7BA6 0%, #46B1E3 100%); }

.styleguide-title {
  font-size: 4vw;
  margin: 0; }

.styleguide-subtitle {
  font-size: 1.5vw; }

.styleguide-btn-primary {
  font-size: 1.5vw;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 0;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
  font-weight: 500; }
  .styleguide-btn-primary:hover, .styleguide-btn-primary:focus {
    color: white;
    border-color: white;
    background: transparent; }

.styleguide-intro-tile {
  border: solid #EAEDEF;
  border-width: 0 1px 1px 0;
  padding: 6vw 2.5vw;
  margin: -1px 0;
  font-size: 14px; }
  .styleguide-intro-tile h2 {
    font-size: 32px;
    margin: 0;
    color: #424242; }

.crazy-logo {
  width: 32vw;
  margin: 0 auto 0 auto; }
