@import "../pui-variables";

.pagination {
  .active {
    color: $accent-teal;
    text-decoration: underline;
  }

  .pui-btn {
    padding: 0 $base-unit;

    &:hover {
      text-decoration: underline;
    }
  }
}
