@import "../pui-variables";

/*doc
---
title: Button Group
name: button-group
categories:
  - Elements
  - All
---

<code class="pam">
<i class="fa fa-download" alt="Install the Component">
npm install pui-css-buttons-group --save
</i>
</code>

Button groups wrap a series of buttons.

```html_example
<div class="btn-group btn-group-lg" role="group" aria-label="...">
  <button type="button" class="btn btn-default">Left</button>
  <button type="button" class="btn btn-default">Middle</button>
  <button type="button" class="btn btn-default">Right</button>
</div>
```
*/

.btn-group {
  .btn {
    &.active, &:active {
      color: $neutral-11;
      background-color: $btn-default-color;
    }
  }
}
