@import "../pui-variables";

.btn-group {
  display: inline-block;

  > .btn {
    float:left;
  }
  .btn:hover {
    z-index: 2;
  }
  .btn+ .btn {
    margin-left: -2px;
  }
  .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    border-radius: 0;
  }

  .btn:first-child {
    border-bottom-left-radius: $btn-border-radius;
    border-top-left-radius: $btn-border-radius;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  .btn:last-child:not(:first-child),
  .dropdown-toggle:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: $btn-border-radius;
    border-top-right-radius: $btn-border-radius;
  }
}

.btn-group-flat {
  display: inline-block;
  > .btn {
    padding: 0 $btn-spacing-base;
    float:left;
  }
  .btn-icon {
    padding: 0 3px;
  }
}