@import "../pui-variables";
@import '../mixins';

.pui-dialog-backdrop {
  position: fixed;
  background: transparentize($modal-backdrop-bg, 0.2);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  opacity: 0;
  z-index: $zindex-modal;
  transform: translateZ(0);
  will-change: opacity;
  overflow-y: auto;

  &.pui-dialog-show {
    opacity: 1;
  }
}

.pui-flyout-dialog {
  background: #fff;
  width: $screen-xs;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
  transform: translateX(0.8 * $screen-xs);
  will-change: transform;

  @media (min-width: $screen-sm-min) {
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }

  &.pui-dialog-show {
    transform: translateY(0);
  }

  .pui-flyout-header {
    padding: ($base-unit * 2) 0 ($base-unit * 2) 0;
    margin: 0;
    border-bottom: 3px solid $neutral-8;

    .col {
      align-self: center;
    }
  }

  .pui-flyout-body {
    padding: $base-unit * 2;
  }
}
