@import "../pui-variables";

.copy-to-clipboard .sr-only {
  user-select: text;
}

.clipboard-button {
  background-color: $btn-light;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $neutral-3;
  height: $input-height-base;
  width: $input-height-base;
  font-size: 24px;
  fill: $neutral-3;
}