@import "../pui-variables";
@import '../mixins';
@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins";


.new-enter {
  -webkit-animation: new-item-grow .3s cubic-bezier(0.895, 0.03, 0.685, 0.22) forwards, new-item-fade .5s ease-in .15s forwards;
  -moz-animation: new-item-grow .3s cubic-bezier(0.895, 0.03, 0.685, 0.22) forwards, new-item-fade .5s ease-in .15s forwards;
}

.expander-enter {
  @include transition-pui(max-height, 0.75s, ease);
  max-height: 0;
}

.expander-enter-active {
  max-height: 500px;
}

.expander-leave {
  @include transition-pui(max-height, 0.75s, ease);
  max-height: 500px;
}

.expander-leave-active {
  max-height: 0;
}

@-webkit-keyframes new-item-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes new-item-grow {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 100px;
  }
}

@keyframes new-item-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes new-item-grow {
  from {
    max-height: 0;
  }
  to {
    max-height: 100px;
  }
}
