/*doc
---
title: Alignment
name: alignment
categories:
 - css_utilities_alignment
 - css_all
---

<code class="pam">
 <img src="/styleguide/download.svg" width="16" height="16"/>
npm install pui-css-alignment --save
</code>


The following classes can be used to for horizontal alignment.

```html_example_table
<p class="txt-l">
  <code>.txt-l</code>
</p>

<p class="txt-c">
  <code>.txt-c</code>
</p>

<p class="txt-r">
  <code>.txt-r</code>
</p>
```

On `display: inline` and `display: table-cell` elements,
the following classes can be used to for vertical alignment.

```html_example
<table class="table table-bordered" >
  <tr>
    <th width="40%">
      This long text is used to expand the height of this
      table so that we can demonstrate our verticle alignment classes
      to the right.
    </th>
    <td class="txt-t" width="20%">
      <code>.txt-t</code>
    </td>
    <td class="txt-m" width="20%">
      <code>.txt-m</code>
    </td>
    <td class="txt-b" width="20%">
      <code>.txt-b</code>
    </td>
  </tr>
</table>
```

If you need to vertically align an element that does not fit into those display types,
take a look at [vertical alignment][vertical_align].

*/
