/*doc
---
title: Introduction
name: border_introduction
categories:
 - css_components_border
 - css_all
---


<code class="pam">
<img src="/styleguide/download.svg" width="16" height="16"/>
npm install pui-css-border --save
</code>


All textual `<a>`, `<input>`, `<p>`, `<span>`, `<div>`, and `<table>` elements with `border` or
`.border-*` are set to `width: 1px solid $input-color; by default.


```html_example_table
<div>
    <div class="border">.border</div>
</div>

<div>
    <div class="border-top">.border-top</div>
</div>

<div>
    <div class="border-right">.border-right</div>
</div>

<div>
    <div class="border-bottom">.border-bottom</div>
</div>

<div>
    <div class="border-left">.border-left</div>
</div>
```


And for tables:

```html_example

<div>
    <table class="border">
      <thead>
      <tr>
        <td>one</td>
        <td>tow</td>
        <td>three</td>
        <td>four</td>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="border-bottom">.border-bottom</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td class="border">.border</td>
        <td></td>

      </tr>
      <tr>
        <td class="border-right">.border-right</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td class="border-top">.border-top</td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td class="border-left">.border-left</td>
        <td></td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>
```

*/

/*doc
---
title: Border None
name: 00_border_basic
parent: border_introduction
---

Borders can also be controlled with the use of `border-*-0` to remove specific borders or `border-none` to remove them all.

```html_example_table
<div>
    <div class="border border-none">.border-none</div>
</div>

<div>
    <div class="border border-top-0">.border-top-0</div>
</div>

<div>
    <div class="border border-right-0">.border-right-0</div>
</div>

<div>
    <div class="border border-bottom-0">.border-bottom-0</div>
</div>

<div>
    <div class="border border-left-0">.border-left-0</div>
</div>
```

*/


/*doc
---
title: Rounded Borders
name: 01_border_radii
parent: 00_border_basic
---

Borders can also be rounded with `border-rounded`:

```html_example_table
<div class="panel bg-neutral-11 border border-rounded">
  <div class="panel-body">
    Border Rounded
  </div>
</div>
```

Or all radii effect removed with `border-not-rounded`:

```html_example_table
<div class="panel bg-neutral-11 border border-not-rounded">
  <div class="panel-body">
    Border Not Rounded
  </div>
</div>
```


*/