/*doc
---
title: Buttons
name: button
categories:
 - css_base_buttons
 - css_all
---

<code class="pam">
<img src="/styleguide/download.svg" width="16" height="16"/>
npm install pui-css-buttons --save
</code>

Button styles can be applied to any element. Typically you'll want to use either a `<button>` or an `<a>` element:

```html_example_table
<button class="btn btn-default" type="button" aria-label="button">
  Button
</button>

<a class="btn btn-default" aria-label="Example Website" href="http://example.com">
  Link
</a>
```

If your button is actually a link to another page, please use the
`<a>` element, while if your button performs an action, such as submitting
a form or triggering some javascript event, then use a `<button>` element.

The aria-label attribute should have an accurate description of the action to meet accessibility standards.
*/

/*doc
---
title: Styling
name: 01_button_styling
parent: button
---

Every button type has a default style, an alt style (with inverted colors and a transparent background) and a flat style (alt with transparent borders).

Button                                                                             | Button Alt                                                                                 | Button Flat                                                                                  | Description
-----------------------------------------------------------------------------------|--------------------------------------------------------------------------------------------|----------------------------------------------------------------------------------------------|-----------
<button class="btn btn-default" type="button" aria-label="button">Default</button> |<button class="btn btn-default-alt" type="button" aria-label="button">Default Alt</button>  | <button class="btn" type="button" aria-label="button">Default Flat</button>                  | This the default button style.
<button class="btn btn-primary" type="button" aria-label="button">Primary</button> |<button class="btn btn-primary-alt" type="button" aria-label="button">Primary Alt</button>  | <button class="btn btn-primary-flat" type="button" aria-label="button">Primary Flat</button> | Use this button for primary actions.
<button class="btn btn-danger" type="button" aria-label="button">Danger</button>   |<button class="btn btn-danger-alt" type="button" aria-label="button">Danger Alt</button>    | <button class="btn btn-danger-flat" type="button" aria-label="button">Danger Flat</button>   | This button is for delete actions, these actions should also have a confirmation dialog
<button class="btn btn-brand" type="button" aria-label="button">Brand</button>     |<button class="btn btn-brand-alt" type="button" aria-label="button">Brand Alt</button>      | <button class="btn btn-brand-flat" type="button" aria-label="button">Brand Flat</button>     | This button is for marketing purposes only

The most common button examples are below:

```html_example_table
<button class="btn btn-default" type="button" aria-label="button">
  Default
</button>

<button class="btn btn-default-alt" type="button" aria-label="button">
  Default Alt
</button>

<button class="btn btn-primary" type="button" aria-label="button">
  Primary
</button>

<button class="btn btn-primary-alt" type="button" aria-label="button">
  Primary Alt
</button>

<button class="btn btn-primary-flat" type="button" aria-label="button">
  Primary Flat
</button>

<button class="btn btn-danger" type="button" aria-label="button">
  Danger
</button>
```

*/


/*doc
---
title: Disabling
name: 02_button_disabling
parent: button
---

Buttons can be disabled.
If given the disabled attribute, a button will be functionally disabled, but will look unchanged.
If given the disabled class, a button will be functionally disabled, and will also change visually.

```html_example_table
<button class="btn btn-default" disabled type="button" aria-label="button">
  Disabled Functionally
</button>

<button class="btn btn-default disabled" type="button" aria-label="button">
  Disabled Visually
</button>

<button class="btn btn-default-alt disabled" type="button" aria-label="button">
  Alt Disabled
</button>

<button class="btn disabled" type="button" aria-label="button">
  Flat Disabled
</button>

<button class="btn btn-primary disabled" type="button" aria-label="button">
  Primary Disabled
</button>

```

*/


/*doc
---
title: Sizes
name: 03_button_sizes
parent: button
---

There are three sizes for buttons: large, small, and default. Simply apply the
size modifier class for the desired size.

```html_example_table
<button class="btn btn-default btn-lg" type="button" aria-label="button">
  Large
</button>

<button class="btn btn-default" type="button" aria-label="button">
  Default
</button>

<button class="btn btn-default btn-sm" type="button" aria-label="button">
  Small
</button>
```

*/

/*doc
---
title: Icons
name: 04_button_icons
parent: button
---

Buttons can contain icons.

```html_example_table
<button class="btn btn-default-alt" type="button" aria-label="button">
  <div class="icon icon-middle spinner">
    <svg class="icon-spinner-sm" width="100px" height="100px" viewBox="0 0 101 101" xmlns="http://www.w3.org/2000/svg">
      <circle class="ring" fill="none" stroke-width="10%" stroke-linecap="butt" cx="50%" cy="50%" r="45%"></circle>
      <circle class="path" fill="none" stroke-width="10%" stroke-linecap="butt" cx="50%" cy="50%" r="45%"></circle>
    </svg>
  </div>
  Loading
</button>
```

They can also be icon buttons.

```html_example_table
<button class="btn btn-primary btn-icon" type="button" aria-label="button">
  <div class="icon">
    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" class="icon-plus" data-src="/static/media/add.45a0a5e5.svg">
      <path d="M38 26H26v12h-4V26H10v-4h12V10h4v12h12v4z" />
    </svg>
  </div>
</button>
```

*/