/*doc
---
title: Button Group
name: button-group
categories:
 - css_base_button-group
 - css_all
---

<code class="pam">
<img src="/styleguide/download.svg" width="16" height="16"/>
npm install pui-css-button-group --save
</code>

Button groups wrap a series of buttons.

```html_example
<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default-alt">Left</button>
  <button type="button" class="btn btn-default-alt">Middle</button>
  <button type="button" class="btn btn-default-alt">Right</button>
</div>
```

You can also mark buttons in the group as selected by swapping between alt button styles.

```html_example
<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default-alt">Left</button>
  <button type="button" class="btn btn-default">Middle</button>
  <button type="button" class="btn btn-default-alt">Right</button>
</div>
```

If you are using flat buttons, there is a thinner, flat button group

```html_example
<div class="btn-group-flat" role="group" aria-label="...">
  <button type="button" class="btn">Left</button>
  <button type="button" class="btn">Middle</button>
  <button type="button" class="btn btn-default">Right</button>
</div>
```

*/
