/*doc
---
title: Button Group
name: button-group
categories:
 - css_base_button-group
 - css_all
---

<code class="pam">
<img src="/styleguide/download.svg" width="16" height="16"/>
npm install pui-css-button-group --save
</code>

Button groups wrap a series of buttons.

```html_example
<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default">Left</button>
  <button type="button" class="btn btn-default">Middle</button>
  <button type="button" class="btn btn-default">Right</button>
</div>
```

You can also mark buttons in the group as selected.

```html_example
<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default">Left</button>
  <button type="button" class="btn btn-default">Middle</button>
  <button type="button" class="btn btn-default selected">Right</button>
</div>
```
*/
