/*doc
---
title: Colors
name: color
categories:
 - css_utilities_colors
 - react_utilities_colors
 - css_all
---

<code class="pam">
<img src="/styleguide/download.svg" width="16" height="16"/>
npm install pui-css-colors --save
</code>



Our color pallet is composed of several different colors. At any given point it captures the current
evolution of our design and likely includes old and new colors. Whenever possible, evolve the old
colors rather than adding new ones.

<div class="alert alert-warning alert-dismissable">
<div>
  <h5 class="em-high mtn">
    Sass variables should only be used in variables.css.scss.
  </h5>
  <p>
    They should never be used directly when building components, because it makes
    it very hard to change the values later if you can't tell how they might have been used.
    You should <strong>define your own variables</strong> that use these colors in variables.css.scss.
  </p>

  <p>
    If you do want to use variables and mixins, install this module:

  </p>

  <code>
    <img src="/styleguide/download.svg" width="16" height="16"/>
     npm install pui-css-variables-and-mixins
  </code>
</div>
</div>



This example shows proper use of Sass variables.

```
$tabs-active-bg-color: $gray-2;
```

To use the color classes:

Prepend any color variable with 'bg-' to apply that color to the background
Prepend any color variable with 'type-' to apply that color to the text

<div class="color-chip-row">

    <div class="chip" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
      <div class="chip-color bg-neutral-1"></div>
      <div class="chip-color-name">
        <p class="mvn">neutral-1</p> </ul>
      </div>
    </div>

    <div class="chip">
      <div class="chip-color bg-neutral-2"></div>
      <div class="chip-color-name">
        <p class="mvn">neutral-2</p>
      </div>
    </div>
    <div class="chip">
      <div class="chip-color bg-neutral-3"></div>
      <div class="chip-color-name">
        <p class="mvn">neutral-3</p>
      </div>
    </div>
    <div class="chip">
      <div class="chip-color bg-neutral-4"></div>
      <div class="chip-color-name">
        <p class="mvn">neutral-4</p>
      </div>
    </div>
    <div class="chip">
      <div class="chip-color bg-neutral-5"></div>
      <div class="chip-color-name">
        <p class="mvn">neutral-5</p>
      </div>
    </div>
    <div class="chip">
      <div class="chip-color bg-neutral-6"></div>
      <div class="chip-color-name">
        <p class="mvn">neutral-6</p>
      </div>
    </div>
    <div class="chip">
      <div class="chip-color bg-neutral-7"></div>
      <div class="chip-color-name">
        <p class="mvn">neutral-7</p>
      </div>
    </div>
    <div class="chip">
      <div class="chip-color bg-neutral-8"></div>
      <div class="chip-color-name">
        <p class="mvn">neutral-8</p>
      </div>
    </div>
    <div class="chip">
      <div class="chip-color bg-neutral-9"></div>
      <div class="chip-color-name">
        <p class="mvn">neutral-9</p>
      </div>
    </div>
    <div class="chip">
      <div class="chip-color bg-neutral-10"></div>
      <div class="chip-color-name">
        <p class="mvn">neutral-10</p>
      </div>
    </div>
    <div class="chip">
      <div class="chip-color bg-neutral-11"></div>
      <div class="chip-color-name">
        <p class="mvn">neutral-11</p>
      </div>
    </div>
</div>

<div class="color-chip-row">
    <div class="chip">
      <div class="chip-color bg-dark-1"></div>
      <div class="chip-color-name">
        <p class="mvn">dark-1</p>
      </div>
    </div>
    <div class="chip">
      <div class="chip-color bg-dark-2"></div>
      <div class="chip-color-name">
        <p class="mvn">dark-2</p>
      </div>
    </div>
    <div class="chip">
      <div class="chip-color bg-dark-3"></div>
      <div class="chip-color-name">
        <p class="mvn">dark-3</p>
      </div>
    </div>
    <div class="chip">
      <div class="chip-color bg-dark-4"></div>
      <div class="chip-color-name">
        <p class="mvn">dark-4</p>
      </div>
    </div>
    <div class="chip">
      <div class="chip-color bg-dark-5"></div>
      <div class="chip-color-name">
        <p class="mvn">dark-5</p>
      </div>
    </div>
    <div class="chip">
      <div class="chip-color bg-dark-6"></div>
      <div class="chip-color-name">
        <p class="mvn">dark-6</p>
      </div>
    </div>
    <div class="chip">
      <div class="chip-color bg-dark-7"></div>
      <div class="chip-color-name">
        <p class="mvn">dark-7</p>
      </div>
    </div>
    <div class="chip">
      <div class="chip-color bg-dark-8"></div>
      <div class="chip-color-name">
        <p class="mvn">dark-8</p>
      </div>
    </div>
    <div class="chip">
      <div class="chip-color bg-dark-9"></div>
      <div class="chip-color-name">
        <p class="mvn">dark-9</p>
      </div>
    </div>
    <div class="chip">
      <div class="chip-color bg-dark-10"></div>
      <div class="chip-color-name">
        <p class="mvn">dark-10</p>
      </div>
    </div>
    <div class="chip">
      <div class="chip-color bg-dark-11"></div>
      <div class="chip-color-name">
        <p class="mvn">dark-11</p>
      </div>
    </div>
</div>

<div class="color-chip-row">
    <div class="chip">
      <div class="chip-color bg-brand-1"></div>
      <div class="chip-color-name">
        <p class="mvn">brand-1</p>
      </div>
    </div>
    <div class="chip">
      <div class="chip-color bg-brand-2"></div>
      <div class="chip-color-name">
        <p class="mvn">brand-2</p>
      </div>
    </div>
    <div class="chip">
      <div class="chip-color bg-brand-3"></div>
      <div class="chip-color-name">
        <p class="mvn">brand-3</p>
      </div>
    </div>
    <div class="chip">
      <div class="chip-color bg-brand-4"></div>
      <div class="chip-color-name">
        <p class="mvn">brand-4</p>
      </div>
    </div>
    <div class="chip">
      <div class="chip-color bg-brand-5"></div>
      <div class="chip-color-name">
        <p class="mvn">brand-5</p>
      </div>
    </div>
    <div class="chip">
      <div class="chip-color bg-brand-6"></div>
      <div class="chip-color-name">
        <p class="mvn">brand-6</p>
      </div>
    </div>
    <div class="chip">
      <div class="chip-color bg-brand-7"></div>
      <div class="chip-color-name">
        <p class="mvn">brand-7</p>
      </div>
    </div>
    <div class="chip">
      <div class="chip-color bg-brand-8"></div>
      <div class="chip-color-name">
        <p class="mvn">brand-8</p>
      </div>
    </div>
    <div class="chip">
      <div class="chip-color bg-brand-9"></div>
      <div class="chip-color-name">
        <p class="mvn">brand-9</p>
      </div>
    </div>
    <div class="chip">
      <div class="chip-color bg-brand-10"></div>
      <div class="chip-color-name">
        <p class="mvn">brand-10</p>
      </div>
    </div>
    <div class="chip">
      <div class="chip-color bg-brand-11"></div>
      <div class="chip-color-name">
        <p class="mvn">brand-11</p>
      </div>
    </div>
</div>

<div class="color-chip-row">
    <div class="chip">
      <div class="chip-color bg-accent-1"></div>
      <div class="chip-color-name">
        <p class="mvn">accent-1</p>
      </div>
    </div>
    <div class="chip">
      <div class="chip-color bg-accent-2"></div>
      <div class="chip-color-name">
        <p class="mvn">accent-2</p>
      </div>
    </div>
    <div class="chip">
      <div class="chip-color bg-accent-3"></div>
      <div class="chip-color-name">
        <p class="mvn">accent-3</p>
      </div>
    </div>
    <div class="chip">
      <div class="chip-color bg-accent-4"></div>
      <div class="chip-color-name">
        <p class="mvn">accent-4</p>
      </div>
    </div>

    <div class="chip">
      <div class="chip-color bg-accent-5"></div>
      <div class="chip-color-name">
        <p class="mvn">accent-5</p>
      </div>
    </div>
    <div class="chip">
      <div class="chip-color bg-accent-6"></div>
      <div class="chip-color-name">
        <p class="mvn">accent-6</p>
      </div>
    </div>
    <div class="chip"></div>
    <div class="chip"></div>
    <div class="chip"></div>
    <div class="chip"></div>
    <div class="chip"></div>
</div>

<div class="color-chip-row">
    <div class="chip">
      <div class="chip-color bg-error-1"></div>
      <div class="chip-color-name">
        <p class="mvn">error-1</p>
      </div>
    </div>

    <div class="chip">
      <div class="chip-color bg-error-2"></div>
      <div class="chip-color-name">
        <p class="mvn">error-2</p>
      </div>
    </div>

    <div class="chip">
      <div class="chip-color bg-error-3"></div>
      <div class="chip-color-name">
        <p class="mvn">error-3</p>
      </div>
    </div>

    <div class="chip">
      <div class="chip-color bg-error-4"></div>
      <div class="chip-color-name">
        <p class="mvn">error-4</p>
      </div>
    </div>
    <div class="chip">
      <div class="chip-color bg-error-5"></div>
      <div class="chip-color-name">
        <p class="mvn">error-5</p>
      </div>
    </div>
    <div class="chip">
      <div class="chip-color bg-error-6"></div>
      <div class="chip-color-name">
        <p class="mvn">error-6</p>
      </div>
    </div>
    <div class="chip"></div>
    <div class="chip"></div>
    <div class="chip"></div>
    <div class="chip"></div>
    <div class="chip"></div>
</div>

<div class="color-chip-row">
    <div class="chip">
      <div class="chip-color bg-warn-1"></div>
      <div class="chip-color-name">
        <p class="mvn">warn-1</p>
      </div>
    </div>
    <div class="chip">
      <div class="chip-color bg-warn-2"></div>
      <div class="chip-color-name">
        <p class="mvn">warn-2</p>
      </div>
    </div>
    <div class="chip">
      <div class="chip-color bg-warn-3"></div>
      <div class="chip-color-name">
        <p class="mvn">warn-3</p>
      </div>
    </div>
    <div class="chip">
      <div class="chip-color bg-warn-4"></div>
      <div class="chip-color-name">
        <p class="mvn">warn-4</p>
      </div>
    </div>
    <div class="chip">
      <div class="chip-color bg-warn-5"></div>
      <div class="chip-color-name">
        <p class="mvn">warn-5</p>
      </div>
    </div>
    <div class="chip">
      <div class="chip-color bg-warn-6"></div>
      <div class="chip-color-name">
        <p class="mvn">warn-6</p>
      </div>
    </div>
    <div class="chip"></div>
    <div class="chip"></div>
    <div class="chip"></div>
    <div class="chip"></div>
    <div class="chip"></div>
</div>

<div class="color-chip-row">
    <div class="chip">
      <div class="chip-color bg-success-1"></div>
      <div class="chip-color-name">
        <p class="mvn">success-1</p>
      </div>
    </div>

    <div class="chip">
      <div class="chip-color bg-success-2"></div>
      <div class="chip-color-name">
        <p class="mvn">success-2</p>
      </div>
    </div>
    <div class="chip">
      <div class="chip-color bg-success-3"></div>
      <div class="chip-color-name">
        <p class="mvn">success-3</p>
      </div>
    </div>
    <div class="chip">
      <div class="chip-color bg-success-4"></div>
      <div class="chip-color-name">
        <p class="mvn">success-4</p>
      </div>
    </div>
    <div class="chip">
      <div class="chip-color bg-success-5"></div>
      <div class="chip-color-name">
        <p class="mvn">success-5</p>
      </div>
    </div>
    <div class="chip">
      <div class="chip-color bg-success-6"></div>
      <div class="chip-color-name">
        <p class="mvn">success-6</p>
      </div>
    </div>
    <div class="chip"></div>
    <div class="chip"></div>
    <div class="chip"></div>
    <div class="chip"></div>
    <div class="chip"></div>
</div>

*/


/*doc
---
title: Shadows & Glows
name: color_shadows_glows
parent: color
---
<div class="contrast-bar" style="background-image: linear-gradient(-180deg, #788E9A 0%, #243641 37%, #788E9A 38%, #243641 100%);">
  <div class="color-chip-row">
      <div class="chip">
        <div class="chip-color bg-shadow-1"></div>
        <div class="chip-color-name">$shadow-1</div>
      </div>
      <div class="chip">
        <div class="chip-color bg-shadow-2"></div>
        <div class="chip-color-name">$shadow-2</div>
      </div>
      <div class="chip">
        <div class="chip-color bg-shadow-3"></div>
        <div class="chip-color-name">$shadow-3</div>
      </div>
      <div class="chip">
        <div class="chip-color bg-shadow-4"></div>
        <div class="chip-color-name">$shadow-4</div>
      </div>
      <div class="chip">
        <div class="chip-color bg-glow-1"></div>
        <div class="chip-color-name">$glow-1</div>
      </div>
      <div class="chip">
        <div class="chip-color bg-glow-2"></div>
        <div class="chip-color-name">$glow-2</div>
      </div>
      <div class="chip">
        <div class="chip-color bg-glow-3"></div>
        <div class="chip-color-name">$glow-3</div>
      </div>
      <div class="chip">
        <div class="chip-color bg-glow-4"></div>
        <div class="chip-color-name">$glow-4</div>
      </div>
      <div class="chip">
        <div class="chip-color bg-glow-5"></div>
        <div class="chip-color-name">$glow-5</div>
      </div>
  </div>
</div>
*/
