/*doc
---
title: Dividers
name: divider
categories:
 - css_base_dividers
 - css_all
---

<code class="pam">
<img src="/styleguide/download.svg" width="16" height="16"/>
npm install pui-css-dividers --save
</code>


Dividers draw horizontal lines between different content groupings.

```html_example
<hr class="divider-alternate-1"/>
<hr class="divider-alternate-2"/>
```

```html_inverse_example
<hr class="divider-1"/>
<hr class="divider-2"/>
```

*/
