/*doc
---
title: Dropdowns
name: dropdown
categories:
 - css_components_dropdowns
 - css_all
---

<code class="pam">
<img src="/styleguide/download.svg" width="16" height="16"/>
npm install pui-css-dropdowns --save
</code>


Dropdowns are menus that can be triggered by buttons.

This is the basic dropdown.

```html_example
<div class="dropdown">
  <button id="dropdown-button-1" class="btn dropdown-toggle btn-default-alt" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Button Dropdown
    <span class="caret"></span>
  </button>
  <div class="dropdown-menu">
    <ul role="menu" aria-labelledby="dropdown-button-1">
      <li role="presentation">
        <a href="http://www.google.com" role="menuitem">Google</a>
      </li>
      <li class="divider mvn"></li>
      <li role="presentation">
        <a href="http://www.yahoo.com" role="menuitem">Yahoo</a>
      </li>
      <li class="divider mvn"></li>
      <li role="presentation">
        <a href="http://www.aol.com" role="menuitem">Aol</a>
      </li>
    </ul>
  </div>
</div>
```

<div class="alert alert-info mbxl">
  <div>
  <h5 class="em-high">Dropdowns with dividers</h5>
  <p>
    If you want to add a divider between items in the dropdown,
    add a `li.divider` between list items.
  </p>
  </div>
</div>

```html_example
<div class="dropdown dropdown-flat dropdown-link">
  <button id="drop3" data-toggle="dropdown" class="btn dropdown-toggle btn-link" type="button">
    <span>Link Dropdown</span>
    <span class="caret"></span>
  </button>
  <div class="dropdown-menu dropdown-menu-float">
    <ul role="menu" aria-labelledby="drop3">
      <li role="presentation">
        <a role="menuitem" tabindex="-1" href="https://twitter.com/fat">Action</a>
      </li>
      <li role="presentation">
        <a role="menuitem" tabindex="-1" href="https://twitter.com/fat">Another action</a>
      </li>
      <li role="presentation">
        <a role="menuitem" tabindex="-1" href="https://twitter.com/fat">Something else here</a>
      </li>
      <li role="presentation">
        <a role="menuitem" tabindex="-1" href="https://twitter.com/fat">Separated link</a>
      </li>
    </ul>
  </div>
</div>
```

<div class="alert alert-info mbxl">
  <div>
    <h5 class="em-high">Alignment</h5>
    <p>
      By default, a dropdown menu is automatically positioned 100% from the top and along the left side of its parent.
      Add .dropdown-menu-right to a .dropdown-menu to right align the dropdown menu
    </p>
  </div>
</div>

```html_example
<div class="dropdown dropdown-flat">
  <button id="dropdown-button-1" class="btn dropdown-toggle btn-default-alt" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Button Dropdown
    <span class="caret"></span>
  </button>
  <div class="dropdown-menu dropdown-menu-float dropdown-menu-right">
    <ul role="menu" aria-labelledby="dropdown-button-1">
      <li role="presentation">
        <a href="http://www.google.com" role="menuitem">Google</a>
      </li>
      <li class="divider mvn"></li>
      <li role="presentation">
        <a href="http://www.yahoo.com" role="menuitem">Yahoo</a>
      </li>
      <li class="divider mvn"></li>
      <li role="presentation">
        <a href="http://www.aol.com" role="menuitem">Aol</a>
      </li>
    </ul>
  </div>
</div>
```

<div class="alert alert-info mbxl">
<div>
  <h5 class="em-high">No links as dropdowns</h5>
  <p>
    Instead of using an <code>a</code> tag as a dropdown,
    use a <code>button.btn.btn-link</code>.
  </p>
</div>
</div>

Here's a crazy-complex dropdown. Not for the faint of heart.

```html_example
<div class="dropdown btn-group">
  <button id="dropdown-button-2" class="btn dropdown-toggle btn-default-alt" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    dropdown trigger
    <span class="caret"></span>
  </button>
  <div class="dropdown-menu">
    <ul role="menu" aria-labelledby="dropdown-button-2">
      <li role="presentation">
        <a href="#" role="menuitem" class="pvl">
          <div class="media">
            <div class="media-left media-middle prxl">
              <img src="/styleguide/check.svg" class="prxl" />
            </div>
            <div class="media-body" style="width: 400px;">
              <h4 class="media-heading em-high type-neutral-3 mvn h5">updates and alerts</h4>
              <span class="type-neutral-4">receive all tacos and burritos.</span>
            </div>
          </div>
        </a>
      </li>
      <li role="presentation">
        <a href="#" role="menuitem" class="pvl">
          <div class="media">
            <div class="media-left media-middle prxl">
              <img src="/styleguide/check.svg" class="prxl" style="visibility: hidden"/>
            </div>
            <div class="media-body" style="width: 400px;">
              <h4 class="media-heading em-high type-neutral-3 mvn h5">alerts only</h4>
              <span class="type-neutral-4">only receive tacos when burritos are issued for this product and files.</span>
            </div>
          </div>
        </a>
      </li>
      <li role="presentation">
        <a href="#" role="menuitem" class="pvl">
          <div class="media">
            <div class="media-left media-middle prxl">
              <img src="/styleguide/check.svg" class="prxl" style="visibility: hidden"/>
            </div>
            <div class="media-body" style="width: 400px;">
              <h4 class="media-heading em-high type-neutral-3 mvn h5">none</h4>
              <span class="type-neutral-4">do not receive any mexican food.</span>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
```

*/
