/*doc
---
title: Flex Grids
name: 11_grid_flex
categories:
- css_utilities_grids
- css_all
parent: grid
---

<code class="pam">
<img src="/styleguide/download.svg" width="16" height="16"/>
npm install pui-css-flex-grids --save
</code>

## Examples

<div class="alert alert-warning mbxl">
  <p>The <code>.grid-show</code> class in the examples is for demo purposes. Don't use it IRL.</p>
</div>

### Gutters

You can create a flex grid with and without gutters. Here are examples of what each would look like.

```html_example
<div class='grid grid-show'>
  <div class='col'></div>
  <div class='col'></div>
  <div class='col'></div>
</div>

<div class='grid grid-nogutter grid-show'>
  <div class='col'></div>
  <div class='col'></div>
  <div class='col'></div>
</div>
```

### Sizing

Using a single set of `.col-*` grid classes,
you can create a basic grid system that starts out stacked on mobile devices and tablet devices
(the extra small to small range) before becoming horizontal on desktop (medium) devices.
Place grid columns in any `.grid`.

```html_example
<div class="grid grid-show">
  <div class="col col-2"></div>
  <div class="col col-2"></div>
  <div class="col col-2"></div>
  <div class="col col-2"></div>
  <div class="col col-2"></div>
  <div class="col col-2"></div>
  <div class="col col-2"></div>
  <div class="col col-2"></div>
  <div class="col col-2"></div>
  <div class="col col-2"></div>
  <div class="col col-2"></div>
  <div class="col col-2"></div>
</div>

<div class="grid grid-show">
  <div class="col col-16"></div>
  <div class="col col-8"></div>
</div>

<div class="grid grid-show">
  <div class="col col-8"></div>
  <div class="col col-8"></div>
  <div class="col col-8"></div>
</div>

<div class="grid grid-show">
  <div class="col col-12"></div>
  <div class="col col-12"></div>
</div>
```

### Fixing Column Size

You can fix the width of a column by using the `.col-fixed` class.

```html_example
<div class='grid grid-show'>
  <div class='col col-fixed' style="width: 150px;"></div>
  <div class='col'></div>
  <div class='col'></div>
</div>
```
*/