/*doc
---
title: Hoverable
name: hoverable
categories:
 - css_utilities_hoverable
 - css_all
---


<code class="pam">
<img src="/styleguide/download.svg" width="16" height="16"/>
npm install pui-css-hoverable --save
</code>


This component is for showing hidden actions on hover.
If you put this on an element then hovering on that parent element will show the hidden element.

List example:

This can be used with any kind of list but the list group style seems to fit this use case best.

```html_example
<ul class="list-unordered">
  <li hoverable="true">
    List Item 1
    <a class="hovered" href="#">Edit</a>
  </li>
  <li hoverable="true">
    List Item 2
    <a class="hovered" href="#">Edit</a>
  </li>
  <li hoverable="true">
    List Item 3
    <a class="hovered" href="#">Edit</a>
  </li>
  <li>
    Not hoverable
  </li>
</ul>
```

Table example:

```html_example
<table>
  <tr>
    <th>Name</th>
  </tr>
  <tr hoverable="true">
    <td>
      Row 1
      <a class="hovered" href="#">Delete</a>
    </td>
  </tr>
  <tr hoverable="<%= true %>">
    <td>
      Row 2
      <a class="hovered" href="#">Delete</a>
    </td>
  </tr>
  <tr hoverable="true">
    <td>
      Row 3
      <a class="hovered" href="#">Delete</a>
    </td>
  </tr>
  <tr>
    <td>
      Not hoverable
    </td>
  </tr>
</table>
```

*/
