/*doc
---
title: Labels
name: label
categories:
 - css_base_labels
 - css_all
---

<code class="pam">
<img src="/styleguide/download.svg" width="16" height="16"/>
npm install pui-css-labels --save
</code>


Labels are based on Bootstrap's labels.
Here's an example of a label on its own.

```html_example_table
<span class="label label-primary">new</span>
```

You can also place labels within HTML elements.
It will be sized based on the element's font size and its font modifiers.

```html_example_table
<p>I am a P.
  <span class="label label-primary">new</span>
</p>

<h3>I am an H3.
  <span class="label label-primary">new</span>
</h3>

<h3 class="h5">I am an H3 with an H5 modifier.
  <span class="label label-primary">new</span>
</h3>
```
*/

/*doc
---
title: Removable Labels
name: removable_label
parent: label
---

Removable labels are used as tags in an editable list. The user will either enter text or select content (i.e.: a dropdown item), and it will be styled as a removable label (most likely in a list). Developers who use these labels must implement the close functionality for when the user clicks the close button.

```html_example
<span class="label-removable">Removable
  <a class="close-btn" aria-label="Remove label">
    <img src="/styleguide/close.svg" height="15" width="15"/>
  </a>
</span>
```
*/
