/*doc
---
title: Modals
name: modal
categories:
 - css_components_modals
 - css_all
---

<code class="pam">
<img src="/styleguide/download.svg" width="16" height="16"/>
npm install pui-css-modals --save
</code>

Modals bring desired content to the foreground and de-emphasize the rest of the page.

```html_example
<!-- Button trigger modal -->
<button class="btn-default" data-toggle="modal" data-target="#myModal">
  Launch modal
</button>

<!-- Modal Basic -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-close">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        </div>
        <h4 class="modal-title" id="myModalLabel">Modal Title</h4>
      </div>
      <div class="modal-body">
        Here is some interesting text in the modal body.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-default-alt" data-dismiss="modal">Close</button>
        <button type="button" class="btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
```

*/
