/*doc
---
title: Pagination
name: pagination
categories:
 - css_base_pagination
 - css_all
---

<code class="pam">
<i class="fa fa-download" alt="Install the Component">
npm install pui-css-pagination --save
</i>
</code>

Pagination should be used for navigation between pages. You can mark a link as `.selected` and as `.disabled`.

```html_example
<div>
  <ul class="pagination">
    <li><a aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
    <li><a>1</a></li>
    <li class="disabled"><a>2</a></li>
    <li><a>3</a></li>
    <li class="selected"><a>4</a></li>
    <li><a>5</a></li>
    <li><a aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
  </ul>
</div>
```
*/
