/*doc
---
title: Panels
name: panel
categories:
  - css_components_panels
  - css_all
---


<code class="pam">
<i class="fa fa-download" alt="Install the Component">
npm install pui-css-panels --save
</i>
</code>


Panels are often used to group related content. They include box headers, footers, and can be combined with any backgrounds.

Panels are typically a combination of contours, backgrounds, and content including headers and footers. This section describes the contours.

*/

/*doc
---
title: Simple
name: 00_panel_simple
parent: panel
---

```html_example
<div class="panel panel-simple bg-neutral-11">
  <div class="panel-body">
    Simple Panel
  </div>
</div>
```

*/

/*doc
---
title: Basic
name: 01_panel_basic
parent: panel
---

By default, all the .panel does is apply a basic shadow and padding to contain some content. You can have it with or without a title.

```html_example
<div class="panel panel-basic bg-neutral-11">
  <div class="panel-header">
    <div class="panel-title-alt">Basic Title</div>
  </div>
  <div class="panel-body">
    Basic Panel
  </div>
</div>

<div class="panel panel-basic bg-neutral-11">
  <div class="panel-body">
    Basic Panel
  </div>
</div>
```

*/

/*doc
---
title: Basic Alternate
name: 02_panel_basic_alt
parent: panel
---

Basic alternate panels are panels with a border and shadow. You can have a panel-basic-alt with or without a title.

```html_example
<div class="panel panel-basic-alt">
  <div class="panel-header">
    <div class="panel-title-alt">Basic Title Alt</div>
  </div>
  <div class="panel-body">
    Basic Panel
  </div>
</div>

<div class="panel panel-basic-alt">
  <div class="panel-body">
    Basic Panel
  </div>
</div>
```

*/

/*doc
---
title: Panel with Footer
name: 03_panel_footer
parent: panel
---

```html_example
<div class="panel bg-neutral-11" style="height:200px">
  <div class="panel-body">Body Content</div>
  <div class="panel-footer">Footer Content</div>
</div>
```

<div class="alert alert-info mbxl">
  <h5 class="em-high mtn">
    Panels and list cards
  </h5>
  <p>
    Panels are often used with <a class="alert-link" href="/elements.html#list_cards">list cards</a>
    as a way to give list cards footers.
    Add the class <code>list-card-wrapper</code> on any panels inside list cards.
  </p>
</div>

```html_example
<ul class="list-cards list-card-2 list-cards-sm">
  <li class="panel bg-neutral-11">
    <div class="list-card-wrapper panel">
      <div class="panel-body">Body Content</div>
      <div class="panel-footer">Footer Content</div>
    </div>
  </li>

  <li class="panel bg-neutral-11">
    <form>
      <div class="list-card-wrapper panel">
        <div class="panel-body">
          <p>
            It even works if your <code>list-card-wrapper</code> is nested in a form
          </p>
          <div class="form-group">
            <input class="form-control" placeholder="Email">
          </div>
        </div>
        <div class="panel-footer">Footer Content</div>
      </div>
    </form>
  </li>

  <li class="panel bg-neutral-11">
    <a class="list-card-link" href="http://wrd.cm/1e2A8uU">
      <div class="list-card-wrapper panel">
        <div class="panel-body">Or in a link!</div>
        <div class="panel-footer">Footer Content</div>
      </div>
    </a>
  </li>
</ul>
```
*/

/*doc
---
title: Panel with Loading Animation
name: 04_panel_loading
parent: panel
---

Add a loading animation to a panel with the class `panel-loading`. The animation is intended for panels that utilize
`panel-header` and `panel-body`.

```html_example
<div class="panel panel-basic-alt">
  <div class="panel-header">
    <div class="panel-title-alt">Basic Title Alt</div>
  </div>
  <div class="panel-body">
    <div class="panel-loading"></div>
    Basic Panel
  </div>
</div>
```

*/

/*doc
---
title: Panel Tile
name: 05_panel_tile
parent: panel
---

Tile panels provide an animated footer on hover, at the bottom of a fixed-height panel.

```html_example
<ul class="list-cards list-card-1 list-cards-lg">
  <li>
    <a class="list-card-link panel panel-tile bg-neutral-11" href="http://www.google.com/">
      <div class="panel-body list-card-wrapper">
        Hover to see secondary state.
      </div>
      <div class="panel-footer">
        This is the footer
      </div>
    </a>
  </li>
</ul>
```

*/


/*doc
---
title: Scrollable
name: 06_panel_scrollable
parent: panel
---

The scrollable panel sets a fixed height of 183px and scrolls any content that is larger. If you want a different size, set an inline style on the `.panel-scrollable`.

```html_example
<div class="panel panel-scrollable bg-neutral-11">
  <div class="panel-body">
    <p>Lo-fi fixie aute irony skateboard, officia pug. VHS Kickstarter semiotics elit ad. XOXO fashion axe Neutra aesthetic nihil, before they sold out seitan photo booth bitters paleo ea. XOXO mustache consectetur jean shorts wolf banh mi, food truck aute odio Neutra polaroid artisan mlkshk. Chillwave aesthetic hashtag, 3 wolf moon Neutra umami DIY swag eu veniam. Blue Bottle fap kale chips veniam kogi, placeat yr Portland nesciunt sustainable iPhone. Single-origin coffee messenger bag locavore Schlitz, ea farm-to-table aliquip anim umami master cleanse. Delectus selfies placeat, tilde hoodie qui selvage consectetur cred master cleanse readymade pop-up assumenda nisi. Eu deep v brunch McSweeney's. Raw denim aliquip Banksy, proident cred banjo qui placeat Brooklyn fashion axe crucifix normcore aesthetic. Esse Pinterest organic anim American Apparel, wolf next level Tumblr laboris normcore pop-up dolore lo-fi put a bird on it trust fund. Laborum organic authentic Williamsburg plaid, Wes Anderson dolore sunt chia small batch synth Carles cliche tilde. Food truck ethical freegan velit, Kickstarter semiotics labore American Apparel biodiesel street art gentrify trust fund. Selfies Austin ex, organic art party authentic ullamco kitsch plaid placeat roof party cornhole deserunt aute.</p>
  </div>
</div>
```

*/

/*doc
---
title: Highlight
name: 07_panel_highlight
parent: panel
---

This panel is used to highlight more important parts of the page.

```html_example
<div class="panel panel-highlight">
  <div class="panel-body">
    Not Hoverable (use when the panel has no associated action, for instance if the action is disabled due to lack of permissions)
  </div>
</div>
```

*/

/*doc
---
title: Alternate
name: 08_panel_alt
parent: panel
---

Alternate panels can be in a default, off, or danger state.

```html_example_table
<div class="panel panel-alt">
  <div class="panel-body">
    Alternate Panel
  </div>
</div>

<div class="panel panel-alt panel-danger">
  <div class="panel-body">
    Danger alternate panel
  </div>
</div>

<div class="panel panel-alt panel-off">
  <div class="panel-body">
    Stopped alternate panel
  </div>
</div>

<div class="panel panel-alt panel-empty">
  <div class="panel-body">
    Off alternate panel
  </div>
</div>

<div class="panel panel-alt panel-editing">
  <div class="panel-body">
    Editing alternate panel
  </div>
</div>
```

*/

/*doc
---
title: Shadow
name: 09_panel_shadow
parent: panel
---

Shadow panels add a bottom shadow to the panel.

```html_example_table
<div class="panel panel-shadow-1 bg-neutral-11">
  <div class="panel-body">
    Shadow Panel
  </div>
</div>

<div class="panel panel-shadow-2 bg-neutral-11">
  <div class="panel-body">
    Shadow Panel
  </div>
</div>

<div class="panel panel-shadow-3 bg-neutral-11">
  <div class="panel-body">
    Shadow Panel
  </div>
</div>

<div class="panel panel-shadow-4 bg-neutral-11">
  <div class="panel-body">
    Shadow Panel
  </div>
</div>
```

*/

/*doc
---
title: Card
name: 10_panel_card
parent: panel
---

Using panels with [card lists][list_cards] makes any `.panel-body` have a minimum "card" height.

```html_example
<ul class="list-cards list-cards-sm list-card-2">
  <li class="panel panel-clickable-alt bg-neutral-11">
    <div class="panel-body">
      Card Panel
    </div>
  </li>
  <li class="panel panel-clickable-alt bg-neutral-11">
    <div class="panel-body">
      Card Panel
    </div>
  </li>
  <li class="panel panel-clickable-alt bg-neutral-11">
    <div class="panel-body">
      Card Panel
    </div>
  </li>
</ul>
```

*/


/*doc
---
title: Clickable
name: 11_panel_clickable
parent: panel
---

These panels lighten on hover to indicate that they are clickable.
Please use them when a click on the panel triggers an action.

```html_example_table
<div class="panel panel-clickable">
  <div class="panel-body">
    Panel Clickable
  </div>
</div>

<div class="panel panel-clickable-alt">
  <div class="panel-body">
    Panel Clickable Alt
  </div>
</div>
```

Sometimes you'll also want to adapt the way child elements look
based on a hover on the parent element. There are a few
helper classes for that.


```html_example_table
<a class="panel panel-clickable">
  <div class="panel-body">
    <p class="hover-target-1">
      hover-target-1 - default text color => link color
    </p>
  </div>
</a>

<a class="panel panel-clickable">
  <div class="panel-body">
    <p class="hover-target-2">
      hover-target-2 - light gray text => default text color
    </p>
  </div>
</a>

<a class="panel panel-clickable">
  <div class="panel-body">
    <p class="hover-target-3">
      hover-target-3 - $gray-9 background => white background
    </p>
  </div>
</a>
```

*/
