/*doc
---
title: Progress Bars
name: progress_bar
categories:
 - css_components_progress-bar
 - css_all
---

<code class="pam">
<i class="fa fa-download" alt="Install the Component">
npm install pui-css-progress-bars --save
</i>
</code>


This section contains static progress bar styles.

Default styles.

```html_example_table
<div class="progress">
  <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" class="progress-bar" role="progressbar" style="width: 0%;"></div>
</div>
<div class="mts">
  <div class="type-sm" style="float:left">0 MB / 100 MB</div>
  <div class="type-sm" style="float:right">0%</div>
</div>

<div class="progress">
  <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" class="progress-bar" role="progressbar" style="width: 60%;"></div>
</div>
<div class="mts">
  <div class="type-sm" style="float:left">60 MB / 100 MB</div>
  <div class="type-sm" style="float:right">60%</div>
</div>
```

Customize the progress bar background color.

```html_example_table
<div class="progress">
  <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="90" class="progress-bar bg-error-3" role="progressbar" style="width: 90%;"></div>
</div>
<div class="mts">
  <div class="type-sm" style="float:left">90 MB / 100 MB</div>
  <div class="type-sm" style="float:right">90%</div>
</div>
```

Customize the progress bar with a custom label, larger height, and background color.

```html_example_table
<div class="progress bg-shadow-3">
  <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" class="progress-bar bg-neutral-5" role="progressbar" style="width: 60%;">
    <div class="label">60%</div>
  </div>
</div>
<p>
  60 MB / 100 MB
</p>
```
*/
