/*doc
---
title: Tabs
name: tab
categories:
 - css_components_tabs
 - css_all
---

<code class="pam">
<img src="/styleguide/download.svg" width="16" height="16"/>
npm install pui-css-tabs --save
</code>


You can activate a tab or pill navigation without writing any JavaScript by simply specifying `data-toggle="tab"` on an element.

*/

/*doc
---
title: Highlight
name: tab_highlight
parent: tab
---

```html_example
<div class="tab-highlight">
  <div class="row">
    <div class="col-md-8">
      <h1>Service Plans</h1>
      <ul class="nav nav-stacked">
        <li class="active">
          <a data-toggle="tab" href="#home">
            <div class="row">
              <div class="col-md-10 tab-title">Spark</div>
              <div class="col-md-14">Free</div>
            </div>
          </a>
        </li>
        <li>
          <a data-toggle="tab" href="#profile">
            <div class="row">
              <div class="col-md-10 tab-title">Boost</div>
              <div class="col-md-14">$10/month</div>
            </div>
          </a>
        </li>
        <li>
          <a data-toggle="tab" href="#messages">
            <div class="row">
              <div class="col-md-10 tab-title">Amp</div>
              <div class="col-md-14">$50/month</div>
            </div>
          </a>
        </li>
        <li>
          <a data-toggle="tab" href="#settings">
            <div class="row">
              <div class="col-md-10 tab-title">
                Shockingly long plan name is important to test
              </div>
              <div class="col-md-14">$1000/month</div>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-16">
      <h1>Plan Features</h1>
      <div class="tab-content">
        <div class="tab-pane fade in active" id="home">Content 1</div>
        <div class="tab-pane fade" id="profile">Content 2</div>
        <div class="tab-pane fade" id="messages">Content 3</div>
        <div class="tab-pane fade" id="settings">Content 4</div>
      </div>
    </div>
  </div>
</div>
```

*/

/*doc
---
title: Simple
name: tab_simple
parent: tab
---

```html_example
<div class="tab-simple">
  <div class="tabs-action txt-r">
    <a>Some Action</a>
  </div>
  <ul class="nav nav-tabs">
    <li class="active">
      <a data-toggle="tab" href="#spaces">Spaces</a>
    </li>
    <li>
      <a data-toggle="tab" href="#domains">Domains</a>
    </li>
    <li>
      <a data-toggle="tab" href="#members">Members</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade in active" id="spaces">Spaces Content</div>
    <div class="tab-pane fade" id="domains">Domains Content</div>
    <div class="tab-pane fade" id="members">Members Content</div>
  </div>
</div>
```

*/

/*doc
---
title: Responsive
name: tab_responsive
parent: tab
---

```html_example
<div class="tab-responsive">
  <div class="row">
    <div class="col-sm-5">
      <ul class="nav hidden-xs">
        <li class="active">
          <a data-toggle="tab" href="#tab-responsive-1">meep</a>
        </li>
        <li>
          <a data-toggle="tab" href="#tab-responsive-2">foo</a>
        </li>
        <li>
          <a data-toggle="tab" href="#tab-responsive-3">bar</a>
        </li>
        <li>
          <a data-toggle="tab" href="#tab-responsive-4">baz</a>
        </li>
      </ul>
    </div>

    <div class="col-sm-19">
      <ul class="tab-content">
        <li class="active">
          <a class="visible-xs-block" data-toggle="tab" href="#tab-responsive-1">meep</a>
        </li>
        <li class="tab-pane active fade in" id="tab-responsive-1">Content 1</li>
        <li>
          <a class="visible-xs-block" data-toggle="tab" href="#tab-responsive-2">foo</a>
        </li>
        <li class="tab-pane fade" id="tab-responsive-2">Content 2</li>
        <li>
          <a class="visible-xs-block" data-toggle="tab" href="#tab-responsive-3">foo</a>
        </li>
        <li class="tab-pane fade" id="tab-responsive-3">Content 3</li>
        <li>
          <a class="visible-xs-block" data-toggle="tab" href="#tab-responsive-4">foo</a>
        </li>
        <li class="tab-pane fade" id="tab-responsive-4">Content 4</li>
      </ul>
    </div>
  </div>
</div>
```

*/

