/*doc
---
title: Tile Layout
name: tile_layout
categories:
 - css_utilities_tile-layout
 - css_all
---

<code class="pam">
<img src="/styleguide/download.svg" width="16" height="16"/>
npm install pui-css-tile-layout --save
</code>

```html_example
<div class="tile-layout-xs-3 tile-gutter tile-layout">
  <div class="tile-item">
    <div class="panel panel-clickable-alt">
      <div class="panel-body">Hey</div>
    </div>
  </div>
  <div class="tile-item">
    <div class="panel panel-clickable-alt">
      <div class="panel-body">What</div>
    </div>
  </div>
  <div class="tile-item">
    <div class="panel panel-clickable-alt">
      <div class="panel-body">Hello</div>
    </div>
  </div>
  <div class="tile-item">
    <div class="panel panel-clickable-alt">
      <div class="panel-body">What</div>
    </div>
  </div>
</div>
```

*/

/*doc
---
title: Responsive Breakpoints
name: 03_tile_layout_responsive
parent: tile_layout
---

You can also set the number of columns for responsive breakpoints with a class. You can set separate column values (from 1 - 12 columns) for some or all of xs, sm, md, lg, and xl screen sizes.

```html_example
<div class="tile-layout-sm-2 tile-layout-md-4 tile-layout-lg-6 tile-layout-xl-8 tile-gutter tile-layout">
  <div class="tile-item">
    <div class="panel panel-clickable-alt">
      <div class="panel-body">So</div>
    </div>
  </div>
  <div class="tile-item">
    <div class="panel panel-clickable-alt">
      <div class="panel-body">Many</div>
    </div>
  </div>
  <div class="tile-item">
    <div class="panel panel-clickable-alt">
      <div class="panel-body">Responsive</div>
    </div>
  </div>
  <div class="tile-item">
    <div class="panel panel-clickable-alt">
      <div class="panel-body">Blocks</div>
    </div>
  </div>
    <div class="tile-item">
    <div class="panel panel-clickable-alt">
      <div class="panel-body">Change</div>
    </div>
  </div>
  <div class="tile-item">
    <div class="panel panel-clickable-alt">
      <div class="panel-body">The</div>
    </div>
  </div>
  <div class="tile-item">
    <div class="panel panel-clickable-alt">
      <div class="panel-body">Screen</div>
    </div>
  </div>
  <div class="tile-item">
    <div class="panel panel-clickable-alt">
      <div class="panel-body">Size</div>
    </div>
  </div>
</div>
```

*/

/*doc
---
title: Gutters
name: 04_tile_layout_responsive
parent: tile_layout
---

You can make a TileLayout without gutters by omitting the 'tile-gutter' class.

```html_example
<div class="tile-layout-xs-3 tile-layout">
  <div class="tile-item">
    <div class="panel panel-clickable-alt">
      <div class="panel-body">So</div>
    </div>
  </div>
  <div class="tile-item">
    <div class="panel panel-clickable-alt">
      <div class="panel-body">Close</div>
    </div>
  </div>
  <div class="tile-item">
    <div class="panel panel-clickable-alt">
      <div class="panel-body">Together</div>
    </div>
  </div>
</div>
```

*/
