/*doc
---
title: Tooltip
name: tooltip
categories:
 - css_components_tooltips
 - css_all
---

<code class="pam">
<img src="/styleguide/download.svg" width="16" height="16"/>
npm install pui-css-tooltips --save
</code>

Tooltips are used to display extra information on hover. They can be used with any hoverable element.

```html_example_table
<div class="tooltip">
  <button class="btn btn-default">
    Top
    <div class="tooltip-container">
      <div class="tooltip-content">a tooltip</div>
    </div>
  </button>
</div>

<div class="tooltip tooltip-bottom">
  <button class="btn btn-default">
    Bottom
  </button>
  <div class="tooltip-container">
    <div class="tooltip-content">a tooltip</div>
  </div>
</div>

<div class="tooltip tooltip-left">
  <button class="btn btn-default">
    Left
  </button>
  <div class="tooltip-container">
    <div class="tooltip-content">a tooltip</div>
  </div>
</div>

<div class="tooltip tooltip-right">
  <button class="btn btn-default">
    Right
  </button>
  <div class="tooltip-container">
    <div class="tooltip-content">a tooltip</div>
  </div>
</div>
```

Tooltips can be light as well as dark (the default):

```html_example
<div class="tooltip tooltip-light">
  <button class="btn btn-default">
    A light tooltip
  </button>
  <div class="tooltip-container">
    <div class="tooltip-content">a tooltip</div>
  </div>
</div>
```

Tooltips can be sized:

```html_example_table
<div class="tooltip">
  <button class="btn btn-default">
    A small tooltip
  </button>
  <div class="tooltip-container tooltip-sm">
    <div class="tooltip-content">Lorem ipsum dolor sit amet, consec</div>
  </div>
</div>

<div class="tooltip">
  <button class="btn btn-default">
    A medium tooltip
  </button>
  <div class="tooltip-container tooltip-md">
    <div class="tooltip-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</div>
  </div>
</div>

<div class="tooltip">
  <button class="btn btn-default">
    A large tooltip
  </button>
  <div class="tooltip-container tooltip-lg">
    <div class="tooltip-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
  </div>
</div>
```

*/
