/*doc
---
title: Tooltip
name: tooltip
categories:
 - css_components_tooltips
 - css_all
---

<code class="pam">
<img src="/styleguide/download.svg" width="16" height="16"/>
npm install pui-css-tooltips --save
</code>

Tooltips are used to display extra information on hover. They can be used with any hoverable element.

```html_example_table
<button class="btn-default tooltip">
  Top
  <div class="tooltip-container">
    <div class="tooltip-content">a tooltip</div>
  </div>
</button>

<button class="btn-default tooltip tooltip-bottom">
  Bottom
  <div class="tooltip-container">
    <div class="tooltip-content">a tooltip</div>
  </div>
</button>

<button class="btn-default tooltip tooltip-left">
  Left
  <div class="tooltip-container">
    <div class="tooltip-content">a tooltip</div>
  </div>
</button>

<button class="btn-default tooltip tooltip-right">
  Right
  <div class="tooltip-container">
    <div class="tooltip-content">a tooltip</div>
  </div>
</button>
```

Tooltips can be light as well as dark (the default):

```html_example
<button class="btn-default tooltip tooltip-light">
  A light tooltip
  <div class="tooltip-container">
    <div class="tooltip-content">a tooltip</div>
  </div>
</button>
```

Tooltips can be sized:

```html_example_table
<button class="btn-default tooltip tooltip-sm">
  A small tooltip
  <div class="tooltip-container">
    <div class="tooltip-content">a tooltip</div>
  </div>
</button>

<button class="btn-default tooltip tooltip-md">
  A medium tooltip
  <div class="tooltip-container">
    <div class="tooltip-content">a tooltip</div>
  </div>
</button>

<button class="btn-default tooltip tooltip-lg">
  A large tooltip
  <div class="tooltip-container">
    <div class="tooltip-content">a tooltip</div>
  </div>
</button>
```

*/
