/*doc
---
title: Whitespace
name: whitespace
categories:
 - css_utilities_whitespace
 - react_utilities_whitespace
 - css_all
---

<code class="pam">
<i class="fa fa-download" alt="Install the Component">
npm install pui-css-whitespace --save
</i>
</code>

<div class="alert alert-warning alert-dismissable">
  <h5 class="em-high mtn">
    Sass variables should only be used in variables.css.scss.
  </h5>
  <p>
    They should never be used directly when building components, because it makes
    it very hard to change the values later if you can't tell how they might have been used.
    You should <strong>define your own variables</strong> that use these values in variables.css.scss.
  </p>

  <p>
    If you do want to use variables and mixins, install this module:
  </p>

  <code>
    <i class="fa fa-download" alt="Install the Component">
     npm install pui-css-variables-and-mixins
    </i>
  </code>
</div>

*/
/*doc
---
title: Standard
name: standard
parent: whitespace
---

Should be used to modify the default spacing between objects (not between nodes of the same object)
Please use judiciously. You want to be using defaults most of the time, these are exceptions!
`<type><location><size>`

Letter                           | Description
-------------------------------- | ------------------------------------------------------------------
p, m                             | padding, margin
a, t, r, b, l, h, v              | all, top, right, bottom, left, horizontal, vertical
n, s, m, l, xl, xxl, xxxl, xxxxl | none(0px), small(5px), medium(7px), large(10px), extra large(20px), extra extra large (40px), extra extra extra large (120px), extra extra extra extra large (140px)


```html_example
<p>A normal paragraph</p>
<p class="pal">A paragraph with large padding</p>
```

*/

/*doc
---
title: List
name: whitespace_list
parent: whitespace
---

See [list spacing][list_whitespace].

*/


/*doc
---
title: List Spacing
name: list_whitespace
parent: list
---

Most lists come with built in default spacing that should work for you. However, if you find yourself needing to modify the spacing, you should do that with list spacing classes rather than whitespace classes. A single class can be applied to the list and all direct children will be modified.
The classes are constructed by specifying `<type><location><size>`.



<table class="styleguide">
  <tbody>
    <tr>
      <th scope="col" colspan="3" class="txtL"><strong>Type:</strong></th>
    </tr>
    <tr>
      <th scope="row"><code class="sg-code">l</code></th>
      <td>list</td>
      <td>Space on the inside of each of the li direct children of the element</td>
    </tr>
    <tr>
      <th scope="col" colspan="3" class="txtL"><strong>Location:</strong></th>
    </tr>
    <tr>
      <th scope="row"><code class="sg-code">h</code></th>
      <td>horizontal</td>
      <td>Adds spacing to the left and right of the <code class="sg-code">li</code>.</td>
    </tr>
    <tr>
      <th scope="row"><code class="sg-code">v</code></th>
      <td>vertical</td>
      <td>Adds spacing to the top and bottom of the <code class="sg-code">li</code>.</td>
    </tr>
    <tr>
      <th scope="col" colspan="3" class="txtL"><strong>Size:</strong></th>
    </tr>
    <tr>
      <th scope="row"><code class="sg-code">xl</code></th>
      <td>extra large</td>
      <td>Adds 21 pixels of space</td>
    </tr>
    <tr>
      <th scope="row"><code class="sg-code">l</code></th>
      <td>large</td>
      <td>Adds 10 pixels of space</td>
    </tr>
    <tr>
      <th scope="row"><code class="sg-code">m</code></th>
      <td>medium</td>
      <td>Adds 7 pixels of space</td>
    </tr>
    <tr>
      <th scope="row"><code class="sg-code">s</code></th>
      <td>small</td>
      <td>Adds 5 pixels of space</td>
    </tr>
    <tr>
      <th scope="row"><code class="sg-code">n</code></th>
      <td>none</td>
      <td>Sets any existing space to 0</td>
    </tr>
  </tbody>
</table>

### Vertical Spacing Options (`n` -> `xl`)

```html_example_table
<ul class="lvn">
  <li>feep</li>
  <li>fop</li>
  <li>meep</li>
</ul>

<ul class="lvs">
  <li>feep</li>
  <li>fop</li>
  <li>meep</li>
</ul>

<ul class="lvm">
  <li>feep</li>
  <li>fop</li>
  <li>meep</li>
</ul>

<ul class="lvl">
  <li>feep</li>
  <li>fop</li>
  <li>meep</li>
</ul>

<ul class="lvxl">
  <li>feep</li>
  <li>fop</li>
  <li>meep</li>
</ul>
```

### Horizontal Spacing Options (`n` -> `xl`)


```html_example_table
<ul class="list-inline lhn">
  <li>feep</li>
  <li>fop</li>
  <li>meep</li>
</ul>

<ul class="list-inline lhs">
  <li>feep</li>
  <li>fop</li>
  <li>meep</li>
</ul>

<ul class="list-inline lhm">
  <li>feep</li>
  <li>fop</li>
  <li>meep</li>
</ul>

<ul class="list-inline lhl">
  <li>feep</li>
  <li>fop</li>
  <li>meep</li>
</ul>

<ul class="list-inline lhxl">
  <li>feep</li>
  <li>fop</li>
  <li>meep</li>
</ul>
```

*/
