@import "../pui-variables";

p {
  margin: 0 0 ($base-unit * 2);
}

body {
  font-size: $font-size-base;
  line-height: $pui-line-height-medium;
}

@mixin source-sans-pro-helper($name, $weight, $style) {
  @font-face {
    font-family: 'SourceSansPro';
    src: url("fonts/sourcesanspro-#{$name}-webfont.eot");
    src: url("fonts/sourcesanspro-#{$name}-webfont.eot?#iefix") format("embedded-opentype"),
    url("fonts/sourcesanspro-#{$name}-webfont.woff") format("woff"),
    url("fonts/sourcesanspro-#{$name}-webfont.ttf") format("truetype");
    font-weight: $weight;
    font-style: $style;
  }
}

@mixin source-code-pro-helper($weight, $style) {
  @font-face {
    font-family: 'SourceCodePro';
    src: url("fonts/source-code-pro-v9-latin-#{$weight}.eot");
    src: url("fonts/source-code-pro-v9-latin-#{$weight}.eot?#iefix") format("embedded-opentype"),
    url("fonts/source-code-pro-v9-latin-#{$weight}.woff") format("woff"),
    url("fonts/source-code-pro-v9-latin-#{$weight}.ttf") format("truetype");
    font-weight: $weight;
    font-style: $style;
  }
}

@include source-sans-pro-helper('light', 200, normal);
@include source-sans-pro-helper('regular', 400, normal);
@include source-sans-pro-helper('it', 400, italic);
@include source-sans-pro-helper('semibold', 600, normal);
@include source-sans-pro-helper('bold', 700, normal);
@include source-code-pro-helper(400, normal);
@include source-code-pro-helper(600, normal);
@include source-code-pro-helper(700, normal);

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  color: $headings-color;
  margin-top: 0;
  margin-bottom: 0;
}

h1, .h1 {
  font-size: $font-size-h1;
  line-height: $line-height-h1;
  letter-spacing: -.5px;
}

h2, .h2 {
  font-size: $font-size-h2;
  line-height: $line-height-h2;
  letter-spacing: -.5px;
}

h3, .h3 {
  font-size: $font-size-h3;
  line-height: $line-height-h3;
}

h4, .h4 {
  font-size: $font-size-h4;
  line-height: $line-height-h4;
}

h5, .h5 {
  font-size: $font-size-h5;
  line-height: $line-height-h5;
}

h6, .h6 {
  font-size: $font-size-h6;
  line-height: $line-height-h6;
  letter-spacing: .25px;
}

.type-lg {
  font-size: $font-size-large;
  line-height: $pui-line-height-medium;
}

small, .type-sm {
  font-size: $font-size-small !important;
  line-height: $pui-line-height-small;
}

.type-xs {
  font-size: $font-size-extra-small !important;
  line-height: $pui-line-height-small;
  letter-spacing: .25px;
}

.title {
  font-size: $font-size-title;
}

.em-low {
  font-weight: $font-weight-em-low;
}

.em-default {
  font-weight: $font-weight-em-default;
}

.em-high {
  font-weight: $font-weight-em-high;
}

.em-max {
  font-weight: $font-weight-em-max;
}

.em-alt {
  text-transform: uppercase !important;
}

@each $color-name, $color-value in $general-color-palette {
  .type-#{$color-name} {
    color: $color-value !important;
  }
}

.type-inverse {
  color: $type-inverse !important;
}

a:hover.type-inverse {
  color: $type-inverse-hover !important;
}

.error-color {
  color: $error-color !important;
}

address {
  margin-bottom: 20px;
  font-style: normal;
  line-height: $pui-line-height-small;
}