@import "../pui-variables";

p {
  margin: 0 0 ($base-unit * 2);
}

body {
  font-size: $font-size-base;
  line-height: $pui-line-height-medium;
}

$charsets: (
  "latin": "U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD",
  "cyrillic": "U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116"
);

@mixin fontHelper($name, $style, $weight, $charset) {
  @font-face {
    font-family: $name;
    font-style: $style;
    font-weight: $weight;
    font-display: swap;
    src: url("fonts/#{$name}-#{$style}-#{$weight}-#{$charset}.woff") format('woff');
    unicode-range: map-get($charsets, $charset);
  }
}

@include fontHelper('SourceSansPro', normal, 200, 'latin');
@include fontHelper('SourceSansPro', normal, 200, 'cyrillic');
@include fontHelper('SourceSansPro', normal, 400, 'latin');
@include fontHelper('SourceSansPro', normal, 400, 'cyrillic');
@include fontHelper('SourceSansPro', italic, 400, 'latin');
@include fontHelper('SourceSansPro', normal, 600, 'latin');
@include fontHelper('SourceSansPro', normal, 600, 'cyrillic');
@include fontHelper('SourceSansPro', normal, 700, 'latin');
@include fontHelper('SourceSansPro', normal, 700, 'cyrillic');
@include fontHelper('SourceCodePro', normal, 400, 'latin');
@include fontHelper('SourceCodePro', normal, 400, 'cyrillic');
@include fontHelper('SourceCodePro', normal, 600, 'latin');
@include fontHelper('SourceCodePro', normal, 600, 'cyrillic');
@include fontHelper('SourceCodePro', normal, 700, 'latin');
@include fontHelper('SourceCodePro', normal, 700, 'cyrillic');

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  color: $headings-color;
  margin-top: 0;
  margin-bottom: 0;
}

h1, .h1 {
  font-size: $font-size-h1;
  line-height: $line-height-h1;
  letter-spacing: -.5px;
}

h2, .h2 {
  font-size: $font-size-h2;
  line-height: $line-height-h2;
  letter-spacing: -.5px;
}

h3, .h3 {
  font-size: $font-size-h3;
  line-height: $line-height-h3;
}

h4, .h4 {
  font-size: $font-size-h4;
  line-height: $line-height-h4;
}

h5, .h5 {
  font-size: $font-size-h5;
  line-height: $line-height-h5;
}

h6, .h6 {
  font-size: $font-size-h6;
  line-height: $line-height-h6;
  letter-spacing: .25px;
}

.type-lg {
  font-size: $font-size-large;
  line-height: $pui-line-height-medium;
}

small, .type-sm {
  font-size: $font-size-small !important;
  line-height: $pui-line-height-small;
}

.type-xs {
  font-size: $font-size-extra-small !important;
  line-height: $pui-line-height-small;
  letter-spacing: .25px;
}

.title {
  font-size: $font-size-title;
}

.em-low {
  font-weight: $font-weight-em-low;
}

.em-default {
  font-weight: $font-weight-em-default;
}

.em-high {
  font-weight: $font-weight-em-high;
}

.em-max {
  font-weight: $font-weight-em-max;
}

.em-alt {
  text-transform: uppercase !important;
}

@each $color-name, $color-value in $general-color-palette {
  .type-#{$color-name} {
    color: $color-value !important;
  }
}

.type-inverse {
  color: $type-inverse !important;
}

a:hover.type-inverse {
  color: $type-inverse-hover !important;
}

.error-color {
  color: $error-color !important;
}

address {
  margin-bottom: 20px;
  font-style: normal;
  line-height: $pui-line-height-small;
}