@import "../pui-variables";



.pre-unstyled {
  background-color: transparent;
  border: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
  color: inherit;
}

.pre-scrollable {
  overflow-y: auto; //bootstrap override
}


.inline-dark {
  background-color: $code-background-dark;
  border-radius: $code-border-radius;
  color: $code-color-dark;
}


.terminal {
  background-color: $gray-7;
  padding: 6px 10px 12px 10px;
  border-radius: $code-chrome-border-radius;
  box-shadow: 0 2px 0 $shadow-1;

  .terminal-dots {
    margin-bottom: 0;
    padding: 0;

    li{
      border-radius: 6px;
      width: 12px;
      height: 12px;
      background-color: $gray-4;
      display: inline-block;
      margin-right: 15px;
    }
  }

  pre[class*="language-"] {
    margin: 2px 0 0 0;
    border-radius: $code-border-radius;
    height: 320px;
    overflow-y: auto;
  }
}
