@import "../dropdowns/dropdowns_mixins";

.select {
  @extend %dropdown;
  display: inline-block;

  .select-toggle {
    @extend %dropdown-toggle;

    .btn-inner-content {
      display: block;
      justify-content: inherit;
    }

    .select-toggle-label {
      float: left;
    }

    .icon {
      float: right;
      padding-top: $whitespace-m;
    }

    & + ul {
      height: 0;
      overflow: hidden;
      list-style-type: none;
      padding-right: 50px;
      margin: 0;
      li {
        visibility: hidden;
      }
    }
  }

  &.open {
    .select-menu {
      @extend %dropdown-menu-open;
    }

    .select-toggle {
      @extend %dropdown-toggle-open;
    }
  }
}

.select-menu {
  @extend %dropdown-menu;

  .option {
    display: block;
  }

  .selected {
    font-weight: $font-weight-em-high;
  }
}