@import "../pui-variables";
@import "../mixins";

ul, ol {
  margin-top: 0;
  margin-bottom: $base-unit;
  ul, ol {
    margin-bottom: 0;
  }
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-inline {
  @extend .list-unstyled;

  font-size: 0;
  margin-left: $base-unit * -1;

  > li {
    display: inline-block;
    font-size: $font-size-base;
    padding-left: $base-unit;
    padding-right: $base-unit;
  }
}

.list-unordered {
  padding-left: 0;
  > li {
    margin-left: 16px;
  }
}

@mixin list-divider($color: $table-border-color) {
  > li {

    &:not(:last-child) {
      border-bottom: 1px solid $color;
    }
  }
}

.list-divider {
  @include  list-divider()
}

@mixin list-inline-divider($color: $table-border-color) {
  > li {
    line-height: 1em;

    &:not(:first-child) {
      border-left: 1px solid $color;
    }
  }
}

.list-inline-divider {
  @extend .list-inline;
  @include list-inline-divider();
}

.list-inline-divider-light {
  @include list-inline-divider($list-inline-divider-light-color);
}

.list-breadcrumb {
  @extend .list-inline;
  margin-bottom: 0;

  font-family: "Consolas", "Menlo", "Monaco", "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;

  > li {
    font-size: 0;
    padding-left: 0;
    padding-right: 0;

    a, &.current span {
      @include text-overflow;

      font-size: $font-size-small;
      display: inline-block;
      max-width: 200px;
      vertical-align: middle;
    }

    &.current span {
      color: $navbar-default-link-color;
    }

    &:before {
      font-size: $font-size-base;
      color: $navbar-default-link-color;
      content: ">";
      vertical-align: middle;
      padding-right: $base-unit / 2;
      padding-left: $base-unit / 2;
    }

    &:first-child:before {
      content: "";
    }
  }
}

.list-notitle {
  li:first-child {
    border-top: 0;
  }
  li:last-child {
    border-bottom: 0;
  }
}

.list-stream-new-items-btn-wrapper {
  overflow: hidden;
}

.list-stream-new-items-btn {
  font-weight: $font-weight-em-high;
  background-color: $neutral-10;
  color: $navy-3;
  width: 100%;
  height: $base-unit * 5.5;
  padding: 0;
  border-radius: 0;
  border-top: 1px solid #ddd;
  box-shadow: 0 -1px $shadow-4;
  justify-content: center;

  &:hover {
    background-color: darken($neutral-10, 20%);
    color: $navy-3;
  }
}

.list-draggable {
  @include user-select(none);
  padding-left: 0;

  .draggable-grip {
    display: inline-block;
    fill: $list-draggable-grip;
  }

  > li {
    width: 100%;
    list-style-type: none;
    border-bottom: 1px solid #ddd;

    &:first-child {
      border-top: 1px solid #ddd;
    }

    .draggable-item-content {
      padding: $list-draggable-item-content-padding;
      background: $list-draggable-item-content-bg;
    }

    &.hover {
      cursor: move;

      .draggable-grip {
        fill: $list-draggable-grip-active;
      }
    }

    &.grabbed {
      background-color: $list-draggable-bg;
      * {
        visibility: hidden;
      }
    }

    &.grabbed .draggable-grip {
      visibility: hidden;
    }
  }
}