@import "../pui-variables";

/*doc
---
title: Hoverable
name: hoverable
categories:
  - Utilities
  - Objects
  - All
---


<code class="pam">
<i class="fa fa-download" alt="Install the Component">
npm install pui-css-hoverable --save
</i>
</code>


This component is for showing hidden actions on hover.
If you put this on an element then hovering on that parent element will show the hidden element.

List example:

This can be used with any kind of list but the list group style seems to fit this use case best.

```html_example
<ul class="list-group" hoverable-group="true">
  <li class="list-group-item" hoverable="true">
    List Item 1
    <a class="hovered" href="#">Edit</a>
  </li>
  <li class="list-group-item" hoverable="true">
    List Item 2
    <a class="hovered" href="#">Edit</a>
  </li>
  <li class="list-group-item" hoverable="true">
    List Item 3
    <a class="hovered" href="#">Edit</a>
  </li>
  <li class="list-group-item">
    Not hoverable
  </li>
</ul>
```

Table example:

```html_example
<table hoverable-group="true">
  <tr>
    <th>Name</th>
  </tr>
  <tr hoverable="true">
    <td>
      Row 1
      <a class="hovered" href="#">Delete</a>
    </td>
  </tr>
  <tr hoverable="<%= true %>">
    <td>
      Row 2
      <a class="hovered" href="#">Delete</a>
    </td>
  </tr>
  <tr hoverable="true">
    <td>
      Row 3
      <a class="hovered" href="#">Delete</a>
    </td>
  </tr>
  <tr>
    <td>
      Not hoverable
    </td>
  </tr>
</table>
```

*/

[hoverable]:hover, [hoverable].clicked {
  background-color: $gray-9;

  .hovered {
    visibility: visible;
  }
}

[hoverable] {
  .hovered {
    visibility: hidden;
    float: right;
  }
}
