<div class="codeTable">
  <table role="presentation">
    <tbody>
      <% examples.each do |example| %>
        <tr>
          <th>
            <div class="exampleOutput"><%= example.rendered_example %></div>
          </th>
          <td>
            <div class="codeBlock" aria-hidden="true">
              <div class="highlight" data-code-to-copy>
                <pre><%= example.code_example %></pre>
              </div>
              <span class="btn-default-alt btn-copy" data-btn-copy data-placement="left">
                Copy
              </span>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

