<div class="codeExample">
  <div class="exampleOutput"><%= rendered_example %></div>
  <div class="codeBlock" aria-hidden="true">
    <div class="highlight" data-code-to-copy>
      <pre><%= code_example %></pre>
    </div>
    <span class="btn btn-default btn-copy" data-btn-copy data-placement="left">
        Copy
    </span>
  </div>
</div>
