<!doctype html>
<html>
  <head>
    <title>a brand new styleguide: <%= title %></title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="pivotal-ui/pivotal-ui.css">
    <link rel="stylesheet" href="style_guide/style_guide.css">
    <link rel="stylesheet" href="style_guide/github.css">
    <link rel="stylesheet" disabled href="syntax-highlighting/prism-default.css">
    <link rel="stylesheet" href="syntax-highlighting/prism-okaida.css">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <script src="pivotal-ui/pivotal-ui.js"></script>
    <script src="style_guide/style_guide.js"></script>
  </head>
  <body>
    <nav class="styleguide-header">
      <div class="container">
        <a href="/" class="styleguide-logo"><img src="/images/pui-logo@2x.png" alt="Introduction to Pivotal UI" height="28px"></a>
        <ul>
          <% ['Layout', 'Elements', 'Objects', 'Utilities', 'JavaScript', 'Forms', 'by Product'].each do |category_name| %>
            <%= "\"#{category_name}\" CATEGORY NOT FOUND ERROR, fool." unless @categories.has_key?(category_name) %>
            <li><a href="<%= @categories[category_name] %>"><%= category_name %><i class="mlm type-xs fa fa-chevron-down"></i></a></li>
          <% end %>
          <li><a href="all.html">all</a></li>
        </ul>
      </div>
    </nav>
    <div class="container mtxxl ptl">
      <h1>a brand new style guide, it's super effective</h1>
      <section class="content">
        <ul>
        <% @blocks.each do |b| %>
          <li><a href="#<%= b[:name] %>"><%= b[:title] %></a></li>
        <% end %>
        </ul>
