<!doctype html>
<html>
  <head>
    <title>a brand new styleguide: <%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="pivotal-ui/pivotal-ui.css">
    <link rel="stylesheet" href="styleguide/styleguide.css">
    <link rel="stylesheet" href="styleguide/github.css">
    <link rel="stylesheet" disabled href="syntax-highlighting/prism-default.css">
    <link rel="stylesheet" href="syntax-highlighting/prism-okaida.css">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <script src="pivotal-ui/pivotal-ui.js"></script>
    <script src="styleguide/styleguide.js"></script>
  </head>
  <body>
    <nav class="styleguide-header">
      <div class="container">
        <button id="navbar-hamburger">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" class="styleguide-logo"><img src="/images/pui-logo@2x.png" alt="Introduction to Pivotal UI" height="28px"></a>
        <div id="styleguide-first-level-nav-wrapper">
          <ul id="styleguide-first-level-nav">
            <% categories = ['Layout', 'Elements', 'Objects', 'Utilities', 'JavaScript', 'Forms', 'by Product'] %>

            <% categories.each_with_index do |category_name, index| %>
              <%= "\"#{category_name}\" CATEGORY NOT FOUND ERROR, fool." unless @categories.has_key?(category_name) %>
              <% file_name = @categories[category_name] %>

              <li id="category-<%= index %>" class="styleguide-category">
                <a class="category-link" href="<%= file_name %>">
                  <%= category_name %>
                </a>
                <a class="styleguide-second-level-nav-link" href="#" data-target="category-<%= index %>">
                  <span class="sr-only">Expand <%= category_name %></span>
                  <i class="fa fa-chevron-down"></i>
                </a>
                <ul class="styleguide-second-level-nav">
                  <% @pages[file_name][:blocks].each do |b| %>
                    <% if (b[:categories].include?(category_name)) && (b[:parent] == nil) %>
                      <% if file_name == @file_name %>
                        <li><a href="#<%= b[:name] %>" class="styleguide-subsection"><%= b[:title] %></a></li>
                      <% else %>
                        <li><a href="<%= file_name %>#<%= b[:name] %>"><%= b[:title] %></a></li>
                      <% end %>
                    <% end %>
                  <% end %>
                </ul>
              </li>
            <% end %>
            <li>
              <a class="category-link" href="all.html">All</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container ptl">
      <section class="content">

