@import "../pui-variables";
@import '../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins';
@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/list-group";
@import '../../../../src/oocss/utils/clearfix-me';
@import '../../../../src/oocss/list/listWhitespace';

@import "../mixins";




/*pending
---
title: JS Lists
name: lists_js
categories:
  - Objects
  - All
---

This section contains different list behaviors. See [lists][list] to see different list styles.
*/

//Bootstrap
@mixin list-unstyled {
  padding-left: 0;
  list-style: none;
}

//Bootstrap
.list-unstyled {
  @include list-unstyled;
}

//Bootstrap
.list-inline {
  @include list-unstyled;
  margin-left: -5px;

  > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
  }
}

//PUI
.list-inline {
  font-size: 0;
  > li {
    font-size: $font-size-base;
  }
}


.list-unordered {
  padding-left: 0;
  > li {
    margin-left: 17px;
  }
}


@mixin list-inline-divider($color: $neutral-5) {
  > li {

    line-height: 1em;

    &:not(:first-child) {
      border-left: 1px solid $color;
    }
  }
}

.list-inline-divider {
  @extend .list-inline;
  @include list-inline-divider();
}

.list-inline-divider-light {
  @include list-inline-divider($list-inline-divider-light-color);
}



.list-breadcrumb {
  @extend .list-inline;
  margin-bottom: 0;

  font-family: "Consolas", "Menlo", "Monaco", "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;

  > li {
    font-size: 0; // TODO: remove all font-size hacks from this file when we start minifying our HTML
    a, &.current span {
      font-size: 14px;
      display: inline-block;
      max-width: 200px;
      @include text-overflow;
      vertical-align: middle;
    }

    &.current span {
      color: $navbar-default-link-color;
    }

    padding-left: 0;
    padding-right: 0;
    &:before {
      font-size: $font-size-base;
      color: $navbar-default-link-color;
      content: ">";
      vertical-align: middle;
      padding-right: 5px;
      padding-left: 5px;
    }
    &:first-child:before {
      content: "";
    }
  }
}


.list-group-inverse {
  @extend .list-group;
  > li {
    border-color: $neutral-1;
  }
}

.list-group {
  &, > li {
    border-width: 1px 0;
  }
}

.list-notitle{
  li:first-child{
    border-top:0;
  }
  li:last-child{
    border-bottom:0;
  }
}



.list-vertical-divider {
  @extend .list-inline;
  @include clearfix-me(micro);

  overflow: hidden;

  > li {
    &:first-child {
      border-left: none;
    }
    border-left: $list-vertical-divider-border;
    padding-bottom: 9000px;
    margin-bottom: -9000px;

    .height-enforcer {
      min-height: 130px;
    }
  }
}

.list-vertical-divider-2 {
  @extend .list-vertical-divider;
  margin-bottom: 40px;
  > li {
    border-left: $divider-lowlight-border;
    padding-left: 30px;
    padding-right: 30px;
  }
  >li:first-child {
    padding-left: 30px;
  }
}



.list-steps {
  @extend .list-inline;
  > li {
    font-size: 14px;
    text-transform:uppercase;
    color: $list-steps-color;
    margin-right: 45px;
    padding-left: 0; // overrides .list-inline styles
    margin-bottom: 5px;
    counter-increment: list-steps;
    font-weight:600;
    &:before {
      content: counter(list-steps);

      display: block;
      padding: 0px 7px;
      margin-right:4px;
      text-align: center;
      color: $list-steps-color;
      display: inline-block;
      border: 2px solid $list-steps-color;
      border-radius: 30px; // set to be higher than required so that it will work with larger fonts/paddings.
    }
    &.current {
      color: $list-steps-color-current;
      font-weight:900;
      &:before {
        color: $list-steps-color-current;
        border-color: $list-steps-color-current;
      }
    }
  }
}

@include ooListWhitespace(($whitespace-s, $whitespace-m, $whitespace-l, $whitespace-xl));


.list-cards {
  @include clearfix-micro;
  @extend .list-unstyled;

  > li {
    margin-bottom: $grid-gutter-width;
  }
}

@mixin setCardWidthResponsive($width) {
  $breakpoints: (xs: $screen-xs-min, sm: $screen-sm-min, md: $screen-md-min, lg: $screen-lg-min, xl: $screen-xl-min);
  @each $key, $breakpoint in $breakpoints {
    @media(min-width: $breakpoint) {
      &.list-cards-#{$key} {
        > li {
          width: $width;
          float: left;
          margin-right: $grid-gutter-width;
        }
      }
    }
  }
}

@mixin makeCard($height, $width, $name){
  .list-card-#{$name} {
    @include setCardWidthResponsive($width);
    > li {
      min-height: $height;

      a.list-cards-link, // deprecated in favor of the singular
      a.list-card-link {
        display: block;
        min-height: $height;
      }

      .list-card-wrapper {
        min-height: $height;
      }

    }
  }
}

@include makeCard(126px, 435px, 1);
@include makeCard(196px, 284px, 2);


.list-stream-new-items-btn-wrapper {
  overflow: hidden;
}

.list-stream-new-items-btn {
  font-weight: $font-weight-em-high;
  background-color: $neutral-10;
  color: $navy-3;
  width: 100%;
  height: 45px;
  padding: 0;
  border-radius: 0;
  border-top: 1px solid $list-group-border;
  box-shadow: 0px -1px $shadow-4;

  &:hover {
    background-color: darken($neutral-10, 20%);
    color: $navy-3;
  }
}

.list-draggable {
  @include user-select(none);

  .draggable-grip {
    display: inline-block;
    fill: $list-draggable-grip;
  }

  > li {
    width: 100%;

    .draggable-item-content {
      padding: $list-draggable-item-content-padding;
      background: $list-draggable-item-content-bg;
    }

    &.hover {
      cursor: move;

      .draggable-grip {
        fill: $list-draggable-grip-active;
      }
    }

    &.grabbed {
      background-color: $list-draggable-bg;
      * {
        visibility: hidden;
      }
    }

    &.grabbed .draggable-grip {
      visibility: hidden;
    }
  }
}



.list-timeline {
  @extend .list-unstyled;
  display: table;
  width: 100%;
}

.list-timeline-item {
  display: table-row;
}

.list-timeline-date {
  font-size: $font-size-small;
  color: $gray-5;
  display: table-cell;
  vertical-align: middle;
  text-align: right;
  padding-right: $timeline-list-gutter;
}

.list-timeline-subtitle {
  font-size: $font-size-small;
  color: $gray-5;
  font-weight: $font-weight-em-default;
  display: block;
}

.list-timeline-title {
  font-size: $font-size-small;
  color: $gray-2;
  font-weight: $font-weight-em-high;
  display: table-cell;
  vertical-align: middle;
  position: relative;
  padding: $timeline-list-padding 0 $timeline-list-padding $timeline-list-gutter;
  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    background: $timeline-axis-color;
    top: 0;
    left: 0;
    z-index: 1;
    top: 0;
    bottom: 0;
  }
  &:after {
    height: 20px;
    width: 20px;
    display: block;
    content: "";
    border: 2px solid $timeline-point-color;
    border-radius: 1000px;
    background: white;
    box-shadow: 0 0 0 2px white;
    position: absolute;
    left: -9px;
    top: 50%;
    z-index: 2;
    transform: translatey(-50%);
    -moz-transform: translatey(-50%);
    -ms-transform: translatey(-50%);
    -o-transform: translatey(-50%);
    -webkit-transform: translatey(-50%);
  }
}

