@import '../../library/src/pivotal-ui/components/pui-variables';
@import './sidebar';
@import './content';
@import './code_editor';

#app {
  display: flex;
  height: 100%;
}

body {
  margin: 0;
  font-family: $font-family-base;
  font-size: $font-size-base;
}