@import '../../library/src/pivotal-ui/components/pui-variables';
@import './sidebar';
@import './content';
@import 'code_editor';

body {
  margin: 0;
  font-family: $font-family-base;
  font-size: $font-size-base;
}

#app {
  display: flex;
  height: 100%;

  .toc-sidebar {
    width: 200px;

    .heading-3 {
      padding-left: 16px;
    }
  }
}

.grid-show {
  margin-bottom: $grid-gutter-width;
  text-align: center;
  [class*=col]:before {
    content: attr(class) '\a' attr(grid-content);
    white-space: pre;
    display: block;
    background-color: $neutral-10;
    padding: 10px 0;
    outline: 1px solid $neutral-5;
  }
}