.markdown-viewer {
  pre {
    padding: 0;
    margin: 0 0 16px 0;
    border: 0;
    border-radius: 0;
  }
}

.code-editor {
  background-color: $dark-11;
  width: 80%;
  margin: 0 20px;
}

.code-editor--live-preview {
  padding: 20px 10px 10px 10px;
}

.code-editor--edit {
  align-content: stretch;
  display: flex;

  textarea {
    flex: 1;
  }
}

.code-editor--html-preview {
  border-top: 0;
}

.code-editor--edit, .code-editor--html-preview {
  border: 1px solid $dark-9;
  padding: 5px;
}