.markdown-viewer {
  pre {
    padding: 0;
    margin: 0 0 16px 0;
    border: 0;
    border-radius: 0;
  }
}

.code-editor {
  background-color: $dark-11;
  margin: 0 20px;
}

.code-editor--live-preview {
  padding: 20px 10px 10px 10px;
}

.code-editor--edit {
  align-content: stretch;
}

.code-editor--html-preview {
  border-top: 0;
}

.code-editor--edit, .code-editor--html-preview {
  border: 1px solid $dark-9;
  padding: 5px;
}

.code-editor--toolbar {
  text-align: right;
  margin: 2px 0px;
}

.code-editor--toolbar--toggle-open {
  background-color: $teal-10;

  svg {
    fill: white;
  }
}

.code-editor--toolbar--item {
  margin: 0px 10px;
  cursor: pointer;
  vertical-align: middle;
}

.code-editor--toolbar--label {
  display: inline;
  margin-left: 5px;
}

.code-editor--titlebar {
  margin: 10px 5px;
  color: $gray-4;

  svg {
    transform: scale(1.5);
    fill: $gray-4;
  }

  .clipboard-button {
    background-color: inherit;
    border: 0px;
    display: inline;
    position: fixed;
    right: 25px;

    svg {
      transform: scale(.75);
    }
  }
}