@import "./toolbar";

.code-editor--toolbar + div {
  margin-top: 8px;
}

.code-editor > :last-child {
  margin-top: 8px;
}

.code-editor--live-preview {
  padding: 0 10px 10px 0;
}

.code-editor--edit {
  align-content: stretch;
}

.code-editor--html-preview {
  border-top: 0;
}

.code-editor--edit, .code-editor--html-preview {
  padding: 5px;
  border: 1px solid $dark-9;
  background-color: $dark-11;

  .ace_content {
    background-color: $dark-11;
  }
}

.code-editor--titlebar {
  margin: 10px 5px;
  color: $gray-4;

  svg {
    transform: scale(1.5);
    fill: $gray-4;
  }

  .clipboard-button {
    background-color: inherit;
    border: 0;
    display: inline;
    position: fixed;
    right: 25px;

    svg {
      transform: scale(.75);
    }
  }
}