.sidebar {
  background-color: $navy-2;
  width: 300px;
  flex: initial;
  height: 100%;
  color: white;
  overflow-y: scroll;
  overflow-x: hidden;
}

.sidebar--search {
  width: 100%
}

.sidebar--content {
  padding: 0 20px;

  h2 {
    font-weight: normal;
    margin: 0;
    padding: 10px 0;
  }
}

.sidebar--item {
  padding: 10px 0;
  border-bottom: 1px solid $navy-3;
  display: block;
  color: white;
  width: 100%;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: white;
    text-decoration: none;
  }

  &:last-child {
    border-bottom: 0;
  }
}