.sidebar {
  padding: 0 8px 0 16px;
  background-color: $navy-11;
  width: 208px;
  flex: initial;
  height: 100%;
  color: $gray-3;
  overflow-y: auto;
  overflow-x: hidden;
}

.sidebar--header {
  padding: 16px 0;
  display: flex;

  .sidebar--icon {
    padding: 8px;
    background-color: $brand-7;
    border-radius: 2px;
    height: 40px;
    width: 40px;

    svg {
      height: 24px;
      width: 24px;
    }
  }

  .sidebar--title {
    display: inline;
    color: $navy-1;
    font-size: 18px;
    padding-left: 12px;
    align-self: center;
  }
}

.sidebar--items {
  padding-top: 16px;
}

.sidebar--item {
  color: $gray-3;
  padding: 8px 0;
  display: block;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: $gray-3;
  }

  // TODO: remove me when accordion can be in sidebars
  .panel-heading {
    padding: 0;
  }
}