.toolbar {
  display: flex;
  padding: 8px 0 0 0;

  a {
    color: $text-color;
  }
}

.toolbar--left, .toolbar--right {
  flex: 1;
}

.toolbar--left {
  text-align: left;
}

.toolbar--right {
  flex: initial;
}

.toolbar--icon {
  svg {
    fill: $gray-4;
  }
}

input[type="checkbox"].toolbar--icon {
  margin-right: 0;
}

.toolbar--icon__checked {
  background-color: $teal-10;
  border: 0;

  svg {
    fill: white;
  }
}

.toolbar--icon__unchecked {
  background-color: white;
  border: 1px solid black;

  svg {
    fill: white;
  }
}

.toolbar--item {
  margin-left: $whitespace-xl;
  cursor: pointer;
  vertical-align: middle;
  .form-group {
    margin-bottom: 0;
    label {
      line-height: inherit;
      margin-right: 0;
    }
  }
}

.toolbar--label {
  display: inline;
  margin-left: $whitespace-l;
}

.type-underline-hover {
  &:hover {
    text-decoration: underline;
  }
}