@import "../pui-variables";
@import "../mixins";


// Terrible terrible code
.table-hack {
  .thead, .tbody {
    padding: 0 $whitespace-l;
  }
  .th {
    padding: 8px $whitespace-l;
  }
  .td {
    padding: 20px $whitespace-l;
  }
}

.table-data {
  border: none;
  tbody, thead, .tbody, .thead {
    tr, .tr {
      border-bottom: 1px solid $gray-7;
      th, .th {
        border-bottom: none;
        border-color: $gray-7;
        border-right: 1px solid $gray-7;
        padding: $whitespace-l;
        font-size: 13px;
        font-weight: 900;
        letter-spacing: 0.3px;
        &:first-child {
          border-bottom: none;
        }
        &:last-child {
          border: none;
        }
        background-color: $gray-9;
      }
      td, .td {
        padding: 10px 10px;
        border: none; // overwriting bootstrap default values which are too specific
      }
    }
  }

  tbody, .tbody {
    tr, .tr {
      background-color: $gray-9;
      &:hover {
        -webkit-transition: background-color 300ms ease-out;
        -moz-transition: background-color 300ms ease-out;
        transition: background-color 300ms ease-out;
        background-color: $gray-10;
      }
      &:last-child {
        border-bottom: 2px solid $shadow-3;
      }
    }
  }
  // end optical illusion bug code

  > thead > tr, > .thead > .tr {
    text-transform: uppercase;
    &:last-child {
    }
    > th, > .th {
      color: $gray-3;
    }
  }
}

.table-light {
  tbody, thead, .tbody, .thead {
    tr, .tr {
      background-color: $gray-10;
      th, .th, td, .td {
        background-color: $gray-10;
      }
      td, .td {
        border: none; // overwriting bootstrap default values which are too specific
      }
    }
  }
}

.table-key-value {
  table-layout: fixed;
  tbody, thead, .tbody, .thead {
    tr, .tr {
      th, .th {
        border: none; // overwriting bootstrap default values which are too specific
      }
    }
  }
  tbody {
    tr {
      &:last-child {
        border: none;
      }
      th, td {
        padding: 0;
        margin: 0;
      }
      th {
        text-transform: uppercase;
        font-weight: 800;
        text-align: left;
        color: $gray-5;
      }
      td {
        text-align: left;
        &:last-child {
          border: none;
        }
      }
    }
  }
}

.table-hover {
  td {
    cursor: pointer;
  }
}

.table-sortable {
  .sortable {
    @include no-select;
    cursor: pointer;
    &:hover {
      background-color: white;
      -webkit-transition: background-color 300ms ease-out;
      -moz-transition: background-color 300ms ease-out;
      transition: background-color 300ms ease-out;
    }
  }

  .svgicon {
    position: absolute;
    margin-top: -5px;
  }

  .icon-arrow_drop_up, .icon-arrow_drop_down {
    width: 1.5em;
    height: 1.5em;
    position: relative;
    top: 3px;
  }
}

.editing {
  .state-adding-trigger {
    visibility: hidden;
  }
  .table-addable {
    .thead-state-viewing,
    .td-state-viewing {
      display: none;
    }

    td {
      display: none;
    }
    td:first-child {
      display: table-cell;
    }
    thead.state-editing-show {
      display: table-header-group;
    }
    tr.state-editing-show {
      display: table-row;
    }
  }
}

.table-addable {
  table-layout: fixed;

  .state-editing-show {
    display: none;
  }

  .state-adding-item-show {
    display: none;
  }

  .inline-table-item.ng-enter.ng-enter-active {
    opacity: 1;
    .addedConfirmation {
      display: table-cell;
    }
  }

  .inline-table-item {
    .addedConfirmation {
      color: forestgreen;
    }
  }

  .saveRequested {
    opacity: 0.3;
  }

  .deleteRequested {
    -webkit-transition: all ease-out .2s;
    transition: all ease-out .2s;
    color: $gray-5;
  }

  .ng-leave {
    -webkit-transition: all ease-out .5s;
    transition: all ease-out .5s;
  }

  .ng-leave.ng-leave-active {
    color: $gray-9;
  }

  .saved {
    opacity: 1;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
  }

}

.table-scrollable {
  border: $table-scrollable-border;

  table {
    table-layout: fixed;
    tr:last-child {
      border-bottom: none;
    }
  }

  .table {
    margin: 0;
  }

  .table-scrollable-header {
    border-bottom: $table-scrollable-header-border;
  }

  .table-scrollable-body {
    border-top: $table-scrollable-body-border;
    max-height: $table-scrollable-default-height;
    overflow-y: auto;
    overflow-x: hidden;
  }

  &.table-scrollable-sm {
    .table-scrollable-body {
      max-height: $table-scrollable-sm;
    }
  }
  &.table-scrollable-md {
    .table-scrollable-body {
      max-height: $table-scrollable-md;
    }
  }
  &.table-scrollable-lg {
    .table-scrollable-body {
      max-height: $table-scrollable-lg;
    }
  }
}

