<!DOCTYPE html>
<html>
<head>
  <title>Large Gravatar</title>
  <link rel="stylesheet" href="../../dist/pivotal-ui/pivotal-ui.css">
</head>
<body>
  <div class="gravatar gravatar-lg">
    <img src="https://secure.gravatar.com/avatar/8b7970c372aabb936ca455127e04c959?s=80&amp;d=blank">
    <i class="fa fa-user"></i>
  </div>
  <div class="gravatar gravatar-lg">
    <img src="https://secure.gravatar.com/avatar/20c2a28872fde9c903c14c5b7e465ff7?s=80&amp;d=blank">
    <i class="fa fa-user"></i>
  </div>
</body>
</html>