@import "../pui-variables";

/*doc
---
title: Labels
name: label
categories:
  - Elements
  - All
---

<code class="pam">
<i class="fa fa-download" alt="Install the Component">
npm install pui-css-labels --save
</i>
</code>


Labels are based on Bootstrap's labels.
Here's an example of a label on its own.

```html_example_table
<span class="label label-primary">new</span>
```

You can also place labels within HTML elements.
It will be sized based on the element's font size and its font modifiers.

```html_example_table
<p>I am a P.
  <span class="label label-primary">new</span>
</p>

<h3>I am an H3.
  <span class="label label-primary">new</span>
</h3>

<h3 class="h5">I am an H3 with an H5 modifier.
  <span class="label label-primary">new</span>
</h3>
```
*/

.label {
  padding: 0.2em 0.6em;
  border-radius: 3px;
  text-transform: uppercase;
}

/*doc
---
title: Removable Labels
name: removable_label
parent: label
---

Removable labels are used as tags in an editable list. The user will either enter text or select content (i.e.: a dropdown item), and it will be styled as a removable label (most likely in a list). Developers who use these labels must implement the close functionality for when the user clicks the close button.

```html_example
<span class="label-removable">Removable
  <a class="close-btn fa fa-close"></a>
</span>
```
*/

.label-removable {
  padding: 4px 7px;
  border-radius: 3px;
  background-color: $brand-3;
  color: $neutral-11;
  font-weight: $font-weight-em-high;

  .close-btn {
    margin-left: 15px;
    color: $glow-4;

    &:hover {
      color: $neutral-11;
      text-decoration: none;
    }
  }
}

/*doc
---
title: Labels
name: label_react
categories:
  - React
---

<code class="pam">
<i class="fa fa-download" alt="Install the Component">
npm install pui-react-labels --save
</i>
</code>

Require the subcomponent:

```
var Label = require('pui-react-labels').Label;
```

Labels are a straightforward implementation of the [Label][label] style.

Labels can be used on their own:

```react_example
<UI.Label>yeah</UI.Label>
```
Labels used within an element which already has font modifier styles will use the parents' styling. For example:

```react_example
<UI.DefaultH3>
  Now the label is in a typography component <UI.Label>yeah</UI.Label>
</UI.DefaultH3>
```
*/
