@import "../pui-variables";
@import '../mixins';
@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/tooltip";

.button-with-tooltip-wrapper {
  display: inline-block;
}

.overlay-trigger {
  color: $link-color;
  @include transition-pui();

  &:hover, &:focus {
    cursor: pointer;
    text-decoration: none;
    color: lighten($link-color, 6%);
  }

  &:active, &.active{
    color: darken($link-color, 6%);
  }
}
