@import "../pui-variables";
@import "../mixins";

// Base class
.pui-collapse, .panel {
  margin-bottom: $line-height-computed;
  background-color: $panel-bg;
  border: 1px solid transparent;
  border-radius: $panel-border-radius;
}

// Panel contents
.pui-collapse-panel-body, .panel-body {
  padding: $panel-body-padding;
  @include clearfix;
}

// Optional heading
.pui-collapse-panel-heading, .panel-heading {
  padding: $panel-heading-padding;
  border-bottom: 1px solid transparent;
  @include border-top-radius(($panel-border-radius - 1));

  > .dropdown .dropdown-toggle {
    color: inherit;
  }
}

// Within heading, strip any `h*` tag of its default margins for spacing.
.pui-collapse-panel-title, .panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: ceil(($font-size-base * 1.125));
  color: inherit;

  > a,
  > small,
  > .small,
  > small > a,
  > .small > a {
    color: inherit;
  }
}

// List groups in panels
//
// By default, space out list group content from panel headings to account for
// any kind of custom content between the two.

.pui-collapse, .panel {
  > .list-group,
  > .pui-collapse-panel > .list-group, > .panel-collapse > .list-group {
    margin-bottom: 0;

    .list-group-item {
      border-width: 1px 0;
      border-radius: 0;
    }

    // Add border top radius for first one
    &:first-child {
      .list-group-item:first-child {
        border-top: 0;
        @include border-top-radius(($panel-border-radius - 1));
      }
    }

    // Add border bottom radius for last one
    &:last-child {
      .list-group-item:last-child {
        border-bottom: 0;
        @include border-bottom-radius(($panel-border-radius - 1));
      }
    }
  }
  > .pui-collapse-panel-heading + .pui-collapse-panel > .list-group,
  > .panel-heading + .panel-collapse > .list-group {
    .list-group-item:first-child {
      @include border-top-radius(0);
    }
  }
}

// Collapse space between when there's no additional content.
.pui-collapse-panel-heading + .list-group, .panel-heading + .list-group {
  .list-group-item:first-child {
    border-top-width: 0;
  }
}

// Collapsable panels (aka, accordion)
//
// Wrap a series of panels in `.panel-group` to turn them into an accordion with
// the help of our collapse JavaScript plugin.

.panel-group {
  margin-bottom: $line-height-computed;

  // Tighten up margin so it's only between panels
  .pui-collapse, .panel {
    margin-bottom: 0;
    border-radius: $panel-border-radius;

    + .pui-collapse, + .panel {
      margin-top: 5px;
    }
  }

  .pui-collapse-panel-heading, .panel-heading {
    border-bottom: 0;

    + .pui-collapse-panel > .pui-collapse-panel-body,
    + .pui-collapse-panel > .list-group,
    + .panel-collapse > .panel-body,
    + .panel-collapse > .list-group {
      border-top: 1px solid $panel-inner-border;
    }
  }
}

.pui-collapse-trigger, .collapse-trigger {
  cursor: pointer;
  display: flex;

  .pui-collapse-title, .collapse-title {
    display: inline-block;
  }

  .pui-collapse-icon, .collapse-icon {
    display: flex;
    align-items: center;
    fill: $accordion-icon;
    margin-right: 5px;
  }

  .icon-arrow_drop_right, .icon-arrow_drop_down {
    width: 1.5em;
    height: 1.5em;
    margin-top: -4px;
  }
}

.pui-collapse-divider .pui-collapse-panel-body, .panel-divider .panel-body {
  border-top: 2px solid $shadow-3;
  margin: 0;
  padding: ($base-unit * 3) ($base-unit * 2);
}

.pui-collapse-panel-title, .panel-title {
  a {
    display: block;
  }
}

.pui-collapsible, .collapse {
  display: none;

  &.in {
    display: block;
  }
}

tr.pui-collapsible.in, tr.collapse.in {
  display: table-row;
}

tbody.pui-collapsible.in, tbody.collapse.in {
  display: table-row-group;
}

.pui-collapsing, .collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  @include transition-property(height, visibility);
  @include transition-duration(.35s);
  @include transition-timing-function(ease);
}