@import "../pui-variables";

/*doc
---
title: Panes
name: pane
categories:
  - Layout
  - All
---

<code class="pam">
<i class="fa fa-download" alt="Install the Component">
npm install pui-css-panes --save
</i>
</code>

Panes are horizontal groupings of content that are usually used to
span the full browser window width. It's going to look funny here,
a better way to view it is on the [panes page](/pane.html).

You can combine up to two background classes on the pane component.
The one on the `.pane` element will span the full browser width. The
one on the `.container` element will be constrained to the content width.

```html_example
<div class="pane bg-dark-2">
  <div class="container bg-glow">
    <h1 class="type-neutral-11">This is a pane</h1>
  </div>
</div>

```

```html_example
<div class="pane pane-offset bg-dark-2">
  <div class="container bg-glow">
    <h1 class="type-neutral-11">This is a pane</h1>
    <div class="pane-image">
      <img class="img-responsive" src="styleguide/console-laptop.png" alt="A laptop showing Pivotal Web Services dashboard." />
    </div>
  </div>
</div>
<div class="pane bg-cloud">
  <div class="container">
    <h1>This is another pane</h1>
  </div>
</div>

```

*/

.pane {
  > .container {
    padding-top: $pane-offset-xs;
    padding-bottom: $pane-offset-xs;
  }
}

.pane-offset{
  .pane-image {

    text-align: center;
    margin-bottom: -2*$pane-offset-xs;
    > img {
      display: inline-block;
    }
  }
  &+ .pane .container {
    padding-top: 2 * $pane-offset-xs;
  }
}

@media (min-width: $screen-sm-min) {
  .pane {
    > .container {
      padding-top: $pane-offset-sm;
      padding-bottom: $pane-offset-sm;
    }
  }
  .pane-offset{
    .pane-image {
      margin-bottom: -2*$pane-offset-sm;
    }
    &+ .pane .container {
      padding-top: 2 * $pane-offset-sm;
    }
  }
}

@media (min-width: $screen-md-min) {
  .pane {
    > .container {
      padding-top: $pane-offset-md;
      padding-bottom: $pane-offset-md;
    }
  }
  .pane-offset{
    .pane-image {
      margin-bottom: -2*$pane-offset-md;
    }
    &+ .pane .container {
      padding-top: 2 * $pane-offset-md;
    }
  }
}
