.divider-alternate-1 {
  border: 1px solid rgba(0,0,0,0.1);
}

.divider-alternate-2 {
  border: 3px solid rgba(0,0,0,0.1);
}

.divider-1 {
  border: 1px solid rgba(255,255,255,0.1);
}

.divider-2 {
  border: 3px solid rgba(255,255,255,0.1);
}
