<div class="codeExample">
  <div class="exampleOutput">
    <%= rendered_example %>
  </div>
  <div class="codeBlock">
    <div class="highlight" data-code-to-copy>
      <pre>
        <%= code_example %>
      </pre>
    </div>
    <button class="btn btn-default btn-copy" data-btn-copy data-placement="left">
      Copy
    </button>
  </div>
</div>
