@import '~pivotal-ui/css/pui-variables';
@import '~pivotal-ui/css/flex-grids/flex-grids';
@import '~pivotal-ui/css/colors/colors';
@import '~pivotal-ui/css/backgrounds/backgrounds';
@import '~pivotal-ui/css/ellipsis/ellipsis';
@import '~prismjs/themes/prism.css';
@import 'sidebar';
@import 'page';
@import 'code_editor';
@import 'search_bar';

body {
  margin: 0;
  font-family: $font-family-base;
  font-size: $font-size-base;
}

.grid-show {
  margin-bottom: $grid-gutter-width;
  text-align: center;
  [class*=col]:before {
    content: attr(class) '\a' attr(grid-content);
    white-space: pre;
    display: block;
    background-color: $neutral-10;
    padding: 10px 0;
    outline: 1px solid $neutral-5;
  }
}

.aligner {
  border: solid 1px $table-border-color;
}

.color-chip-row {
  display: flex;
  margin-bottom: 20px;
}

.chip {
  margin-top: 5px;
  flex: 1;
  padding: 0 5px;

  .chip-color {
    min-height: 53px;
    border-radius: 5px 5px 0 0
  }

  .chip-color-name {
    color: $dark-2;
    padding-top: 5px;
    font-size: 14px;
    text-align: center;
    padding: 10px;
    background-color: white;
    border-radius: 0 0 5px 5px;
    box-shadow: 0px 2px 0 rgba(0, 0, 0, .1);
  }
}

h1.h1 {
  line-height: 40px;
  margin-bottom: 24px;
  font-weight: 600;
}

h2.h2 {
  margin-bottom: 16px;
}

#root table.markdown-table {
  margin-bottom: 40px;
}

#root #app #content table.props-table {
  table-layout: auto;
}

.example-form {
  .label-row {
    outline: 1px solid green;
  }

  .field-row {
    outline: 1px solid cadetblue;
  }

  .help-row {
    outline: 1px solid darkred;
  }
}

#content {
  height: 100vh;
  overflow: auto;
}

#content .policy-link {
  &:not(:empty):before {
    content: "•";
    margin: 0 8px;
  }

  &:first-child:before {
    content: "";
    margin-right: 0;
  }
}