@import '../../pivotal-ui/src/pivotal-ui/components/pui-variables';
@import './sidebar';
@import './content';
@import 'code_editor';

body {
  margin: 0;
  font-family: $font-family-base;
  font-size: $font-size-base;
}

#app {
  .toc {
    background: #f5f5f5;
    border-bottom: 1px solid #ccc;
    line-height: 24px;

    a {
      color: $dark-6;
      display: block;
      padding: 8px 0 8px 16px;

      &:hover {
        background: $dark-9;
        color: $dark-3;
      }
    }

    .heading-4 {
      padding-left: 32px;
    }
  }

  .toc-column {
    border-left: 1px solid #ccc;
    max-height: 100vh;
    overflow-y: scroll;
    width: 200px;
  }
}

.grid-show {
  margin-bottom: $grid-gutter-width;
  text-align: center;
  [class*=col]:before {
    content: attr(class) '\a' attr(grid-content);
    white-space: pre;
    display: block;
    background-color: $neutral-10;
    padding: 10px 0;
    outline: 1px solid $neutral-5;
  }
}

// alignment component
.aligner {
  border: solid 1px $table-border-color;
}

// color chip component

.color-chip-row {
  display: flex;
  margin-bottom: 20px;
}

.chip {
  margin-top: 5px;
  flex: 1;
  padding: 0 5px;

  .chip-color {
    min-height: 53px;
    border-radius: 5px 5px 0 0
  }

  .chip-color-name {
    color: $dark-2;
    padding-top: 5px;
    font-size: 14px;
    text-align: center;
    padding: 10px;
    background-color: white;
    border-radius: 0 0 5px 5px;
    box-shadow: 0px 2px 0 rgba(0, 0, 0, .1);
  }
}

h1.h1 {
  line-height: 40px;
  margin-bottom: 24px;
  font-weight: 600;
}

h2.h2 {
  margin-bottom: 16px;
}

table.markdown-table {
  margin-bottom: 40px;
}

table.props-table {
  table-layout: auto;
}