#app .content {
  padding: 32px;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 208px;
  overflow-y: scroll;

  h3, h4, h5, h6 {
    margin: 0;
  }

  #wrapper {
    max-width: 960px;
  }
}