.styleguide-page {
  .styleguide-import-preview-code {
    word-break: normal;
  }
}

.styleguide-page-header {
  a {
    color: $text-color;

    svg {
      fill: $gray-4;
    }
  }
}

.styleguide-page-main {
  max-width: 960px;
}

.styleguide-tabs {
  border-bottom: none !important;
}

.styleguide-tab-content {
  > .tab-content {
    background: transparent;
  }
}