.styleguide-page {
  .styleguide-import-preview-code {
    word-break: normal;
  }

  .md-image {
    width: 100%;
  }

  .md-heading:first-child {
    margin-top: 0 !important;
  }

  .md-pre {
    background: transparent;

    &:before, &:after {
      display: none;
    }

    code {
      box-shadow: none;
      border: none;
      padding: $base-unit;
      background: transparent;
    }
  }

  .styleguide-page-header {
    a {
      color: $text-color;

      svg {
        fill: $gray-4;
      }
    }
  }

  .styleguide-page-main {
    max-width: 960px;
  }

  .styleguide-tabs {
    border-bottom: none !important;
  }

  .styleguide-tab-content {
    > .tab-content {
      background: transparent;
    }
  }

  table.prop-table {
    table-layout: auto;
  }
}