@import '~pivotal-ui/css/pui-variables';

$highlight-background-color: $navy-9;
$sidebar-item-left-padding: $base-unit * 2;
$active-item-border-size: $base-unit / 2;

.sidebar {
  background-color: $navy-11;
  width: 208px;
  color: $gray-3;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 40px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;

  .pui-collapse {
    border: 0;

    &.active {
      background-color: $highlight-background-color;

      .pui-collapse-trigger {
        color: $dark-1;
      }
    }

    .pui-collapse-trigger {
      cursor: pointer;
    }

    .sidebar--item-wrapper__active .sidebar--item {
      padding-left: 2 * $sidebar-item-left-padding - $active-item-border-size;
    }

    .sidebar--item {
      padding-left: 2 * $sidebar-item-left-padding;
    }
  }

  .pui-collapse-panel-body {
    padding: 0;
  }

  .sidebar--search {
    .autocomplete-list {
      border: 1px solid $input-border-focus;
      left: 16px;
      width: 88%;
      top: 37px;

      .autocomplete-item {
        font-size: 14px;
      }
    }
  }
}

.sidebar--header {
  padding: 16px 16px 32px 16px;
  display: flex;

  .sidebar--icon {
    padding: $base-unit;
    background-color: $brand-7;
    border-radius: 2px;
    height: $base-unit * 5;
    width: $base-unit * 5;

    svg {
      height: $base-unit * 3;
      width: $base-unit * 3;
    }
  }

  .sidebar--title {
    display: inline;
    color: $navy-1;
    font-size: $font-size-large;
    align-self: center;
  }
}

.sidebar--item-wrapper {
  &.sidebar--item-wrapper__active {
    background-color: $highlight-background-color;
    border-left: $active-item-border-size solid $btn-brand-color;

    .sidebar--item {
      color: $dark-1;
      padding-left: $sidebar-item-left-padding - $active-item-border-size;
    }
  }

  &.sidebar-component a {
    padding-left: 4 * $base-unit;
  }

  &.sidebar--item-wrapper__active.sidebar-component a {
    padding-left: 4 * $base-unit - $active-item-border-size;
  }

  &.sidebar-components a {
    cursor: initial;
    font-size: 18px;

    &:hover {
      text-decoration: none;
    }
  }

  .sidebar--item {
    padding-left: $sidebar-item-left-padding;
  }
}

.sidebar--item {
  color: $gray-3;
  padding: $base-unit $base-unit $base-unit $sidebar-item-left-padding;
  display: block;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: $gray-3;
    text-decoration: underline;
  }

  // TODO: remove me when accordion can be in sidebars
  .pui-panel-heading {
    padding: 0;
  }
}