// make logo show for print
h1#billing_statement:before {
  content: "Pivotal Web Services ";
}

//hide some things for print
.btn, .headers, .no-print {
  display: none !important;
}

// show some things
.print-only {
  display: block;
}

// show collapsed content for print
.panel-collapse.collapse {
  display: block !important;
}

.table {
  tr, th, td {
    border: none !important;
  }
}

