@import "imports";

html {
  background: image-url("bg-plain.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  @include text_shadow(0, 1px, #333333);
  color: #FFFFFF;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: #FFFFFF;
  &:hover {
    color: #b9e2f5;
  }
}

.intro-text {
  font-size: 16px;
}

.button-alt a {
  font-size: 14px;
  margin: 0 0 0 12px;
}

.splash {
  background: image-url("bg-pattern.png") no-repeat;
  margin: 32px auto 0 auto;
  width: 1023px;
  height: 672px;
}

.logo {
  border: 0;
  margin: 58px 0 13px 231px;
}

.small {
  color: #b9e2f5;
  font-size: 11px;
}

.splash-box {
  width: 450px;
  padding: 40px;
  margin: 0 auto;
  text-align: center;
  @include border_radius(10px);
  background-color: #1c94db;
  @include background-image(linear-gradient(top, #1c94db, #03396c));
  border: 5px solid rgba(152, 178, 198, 0.9);
}

.container {
  margin: 33px;
  text-align: left;
}

.splash-box-blank {
  color: #333;
  text-shadow: none;
  font-size: 14px;
  padding: 0 174px 0 328px;
  margin: 0 auto;
  text-align: center;

  a {color: #0099d6;}

  .container {margin: 0 0 108px;}

  .intro-text {
    color: #003a69;
    @include text-shadow(0, -1px, #fff);
    font-size: 60px;
    font-weight: bold;
    margin: 0;
    padding: 148px 0 3px;
    text-transform: uppercase;
  }

  .smaller {
    font-size: 36px;
  }

  p {
    line-height: 1;
    text-align: left;
  }
}

input[type="text"],
input[type="password"],
input[type="email"] {
  color: #FFFFFF;
  font-size: 13px;
  background: #2b2c31;
  background-repeat: no-repeat;
  border: none;
  width: 280px;
  height: 38px;
  border-radius: 6px;
  padding: 0 0 0 20px;
  margin: 0 0 9px 0;
}

input::-webkit-input-placeholder {
  color: #FFFFFF;
}

.control-group.error input::-webkit-input-placeholder,
:focus::-webkit-input-placeholder {
  color: #666666;
  font-weight: 200;
}

:input:-moz-placeholder {
  color: #FFFFFF;
  font-weight: 200;
}

.control-group.error :input:-moz-placeholder,
:focus::-moz-placeholder {
  color: #666666;
  font-weight: 200;
}

/* Hack to remove Safari's extra padding */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .input input, .input textarea, .input select {
    padding: 4px;
  }
}

.footer {
  font-size: 12px;
  color: #333333;
  text-shadow: none;
  font-weight: 400;
  padding: 0 0 28px;
  margin: 28px 248px 0 0;
  text-align: right;
}

.user_registrations {
  .close {
    display: none;
  }
}

.confirmation {
  .alert {
    margin: 9px 0;
    width: 100%;
  }
  p {
    line-height: 1.25;
    width: 75%;
  }
}
