@import "../pui-variables";
@import '../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins';

/*doc
---
title: Dropdowns
name: dropdown
categories:
  - Objects
  - All
---

Dropdowns are menus that can be triggered by buttons.

This is the basic bootstrap dropdown.

```html_example
<div class="dropdown btn-group">
  <button id="dropdown-button-1" class="dropdown-toggle btn btn-primary" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Button Dropdown
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown-button-1">
    <li role="presentation">
      <a href="http://www.google.com" role="menuitem">Google</a>
    </li>
    <li class="divider mvn"></li>
    <li role="presentation">
      <a href="http://www.yahoo.com" role="menuitem">Yahoo</a>
    </li>
    <li class="divider mvn"></li>
    </li><li role="presentation">
      <a href="http://www.aol.com" role="menuitem">Aol</a>
    </li>
  </ul>
</div>
```

<div class="alert alert-info mbxl">
  <h5 class="em-high">Dropdowns with dividers</h5>
  <p>
    If you want to add a divider between items in the dropdown,
    add a `li.divider` between list items.
  </p>
</div>

```html_example
<div class="dropdown btn-group">
  <button id="drop3" data-toggle="dropdown" class="dropdown-toggle btn btn-link" type="button">
    <span>Link Dropdown</span>
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
    <li role="presentation">
      <a role="menuitem" tabindex="-1" href="https://twitter.com/fat">Action</a>
    </li>
    <li role="presentation">
      <a role="menuitem" tabindex="-1" href="https://twitter.com/fat">Another action</a>
    </li>
    <li role="presentation">
      <a role="menuitem" tabindex="-1" href="https://twitter.com/fat">Something else here</a>
    </li>
    <li role="presentation">
      <a role="menuitem" tabindex="-1" href="https://twitter.com/fat">Separated link</a>
    </li>
  </ul>
</div>
```

<div class="alert alert-info mbxl">
  <h5 class="em-high">No links as dropdowns</h5>
  <p>
    Instead of using an <code>a</code> tag as a dropdown,
    use a <code>button.btn.btn-link</code>.
  </p>
</div>

Here's a crazy-complex dropdown. Not for the faint of heart.

```html_example
<div class="dropdown btn-group">
  <button id="dropdown-button-2" class="dropdown-toggle btn btn-primary" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    dropdown trigger
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown-button-2">
    <li role="presentation">
      <a href="#" role="menuitem" class="pvl">
        <div class="media">
          <div class="media-left media-middle prxl">
            <i class="fa fa-check type-neutral-2"></i>
          </div>
          <div class="media-body" style="width: 400px;">
            <h4 class="media-heading em-high type-neutral-3 mvn h5">updates and alerts</h4>
            <span class="type-neutral-4">receive all tacos and burritos.</span>
          </div>
        </div>
      </a>
    </li>
    <li role="presentation">
      <a href="#" role="menuitem" class="pvl">
        <div class="media">
          <div class="media-left media-middle prxl">
            <i class="fa fa-check type-neutral-2" style="visibility: hidden"></i>
          </div>
          <div class="media-body" style="width: 400px;">
            <h4 class="media-heading em-high type-neutral-3 mvn h5">alerts only</h4>
            <span class="type-neutral-4">only receive tacos when burritos are issued for this product and files.</span>
          </div>
        </div>
      </a>
    </li>
    <li role="presentation">
      <a href="#" role="menuitem" class="pvl">
        <div class="media">
          <div class="media-left media-middle prxl">
            <i class="fa fa-check type-neutral-2" style="visibility: hidden"></i>
          </div>
          <div class="media-body" style="width: 400px;">
            <h4 class="media-heading em-high type-neutral-3 mvn h5">none</h4>
            <span class="type-neutral-4">do not receive any mexican food.</span>
          </div>
        </div>
      </a>
    </li>
  </ul>
</div>
```

*/

/*doc
---
title: Dropdowns
name: dropdown_react
categories:
  - React Beta
---

This is the basic bootstrap dropdown:

```react_example_table
<UI.Dropdown title='DropDown'>
  <UI.DropdownItem href="http://media.giphy.com/media/13py6c5BSnBkic/giphy.gif">Booyeah</UI.DropdownItem>
  <UI.DropdownItem divider />
  <UI.DropdownItem href="http://media.giphy.com/media/TlK63EQERmiAVzMEgO4/giphy.gif">Adorable</UI.DropdownItem>
</UI.Dropdown>
```

Here are all the different dropdown styles:

```react_example_table
<UI.LinkDropdown title='Link'>
   <UI.DropdownItem href="http://media.giphy.com/media/TlK63EQERmiAVzMEgO4/giphy.gif">Adorable</UI.DropdownItem>
</UI.LinkDropdown>

<UI.DefaultAltDropdown title='Default Alt'>
   <UI.DropdownItem href="http://media.giphy.com/media/TlK63EQERmiAVzMEgO4/giphy.gif">Adorable</UI.DropdownItem>
</UI.DefaultAltDropdown>

<UI.PrimaryDropdown title='Primary'>
   <UI.DropdownItem href="http://media.giphy.com/media/TlK63EQERmiAVzMEgO4/giphy.gif">Adorable</UI.DropdownItem>
</UI.PrimaryDropdown>

<UI.LowlightDropdown title='Lowlight'>
   <UI.DropdownItem href="http://media.giphy.com/media/TlK63EQERmiAVzMEgO4/giphy.gif">Adorable</UI.DropdownItem>
</UI.LowlightDropdown>

<UI.DangerDropdown title='Danger'>
   <UI.DropdownItem href="http://media.giphy.com/media/TlK63EQERmiAVzMEgO4/giphy.gif">Adorable</UI.DropdownItem>
</UI.DangerDropdown>

<UI.HighlightDropdown title='Highlight'>
   <UI.DropdownItem href="http://media.giphy.com/media/TlK63EQERmiAVzMEgO4/giphy.gif">Adorable</UI.DropdownItem>
</UI.HighlightDropdown>

<UI.HighlightAltDropdown title='Highlight Alt'>
   <UI.DropdownItem href="http://media.giphy.com/media/TlK63EQERmiAVzMEgO4/giphy.gif">Adorable</UI.DropdownItem>
</UI.HighlightAltDropdown>
```

If you want to customize the dropdown button, you can add modifier classes to it
using the `buttonClassName` property:

```react_example
<UI.Dropdown title='DropDown' buttonClassName='type-neutral-1 em-alt type-sm'>
  <UI.DropdownItem href="http://media.giphy.com/media/13py6c5BSnBkic/giphy.gif">Booyeah</UI.DropdownItem>
  <UI.DropdownItem divider />
  <UI.DropdownItem href="http://media.giphy.com/media/TlK63EQERmiAVzMEgO4/giphy.gif">Adorable</UI.DropdownItem>
</UI.Dropdown>
```

*/

.dropdown-menu {
  @include box-shadow(0 2px 2px rgba(0,0,0,.15));
}


/*doc
---
title: Notifications
name: dropdown_notification
parent: dropdown
---

This is a notification dropdown with no notifications.

```html_example
<div class="dropdown-notifications btn-group">
  <button data-toggle="dropdown" class="dropdown-toggle btn btn-link" type="button">
    <div class="dropdown-notifications-title">
      <i class="fa fa-bell"></i>
    </div>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li role="presentation">
      <div class="dropdown-notifications-none">
        <i class="fa fa-bell type-neutral-6"></i>
        <p class="type-neutral-4 em-alt mbn">No notifications</p>
      </div>
    </li>
  </ul>
</div>
```

This is a notification dropdown with notifications.

```html_example
<div class="dropdown-notifications btn-group">
  <button data-toggle="dropdown" class="dropdown-toggle btn btn-link" type="button">
    <div class="dropdown-notifications-title">
      <i class="fa fa-bell"></i>
      <span class="dropdown-notifications-badge">2</span>
    </div>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li role="presentation">
      <a role="menuitem" href="https://twitter.com/fat">
        <div class="media">
          <div class="media-left media-middle">
            <h3 class="mvn">
              <span class="label label-primary">New</span>
            </h3>
          </div>
          <div class="media-body media-middle">
            <h5 class="media-heading mbn type-dark-1">Notification</h5>
            <p class="type-sm type-neutral-5 mvn">News for you</p>
          </div>
        </div>
      </a>
    </li>
    <li role="presentation">
      <a role="menuitem" href="https://twitter.com/fat">
        <div class="media">
          <div class="media-left media-middle">
            <h3 class="mvn">
              <span class="label label-primary">New</span>
            </h3>
          </div>
          <div class="media-body media-middle">
            <h5 class="media-heading mbn type-dark-1">Pivotal-CF</h5>
            <p class="type-sm type-neutral-5 mvn">1 New File Available</p>
          </div>
        </div>
      </a>
    </li>
  </ul>
</div>
```

This is a notification dropdown with alerts.

```html_example
<div class="dropdown-notifications btn-group">
  <button data-toggle="dropdown" class="dropdown-toggle btn btn-link" type="button">
    <div class="dropdown-notifications-title">
      <i class="fa fa-bell"></i>
      <i class="fa fa-exclamation-triangle dropdown-notifications-alert"></i>
    </div>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li role="presentation">
      <a role="menuitem" href="https://twitter.com/fat">
        <div class="media">
          <div class="media-left media-middle">
            <i class="fa fa-exclamation-triangle type-warn-2 mrm"></i>
          </div>
          <div class="media-body media-middle">
            <h5 class="media-heading mbn type-dark-1">Warning</h5>
            <p class="type-sm type-neutral-5 mvn">News for you</p>
          </div>
        </div>
      </a>
    </li>
  </ul>
</div>
```

<div class="alert alert-danger mbxl">
  <h5 class="em-high mtn">
    Deprecation warning
  </h5>
  <p>
    The example below shows the old markup for notifications alerts. It will
    not be supported in the next major release. Please change your notifications
    to match the examples above.
  </p>
</div>

```html_example
<div class="dropdown btn-group">
  <a data-toggle="dropdown" class="dropdown-toggle btn btn-link" type="button">
    <i class="fa fa-bell type-neutral-6 mvn h2"></i>
    <span class="dropdown-notifications-badge">2</span>
  </a>
  <ul class="dropdown-menu dropdown-notifications-list" role="menu">
    <li role="presentation">
      <a role="menuitem" href="https://twitter.com/fat">
        <div class="media man pan">
          <div class="media-left media-middle">
            <h3 class="label label-primary mrm">New</h3>
          </div>
          <div class="media-body media-middle">
            <h5 class="media-heading mbn type-dark-1">Notification</h5>
            <p class="type-sm type-neutral-5 mvn">News for you</p>
          </div>
        </div>
      </a>
    </li>
    <li role="presentation">
      <a role="menuitem" href="https://twitter.com/fat">
        <div class="media man pan">
          <div class="media-left media-middle">
            <h3 class="label label-primary mrm">New</h3>
          </div>
          <div class="media-body media-middle">
            <h5 class="media-heading mbn type-dark-1">Pivotal-CF</h5>
            <p class="type-sm type-neutral-5 mvn">1 New File Available</p>
          </div>
        </div>
      </a>
    </li>
  </ul>
</div>
```
*/

/*** THIS IS ALL DEPRECATED CSS. REMOVE FROM HERE TO NEXT COMMENT ***/
/*** THE NEW NOTIFICATIONS ARE FULLY FUNCTIONAL WITH THIS CSS REMOVED ***/
.dropdown-notifications-badge {
  position: absolute;
  border-radius: 1000em;
  background-color: $brand-3;
  color: white;
  font-size: 0.75em;
  padding: 0 4px;
  line-height: 14px;
  top: 6px;
  right: 9px;
}

.dropdown-notifications-alert {
  position: absolute;
  top: -6px;
  right: 6px;
  color: $notifications-alert-default-color;
}

.dropdown-notifications-list {
  li {
    a {
      padding-bottom: 10px;
    }
    &:last-child {
      a {
        padding-bottom: 0;
      }
    }
  }
}
/*** END REMOVE ***/

.dropdown-notifications-none {
  width: 200px;
  text-align: center;
  padding: 20px;

  .fa {
    font-size: 42px;
    padding-bottom: 7px;
  }
}

.dropdown-notifications {
  .caret {
    display: none;
  }

  .dropdown-toggle {
    color: $notifications-bell-default-color;
    font-size: $notifications-bell-default-size;

    .dropdown-notifications-title {
      margin: 0;
      position: relative;
    }

    .dropdown-notifications-badge {
      border-radius: 1000em;
      background-color: $notifications-badge-default-bg;
      color: white;
      text-align: center;
      font-weight: $notifications-badge-font-wieght;
      padding: 0.25em;
      line-height: 0.75em;
      min-width: 1.25em;
    }

    .dropdown-notifications-alert, .dropdown-notifications-badge {
      position: absolute;
      font-size: 0.75em;
      top: -0.2em;
      left: 0.75em;
      right: auto;
    }
  }

  .dropdown-menu {
    > li {
      > a {
        padding-bottom: 10px;
      }
      &:last-child {
        > a {
          padding-bottom: 0;
        }
      }
    }
  }
}


/*doc
---
title: Notifications
name: notifications_react
categories:
  - React Beta
---

Here's an example if there are no notifications:

```react_example_table
<UI.Notifications />
```

Here's an example if there are notifications:

```jsx_example
var newLabel = <UI.DefaultH3 className="mvn"><UI.Label>New</UI.Label></UI.DefaultH3>;
```

```react_example_table
<UI.Notifications>
  <UI.NotificationItem href="http://media.giphy.com/media/Qvw9p4uX7IBy0/giphy.gif">
    <UI.Flag leftImage={newLabel}>
      <UI.DefaultH5 className="media-heading mbn type-dark-1">Notification</UI.DefaultH5>
      <p className="type-sm type-neutral-5 mvn">Click for Cute Gif</p>
    </UI.Flag>
  </UI.NotificationItem>
</UI.Notifications>
```
*/

/*doc
---
title: Alerts
name: alert_notifications_react
parent: notifications_react
---

Here's an example if there are no alerts:

```react_example_table
<UI.AlertNotifications />
```

Here's an example if there are alerts:

```jsx_example
var alertImage = <UI.Icon name="exclamation-triangle" className="h4 type-warn-2 mrm" />;
```

```react_example_table
<UI.AlertNotifications>
  <UI.NotificationItem href="http://media.giphy.com/media/Qvw9p4uX7IBy0/giphy.gif">
    <UI.Flag leftImage={alertImage}>
      <UI.DefaultH5 className="media-heading mbn type-dark-1">WARNING</UI.DefaultH5>
      <p className="type-sm type-neutral-5 mvn">Click for Cute Gif</p>
    </UI.Flag>
  </UI.NotificationItem>
</UI.AlertNotifications>
```


*/

