@import "../pui-variables";

// Box Shadow - key light
.box-shadow-key-1 {
  box-shadow: $box-shadow-key-1;
}
.box-shadow-key-2 {
  box-shadow: $box-shadow-key-2;
}
.box-shadow-key-3 {
  box-shadow: $box-shadow-key-3;
}

// Box Shadow - ambient light
.box-shadow-amb-1 {
  box-shadow: $box-shadow-amb-1;
}
.box-shadow-amb-2 {
  box-shadow: $box-shadow-amb-2;
}
.box-shadow-amb-3 {
  box-shadow: $box-shadow-amb-3;
}

// Box Shadow - key and ambient
.box-shadow-1 {
  box-shadow: $box-shadow-key-1, $box-shadow-amb-1;
}
.box-shadow-2 {
  box-shadow: $box-shadow-key-2, $box-shadow-amb-2;
}
.box-shadow-3 {
  box-shadow: $box-shadow-key-3, $box-shadow-amb-3;
}