.svg-responsive {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%; // override this value inline, it should be equal to the ratio of the height of your image to the width. For square images you can use the default value.
  vertical-align: middle;
  overflow: hidden;
}

.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}