@import "../pui-variables";
@import '../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins';
@import "../mixins";

.form-group {
  abbr {
    float: right;
    margin-left: 5px;
    border-bottom: 0;
  }
  [class*="col"].control-label {
    abbr {
      float: none;
      margin-right: 2px;
    }
  }
}

.unstyled {
  background-color: transparent;
  outline: none;
  border: none;
}

label {
  font-weight: 600;
  font-size: $font-size-small;
  color: $neutral-3; //override bootstrap
  line-height: 4 * $base-size;
  margin-bottom: 0; //override bootstrap
}

// do not simplify placeholder styles, we need a separate line per browser because otherwise browser will invalidate the entire group
::-webkit-input-placeholder {
  font-weight: 400;
}

:-moz-placeholder { /* Firefox 18- */
  font-weight: 400;
}

::-moz-placeholder { /* Firefox 19+ */
  font-weight: 400;
}

:-ms-input-placeholder {
  font-weight: 400;
}

.form-group .input-wrapper {
  position: relative;
}

.form-group-left-icon {
  input {
    padding-left: $base-size * 4;
  }
}

.input-left-icon {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translate(0, -50%);
  font-size: $input-icon-size;
  fill: $neutral-3;

  svg {
    vertical-align: middle;
  }
}

.form-control[readonly] {
  background-color: $input-bg-disabled; //override bootstrap
}

.form-control {
  padding: ($base-size/2) ($base-size); // override bootstrap
  font-size: $font-size-small;

  position: relative;
  &:hover, &:focus {
    border-color: $input-border-color-hover;
  }

  &.disabled, &:disabled {
    opacity: 0.5;
  }
}

select.form-control {
  @include button-shadow;
  color: $link-color;
  font-weight: $input-font-weight;

  &:hover, &:focus {
    color: $input-color-hover;
  }

  &.active, &:active {
    background-color: $input-bg-active;
    color: $input-color-active;
  }

  &.disabled, &:disabled {
    color: $input-color;
  }
}

input[type="radio"] {
  margin-top: 2px; // bootstrap override: make radios line up with our small font.
}

.form-inline.inline-labels {
  .form-group {
    input, select {
      width: auto !important;
    }
  }
}

/* overrides bootstrap colors */
@mixin validation-label-color() {
  .control-label {
    color: $neutral-3;
  }
}

.has-success {
  position: relative;
  .svgicon.success {
    position: absolute;
    right: $base-size;
    top: 50%;
    transform: translate(0, -50%);
    height: $input-icon-size;
    width: $input-icon-size;
    font-size: $input-icon-size;
    stroke: $success-1;
    fill: $success-1;
  }

  .form-control {
    padding-right: $base-size * 4;
  }
  @include validation-label-color()
}

.has-error {
  .help-block {
    font-size: $font-size-small;
  }
}

// align bootstrap errors for checkboxes and radio buttons
.radio,
.checkbox {
  margin-top:0;
  margin-bottom:0;

  label {
    padding-left: 0;

  }

  .disabled {
    color: $neutral-5;
    cursor: not-allowed;
  }
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: relative; // override bootstrap
  margin-left: 0; // override bootstrap
  margin-top: 0; // override bootstrap
  display: inline-block;
  height: $font-size-small;
  width: $font-size-small;
  margin-right: $base-size / 2;
}

.radio-inline,
.checkbox-inline {
  padding-left: 0; //override bootstrap
}

.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-left: $base-size;
}

.help-block {
  color: $form-label-color;
}

// Form control sizing

@include input-size('.input-sm', $input-height-small, $padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $border-radius-small);

@include input-size('.input-lg', $input-height-large, $padding-large-vertical, $padding-large-horizontal, $font-size-medium, $line-height-large, $border-radius-small);

p.form-control-static {
  color: $neutral-3;
}

/*pending
---
title: Content Editables
name: form_content_editable
categories:
  - Forms
  - All
---

This form looks and behaves mostly like a content editable field

```html_example
<form class="form-contenteditable"
      name="newEditableForm"
      ng-class="{"saving": editText.saving, "editing": editText.editing}"
      ng-controller="FormContentEditableController"
      ng-submit="editText.save()">
  <label class="txt-c">
    <div class="form-group mbn">
      <span class="form-contenteditable-hint link-lowlight">Hover text</span>
      <h5 class="type-primary-4 showing-text">Default text</h5>
      <div class="saving-text">Updating Text...</div>
      <input class="form-control" name="name"
             ng-blur="editText.save()"
             ng-focus="editText.enterEditMode()"
             ng-model="editText.newModel.name"
             required="required" tabIndex="-1" type="text">
      </input>
    </div>
  </label>
</form>
```
*/

.toggle-switch {
  position: absolute;
  visibility: hidden;

  + label {
    position: relative;
    display: block;
    background-color: $neutral-7;
    color: $neutral-1;
    transition: background 0.4s;
    cursor: pointer;
    outline: none;
    text-indent: -99999px;

    &.small {
      height: $toggle-small-height;
      width: $toggle-small-width;
      border-radius: $toggle-small-height;

      &:after {
        height: $toggle-small-circle-size;
        width: $toggle-small-circle-size;

        top: $toggle-small-circle-spacing;
        left: $toggle-small-circle-spacing;
        bottom: $toggle-small-circle-spacing;
      }
    }

    &.medium {
      height: $toggle-medium-height;
      width: $toggle-medium-width;
      border-radius: $toggle-medium-height;

      &:after {
        height: $toggle-medium-circle-size;
        width: $toggle-medium-circle-size;

        top: $toggle-medium-circle-spacing;
        left: $toggle-medium-circle-spacing;
        bottom: $toggle-medium-circle-spacing;
      }
    }

    &.large {
      height: $toggle-large-height;
      width: $toggle-large-width;
      border-radius: $toggle-large-height;

      &:after {
        height: $toggle-large-circle-size;
        width: $toggle-large-circle-size;

        top: $toggle-large-circle-spacing;
        left: $toggle-large-circle-spacing;
        bottom: $toggle-large-circle-spacing;
      }
    }

    &:after {
      position: absolute;
      display: block;
      background-color: $neutral-11;
      transition: margin 0.4s, background 0.4s;
      content: "";
      border-radius: 50%;
    }
  }

  &:checked + label {
    background-color: $blue-2;
  }

  &:checked + label.small:after {
    margin-left: $toggle-small-circle-size;
  }

  &:checked + label.medium:after {
    margin-left: $toggle-medium-circle-size;
  }

  &:checked + label.large:after {
    margin-left: $toggle-large-circle-size;
  }

  &[disabled] + label {
    @include opacity(.5);
  }
}
