@import "../pui-variables";
@import '../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins';
@import "../mixins";

.form-group {
  abbr {
    float: right;
    margin-left: 5px;
    border-bottom: 0;
  }
  [class*="col"].control-label {
    abbr {
      float: none;
      margin-right: 2px;
    }
  }
}

.unstyled {
  background-color: transparent;
  outline: none;
  border: none;
}

label {
  font-weight: 400;
  color: $neutral-3;
  font-size: $font-size-medium;
}

// do not simplify placeholder styles, we need a separate line per browser because otherwise browser will invalidate the entire group
::-webkit-input-placeholder {
  font-weight: 400;
}

:-moz-placeholder { /* Firefox 18- */
  font-weight: 400;
}

::-moz-placeholder { /* Firefox 19+ */
  font-weight: 400;
}

:-ms-input-placeholder {
  font-weight: 400;
}

.form-group .input-wrapper {
  position: relative;
}

.form-group-left-icon {
  input {
    padding-left: 34px;
  }
}

.input-left-icon {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translate(0, -50%);
  font-size: $input-icon-size;
  fill: $neutral-3;

  svg {
    vertical-align: middle;
  }
}

.form-control[readonly] {
  background-color: $input-bg-disabled; //override bootstrap
}

.form-control {
  padding: 8px 14px; // override bootstrap
  //-webkit-appearance: none;
  position: relative;
  &:hover, &:focus {
    border-color: $input-border-color-hover;
  }

  &.disabled, &:disabled {
    opacity: 0.5;
  }
}

select.form-control {
  @include button-shadow;
  color: $link-color;
  font-weight: $input-font-weight;

  &:hover, &:focus {
    color: $input-color-hover;
  }

  &.active, &:active {
    background-color: $input-bg-active;
    color: $input-color-active;
  }

  &.disabled, &:disabled {
    color: $input-color;
  }
}

input[type="radio"] {
  margin-top: 2px; // bootstrap override: make radios line up with our small font.
}

.form-inline.inline-labels {
  .form-group {
    input, select {
      width: auto !important;
    }
  }
}

/* overrides bootstrap colors */
@mixin validation-label-color() {
  .control-label {
    color: $neutral-3;
  }
}

.has-success {
  position: relative;
  .svgicon.success {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translate(0, -50%);
    height: $input-icon-size;
    width: $input-icon-size;
    font-size: $input-icon-size;
    stroke: $success-1;
    fill: $success-1;
  }

  .form-control {
    padding-right: 38px;
  }
  @include validation-label-color()
}

.has-error {
  .help-block {
    line-height: 16px;
    font-size: $font-size-extra-small;
  }
}

// align bootstrap errors for checkboxes and radio buttons
.radio,
.checkbox {
  padding-left: 20px;

  label {
    padding-left: 0;
  }

  .disabled {
    color: $neutral-5;
    cursor: not-allowed;
  }
}

.help-block {
  color: $form-label-color;
}

// Form control sizing

@include input-size('.input-sm', $input-height-small, $padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $border-radius-small);

@include input-size('.input-lg', $input-height-large, $padding-large-vertical, $padding-large-horizontal, $font-size-medium, $line-height-large, $border-radius-small);

input {
  font-size: $font-size-small;
}

p.form-control-static {
  color: $neutral-3;
}

.form-contenteditable {
  position: relative;

  .form-contenteditable-hint {
    display: none;
  }
  label {
    padding: 5px;
    cursor: pointer;
    margin-bottom: 0;
  }
  input.form-control {
    background-color: transparent;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-align: center;
    @include h1();
    margin: 0;
    padding: 0;
    border: 1px solid transparent;
    border-radius: 3px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    height: auto; //bootstrap override of fixed height
  }
  .showing-text {
    margin: 0;
  }
  .saving-text {
    display: none;
  }

  &.editing .form-contenteditable-hint {
    display: none;
  }

  &:hover .form-contenteditable-hint {
    display: block;
  }

  &.saving:hover .form-contenteditable-hint {
    display: none;
  }

  &:hover .showing-text {
    display: none;
  }

  &.saving {
    .saving-text {
      display: block;
    }
    .showing-text {
      display: none;
    }
  }
}

.toggle-switch {
  position: absolute;
  visibility: hidden;

  + label {
    position: relative;
    display: block;
    background-color: $neutral-7;
    color: $neutral-1;
    transition: background 0.4s;
    cursor: pointer;
    outline: none;
    text-indent: -99999px;

    &.small {
      height: $toggle-small-height;
      width: $toggle-small-width;
      border-radius: $toggle-small-height;

      &:after {
        height: $toggle-small-circle-size;
        width: $toggle-small-circle-size;

        top: $toggle-small-circle-spacing;
        left: $toggle-small-circle-spacing;
        bottom: $toggle-small-circle-spacing;
      }
    }

    &.medium {
      height: $toggle-medium-height;
      width: $toggle-medium-width;
      border-radius: $toggle-medium-height;

      &:after {
        height: $toggle-medium-circle-size;
        width: $toggle-medium-circle-size;

        top: $toggle-medium-circle-spacing;
        left: $toggle-medium-circle-spacing;
        bottom: $toggle-medium-circle-spacing;
      }
    }

    &.large {
      height: $toggle-large-height;
      width: $toggle-large-width;
      border-radius: $toggle-large-height;

      &:after {
        height: $toggle-large-circle-size;
        width: $toggle-large-circle-size;

        top: $toggle-large-circle-spacing;
        left: $toggle-large-circle-spacing;
        bottom: $toggle-large-circle-spacing;
      }
    }

    &:after {
      position: absolute;
      display: block;
      background-color: $neutral-11;
      transition: margin 0.4s, background 0.4s;
      content: "";
      border-radius: 50%;
    }
  }

  &:checked + label {
    background-color: $blue-2;
  }

  &:checked + label.small:after {
    margin-left: $toggle-small-circle-size;
  }

  &:checked + label.medium:after {
    margin-left: $toggle-medium-circle-size;
  }

  &:checked + label.large:after {
    margin-left: $toggle-large-circle-size;
  }

  &[disabled] + label {
    @include opacity(.5);
  }
}
