@import "../pui-variables";
@import '../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins';

/*doc
---
title: Alerts
name: alert
category: css_objects_alerts
---

<code class="pam">
<i class="fa fa-download" alt="Install the Component"></i>
npm install pui-css-alerts --save
</code>

Alerts are used to display flash messages to the user. When using alerts with simple one-line
text, wrap the text in a `<p>` with `.em-high`.

```html_example
<div class="alert alert-success">
  <p class="em-high">Success</p>
</div>
```

Alerts are also used to bring important notes to a user's attention. If the content of your alert
is a little more complicated, we would recommend using headings coupled with the content.

```html_example
<div class="alert alert-info">
  <h5 class="em-high mtn">You should know...</h5>
  <p>There are some things you should note. Just in case you didn't figure it out already.</p>
  <ul>
    <li>thing 1</li>
    <li>thing 2</li>
  </ul>
</div>
```

If you want to include a link in your alert, use the class `alert-link`.

```html_example
<div class="alert alert-warning">
  <h5 class="em-high mtn">Important Link</h5>
  <p>
    It is very important that you
    <a class="alert-link" href="http://bit.ly/1vkXaYb" aria-label="demo link to a funny gif">click here</a>
  </p>
</div>
```
*/

/*doc
---
title: Alert Types
name: 01_alert_types
parent: alert
---

Our 4 alert types are:

```html_example_table
<div class="alert alert-success">
  <div class="media mtn">
    <div class="media-left">
      <i class="fa alert-icon fa-check-circle"></i>
    </div>
    <div class="media-body em-high">
      Everything is wonderful.
      <a class="alert-link" href="http://bit.ly/QCMZM5">Be happy.</a>
    </div>
  </div>
</div>

<div class="alert alert-info">
  <div class="media mtn">
    <div class="media-left">
      <i class="fa alert-icon fa-info-circle"></i>
    </div>
    <div class="media-body em-high">
      Info for you.
      <a class="alert-link" href="http://bit.ly/1DFns8H">Tell me more.</a>
    </div>
  </div>
</div>

<div class="alert alert-warning">
  <div class="media mtn">
    <div class="media-left">
      <i class="fa alert-icon fa-exclamation-triangle"></i>
    </div>
    <div class="media-body em-high">
      Warning: There is no parking on the dancefloor.
      <a class="alert-link" href="http://bit.ly/1uM05DJ">Be alert.</a>
    </div>
  </div>
</div>

<div class="alert alert-error">
  <div class="media mtn">
    <div class="media-left">
      <i class="fa alert-icon fa-exclamation-triangle"></i>
    </div>
    <div class="media-body em-high">
      Something has gone horribly awry.
      <a class="alert-link" href="http://bit.ly/1rooFJV">You've made a huge mistake.</a>
    </div>
  </div>
</div>
```

*/

/*doc
---
title: Dismissable Alerts
name: 02_alert_dismissable
parent: alert
---

By adding `.alert-dismissable` and a button, you can also make alerts dismissable.

```html_example
<div class="alert alert-success alert-dismissable">
  <button class="close" data-dismiss="alert">
    <i class="fa fa-times"></i>
  </button>
  <p class="em-high">Click the 'X' over there------> </p>
</div>

```

If a full-width dissmissable alert is desired, but the content needs to be aligned with
other content inside a container on the page (of a width 500px for this example), you might consider doing the following:

```html_example

<div class="pane bg-accent-6">
  <div class="container pan" style="width:500px">
    <div class="alert alert-info mtn">
      <button class="close" data-dismiss="alert">
        <i class="fa fa-times"></i>
      </button>
      <div class="media mtn">
        <div class="media-left">
          <i class="fa alert-icon fa-info-circle"></i>
        </div>
        <div class="media-body em-high">
          3 new files available for Pivotal CF.
          <a class="type-sm alert-link" href="http://bit.ly/1DFns8H">Mark all as viewed.</a>
        </div>
      </div>
    </div>
  </div>
</div>

```

*/

.alert {
  border: none;
  margin: $baseSpacing 0 0;

  a.alert-link {
    color: inherit;
    text-decoration: underline;
  }

  .close {
    text-decoration: none;
    line-height: .7;
    text-shadow: none;
    color: inherit;
    opacity: 1;
  }
}

.alert-icon {
  font-size: $font-size-h3 !important;
  line-height: $headings-line-height;
  opacity: 0.3;
}

.alert-success .alert-link:hover {
  color: darken($alert-success-text, 10%);
}

.alert-info .alert-link:hover {
  color: darken($alert-info-text, 10%);
}

.alert-warning .alert-link:hover {
  color: darken($alert-warning-text, 10%);
}

//Bootstrap
.alert-danger {
  @include alert-variant($alert-danger-bg, $alert-danger-border, $alert-danger-text);
}

// bootstrap includes alert-danger, but our html expects "alert-error" class
.alert-error {
  @extend .alert-danger;

  .alert-link:hover {
    color: darken($alert-danger-text, 10%);
  }
}
