// Styles specific to the styleguide, otherwise, not used
@import 'compass';
@import '../pivotal-ui/components/variables.css.scss';
@import '../pivotal-ui/components/mixins.css.scss';

html {
  background-color: $gray-9;
}

.container {
  max-width: 1128px;
  width: auto;
  margin: 0 auto;
}

.content {
  margin-top: 5px;
}


.main > h1 {
  margin-top: 30px;
}

.main > h1:first-child {
  margin-top: 0;
}

h1.styleguide,
h2.styleguide,
h3.styleguide,
h4.styleguide,
h5.styleguide,
h6.styleguide {
  color: $brand-3;
  font-weight: 600;
  margin-top: 0;
  padding-top: 50px;
}

h1.styleguide {
  font-size: $font-size-title;
}

footer {
  margin-top: 20px;
  text-align: center;
}


.componentMenu {
  max-height: 535px;
  width: 175px;
  overflow-y: auto;
}

blockquote:before {
  content: "Design Note:";
  font-weight: bold;
}

blockquote {
  border: 1px solid #eee;
  border-radius: 4px;
  font-family: "Comic Sans MS";
  font-size:16px;
  margin: 10px 0;
  padding: 5px;

}

.styleguide-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  background: $dark-1;
  color: $neutral-11;

  @-webkit-keyframes hoverSpin {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
  }

  @-moz-keyframes hoverSpin {
    0% { opacity: 1; }
    50% { opacity: .6; }
    100% { opacity: 1;}
  }

  @keyframes hoverSpin {
    0% { opacity: 1; }
    50% { opacity: .6; }
    100% { opacity: 1;}
  }

  .styleguide-logo {
    float: left;
    margin-top: 5px;
    margin-right: 15px;

    &:hover {
      @include animation(hoverSpin 5s linear infinite);
    }

  }


  ul.styleguide-first-level-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;


    
    > li {
      display: inline-block;
      font-size: $font-size-small;
      padding: 10px 15px;
      position: relative;

      a {
        color: $neutral-11;
      }

      ul.styleguide-second-level-nav {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 200px;
        background-color: $neutral-1;
        list-style-type: none;
        padding: 10px 20px;

        li {
          padding-bottom: 5px;
          font-size: $font-size-base;

          a {
            color: $neutral-11;
          }

          &:hover {
            a {
              color: $link-hover-color;
            }
          }
        }
      }

      &:hover {
        @include transition-pui();
        background: $neutral-1;

        ul {
          display: block;
        }

        a {
          @include transition-pui();
          color: $brand-3;
        }
      }
    }

  }
}


div.codeExample, div.jsExample {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 10px 0;
}

div.jsExample {
  border-top: 0px;
}

div.codeExample:before, div.jsExample:before {
  font-family: "OpenSans", sans-serif;
  color: #222;
  border: 1px solid #ccc;
  border-radius: 4px;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  position: relative;
  padding: 2px;
  display: block;
}

div.codeExample:before {
  content: "Example";
  background-color: #f9f9f9;
  width: 60px;
  top: -1px;
  left: -1px;
}

div.jsExample:before {
  content: "JS Example";
  background-color: #fff;
  width: 80px;
  top: -11px;
  left: -11px;
}

div.codeBlock, div.exampleOutput {
  padding: 10px;
}

div.codeBlock {
  background-color: #f9f9f9;
  border-top: 1px solid #ccc;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.exampleOutput .back-to-top {
  position: absolute;
}

.docSwatch {
  min-height: 218.21px;
  border: 1px solid #ccc;
  padding: 10px 0 0 10px;
  font-size: 12px;
  margin-bottom: 5px;
}

.codeExample .line > div:after {
  content: attr(class);
  display: block;
  min-height: 40px;
  line-height: 40px;
  background-color: #EEE;
  text-align: center;
  border-radius: 3px;
  font-size: 12px;
}

table.styleguide {
  padding: 7px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  width: 100%;

  tr, th, td {
    padding: 7px;
    border: 1px solid #ccc;
    font-weight: normal;
  }
  th {
    font-weight: bold;
  }

  td.no-wrap, th.no-wrap {
    white-space: nowrap;
  }
}
.codeTable table {
  padding: 7px;
  border: 1px solid #ccc;
  width: 100%;
  margin-bottom: 12px;
  table-layout: fixed;

  tr, th, td {
    padding: 7px;
    border: 1px solid #ccc;
    font-weight: normal;
  }
}

.contrast-bar {
  padding: 20px;
  background-color: $navy-1;
  min-height: 80px;
  .row {
    float: left;
    width: 100%;
    .chip-color {
      min-height: 93px;
    }
  }
}

// color chip component

.chip {

  margin-top: 5px;

  .chip-color {
    min-height: 53px;
  }
  .chip-color-name {
    color: #777;
    padding-top: 5px;
    font-size: 8px;
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  }
}

.marquee {
  min-height: 400px;
}
.marquee-name {
  color: #777;
  padding-top: 5px;
  font-size: 11px;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

.componentMenu {
  max-height: 535px;
  width: 175px;
  overflow-y: auto;
}

blockquote:before {
  content: "Design Note:";
  font-weight: bold;
}

blockquote {
  border: 1px solid #eee;
  border-radius: 4px;
  font-family: "Comic Sans MS";
  font-size:16px;
  margin: 10px 0;
  padding: 5px;

}

.sg-code {
  padding: 2px 4px;
  color: #d14;
  white-space: nowrap;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 4px;
}

div.codeExample, div.jsExample {
  border-radius: 5px;
  @include background-clip();
//  @include background-clip-fix;
  border-bottom: 2px solid rgba(40,40,40,0.08);
  background-color: #ECEFEF;
}

div.jsExample {
  border-top: 0px;
}

div.codeExample:before, div.jsExample:before {
  font-family: "OpenSans", sans-serif;
  color: #222;
  border: 1px solid #ccc;
  border-radius: 4px;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  position: relative;
  padding: 2px;
  display: block;
}

div.codeExample:before {
  content: " Example ";
  background-color: #f9f9f9;
  width: 4.5em;
  top: -1px;
  left: -1px;
}

div.jsExample:before {
  content: "JS Example";
  background-color: #fff;
  width: 80px;
  top: -11px;
  left: -11px;
}

div.codeBlock, div.exampleOutput {
  padding: 10px;
}

div.codeBlock {
  background-color: #f9f9f9;
  border-top: 1px solid #ccc;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.docSwatch {
  min-height: 218.21px;
  border: 1px solid #ccc;
  padding: 10px 0 0 10px;
  font-size: 12px;
  margin-bottom: 5px;
}

.codeExample .line > div:after {
  content: attr(class);
  display: block;
  min-height: 40px;
  line-height: 40px;
  background-color: #EEE;
  text-align: center;
  border-radius: 3px;
  font-size: 12px;
}

// make the grid visible

.grid-show {
  outline: 1px solid #34928A;
  margin-bottom: 10px;
  margin-top: 10px;
  [class*=col] {
    background-color: #72B5AD;
    padding: 10px;
    outline: 1px solid #34928A;
  }
}

// form hacks

.styleguide-form {
  padding: 25px;
}

// banner hack

.styleguide-component-wrapper {
  position: relative;
  border: 1px solid $neutral-6;
  height: 200px;
  width: 100%;
  overflow: hidden;
  .ribbon-banner {
    position: absolute;
  }
}

pre {
  background-color: transparent; //bootstrap override
  border: none; //bootstrap override
}


//make modal visible in the example.
.exampleOutput .modal {
position: relative;
top: auto;
right: auto;
left: auto;
bottom: auto;
z-index: 1;
display: block;
//make it modal.fade.in
opacity: 1;
&.fade .modal-dialog {
  @include translate(0, 0);
}
}

//make background image visible in styleguide chip
.bkg-highlight-2 {
background-position: 0 50%;
}

// toggle code visibility

.code-hide-haml .codeBlock.haml {
  display: none;
}

.code-hide-html .codeBlock.html {
  display: none;
}

// sub section navigation pills

.section-nav {
  font-size: $font-size-small;
  padding-left: 0;
  font-weight: bold;

  li {
    display: inline-block;
    a{
      display: inline-block;
      padding: 5px 10px;
      margin-right: 5px;
      margin-bottom: 10px;
      background-color: $glow-3;
      @include transition-pui();
      border-radius: $border-radius-small;
      &:hover {
        background-color: $neutral-11;
      }
    }
  }
}

td.is-visible, td.is-hidden {
  text-align: center;
  vertical-align: middle;
}

td.is-visible {
  color: #468847;
  background-color: #dff0d8 !important;
}

td.is-hidden {
  color: #ccc;
  background-color: #f9f9f9 !important;
}
