// a flag to toggle asset pipeline / compass integration
// defaults to true if twbs-font-path function is present (no function => twbs-font-path('') parsed as string == right side)
// in Sass 3.3 this can be improved with: function-exists(twbs-font-path)
$bootstrap-sass-asset-helper: (twbs-font-path("") != unquote('twbs-font-path("")')) !default;

$base-unit: 8px;

// Accent colors - teal for now
// -------------------------

$teal-1:  #083330;
$teal-2:  #0B4D48;
$teal-3:  #025A53;
$teal-4:  #0F6660;
$teal-5:  #00776D;
$teal-6:  #138078;
$teal-7:  #179990;
$teal-8:  #00A79D;
$teal-9:  #1BB3A8;
$teal-10: #1FCCC0;
$teal-11: #D9FFFC;

// Grays - use these rather than the bootstrap grays
// -------------------------

$gray-1:  #282828;
$gray-2:  #424242;
$gray-3:  #686868;
$gray-4:  #8d8e8e;
$gray-5:  #b4b4b4;
$gray-6:  #c3c5c7;
$gray-7:  #d4d9d9;
$gray-8:  #e0e4e5;
$gray-9:  #ecefef;
$gray-10: #F8F8F8;
$gray-11: white;

// Shadows
// -------------------------

$shadow-1 :  rgba(0, 0, 0, 0.3);
$shadow-2 :  rgba(0, 0, 0, 0.14);
$shadow-3 :  rgba(0, 0, 0, 0.07);
$shadow-4 :  rgba(0, 0, 0, 0.035);
$btn-shadow: rgba(211,217,217,0.50);
$glow-1 :    rgba(255,255,255,0.1);
$glow-2 :    rgba(255,255,255,0.2);
$glow-3 :    rgba(255,255,255,0.4);
$glow-4 :    rgba(255,255,255,0.6);
$glow-5 :    rgba(255,255,255,1);

// Box Shadows
// -------------------------

// Box Shadow - key light
$box-shadow-key-1: 0px 2px 2px 0px rgba(36,54,65,0.1);
$box-shadow-key-2: 0px 4px 4px 0px rgba(36,54,65,0.1);
$box-shadow-key-3: 0px 8px 8px 0px rgba(36,54,65,0.1);

// Box Shadow - ambient light
$box-shadow-amb-1: 0px 0px 2px 0px rgba(36,54,65,0.1);
$box-shadow-amb-2: 0px 0px 4px 1px rgba(36,54,65,0.1);
$box-shadow-amb-3: 0px 0px 8px 1px rgba(36,54,65,0.1);

// Blue
// -------------------------

$blue-1: #135680;
$blue-2: #176799;
$blue-3: #1B78B3;
$blue-4: #1F8ACC;
$blue-5: #229BE6;
$blue-6: #D9F0FF;

// Navy
// -------------------------

$navy-1:  #232B2F;
$navy-2:  #243641;
$navy-3:  #3D4A51;
$navy-4:  #4F6069;
$navy-5:  #607580;
$navy-6:  #788E9A;
$navy-7:  #A2B1B9;
$navy-8:  #C5CED3;
$navy-9:  #DFE5E8;
$navy-10: #EAEDEF;
$navy-11: #F5F6F7;

// Red
// -------------------------

$red-1: #801319;
$red-2: #99171D;
$red-3: #B31B22;
$red-4: #CC1F27;
$red-5: #F2242F;
$red-6: #FFD9DB;

// Green
// -------------------------

$green-1: #4D8013;
$green-2: #5C9917;
$green-3: #6CB31B;
$green-4: #7BCC1F;
$green-5: #8AE622;
$green-6: #EDFFD9;

// Yellow
// -------------------------

$yellow-1: #806613;
$yellow-2: #997B17;
$yellow-3: #B38F1B;
$yellow-4: #CCA41F;
$yellow-5: #E6B822;
$yellow-6: #FFF6D9;

// Orange
// -------------------------

$orange-1: null;
$orange-2: null;


// Background Colors
// -------------------------

$neutral-1:  $gray-1;
$neutral-2:  $gray-2;
$neutral-3:  $gray-3;
$neutral-4:  $gray-4;
$neutral-5:  $gray-5;
$neutral-6:  $gray-6;
$neutral-7:  $gray-7;
$neutral-8:  $gray-8;
$neutral-9:  $gray-9;
$neutral-10: $gray-10;
$neutral-11: $gray-11;

// Grays (Bootstrap only, don't use directly)
// -------------------------

$gray-base:    #000 !default;
$gray-darker:  lighten(#000, 13.5%) !default; // #222 bootstrap only
$gray-dark:    lighten(#000, 20%) !default;   // #333 bootstrap only
$gray:         lighten(#000, 33.5%) !default; // #555 bootstrap only
$gray-light:   lighten(#000, 60%) !default;   // #999 bootstrap only
$gray-lighter: lighten(#000, 93.5%) !default; // #eee bootstrap only

// Dark colors
// -------------------------

$dark-1:  $navy-1;
$dark-2:  $navy-2;
$dark-3:  $navy-3;
$dark-4:  $navy-4;
$dark-5:  $navy-5;
$dark-6:  $navy-6;
$dark-7:  $navy-7;
$dark-8:  $navy-8;
$dark-9:  $navy-9;
$dark-10: $navy-10;
$dark-11: $navy-11;

// Brand colors
// -------------------------

$brand-1:       $teal-1;
$brand-2:       $teal-2;
$brand-3:       $teal-3;
$brand-4:       $teal-4;
$brand-5:       $teal-5;
$brand-6:       $teal-6;
$brand-7:       $teal-7;
$brand-8:       $teal-8;
$brand-9:       $teal-9;
$brand-10:      $teal-10;
$brand-11:      $teal-11;

$brand-primary: #1b92cb !default;
$brand-success: #5cb85c !default;
$brand-warning: #f0ad4e !default;
$brand-danger:  #CA7070 !default;
$brand-info:    #5bc0de !default;

// Accents
// -------------------------

$accent-1: $blue-1;
$accent-2: $blue-2;
$accent-3: $blue-3;
$accent-4: $blue-4;
$accent-5: $blue-5;
$accent-6: $blue-6;

// Errors
// -------------------------

$error-1: $red-1;
$error-2: $red-2;
$error-3: $red-3;
$error-4: $red-4;
$error-5: $red-5;
$error-6: $red-6;

// Warnings
// -------------------------

$warn-1: $yellow-1;
$warn-2: $yellow-2;
$warn-3: $yellow-3;
$warn-4: $yellow-4;
$warn-5: $yellow-5;
$warn-6: $yellow-6;

// Success
// -------------------------

$success-1: $green-1;
$success-2: $green-2;
$success-3: $green-3;
$success-4: $green-4;
$success-5: $green-5;
$success-6: $green-6;

// login page colors
// --------------------------

$dark_grey:    #3b3c41;
$almost_white: #ededed;

// Type Colors
// ------------------------

$type-muted:                  $neutral-9 !important !default;
$text-muted:                  $type-muted; // unused, keep for bootstrap, use $type-muted instead
$type-inverse:                $neutral-8;
$type-inverse-hover:          $brand-3;

$abbr-border-color:           $gray-light !default;
$headings-small-color:        $gray-light !default;
$page-header-border-color:    $gray-lighter !default;

//** Horizontal offset for forms and lists.
$component-offset-horizontal: 180px !default;
$dl-horizontal-offset:        $component-offset-horizontal !default;

$error-color:                 $error-4;

// Layout
// -------------------------

$footer-login-bg:      $dark_grey;
$footer-login-color:   $almost_white;
$footer-login-height:  46px;
$footer-bg:            $brand-5;
$footer-divider-color: $brand-9;
$navbar-width:         208px;

// Scaffolding
// -------------------------

$html-bg:    $neutral-11;
$body-bg:    transparent;
$text-color: $dark-2 !default;

// Links
// -------------------------

$link-color:                $accent-3;
$link-hover-color:          $accent-4;
$link-hover-decoration:     underline !default;

$link-lowlight-color:       $dark-5;
$link-lowlight-font-weight: 600;

$link-inverse-color:        $accent-5;

$u-top:85%;
$u-btm:91%;
$underline-clear:rgba(0, 0, 0, 0);
$underline-blue:$link-hover-color;
$underline-gray:$dark-7;

$underline:linear-gradient(rgba(0, 0, 0, 0) $u-top, $underline-blue $u-top, $underline-blue $u-btm,rgba(0, 0, 0, 0) $u-btm);
$underline-gray:linear-gradient(rgba(0, 0, 0, 0) $u-top, $underline-gray $u-top, $underline-gray $u-btm,rgba(0, 0, 0, 0) $u-btm);


// Typography
// -------------------------

$font-family-sans-serif:      'Source Sans Pro', 'SourceSansPro', sans-serif !default;
$font-family-serif:           Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:       Menlo, Consolas, "Courier New", monospace !default;
$font-family-base:            $font-family-sans-serif !default;

$font-size-base:              16px !default;
$font-size-extra-large:       20px;
$font-size-large:             18px;
$font-size-medium:            16px;
$font-size-small:             14px;
$font-size-extra-small:       12px;

$font-weight-em-low:          200;
$font-weight-em-default:      400;
$font-weight-em-high:         600;
$font-weight-em-max:          700;

// pui- because bootstrap has a variable called $line-height-large...
$pui-line-height-large:       32px;
$pui-line-height-medium:      24px;
$pui-line-height-small:       20px;

$headings-font-family:        null;
$headings-font-weight:        400 !default;
$former-headings-line-height: 1.5;
$headings-line-height:        1.286 !default;
$headings-padding:            1em * ($former-headings-line-height - $headings-line-height) / 2;
$headings-color:              null;

$font-size-h1:                32px;
$font-weight-h1:              400;
$line-height-h1:              1;

$font-size-h2:                24px;
$font-weight-h2:              400;
$line-height-h2:              $pui-line-height-large;

$font-size-h3:                20px;
$font-weight-h3:              400;
$line-height-h3:              $pui-line-height-large;

$font-size-h4:                18px;
$font-weight-h4:              400;
$line-height-h4:              $pui-line-height-medium;

$font-size-h5:                16px;
$font-weight-h5:              400;
$line-height-h5:              $pui-line-height-medium;

$font-size-h6:                13px;
$font-weight-h6:              400;
$line-height-h6:              $pui-line-height-small;

$line-height-base:            1.5;
$line-height-computed:        20px;

$font-size-title:             42px;

// Whitespace
// -------------------------

$whitespace-s:        $base-unit / 4;
$whitespace-m:        $base-unit / 2;
$whitespace-l:        $base-unit;
$whitespace-xl:       $base-unit * 2;
$whitespace-xxl:      $base-unit * 3;
$whitespace-xxxl:     $base-unit * 4;
$whitespace-xxxxl:    $base-unit * 5;

// Iconography
// -------------------------

$icon-font-path:    "bootstrap/" !default;
$icon-font-name:    "glyphicons-halflings-regular" !default;
$icon-font-svg-id:  "glyphicons_halflingsregular" !default;

$spinner-offset:    430;
$spinner-color:     $accent-3;
$spinner-duration:  2s;
$spinner-base-size: 96px;

// Images
// -------------------------

$avatar-border: 4px solid $dark-2;

// Components
// -------------------------

$border-radius-small:      3px !default;
$border-radius-medium:     5px !default;
$border-radius-large:      6px !default;
$border-radius-base:       4px !default;
$border-radius-none:       0;

// Tables
// -------------------------
$table-font-size:          $font-size-small;
$table-header-font-weight: 600;
$table-bg:                 transparent !default;
$table-bg-hover:           $dark-11;
$table-border-color:       $dark-9;
$table-border-radius:      2px;

// Buttons
// -------------------------

$btn-light:               $neutral-11;

$btn-border-width:        2px;
$btn-border-radius:       2px;

$btn-spacing-base:        10px;
$btn-font-size:           15px;
$btn-lg-font-size:        18px;
$btn-sm-font-size:        13px;

$btn-letter-spacing:      0.5px;
$btn-border-width:        2px;
$btn-radius:              2px;
$btn-font-weight:         600;

$btn-default-color:       $dark-5;
$btn-default-color-hover: $dark-3;
$btn-default-color-focus: $dark-3;

$btn-primary-color:       $accent-3;
$btn-primary-color-hover: $accent-2;
$btn-primary-color-focus: $accent-2;

$btn-brand-color:         $brand-6;
$btn-brand-color-hover:   $brand-4;
$btn-brand-color-focus:   $brand-4;

$btn-danger-color:        $error-3;
$btn-danger-color-hover:  $error-2;
$btn-danger-color-focus:  $error-2;

// Forms
// -------------------------

$input-disabled:                 $gray-9;
$input-bg:                       $neutral-11 !default;
$input-bg-active:                $neutral-9;
$input-bg-disabled:              $gray-lighter !default;
$progress-border-radius:         $border-radius-base !default;
$input-font-weight:              $font-weight-em-high;

$input-color:                    $text-color !default;
$input-color-hover:              $accent-5;
$input-color-active:             $accent-3;
$input-border:                   $dark-9 !default;
$input-border-valid:             $success-2;
$input-border-invalid:           $error-3;
$input-border-color-hover:       $neutral-5 !default;
$input-border-radius:            $border-radius-small !default;
$input-border-radius-large:      $border-radius-large !default;
$input-border-radius-small:      $border-radius-small !default;
$input-border-focus:             $dark-5 !default;
$input-border-width:             1px !default;

$input-invalid-text:             $error-3;
$input-color-placeholder:        $neutral-5 !default;

$form-label-color:               $text-color !default;

$input-height-base:              42px;
$input-height-large:             42px;
$input-height-small:             42px;

$input-icon-size:                16px;

$form-group-margin-bottom:       15px;

$legend-color:                   $gray-dark !default;
$legend-border-color:            #e5e5e5 !default;

$input-group-addon-bg:           $gray-lighter !default;
$input-group-addon-border-color: $input-border !default;
$cursor-disabled:                not-allowed !default;

$toggle-small-width:             26px;
$toggle-small-height:            14px;
$toggle-small-circle-size:       12px;
$toggle-small-circle-spacing:    1px;

$toggle-medium-width:            33px;
$toggle-medium-height:           18px;
$toggle-medium-circle-size:      14px;
$toggle-medium-circle-spacing:   2px;

$toggle-large-width:             43px;
$toggle-large-height:            24px;
$toggle-large-circle-size:       19px;
$toggle-large-circle-spacing:    3px;

// Dropdowns
// -------------------------

$dropdown-bg:                  $neutral-10 !default;
$dropdown-border:              $neutral-9 !default;
$dropdown-fallback-border:     transparent !default;
$dropdown-divider-bg:          #e5e5e5 !default;
$dropdown-header-color:        $gray-light !default;
$dropdown-caret-color:         #000 !default;

$dropdown-link-color:          $gray-dark !default;
$dropdown-link-hover-color:    darken($gray-dark, 5%) !default;
$dropdown-link-hover-bg:       #f5f5f5 !default;
$dropdown-link-active-color:   #fff !default;
$dropdown-link-active-bg:      $brand-primary !default;
$dropdown-link-disabled-color: $gray-light !default;

// Notifications Dropdowns
// -------------------------

$notifications-bell-default-size:   $font-size-h2;
$notifications-bell-default-color:  $neutral-6;
$notifications-badge-default-bg:    $brand-8;
$notifications-badge-font-weight:   900;
$notifications-alert-default-color: $warn-5;


// COMPONENT VARIABLES
// --------------------------------------------------

// Z-index master list
// -------------------------

$zindex-navbar:           1000 !default;
$zindex-dropdown:         1000 !default;
$zindex-popover:          1010 !default;
$zindex-navbar-fixed:     1030 !default;
$zindex-modal-background: 1040 !default;
$zindex-modal:            1050 !default;

// Media queries breakpoints
// --------------------------------------------------

// Extra small screen / phone
// Note: Deprecated $screen-xs and $screen-phone as of v3.0.1
$screen-xs:                  480px !default;
$screen-xs-min:              $screen-xs !default;
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
// Note: Deprecated $screen-sm and $screen-tablet as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
// Note: Deprecated $screen-md and $screen-desktop as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
// Note: Deprecated $screen-lg and $screen-lg-desktop as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
$screen-lg-desktop:          $screen-lg-min !default;

// XL screen / wide desktop
// Note: Deprecated $screen-lg and $screen-lg-desktop as of v3.0.1
$screen-xl:                  1800px !default;
$screen-xl-min:              $screen-xl !default;
$screen-xl-desktop:          $screen-xl-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;

// Max widths for fluid pages
$constrain-width-lg:         $screen-lg;
$constrain-width-xl:         $screen-xl;

// Grid system
// --------------------------------------------------

$grid-columns:              24 !default;
$grid-gutter-width:         20px !default;
$grid-gutter-width-md:      10px !default;
$grid-gutter-width-small:   4px !default;
$grid-float-breakpoint:     $screen-sm-min !default;
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1) !default;

// Navbar
// -------------------------

// Basics of a navbar
$navbar-height:                      40px !default;
$navbar-margin-bottom:               0 !default;
$navbar-border-radius:               0 !default;
$navbar-padding-horizontal:          0 !default;
$navbar-padding-vertical:            12px;
$navbar-collapse-max-height:         340px !default;

$navbar-default-color:               $almost_white !default;
$navbar-default-bg:                  transparent !default;
$navbar-default-border:              none !default;

// Subnav
$navbar-subnav-bg:                   $neutral-9;
$navbar-subnav-border-radius:        5px;

// Navbar links
$navbar-default-link-color:          #9faaad !default;
$navbar-default-link-hover-color:    $neutral-9 !default;
$navbar-default-link-hover-bg:       $glow-1 !default;
$navbar-default-link-active-color:   #fff !default;
$navbar-default-link-active-bg:      $glow-1 !default;
$navbar-default-link-disabled-color: #ccc !default;
$navbar-default-link-disabled-bg:    transparent !default;

// Navbar brand label
$navbar-default-brand-color:         $navbar-default-link-color !default;
$navbar-default-brand-hover-color:   darken($navbar-default-brand-color, 10%) !default;
$navbar-default-brand-hover-bg:      transparent !default;

// Navbar toggle
$navbar-default-toggle-hover-bg:     rgba(0,0,0,0.3) !default;
$navbar-default-toggle-icon-bar-bg:  rgba(255,255,255,0.3) !default;
$navbar-default-toggle-border-color: rgba(255,255,255,0.3) !default;


// Inverted navbar
//
// Reset inverted navbar basics
$navbar-inverse-color:               $type-inverse;
$navbar-inverse-bg:                  $brand-5 !default;
$navbar-inverse-border:              transparent;

// Inverted navbar links
$navbar-inverse-link-color:          $brand-9 !default;
$navbar-inverse-link-hover-color:    #fff !default;
$navbar-inverse-link-hover-bg:       transparent !default;
$navbar-inverse-link-active-color:   $type-inverse !default;
$navbar-inverse-link-active-bg:      $navbar-inverse-bg;
$navbar-inverse-link-disabled-color: #444 !default;
$navbar-inverse-link-disabled-bg:    transparent !default;

// Inverted navbar brand label
$navbar-inverse-brand-color:         $type-inverse !default;
$navbar-inverse-brand-hover-color:   #fff !default;
$navbar-inverse-brand-hover-bg:      transparent !default;

// Inverted navbar toggle
$navbar-inverse-toggle-hover-bg:     $brand-5 !default;
$navbar-inverse-toggle-icon-bar-bg:  $type-inverse !default;
$navbar-inverse-toggle-border-color: $brand-9 !default;


// Nav List (top nav)
// -------------------------
$nav-list-link-color:                         $brand-9;
$nav-list-link-hover-color:                   $brand-5;

// Navs
// -------------------------

$nav-link-padding:                            5px 10px !default;
$nav-link-hover-bg:                           transparent !default;

$nav-disabled-link-color:                     $gray-light !default;
$nav-disabled-link-hover-color:               $gray-light !default;

$nav-open-link-hover-color:                   #fff !default;
$nav-open-caret-border-color:                 #fff !default;

// Tabs
$nav-tabs-border-color:                       #ddd !default;

$nav-tabs-link-hover-border-color:            $gray-lighter !default;

$nav-tabs-active-link-hover-bg:               $neutral-9 !default;
$nav-tabs-active-link-hover-color:            $brand-5 !default;
$nav-tabs-active-link-hover-border-color:     $brand-5 !default;

$nav-tabs-justified-link-border-color:        #ddd !default;
$nav-tabs-justified-active-link-border-color: $body-bg !default;

$nav-tabs-title-font-size:                    16px;

// Responsive tabs
$tab-responsive-bg:                           $shadow-4;
$tab-responsive-color:                        $text-color;
$tab-responsive-active-color:                 $brand-5;
$tab-responsive-radius:                       $border-radius-base;
$tab-responsive-pane-padding:                 10px;

// Left tabs
$tab-left-bg:                                 $tab-responsive-bg;
$tab-left-color:                              $tab-responsive-color;
$tab-left-active-color:                       $tab-responsive-active-color;
$tab-left-radius:                             $tab-responsive-radius;

// Highlighted tabs (used on the service offering page)
$tab-highlight-beak-width:                    14px;
$tab-highlight-beak-height:                   55px;
$tab-highlight-beak-color:                    $neutral-9;
$tab-highlight-tab-color:                     $accent-3;
$tab-highlight-tab-active-color:              $neutral-3;
$tab-highlight-tab-hover-bg-color:            $neutral-9;
$tab-highlight-border-color:                  $neutral-9;
$tab-highlight-border-width:                  2px;
$tab-highlight-bg-color:                      $neutral-8;
$tab-highlight-hover-bg-color:                $neutral-9;

// Simple tabs
$tab-simple-bg-color:                         $neutral-11;
$tab-simple-tab-hover-bg-color:               $neutral-10;
$tab-simple-tab-active-bg-color:              $neutral-10;
$tab-simple-tab-active-border-color:          $brand-8;
$tab-simple-tab-hover-border-color:           $dark-5;
$tab-simple-shadow-border-color:              $shadow-3;
$tab-simple-link-active-color:                $dark-2;
$tab-simple-link-color:                       $dark-5;
$tab-simple-link-font-weight:                 600;

// Alternate tabs
$tab-alt-hover-bg-color:                      $neutral-10;
$tab-alt-link-active-color:                   $dark-2;
$tab-alt-link-color:                          $accent-3;
$tab-alt-link-font-weight:                    600;
$tab-alt-active-bg-color:                     $neutral-11;
$tab-alt-active-highlight-color:              $brand-8;

// Pills
$nav-pills-border-radius:                     null;

$nav-pills-active-link-hover-bg:              null;
$nav-pills-active-link-hover-color:           null;

// Nav list
$nav-list-divider-border-color:               $brand-9;

// Logo / Branding
// -------------------------

$logo-height:  50px;
$logo-width:  177px;

// Pagination
// -------------------------

$pagination-color:           $link-color !default;
$pagination-bg:              $neutral-11 !default;
$pagination-border:          $neutral-7;

$pagination-hover-color:     $link-hover-color !default;
$pagination-hover-bg:        $neutral-9 !default;

$pagination-active-color:    $neutral-11 !default;
$pagination-active-bg:       $accent-4 !default;

$pagination-disabled-color:  $gray-light !default;
$pagination-disabled-bg:     $neutral-11 !default;
$pagination-disabled-border: #ddd !default;

// Pager
// -------------------------

$pager-bg:             $pagination-bg !default;
$pager-border:         $pagination-border !default;
$pager-border-radius:  15px !default;

$pager-hover-bg:       $pagination-hover-bg !default;

$pager-active-bg:      $pagination-active-bg !default;
$pager-active-color:   $pagination-active-color !default;

$pager-disabled-color: $pagination-disabled-color !default;

// Jumbotron
// -------------------------

$jumbotron-padding:       30px !default;
$jumbotron-color:         inherit !default;
$jumbotron-bg:            $gray-lighter !default;
$jumbotron-heading-color: inherit !default;
$jumbotron-font-size:     ceil($font-size-base * 1.5) !default;

// Blockquote
// -------------------------

$blockquote-small-color:  $gray-light !default;
$blockquote-font-size:    ($font-size-base * 1.25) !default;
$blockquote-border-color: $gray-lighter !default;

// Panes
// -------------------------

$pane-offset-xs: 35px;
$pane-offset-sm: 45px;
$pane-offset-md: 60px;

// Health Indicator
// -------------------------

$health-indicator-running-color:   $brand-8;
$health-indicator-stopped-color:   $neutral-7;
$health-indicator-warn-color:      $error-2;
$health-indicator-size:            40px;
$health-indicator-font-size:       10px;
$health-indicator-large-font-size: 14px;
$health-indicator-large-size:      64px;

// Instance Scale SVG
// -------------------------

$instance-scale-gradient-start: $neutral-9;
$instance-scale-gradient-end:   rgba(255,255,255,0);

// Form states
// -------------------------

$state-success-text:   $neutral-7; // bootstrap uses this for both border and text color
$state-success-bg:     $neutral-3;
$state-success-border: $neutral-7;

$state-info-text:      #8e8837; // bootstrap uses this for both border and text color
$state-info-bg:        #e2df80;
$state-info-border:    #c0b84d;

$state-warning-text:   $warn-1; // bootstrap uses this for both border and text color
$state-warning-bg:     $warn-6;
$state-warning-border: $warn-1;

$state-danger-text:    $error-4; // bootstrap uses this for both border and text color
$state-danger-bg:      $error-6;
$state-danger-border:  $error-4;


// Tooltips
// -------------------------

$tooltip-border-radius:      2px;
$tooltip-font-size:          $font-size-extra-small;
$tooltip-padding:            ($base-unit / 2) $base-unit;
$tooltip-margin:             $base-unit;
$tooltip-container-z:        10;
$tooltip-arrow-pull:         -4px;
$tooltip-arrow-z-bottom:     -1;
$tooltip-arrow-z-top:        1;
$tooltip-opacity-transition: ease-out .2s;


$tooltip-bg:                 $dark-2;
$tooltip-color:              #fff;
$tooltip-border-color:       $dark-2;

$tooltip-light-bg:           #fff;
$tooltip-light-color:        $dark-2;
$tooltip-light-border-color: $dark-9;

$tooltip-sm-width:           $base-unit * 15;
$tooltip-md-width:           $base-unit * 30;
$tooltip-lg-width:           $base-unit * 45;

// Popovers
// -------------------------

$popover-bg:                         #fff !default;
$popover-max-width:                  276px !default;
$popover-border-color:               rgba(0,0,0,.2) !default;
$popover-fallback-border-color:      #ccc !default;

$popover-title-bg:                   darken($popover-bg, 3%) !default;

$popover-arrow-width:                10px !default;
$popover-arrow-color:                #fff !default;

$popover-arrow-outer-width:          ($popover-arrow-width + 1) !default;
$popover-arrow-outer-color:          rgba(0,0,0,.25) !default;
$popover-arrow-outer-fallback-color: #999 !default;

// Labels
// -------------------------

$label-default-bg:       $gray-light !default;
$label-primary-bg:       $brand-8;
$label-success-bg:       $brand-success !default;
$label-info-bg:          $brand-info !default;
$label-warning-bg:       $brand-warning !default;
$label-danger-bg:        $brand-danger !default;

$label-color:            $neutral-11;
$label-link-hover-color: $neutral-11;

// Modals
// -------------------------

$modal-inner-padding:                 30px !default;

$modal-title-padding:                 10px !default;
$modal-title-line-height:             $line-height-base !default;

$modal-content-bg:                    $neutral-9 !default;
$modal-content-border-color:          $brand-5 !default;
$modal-content-fallback-border-color: #999 !default;

$modal-backdrop-bg:                   $dark-2 !default;
$modal-backdrop-opacity:              .80;
$modal-header-border-color:           $neutral-8 !default;
$modal-footer-border-color:           $modal-header-border-color !default;

$modal-lg:                            900px !default;
$modal-md:                            600px !default;
$modal-sm:                            300px !default;

$modal-title-color:                   $text-color;
$modal-content-border-radius:         $border-radius-none;
$modal-content-border-width:          2px;
$modal-bg-color:                      white;

$modal-alt-header-bg:                 $dark-2;
$modal-alt-title-color:               $neutral-10;

// Alerts
// -------------------------

$alert-border-radius:    0px;
$alert-padding:          10px;
$alert-close-size:       16px;
$alert-border-radius:    0px;
$alert-link-font-weight: inherit !default;

$alert-success-bg:       $success-6;
$alert-success-text:     $success-1;
$alert-success-border:   $success-1;

$alert-info-bg:          $accent-6 !default;
$alert-info-text:        $accent-2;
$alert-info-border:      #8AC0C4 !default;

$alert-warning-bg:       $warn-6;
$alert-warning-text:     $warn-1;
$alert-warning-border:   $warn-1;

$alert-danger-bg:        $error-6;
$alert-danger-text:      $error-2;
$alert-danger-border:    $error-6;

// Progress bars
// -------------------------

$progress-bg:             #f5f5f5 !default;
$progress-bar-color:      #fff !default;

$progress-bar-bg:         $brand-primary !default;
$progress-bar-success-bg: $brand-success !default;
$progress-bar-warning-bg: $brand-warning !default;
$progress-bar-danger-bg:  $brand-danger !default;
$progress-bar-info-bg:    $brand-info !default;

// Dividers
// -------------------------

$divider-lowlight-border: 1px solid $neutral-8;

// Lists
// -------------------------

$list-inline-divider-light-color: $neutral-6;
$list-inline-divider-border:      1px solid $neutral-5;
$list-vertical-divider-border:    2px solid $neutral-9;
$list-steps-color:                $neutral-5;
$list-steps-color-current:        $brand-8;

$list-draggable-grip:                 $neutral-8;
$list-draggable-grip-active:          $neutral-4;
$list-draggable-bg:                   $neutral-9;
$list-draggable-item-content-padding: 8px 8px 8px 0;
$list-draggable-item-content-bg:      $neutral-11;

// Panels
// -------------------------

$panel-bg:                      null;
$panel-body-padding:            $base-unit !default;
$panel-heading-padding:         $base-unit $base-unit !default;
$panel-footer-padding:          $panel-heading-padding !default;

$panel-inner-border:            transparent !default;
$panel-border-radius:           $border-radius-none !default;
$panel-footer-bg:               transparent !default;

$panel-default-text:            $text-color !default;
$panel-default-border:          transparent;
$panel-default-heading-bg:      none;

$panel-primary-text:            #fff !default;
$panel-primary-border:          $brand-primary !default;
$panel-primary-heading-bg:      $brand-primary !default;

$panel-simple-border:           1px solid $neutral-5;

$panel-tile-border:             ($base-unit / 4) solid $neutral-9;
$panel-tile-hover-border-color: $accent-3;
$panel-tile-hover-bg-color:     $neutral-10;

$panel-success-text:            $state-success-text !default;
$panel-success-border:          $state-success-border !default;
$panel-success-heading-bg:      $state-success-bg !default;

$panel-warning-text:            $state-warning-text !default;
$panel-warning-border:          $state-warning-border !default;
$panel-warning-heading-bg:      $state-warning-bg !default;

$panel-danger-text:             null;
$panel-danger-border:           null;
$panel-danger-heading-bg:       null;

$panel-info-text:               $state-info-text !default;
$panel-info-border:             $state-info-border !default;
$panel-info-heading-bg:         $state-info-bg !default;

// Panel Basic Alt
// -------------------------

$panel-basic-alt-background:    white;
$panel-basic-alt-border:        1px solid rgba(0,0,0,.1);
$panel-basic-alt-border-bottom: ($base-unit / 4) solid rgba(0,0,0,.1);
$panel-basic-alt-border-radius: $base-unit / 2;

// Panel Titles
// -------------------------

$panel-title-padding:     $panel-body-padding;
$panel-title-text:        $dark-2;
$panel-title-font-weight: 600;
$panel-title-font-size:   $font-size-h5;
$panel-title-border:      3px solid rgba(0,0,0,.1);

// Panel Headings
// -------------------------

$panel-heading-basic-bg:              $neutral-9;
$panel-heading-basic-text:            $text-color;
$panel-heading-basic-font-size:       $font-size-extra-large;

$panel-heading-simple-text:           $neutral-5;
$panel-heading-simple-text-align:     center;
$panel-heading-simple-font-weight:    600;
$panel-heading-simple-font-size:      $font-size-small;
$panel-heading-simple-text-transform: uppercase;

// Panel Footers
// -------------------------

$panel-footer-tile-text: $neutral-10;
$panel-tile-font-size:   $font-size-extra-small;

// Thumbnails
// -------------------------

$thumbnail-padding:         4px !default;
$thumbnail-bg:              $body-bg !default;
$thumbnail-border:          #ddd !default;
$thumbnail-border-radius:   $border-radius-base !default;

$thumbnail-caption-color:   $text-color !default;
$thumbnail-caption-padding: 9px !default;

// Wells
// -------------------------

$well-bg:     #f5f5f5 !default;
$well-border: darken($well-bg, 7%) !default;

// Accordion
// -------------------------

$accordion-large-bg: $neutral-11;
$accordion-icon: 		 $neutral-3;

// Badges
// -------------------------

$badge-color:            #fff !default;
$badge-link-hover-color: #fff !default;
$badge-bg:               $gray-light !default;

$badge-active-color:     $link-color !default;
$badge-active-bg:        #fff !default;

$badge-font-weight:      bold !default;
$badge-line-height:      1 !default;
$badge-border-radius:    10px !default;

// Breadcrumbs
// -------------------------

$breadcrumb-padding-vertical:   8px !default;
$breadcrumb-padding-horizontal: 15px !default;
$breadcrumb-bg:                 #f5f5f5 !default;
$breadcrumb-color:              #ccc !default;
$breadcrumb-active-color:       $gray-light !default;
$breadcrumb-separator:          "/" !default;

// Carousel
// ------------------------

$carousel-text-shadow:             0 1px 2px rgba(0,0,0,.6) !default;
$carousel-control-color:           #fff !default;
$carousel-control-width:           15% !default;
$carousel-control-opacity:         .5 !default;
$carousel-control-font-size:       20px !default;
$carousel-indicator-active-bg:     #fff !default;
$carousel-indicator-border-color:  #fff !default;
$carousel-caption-color:           #fff !default;

// Close
// ------------------------

$close-font-weight: bold !default;
$close-color:       #000 !default;
$close-text-shadow: 0 1px 0 #fff !default;

// Code
// ------------------------

$code-color:                null !default;
$code-background-dark:      $dark-2;
$code-color-dark:           $warn-3;
$code-bg:                   $neutral-10 !default;
$code-border-radius:        3px;
$code-chrome-border-radius: 6px;

$kbd-color:                 #fff !default;
$kbd-bg:                    #333 !default;

$pre-bg:                    #f5f5f5 !default;
$pre-color:                 $gray-dark !default;
$pre-border-color:          #ccc !default;
$pre-scrollable-max-height: 340px !default;

// Ribbons
// -------------------------

$ribbon-bg-primary: $brand-8;
$ribbon-bg-default: $neutral-5;
$ribbon-bg-banner: $error-2;
$ribbon-color: $neutral-11;

// Container sizes
// --------------------------------------------------

// Small screen / tablet
$container-tablet:              ((720px + $grid-gutter-width)) !default;
$container-sm:                  $container-tablet !default;

// Medium screen / desktop
$container-desktop:             ((940px + $grid-gutter-width)) !default;
$container-md:                  $container-desktop !default;

// Large screen / wide desktop
$container-large-desktop:       ((1140px + $grid-gutter-width)) !default;
$container-lg:                  $container-large-desktop !default;

// XL screen / xtra-wide desktop
$container-extra-large-desktop: ((1740px + $grid-gutter-width)) !default;
$container-xl:                  $container-extra-large-desktop !default;

// Miscellaneous
// -------------------------

$hr-border:                       $gray-lighter !default;