@import "./spinner";

.svgicon {
  display: inline-flex;
  align-self: center;
  position: relative;
  height: 1em;
  width: 1em;
}

.svgicon svg, .svgicon img {
  height: 1em;
  width: 1em;
}

.svgicon.svg-baseline {
  top: 0.125em;
}