@import "./spinner";

.svgicon {
  display: inline-flex;
  align-self: center;
  position: relative;
  height: 1em;
  width: 1em;
}

.svgicon svg, .svgicon img {
  height: 1em;
  width: 1em;
}

.svgicon.svg-baseline svg, .svgicon.svg-baseline img {
  bottom: -0.125em;
  position: absolute;
}