@import "../pui-variables";
@import "../mixins";
@import '../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins';


/*doc
---
title: Panels
name: panel
categories:
  - Objects
  - All
---


<code class="pam">
<i class="fa fa-download" alt="Install the Component">
npm install pui-css-panels --save
</i>
</code>


Panels are often used to group related content. They include box headers, footers, and can be combined with any backgrounds.

Panels are typically a combination of contours, backgrounds, and content including headers and footers. This section describes the contours.

*/

.panel { // resets bootstrap default
  box-shadow: none;
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
  //background-color: transparent; // Bootstrap Override
}

.panel-title {
  font-size: inherit; // Bootstrap Override for React Collapses
}

/*doc
---
title: Simple
name: panel_simple
parent: panel
---

```html_example
<div class="panel panel-simple bg-neutral-11">
  <div class="panel-body">
    Simple Panel
  </div>
</div>
```

*/

.panel-simple {
  border: $panel-simple-border;
}

/*doc
---
title: Basic
name: panel_basic
parent: panel
---

By default, all the .panel does is apply a basic shadow and padding to contain some content. You can have it with or without a title.

```html_example
<div class="panel panel-basic bg-neutral-11">
  <div class="panel-header">
    <h5 class="panel-title-alt">Basic Title</h5>
  </div>
  <div class="panel-body">
    Basic Panel
  </div>
</div>

<div class="panel panel-basic bg-neutral-11">
  <div class="panel-body">
    Basic Panel
  </div>
</div>
```

*/

.panel-basic {
  border-radius: $border-radius-medium;
  @include background-clip-fix;
  border-bottom: 2px solid $shadow-3;
}

.panel-title-alt {
  padding: $panel-title-padding;
  border-bottom: $panel-title-border;
  font-weight: $panel-title-font-weight;
  color: $panel-title-text;
}

/*doc
---
title: Basic Alternate
name: panel_basic_alt
parent: panel
---

Basic alternate panels are panels with a border and shadow. You can have a panel-basic-alt with or without a title.

```html_example
<div class="panel panel-basic-alt">
  <div class="panel-header">
    <h5 class="panel-title-alt">Basic Title Alt</h5>
  </div>
  <div class="panel-body">
    Basic Panel
  </div>
</div>

<div class="panel panel-basic-alt">
  <div class="panel-body">
    Basic Panel
  </div>
</div>
```

*/

.panel-basic-alt {
  border: $panel-basic-alt-border;
  border-radius: $panel-basic-alt-border-radius;
  @include background-clip-fix;
  border-bottom: $panel-basic-alt-border-bottom;
  background-color: $panel-basic-alt-background;
}

/*doc
---
title: Flex (Panel with Footer)
name: panel_flex
parent: panel
---

Flex panels let us put a footer at the bottom of a fixed-height panel. Any panel can flex. In browsers that don't
support flexbox, the footer will appear where it would naturally, likely right below the panel-body content.

By default, flex panels have no height. You must use an inline style to set the height.

```html_example
<div class="panel panel-flex bg-neutral-11" style="height:200px">
  <div class="panel-body">Body Content</div>
  <div class="panel-footer">Footer Content</div>
</div>
```

<div class="alert alert-info mbxl">
  <h5 class="em-high mtn">
    Flex panels and list cards
  </h5>
  <p>
    Flex panels are often used with <a class="alert-link" href="/elements.html#list_cards">list cards</a>
    as a way to give list cards footers.
    Add the class <code>list-card-wrapper</code> on any flex panels inside list cards.
  </p>
</div>

```html_example
<ul class="list-cards list-card-2 list-cards-sm">
  <li class="panel panel-flex bg-neutral-11">
    <div class="list-card-wrapper panel panel-flex">
      <div class="panel-body">Body Content</div>
      <div class="panel-footer">Footer Content</div>
    </div>
  </li>

  <li class="panel panel-flex bg-neutral-11">
    <form>
      <div class="list-card-wrapper panel panel-flex">
        <div class="panel-body">
          <p>
            It even works if your <code>list-card-wrapper</code> is nested in a form
          </p>
          <div class="form-group">
            <input class="form-control" placeholder="Email">
          </div>
        </div>
        <div class="panel-footer">Footer Content</div>
      </div>
    </form>
  </li>

  <li class="panel panel-flex bg-neutral-11">
    <a class="list-card-link" href="http://wrd.cm/1e2A8uU">
      <div class="list-card-wrapper panel panel-flex">
        <div class="panel-body">Or in a link!</div>
        <div class="panel-footer">Footer Content</div>
      </div>
    </a>
  </li>
</ul>
```
*/

.panel-flex {
  display: block;
  display: flex;
  flex-direction: column;

  .panel-body {
    flex: 1 0 auto;
    align-self: auto;
  }

  .panel-footer {
    flex: 0 0 auto;
    align-self: auto;
  }
}

/*doc
---
title: Panel Tile
name: panel_tile
parent: panel
---

Tile panels extend the behavior of flex panels. They provide an animated footer on hover, at the bottom of a fixed-height panel.

```html_example
<ul class="list-cards list-card-1 list-cards-lg">
  <li>
    <a class="list-card-link panel panel-flex panel-tile bg-neutral-11" href="http://www.google.com/">
      <div class="panel-body list-card-wrapper">
        Hover to see secondary state.
      </div>
      <div class="panel-footer">
        This is the footer
      </div>
    </a>
  </li>
</ul>
```

*/

.panel-tile {
  border-bottom: 4px solid $shadow-3;
  overflow: hidden;
  color: $text-color;
  -webkit-transition: border 300ms ease-out;
  -moz-transition: border 300ms ease-out;
  transition: border 300ms ease-out;
  @include background-clip-fix;

  .panel-body {
    -ms-flex: 1 0 auto;
    padding: 29px 29px 0 29px;
    -webkit-transition: padding-top 300ms ease-out, padding-bottom 300ms ease-out;
    -moz-transition: padding-top 300ms ease-out, padding-bottom 300ms ease-out;
    transition: padding-top 300ms ease-out, padding-bottom 300ms ease-out;
  }

  .panel-footer {
    color: #fff;
    opacity: 0;
    text-transform: uppercase;
    text-align: center;
    font-size: $panel-tile-font-size;
    border-top: none; // bootstrap override
    padding: 4px 15px;
    background: transparent;
    @include transition-pui();
  }

  &:hover,
  &:focus {
    @include transition-pui();
    border-width: 1px;
    box-shadow: none;
    background-color: $panel-tile-hover-bg-color;
    color: $text-color;
    cursor: pointer;
    outline: none;

    .panel-body {
      padding-top: 18px;
      padding-bottom: 11px;
    }
    .panel-footer {
      opacity: 1;
      background: $panel-tile-hover-border-color;
      color: $panel-footer-tile-text;
      font-weight: 900;
    }
  }
}


/*doc
---
title: Scrollable
name: panel_scrollable
parent: panel
---

The scrollable panel sets a fixed height of 183px and scrolls any content that is larger. If you want a different size, set an inline style on the `.panel-scrollable`.

```html_example
<div class="panel panel-scrollable bg-neutral-11">
  <div class="panel-body">
    <p>Lo-fi fixie aute irony skateboard, officia pug. VHS Kickstarter semiotics elit ad. XOXO fashion axe Neutra aesthetic nihil, before they sold out seitan photo booth bitters paleo ea. XOXO mustache consectetur jean shorts wolf banh mi, food truck aute odio Neutra polaroid artisan mlkshk. Chillwave aesthetic hashtag, 3 wolf moon Neutra umami DIY swag eu veniam. Blue Bottle fap kale chips veniam kogi, placeat yr Portland nesciunt sustainable iPhone. Single-origin coffee messenger bag locavore Schlitz, ea farm-to-table aliquip anim umami master cleanse. Delectus selfies placeat, tilde hoodie qui selvage consectetur cred master cleanse readymade pop-up assumenda nisi. Eu deep v brunch McSweeney's. Raw denim aliquip Banksy, proident cred banjo qui placeat Brooklyn fashion axe crucifix normcore aesthetic. Esse Pinterest organic anim American Apparel, wolf next level Tumblr laboris normcore pop-up dolore lo-fi put a bird on it trust fund. Laborum organic authentic Williamsburg plaid, Wes Anderson dolore sunt chia small batch synth Carles cliche tilde. Food truck ethical freegan velit, Kickstarter semiotics labore American Apparel biodiesel street art gentrify trust fund. Selfies Austin ex, organic art party authentic ullamco kitsch plaid placeat roof party cornhole deserunt aute.</p>
  </div>
</div>
```

*/

.panel-scrollable {
  max-height: 183px;
  overflow-y: overlay;
  overflow-x: hidden;
}

/*doc
---
title: Highlight
name: panel_highlight
parent: panel
---

This panel is used to highlight more important parts of the page.

```html_example
<div class="panel panel-highlight">
  <div class="panel-body">
    Not Hoverable (use when the panel has no associated action, for instance if the action is disabled due to lack of permissions)
  </div>
</div>
```

*/

.panel-highlight {
  background-color: $gray-10;
  border-radius: 10px;
  box-shadow: 0 4px 0 0 $shadow-3;

  &.title-panel h1{
    overflow: hidden;
    @include text-overflow;
  }
}

/*doc
---
title: Alternate
name: panel_alt
parent: panel
---

Alternate panels can be in a default, off, or danger state.

```html_example_table
<div class="panel panel-alt">
  <div class="panel-body">
    Alternate Panel
  </div>
</div>

<div class="panel panel-alt panel-danger">
  <div class="panel-body">
    Danger alternate panel
  </div>
</div>

<div class="panel panel-alt panel-off">
  <div class="panel-body">
    Stopped alternate panel
  </div>
</div>

<div class="panel panel-alt panel-empty">
  <div class="panel-body">
    Off alternate panel
  </div>
</div>

<div class="panel panel-alt panel-editing">
  <div class="panel-body">
    Editing alternate panel
  </div>
</div>
```

*/

.panel-alt {

  // while creating a new space (form inside)
  &.panel-editing {
    background-color: $gray-9;
  }

  // add a space box
  &.panel-empty {
    background-color: $shadow-3;

    &:hover {
      @include transition-pui();
      background-color: $gray-9;
      border-bottom: 4px solid $shadow-2;
    }
  }

  .aligner {
    min-height: 190px;
  }

  .panel-basic {
    min-height: 88px;
  }

  // top right corner tabs

  &%panel-state {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      top: 0%;
      right: 0%;
      width: 0px;
      height: 0px;
      border-left: 25px solid transparent;
    }

  }

  &.panel-danger, &.panel-off {
    @extend %panel-state;
  }

  &.panel-danger:before {
    border-top: 25px solid $red-3;
  }

  &.panel-off:before {
    border-top: 25px solid $gray-4;
  }
}

/*doc
---
title: Shadow
name: panel_shadow
parent: panel
---

Shadow panels add a bottom shadow to the panel.

```html_example_table
<div class="panel panel-shadow-1 bg-neutral-11">
  <div class="panel-body">
    Shadow Panel
  </div>
</div>

<div class="panel panel-shadow-2 bg-neutral-11">
  <div class="panel-body">
    Shadow Panel
  </div>
</div>

<div class="panel panel-shadow-3 bg-neutral-11">
  <div class="panel-body">
    Shadow Panel
  </div>
</div>

<div class="panel panel-shadow-4 bg-neutral-11">
  <div class="panel-body">
    Shadow Panel
  </div>
</div>
```

*/
.panel-shadow {
  border: none; //Bootstrap override
  @include background-clip-fix;
}

.panel-shadow-1 {
  @extend .panel-shadow;
  box-shadow: 0px 4px $shadow-1;
}

.panel-shadow-2 {
  @extend .panel-shadow;
  box-shadow: 0px 4px $shadow-2;
}

.panel-shadow-3 {
  @extend .panel-shadow;
  box-shadow: 0px 4px $shadow-3;
}

.panel-shadow-4 {
  @extend .panel-shadow;
  box-shadow: 0px 4px $shadow-4;
}

/*doc
---
title: Card
name: panel_card
parent: panel
---

Using panels with [card lists][list_cards] makes any `.panel-body` have a minimum "card" height.

```html_example
<ul class="list-cards list-cards-sm list-card-2">
  <li class="panel panel-clickable-alt bg-neutral-11">
    <div class="panel-body">
      Card Panel
    </div>
  </li>
  <li class="panel panel-clickable-alt bg-neutral-11">
    <div class="panel-body">
      Card Panel
    </div>
  </li>
  <li class="panel panel-clickable-alt bg-neutral-11">
    <div class="panel-body">
      Card Panel
    </div>
  </li>
</ul>
```

*/

/*doc
---
title: Clickable
name: panel_clickable
parent: panel
---

These panels lighten on hover to indicate that they are clickable.
Please use them when a click on the panel triggers an action.

```html_example_table
<div class="panel panel-clickable">
  <div class="panel-body">
    Panel Clickable
  </div>
</div>

<div class="panel panel-clickable-alt">
  <div class="panel-body">
    Panel Clickable Alt
  </div>
</div>
```

Sometimes you'll also want to adapt the way child elements look
based on a hover on the parent element. There are a few
helper classes for that.


```html_example_table
<a class="panel panel-clickable">
  <div class="panel-body">
    <p class="hover-target-1">
      hover-target-1 - default text color => link color
    </p>
  </div>
</a>

<a class="panel panel-clickable">
  <div class="panel-body">
    <p class="hover-target-2">
      hover-target-2 - light gray text => default text color
    </p>
  </div>
</a>

<a class="panel panel-clickable">
  <div class="panel-body">
    <p class="hover-target-3">
      hover-target-3 - $gray-9 background => white background
    </p>
  </div>
</a>
```

*/

.panel-clickable {
  display: block;
  background-color: $gray-9;
  cursor: pointer;
  @include transition-pui();

  .hover-target-1, .hover-target-2, .hover-target-3 {
    @include transition-pui();
  }

  .hover-target-1 {
    color: $text-color;
  }

  .hover-target-2 {
    color: $gray-5;
  }

  .hover-target-3 {
    background-color: $gray-10;
  }

  &:hover{
    background-color: $gray-10;

    .hover-target-1 { // default text color => link color
      color: $link-color;
    }
    .hover-target-2 { // light gray => default text color
      color: $text-color;
    }
    .hover-target-3{
      background-color: $gray-11;
    }
  }
}

.panel-clickable-alt {
  @extend .panel-highlight;
  @extend .panel-clickable;
  background-color: $gray-10;

  &:hover {
    background-color: $gray-11;
    box-shadow: 0 4px 0 0 $shadow-2;
  }
}

/*doc
---
title: Panels
name: panel_react
categories:
 - React
---

<code class="pam">
<i class="fa fa-download" alt="Install the Component">
npm install pui-react-panels --save
</i>
</code>

Require the subcomponent:

```
var Panels = require('pui-react-panels').Panel;
```


Panel components are straightforward implementations of the [Panel][panel] styling. The `Panel` component itself
is the base, and there are many different flavors of Panels which all construct a particularly styled `Panel`.

See examples below.

```react_example_table
<Panel className="bg-neutral-8">
  <p>Base Panel</p>
</Panel>

<Panel className="bg-neutral-8 optional-class"
  innerClassName="opt-inner-class">
  <p>Base Panel</p>
</Panel>
```
*/

/*doc
---
title: Scrolling
name: panel_scroll_react
parent: panel_react
---

A ScrollingPanel is created by using a `Panel` component and including a true value for the `scrollable`
property. Alternatively, if this value is a number, it will become the height of the scrollable panel in pixels!

```react_example_table
<Panel className="bg-neutral-8" scrollable={100}>
  <p>Scrollable Panel</p>
  <p>Scrollable Panel</p>
  <p>Scrollable Panel</p>
  <p>Scrollable Panel</p>
  <p>Scrollable Panel</p>
  <p>Scrollable Panel</p>
</Panel>

<Panel className="bg-neutral-8" scrollable={true}>
  <p>Scrollable Panel</p>
  <p>Scrollable Panel</p>
  <p>Scrollable Panel</p>
  <p>Scrollable Panel</p>
  <p>Scrollable Panel</p>
  <p>Scrollable Panel</p>
  <p>Scrollable Panel</p>
  <p>Scrollable Panel</p>
</Panel>
```
*/

/*doc
---
title: Padding
name: panel_padding_react
parent: panel_react
---

Add a "padding" attribute (i.e. `pal`, `pbn`, etc.) to change the padding on the `panel-body`.

```react_example_table
<Panel className="bg-neutral-8" padding="paxxl">
  <p>Base Panel</p>
</Panel>

```

*/

/*doc
---
title: Simple
name: panel_simple_react
parent: panel_react
---

```react_example_table
<SimplePanel>
  Simple Panel
</SimplePanel>
```
*/

/*doc
---
title: Basic
name: panel_basic_react
parent: panel_react
---

```react_example_table
<BasicPanel>
  Basic Panel
</BasicPanel>

<BasicPanel title='Basic Title'>
  Basic Panel
</BasicPanel>
```
*/


/*doc
---
title: Basic Panel Alt
name: panel_basic_alt_react
parent: panel_react
---

```react_example_table
<BasicPanelAlt>
  Basic Panel
</BasicPanelAlt>

<BasicPanelAlt title='Basic Alt Title'>
  Basic Panel
</BasicPanelAlt>
```
*/

/*doc
---
title: Shadow
name: panel_shadow_react
parent: panel_react
---

`ShadowPanels` accept a `shadowLevel` property between 1 and 4 (darkest to lightest).
If no `shadowLevel` is set, a default value of 3 is applied.

```react_example_table
<ShadowPanel>Shadow Panel (Defaults to shadow level 3)</ShadowPanel>

<ShadowPanel shadowLevel={1}>Shadow Panel (level 1)</ShadowPanel>

<ShadowPanel shadowLevel={2}>Shadow Panel (level 2)</ShadowPanel>

<ShadowPanel shadowLevel={3}>Shadow Panel (level 3)</ShadowPanel>

<ShadowPanel shadowLevel={4}>Shadow Panel (level 4)</ShadowPanel>
```

*/

/*doc
---
title: Clickable
name: panel_clickable_react
parent: panel_react
---

```react_example_table
<ClickablePanel>Clickable Panel</ClickablePanel>

<ClickableAltPanel>Clickable Panel (Alt)</ClickableAltPanel>
```
*/

/*doc
---
title: Highlight
name: panel_highlight_react
parent: panel_react
---

```react_example_table
<HighlightPanel>
  Highlight Panel
</HighlightPanel>
```
*/
