// Styles specific to the styleguide, otherwise, not used
@import './ie-specific-styles.scss';
@import '../pivotal-ui/components/pui-variables.scss';
@import '../pivotal-ui/components/mixins.scss';

html {
  background-color: $gray-10;
}

.container {
  max-width: 1128px;
  width: auto;
  margin: 0 auto;
}

.content {
  margin-top: 5px;
}


.main > h1 {
  margin-top: 30px;
}

.main > h1:first-child {
  margin-top: 0;
}

h1.styleguide,
h2.styleguide,
h3.styleguide,
h4.styleguide,
h5.styleguide,
h6.styleguide {
  color: $dark-2;
  font-weight: 600;
  margin-top: 0;
  @media screen and (min-width: $screen-md-min) {
    padding-top: 50px;
  }
}


h1.styleguide {
  font-size: $font-size-title;
}

footer {
  margin-top: 20px;
  text-align: center;
}


.componentMenu {
  max-height: 535px;
  width: 175px;
  overflow-y: auto;
}

blockquote:before {
  content: "Design Note:";
  font-weight: bold;
}

blockquote {
  border: 1px solid #eee;
  border-radius: 4px;
  font-family: "Comic Sans MS";
  font-size:16px;
  margin: 10px 0;
  padding: 5px;

}

.styleguide-header {
  min-height: 40px;
  width: 100%;
  z-index: 100;

  background: $dark-2;
  color: $neutral-11;

  @-webkit-keyframes hoverSpin {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
  }

  @-moz-keyframes hoverSpin {
    0% { opacity: 1; }
    50% { opacity: .6; }
    100% { opacity: 1;}
  }

  @keyframes hoverSpin {
    0% { opacity: 1; }
    50% { opacity: .6; }
    100% { opacity: 1;}
  }

  .styleguide-logo {
    float: left;
    margin-top: 5px;
    margin-right: 15px;

    &:hover {
      animation: hoverSpin 5s linear infinite;
    }

  }

  .visible-on-focus {
    position:absolute;
    left: 0px;
    top: -40px;
    &:focus, &:hover {
      top: 40px;
    }
  }

  #navbar-hamburger {
    float: right;
    margin: 4px 0px;
    border: none;
    padding: 5px 7px;
    border-radius: 4px;
    background: transparent;
    @include transition-pui(background, 0.5s, ease-out);

    &:hover {
      background: $dark-3;
    }

    .icon-bar {
      display: block;
      width: 22px;
      height: 2px;
      border-radius: 1px;
      background: $neutral-10;

      &:not(:first-of-type) {
        margin: 4px;
      }
    }
  }

  #styleguide-first-level-nav-wrapper {
    margin: 0 -10px;
  }

  ul#styleguide-first-level-nav {
    display: none;
    clear: both;
    margin: 0;
    padding: 0;
    background: $dark-1;
    list-style-type: none;

    > li {
      @include transition-pui(background);

      > a {
        color: $neutral-11;
      }

      a.category-link, a.styleguide-second-level-nav-link {
        padding: 8px 10px;
      }

      a.category-link {
        display: inline-block;
        width: 55%;
        @include transition-pui(color);
      }

      a.styleguide-second-level-nav-link {
        float: right;
        width: 40%;
        text-align: right;
      }

      ul.styleguide-second-level-nav {
        display: none;
        padding-left: 0;
        list-style-type: none;
        background-color: $neutral-1;

        > li {
          padding-bottom: 5px;
          font-size: $font-size-base;

          a {
            display: block;
            color: $neutral-10;
            padding: 8px 10px 8px 30px;
          }

          &:hover {
            a {
              color: $blue-3;
            }
          }
        }
      }

      &:hover, &.active {
        background: $neutral-1;

        a.category-link, a.styleguide-second-level-nav-link {
          color: $brand-8;
        }
      }
    }
  }

  @media(min-width: $screen-md-min) {
    position: fixed;
    top: 0;

    #styleguide-first-level-nav-wrapper {
      margin: 0;
    }

    ul#styleguide-first-level-nav {
      display: block;
      clear: none;
      top: 0;
      background: transparent;

      > li {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        padding: 10px 15px;
        font-size: $font-size-small;

        a.category-link {
          padding: 0;
          display: inline;
        }

        a.styleguide-second-level-nav-link {
          float: none;
        }

        ul.styleguide-second-level-nav {
          position: absolute;
          top: 100%;
          left: 0;
          width: 200px;
          padding: 10px 20px;

          > li {
            a {
              padding: 0;
            }
          }
        }

        &:hover {
          ul.styleguide-second-level-nav {
            display: block;
          }
        }
      }
    }

    #navbar-hamburger {
      display: none;
    }
  }
}

// Back to top component
.exampleOutput .back-to-top {
  position: absolute;
}

// Contrast bar
.contrast-bar {
  background-color: $navy-1;
  min-height: 80px;
  margin-bottom: 60px;
}

// color chip component

.color-chip-row {
  display: flex;
  margin-bottom: 20px;
}

.chip {

  margin-top: 5px;
  flex: 1;
  padding: 0 5px;

  .chip-color {
    min-height: 53px;
    border-radius: 5px 5px 0 0
  }
  .chip-color-name {
    color: $dark-2;
    padding-top: 5px;
    font-size: 14px;
    text-align: center;
    padding: 10px;
    background-color: white;
    border-radius: 0 0 5px 5px;
    box-shadow: 0px 2px 0 rgba(0,0,0,.1);
  }
}

.marquee {
  min-height: 400px;
}
.marquee-name {
  color: #777;
  padding-top: 5px;
  font-size: 11px;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

.componentMenu {
  max-height: 535px;
  width: 175px;
  overflow-y: auto;
}

blockquote:before {
  content: "Design Note:";
  font-weight: bold;
}

blockquote {
  border: 1px solid #eee;
  border-radius: 4px;
  font-family: "Comic Sans MS";
  font-size:16px;
  margin: 10px 0;
  padding: 5px;

}

.sg-code {
  padding: 2px 4px;
  color: #d14;
  white-space: nowrap;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 4px;
}

// Non-tabular code examples
.codeExample, .jsExample {
  background-clip: padding-box;

  .docSwatch {
    min-height: 218.21px;
    border: 1px solid #ccc;
    padding: 10px 0 0 10px;
    font-size: 12px;
    margin-bottom: 5px;
  }
}

.codeExample .codeBlock, .jsExample.codeBlock {
  position: relative;
  background-color: white;
  border-top:1px solid $shadow-3;
  padding: 40px;
  border: 1px solid $neutral-7;
  border-radius: 0 0 5px 5px;

  pre {
    background-color: transparent; //bootstrap override
    margin: 0; //bootstrap override
    border: none; //bootstrap override
    padding: 0; //bootstrap override
  }

  .btn-copy {
    display: none;
    border-left: 1px solid $shadow-3;
    border-bottom: 1px solid $shadow-3;

    &.zeroclipboard-is-hover {
      display: block;
    }
  }

  &:hover .btn-copy {
    display: block;
  }
}

.codeExample {
  margin: 10px 0;
  background-color: $bg-color-example-output;

  .exampleOutput {
    padding: 20px;
    border: 1px solid $neutral-7;
    border-radius: 5px 5px 0 0;
  }

  .line > div:after {
    content: attr(class);
    display: block;
    min-height: 40px;
    line-height: 40px;
    background-color: #EEE;
    text-align: center;
    border-radius: 3px;
    font-size: 12px;
  }
}

.jsExample {
  margin: -10px 0 10px;
}


// Tabular code examples
.codeTable table {
  padding: 7px;
  border: none;
  table-layout: fixed;
  width: 100%;
  max-width: 100%;
  margin-bottom: 24px;
  border: 1px solid $gray-8;
  border-radius: 5px;

  tr, th, td {
    font-weight: normal;
  }

  tr {
    padding: 7px;
    border-bottom: 1px solid $shadow-3;

    &:last-of-type {
      border-bottom: none;
    }
  }

  th {
    padding: 10px 20px;
    vertical-align: middle;
    background-color: $bg-color-example-output;
  }

  td {
    position: relative;
    padding: 10px 10px;
    vertical-align: middle;
    background-color: $bg-color-example-code;

    .btn-copy {
      display: none;
      border-left: 1px solid $shadow-2;
      border-bottom: 1px solid $shadow-2;

      &.zeroclipboard-is-hover {
        display: block;
      }
    }

    &:hover .btn-copy {
      display: block;
    }
  }

  pre {
    background-color: transparent; //bootstrap override
    margin: 0; //bootstrap override
    border: none; //bootstrap override
    padding: 0; //bootstrap override
  }
}

table.styleguide {
  padding: 7px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  width: 100%;

  tr, th, td {
    padding: 7px;
    border: 1px solid #ccc;
    font-weight: normal;
  }

  th {
    font-weight: bold;
  }

  td.no-wrap, th.no-wrap {
    white-space: nowrap;
  }
}

// copy button
.btn-copy {
  @include transition-pui(background, 0.5s, ease-out);

  position: absolute;
  top: 0;
  right: 0;
  padding: 7px 20px;
  border-radius: 0;

  &.zeroclipboard-is-hover {
    background-color: $neutral-11;
  }
}

// make the grid visible

.grid-show {
  margin-bottom: $grid-gutter-width;
  text-align: center;
  [class*=col]:before {
    content: attr(class) '\a' attr(grid-content);
    white-space: pre;
    display: block;
    background-color: $neutral-10;
    padding: 10px 0;
    outline: 1px solid $neutral-5;
  }
}

// form hacks

.styleguide-form {
  padding: 25px;
}

// banner hack

.styleguide-component-wrapper {
  position: relative;
  border: 1px solid $neutral-6;
  height: 200px;
  width: 100%;
  overflow: hidden;
  .ribbon-banner {
    position: absolute;
  }
}

//make background image visible in styleguide chip
.bkg-highlight-2 {
background-position: 0 50%;
}

// toggle code visibility

.code-hide-haml .codeBlock.haml {
  display: none;
}

.code-hide-html .codeBlock.html {
  display: none;
}

// sub section navigation pills

.section-nav {
  font-size: $font-size-small;
  padding-left: 0;
  font-weight: bold;

  li {
    display: inline-block;
    a{
      display: inline-block;
      padding: 5px 10px;
      margin-right: 5px;
      margin-bottom: 10px;
      background-color: $glow-3;
      @include transition-pui();
      border-radius: $border-radius-small;
      &:hover {
        background-color: $neutral-11;
      }
    }
  }
}

td.is-visible, td.is-hidden {
  text-align: center;
  vertical-align: middle;
}

td.is-visible {
  color: #468847;
  background-color: #dff0d8 !important;
}

td.is-hidden {
  color: #ccc;
  background-color: #f9f9f9 !important;
}

h1#intro.styleguide {
  height: 0;
  width: 0;
  font-size: 0;
  padding: 0;
  margin: 0;
}

.aligned-item {
  flex: 1;
  background-color: transparent;
}

.styleguide.panel-body {
  height: 225px;
}

.styleguide.code {
  background-color: transparent;
  border: none;
}

.styleguide-hero {
  height: calc(100vh - 91px);
}

.bg-gradient-1 {
  background-image: linear-gradient(0deg, #1F7BA6 0%, #46B1E3 100%);
}

.styleguide-title {
  font-size: 9vw;
}

.styleguide-subtitle {
  font-size: 5vw;
}

.styleguide-btn-primary {
  padding: 2.5vw 4vw;
  font-size: 5.5vw;
}

.crazy-logo {
  width: 32vw;
  margin: 0 auto 0 auto;
}


.styleguide-btn-primary {
  color: white;
  background-color: transparent;
  border: 3px solid white;
  box-shadow: 0 2px 0 rgba(0,0,0,.1);
  font-weight: 500;
  margin-top: 2vw;
  &:hover {
    color: white;
  }
}

@media (min-width: $screen-sm-min){
  .styleguide-title {
    font-size: 5vw;
  }

  .styleguide-subtitle {
    font-size: 2vw;
  }

  .styleguide-btn-primary {
    padding: 1.5vw 3vw;
    font-size: 1.5vw;
  }
  .crazy-logo {
    width: 20vw;
  }
}
@media (min-width: $screen-md-min) {
  .now-hiring {
    margin-top: 41px;
  }
}

@media (min-width: $screen-xl-min) {
  .styleguide-title {
    font-size: 3vw;
  }
  .crazy-logo{
    width: 13vw;
  }
  .styleguide-subtitle {
    font-size: 1.25vw;
  }
}
