/*doc
---
title: Welcome to the 3.0 release of Pivotal UI!
name: latest-release
category: latest-release
---
*/

/*doc
---
title: Goals
name: 01_goals
parent: latest-release
---

The goals for the 3.0 release are:

- Upgrade to React 0.14
- Polish React Components based on feedback from 2.0

*/

/*doc
---
title: The Big Changes
name: 03_changes
parent: latest-release
---

- Pivotal UI 3.0 does not work with React < 0.14
- `SortableTables` React Component is completely different
- `Panels` React component now supports custom headers, subtitles, footers, and actions
- `Media` React component API has changed slightly
- `Modal` React component now internally uses the React Bootstrap Modal
- React Bootstrap version is bumped to 0.28.2
*/

/*doc
---
title: New Components
name: 04_components
parent: latest-release
---

There are no new components in this release
*/
