/*doc
---
title: Visit Other Versions of Pivotal UI
name: other-versions
category: other-versions
---

<ul class="list-unstyled">
  <li><a href="/2">Version 2</a></li>
  <li><a href="/3">Version 3</a></li>
  <li><a href="/4">Version 4</a></li>
  <li><a href="/5">Version 5</a></li>
  <li><a href="/6">Version 6</a></li>
  <li><a href="/">Version 7 (latest)</a></li>
</ul>
*/
