@import "./dropdowns_mixins";

.dropdown {
  @extend %dropdown;
  display: inline-flex;

  .dropdown-toggle {
    @extend %dropdown-toggle;
  }

  &.split {
    justify-content: space-between;

    .dropdown-label {
      color: $gray-3;
      display: flex;
      padding-left: $whitespace-l;
      padding-right: $whitespace-l;
      flex: 1;
      align-items: center;
    }

    .dropdown-toggle {
      border-left: 1px solid $gray-6;
      border-radius: 0;
      padding: 0;
      width: 40px;
      justify-content: center;

      &:hover, &:focus, &:focus:hover {
        background-color: $neutral-10;
        fill: $neutral-3;
      }
    }
  }


  &.open {
    .dropdown-menu {
      @extend %dropdown-menu-open;
    }

    .dropdown-toggle {
      @extend %dropdown-toggle-open;
    }
  }
}

.dropdown-menu {
  @extend %dropdown-menu;
  &.dropdown-border {
    > ul > li > a {
      border-bottom: 1px solid $dropdown-border;
      padding-bottom: 7px;
      padding-top: 7px;
    }
  }

  .divider {
    background-color: #e5e5e5;
    height: 1px;
    margin: 10px 0;
    overflow: hidden;
    padding: 0;
  }
}

.dropdown-menu-float {
  left: auto;
  margin-top: $whitespace-s;
  min-width: 1000px;
  pointer-events: none;
  right: auto;

  > ul {
    border-radius: 2px;
    border-top: 1px solid $gray-3;
    float: left;
    pointer-events: auto;
  }
}

$dropdown-caret-horizontal-padding: 16px;
.dropdown-menu-caret {
  margin-top: 0;
  > ul {
    border: none;
    box-shadow: $box-shadow-key-2;
    position: relative;
    $dropdown-menu-caret-size: 5px;

    &:before {
      border-color: transparent transparent $neutral-11 transparent;
      border-style: solid;
      border-width: 0 $dropdown-menu-caret-size $dropdown-menu-caret-size $dropdown-menu-caret-size;
      content: "";
      height: 0;
      left: $dropdown-caret-horizontal-padding;
      position: absolute;
      top: 1px - $dropdown-menu-caret-size;
      width: 0;
      z-index: $zindex-dropdown;
    }
  }
}

.dropdown-menu-right {
  left: auto;
  right: 0;
  > ul {
    float: right;
    &:before {
      left: auto;
      right: $dropdown-caret-horizontal-padding;
    }
  }
}

.dropdown-flat {
  background-color: transparent;
  border: 0;

  .dropdown-toggle {
    background-color: transparent;
    text-transform: uppercase;
  }

  &.split {
    .dropdown-label {
      color: $gray-3;
      display: flex;
      padding-left: $whitespace-l;
      padding-right: 0;
      text-transform: uppercase;
      flex: 1;
      align-items: center;
    }

    .dropdown-toggle {
      border: 0;
      width: 25px;

      &.open, &:hover, &:focus, &:focus:hover {
        background-color: $neutral-11
      }
    }
  }
}

.dropdown-notifications {
  .svgicon {
    font-size: 1.25em;
  }

  &.open {
    .btn-link {
      &.dropdown-toggle {
        box-shadow: none;
        fill: $neutral-6;
      }
    }

    .dropdown-menu-caret > ul:before {
      left: 22px;
    }
  }

  .dropdown-toggle {
    font-size: $notifications-bell-default-size;
    fill: $notifications-bell-default-color;

    .dropdown-notifications-title {
      margin: 0;
      position: relative;
    }

    .dropdown-notifications-badge {
      background-color: $notifications-badge-default-bg;
      border-radius: 0.75em;
      color: $neutral-11;
      font-weight: $notifications-badge-font-weight;
      line-height: 0.75em;
      margin-top: 0.25em;
      min-width: 1.25em;
      padding: 0.25em;
      text-align: center;
    }

    .dropdown-notifications-alert .icon-warning {
      height: 1.4em;
      width: 1.4em;
      fill: $notifications-alert-default-color;
    }
    .dropdown-notifications-alert {
      padding: 0;
    }

    .dropdown-notifications-alert, .dropdown-notifications-badge {
      font-size: 0.55em;
      left: 1.25em;
      position: absolute;
      top: 0.25em;
    }
  }
}

.dropdown-notifications-none {
  padding: 20px;
  text-align: center;
  width: 200px;

  .svgicon {
    font-size: 42px;
    svg {
      height: 1.4em;
      width: 1.4em;
      fill: $neutral-6;
    }
  }
}

.dropdown-link {
  .dropdown-toggle, &.split .dropdown-label {
    color: $link-color;
    text-transform: uppercase;
    svg {
      fill: $link-color;
    }
    &:hover, &:focus, &:focus:hover {
      color: $link-hover-color;
      svg {
        fill: $link-hover-color;
      }
    }
  }
}