@import "../pui-variables";
@import '../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins';

@-webkit-keyframes loadingFade {
  0% { opacity: 0.2; }
  50% { opacity: 1; }
  100% { opacity: 0.2; }
}

@-moz-keyframes loadingFade {
  0% { opacity: 0.2;}
  50% { opacity: 1; }
  100% { opacity: 0.2;}
}

@keyframes loadingFade {
  0% { opacity: 0.2; }
  50% { opacity: 1; }
  100% { opacity: 0.2;}
}

.traffic-lights {
  margin: 0;
  line-height: 1.3em;

  i {
   margin-right: $whitespace-m;
  }

  .fa {
    font-size: 12px;
  }

  .off i {
    opacity: 0.4;
  }

  .green-light {
    i {
      transition: opacity 1500ms ease-out;
      color: $traffic-light-running-color;
    }
  }

  .gray-light {
    i {
      transition: opacity 1500ms ease-out;
      color: $traffic-light-stopped-color;
    }
  }

  .red-light {
    i {
      transition: opacity 1500ms ease-out;
      color: $traffic-light-crashed-color;
    }
  }

  .loading-red {
    @include animation(loadingFade 2s ease-in-out infinite);
  }

  .loading-green {
    @include animation(loadingFade 2s ease-in-out infinite);
  }

  .loading-gray {
    @include animation(loadingFade 2s ease-in-out 1s infinite);
  }
}

