/*pending
---
title: Toggle
name: toggle
categories:
  - Objects
  - All
---


Use this class for sections that can switch into an 'edit' mode.

```html_example
<div class="toggle" data-behavior="Toggle">
  <div class="panel toggle-show">
    I'm viewing...
    <a class="btn btn-default" data-target="edit" data-toggle="toggle">Edit</a>
  </div>
  <div class="panel toggle-edit">
    I'm editing...
    <a class="btn btn-default" data-target="show" data-toggle="toggle">Cancel</a>
  </div>
</div>
```

*/

/*pending
---
title: Data Behavior
name: toggle_data_behavior
parent: toggle
---

Use this class for sections that can switch into an 'edit' mode.

```html_example
<div class="toggle" data-behavior="Toggle">}
  <div class="panel toggle-show">
    I'm viewing...
    <a class="btn btn-default" data-target="edit" data-toggle="toggle">Edit</a>
  </div>
  <div class="panel toggle-edit">
    I'm editing...
    <a class="btn btn-default" data-target="show" data-toggle="toggle">Cancel</a>
  </div>
</div>
```

*/

.toggle {
  .toggle-show {
    display: block;
  }

  .toggle-edit {
    display: none;
  }

  &.edit {
    .toggle-show {
      display: none;
    }

    .toggle-edit {
      display: block;
    }
  }
}


/*pending
---
title: Angular
name: toggle_angular
parent: toggle
---

Use this class for sections that have two different viewable states.

```html_example
<div class="state-toggle" ng-class="{"state-secondary": subject.secondaryState}" ng-controller="StyleguideToggleCtrl">
  <div class="state-content-default">
    This is the default content
    <a class="btn btn-default" ng-click="toggleState()">Toggle State</a>
  </div>
  <div class="state-content-secondary">
    This is the secondary content
    <a class="btn btn-default" ng-click="toggleState()">Toggle State</a>
  </div>
</div>
```

*/

.state-toggle {
  .state-content-default {
    display: block;
  }

  .state-content-secondary {
    display: none;
  }

  &.state-secondary {
    .state-content-default {
      display: none;
    }

    .state-content-secondary {
      display: block;
    }
  }
}
