@import "../scales/scales";
@import "../toggles/toggles";

/*pending
---
title: No JavaScript
name: no_js
categories:
  - Utilities
  - All
---
### Javascript

Try disabling js and rendering this page.

```html_example
<h3 class="invisible-no-js">Won't show if browser doesn't support JS.</h3>
```

*/
.no-js .invisible-no-js {
  visibility: hidden;
}
