<!doctype html>
<html>
  <head>
    <title>a brand new styleguide: <%= title %></title>
    <link rel="stylesheet" href="pivotal-ui/pivotal-ui.css">
    <link rel="stylesheet" href="style_guide/style_guide.css">
    <link rel="stylesheet" disabled href="syntax-highlighting/prism-default.css">
    <link rel="stylesheet" href="syntax-highlighting/prism-okaida.css">
    <script src="pivotal-ui/pivotal-ui.js"></script>
    <script src="style_guide/style_guide.js"></script>
  </head>
  <body>
    <div class="container">
      <nav>
        <ul>
        <% @categories.each do |category, file_name| %>
          <li><a href="<%= file_name %>"><%= category %></a></li>
        <% end %>
        </ul>
      </nav>

      <h1>a brand new style guide, it's super effective</h1>
      <section class="content">
        <ul>
        <% @blocks.each do |b| %>
          <li><a href="#<%= b[:name] %>"><%= b[:title] %></a></li>
        <% end %>
        </ul>
