@import "../pui-variables";

.progress, .pui-progress {
  background-color: $light-gray;

  overflow: hidden;

  min-height: $base-unit;
}

.progress-bar, .pui-progress-bar {
  -webkit-transition: width .6s ease;
  transition: width .6s ease;

  background: $blue;

  min-height: $base-unit;

  .label {
    margin-left: 7px;
    font-size: 14px;
    font-weight: 900;
  }
}

.progress-bar[aria-valuenow="1"], .pui-progress-bar[aria-valuenow="1"],
.progress-bar[aria-valuenow="2"], .pui-progress-bar[aria-valuenow="2"] {
  min-width: 3%;
}

.progress-bar[aria-valuenow="0"], .pui-progress-bar[aria-valuenow="0"] {
  color: $text-color;
  min-width: 3%;
  background: transparent;
}
