@import "../pui-variables";

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.pui-btn, .btn {
  display: inline-flex;
  position: relative;
  height: $base-unit*4;
  padding: 0 ($base-unit*2);
  vertical-align: middle;
  color: $btn-default-color;
  text-align: center;
  font-size: $font-size-small;
  font-weight: $btn-font-weight;
  line-height: ($base-unit*4) - ($btn-border-width*2); //32px - 4px borders
  letter-spacing: $btn-letter-spacing;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: $btn-radius;
  border: $btn-border-width solid transparent;
  cursor: pointer;
  box-sizing: border-box;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  -webkit-transition-property: background-color, color, opacity, border;
  transition-property: background-color, color, opacity, border;
  .icon {
    font-size: $font-size-large;
    fill: $btn-default-color;
  }

  &:hover,
  &:focus,
  &:hover:focus {
    outline: none;
  }

  // Button Content Rules
  span.pui-btn-inner-content, span.btn-inner-content {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    width: 100%;
    position: relative;
  }

  span.pui-btn-inner-content > * + *, span.btn-inner-content > * + * {
    margin-left: 5px !important;
  }

  // Spinner
  .icon-spinner-lg,
  .icon-spinner-md,
  .icon-spinner-sm {
    .ring {
      stroke: $btn-default-color;
    }
    .path {
      stroke: $btn-default-color;
    }
  }
}

.pui-btn + .pui-btn, .btn + .btn {
  margin-left: $base-unit;
}

.pui-btn.pui-btn-icon, .btn.btn-icon {
  padding: 0;
  .icon {
    margin: 5px;
    svg {
      fill: currentColor;
    }
  }
}

.pui-btn-full, .btn-full {
  width: 100%;
}

.pui-btn-lg, .btn-lg {
  height: $base-unit*5;
  line-height: ($base-unit*5) - ($btn-border-width*2); //40px - 4px borders
  font-size: $font-size-medium;
  &.pui-btn-icon, &.btn-icon {
    padding: 0;
    .icon {
      margin: $base-unit;
    }
  }
  .icon {
    font-size: $font-size-extra-large;
  }
}

.pui-btn-sm, .btn-sm {
  height: ($base-unit*3);
  line-height: ($base-unit*3) - ($btn-border-width*2); //24px - 4px borders
  font-size: $font-size-extra-small;
  &.pui-btn-icon, &.btn-icon {
    padding: 0;
    .icon {
      margin: 3px;
    }
  }
  .icon {
    font-size: $font-size-small;
  }
}

.pui-btn.disabled, .pui-btn[disabled], .btn.disabled, .btn[disabled] {
  opacity: .5;
  cursor: default;
  pointer-events: none;
}

//Default Button
//---------------------------------------
.pui-btn.pui-btn-default, .btn.btn-default {
  background-color: $btn-default-color;
  color: $btn-light;
  border-color: $btn-default-color;
  .icon {
    fill: $btn-light;
  }

  //Spinner
  .icon-spinner-lg,
  .icon-spinner-md,
  .icon-spinner-sm {
    .ring {
      stroke: $btn-light;
    }
    .path {
      stroke: $btn-light;
    }
  }
}

.pui-btn.pui-btn-default:focus, .btn.btn-default:focus {
  background-color: $btn-default-color-focus;
  border-color: $btn-default-color-focus;
  outline: none;
}

.pui-btn.pui-btn-default:hover,
.pui-btn.pui-btn-default:focus:hover,
.btn.btn-default:hover,
.btn.btn-default:focus:hover {
  background-color: $btn-default-color-hover;
  border-color: $btn-default-color-hover;
  outline: none;
}

.pui-btn.pui-btn-default-flat:focus, .btn.btn-default-flat:focus {
  color: $btn-default-color-focus;
  outline: none;
}

.pui-btn.pui-btn-default-flat:hover,
.pui-btn.pui-btn-default-flat:focus:hover,
.btn.btn-default-flat:hover,
.btn.btn-default-flat:focus:hover {
  color: $btn-default-color-hover;
  outline: none;
}

//Default Alt Button
//---------------------------------------
.pui-btn.pui-btn-default-alt, .btn.btn-default-alt {
  background-color: transparent;
  color: $btn-default-color;
  border-color: $btn-default-color;
  .icon {
    fill: $btn-default-color;
  }

  //Spinner
  .icon-spinner-lg,
  .icon-spinner-md,
  .icon-spinner-sm {
    .ring {
      stroke: $btn-default-color;
    }
    .path {
      stroke: $btn-default-color;
    }
  }
}

.pui-btn.pui-btn-default-alt:focus, .btn.btn-default-alt:focus {
  background-color: transparent;
  color: $btn-default-color-focus;
  border-color: $btn-default-color-focus;
  outline: none;
  .icon {
    fill: $btn-default-color-focus;
  }
}

.pui-btn.pui-btn-default-alt:hover,
.pui-btn.pui-btn-default-alt:focus:hover,
.btn.btn-default-alt:hover,
.btn.btn-default-alt:focus:hover {
  background-color: transparent;
  color: $btn-default-color-hover;
  border-color: $btn-default-color-hover;
  outline: none;
  .icon {
    fill: $btn-default-color-hover;
  }
}

//Default Alt Button WHITE
//---------------------------------------
.pui-btn.pui-btn-default-alt-wh, .btn.btn-default-alt-wh {
  background-color: transparent;
  color: $btn-light;
  border-color: $btn-light;
  .icon {
    fill: $btn-light;
  }

  //Spinner
  .icon-spinner-lg,
  .icon-spinner-md,
  .icon-spinner-sm {
    .ring {
      stroke: $btn-light;
    }
    .path {
      stroke: $btn-light;
    }
  }
}

.pui-btn.pui-btn-default-alt-wh:focus, .btn.btn-default-alt-wh:focus {
  background-color: rgba(255, 255, 255, 0.1);
  color: $btn-light;
  border-color: $btn-light;
  outline: none;
  .icon {
    fill: $btn-light;
  }
}

.pui-btn.pui-btn-default-alt-wh:hover,
.pui-btn.pui-btn-default-alt-wh:focus:hover,
.btn.btn-default-alt-wh:hover,
.btn.btn-default-alt-wh:focus:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: $btn-light;
  border-color: $btn-light;
  outline: none;
  .icon {
    fill: $btn-light;
  }
}

//primary Button
//---------------------------------------
.pui-btn.pui-btn-primary, .btn.btn-primary {
  background-color: $btn-primary-color;
  color: $btn-light;
  border-color: $btn-primary-color;
  .icon {
    fill: $btn-light;
  }

  //Spinner
  .icon-spinner-lg,
  .icon-spinner-md,
  .icon-spinner-sm {
    .ring {
      stroke: $btn-light;
    }
    .path {
      stroke: $btn-light;
    }
  }
}

.pui-btn.pui-btn-primary:focus, .btn.btn-primary:focus {
  background-color: $btn-primary-color-focus;
  border-color: $btn-primary-color-focus;
  outline: none;
}

.pui-btn.pui-btn-primary:hover,
.pui-btn.pui-btn-primary:focus:hover,
.btn.btn-primary:hover,
.btn.btn-primary:focus:hover {
  background-color: $btn-primary-color-hover;
  border-color: $btn-primary-color-hover;
  outline: none;
}

//Flat primary
.pui-btn-primary-flat, .btn-primary-flat {
  color: $btn-primary-color;
  .icon {
    fill: $btn-primary-color;
  }
  &:hover,
  &:focus,
  &:hover:focus {
    color: $btn-primary-color-focus;
    outline: none;
    .icon {
      fill: $btn-primary-color-focus;
    }
  }
  // Spinner
  .icon-spinner-lg,
  .icon-spinner-md,
  .icon-spinner-sm {
    .ring {
      stroke: $btn-primary-color;
    }
    .path {
      stroke: $btn-primary-color;
    }
  }
}

//primary Alt Button
//---------------------------------------
.pui-btn.pui-btn-primary-alt, .btn.btn-primary-alt {
  background-color: transparent;
  color: $btn-primary-color;
  border-color: $btn-primary-color;
  .icon {
    fill: $btn-primary-color;
  }

  //Spinner
  .icon-spinner-lg,
  .icon-spinner-md,
  .icon-spinner-sm {
    .ring {
      stroke: $btn-primary-color;
    }
    .path {
      stroke: $btn-primary-color;
    }
  }
}

.pui-btn.pui-btn-primary-alt:focus, .btn.btn-primary-alt:focus {
  background-color: transparent;
  color: $btn-primary-color-focus;
  border-color: $btn-primary-color-focus;
  outline: none;
  .icon {
    fill: $btn-primary-color-focus;
  }
}

.pui-btn.pui-btn-primary-alt:hover,
.pui-btn.pui-btn-primary-alt:focus:hover,
.btn.btn-primary-alt:hover,
.btn.btn-primary-alt:focus:hover {
  background-color: transparent;
  color: $btn-primary-color-hover;
  border-color: $btn-primary-color-hover;
  outline: none;
  .icon {
    fill: $btn-primary-color-hover;
  }
}

//brand Button
//---------------------------------------
.pui-btn.pui-btn-brand, .btn.btn-brand {
  background-color: $btn-brand-color;
  color: $btn-light;
  border-color: $btn-brand-color;
  .icon {
    fill: $btn-light;
  }

  //Spinner
  .icon-spinner-lg,
  .icon-spinner-md,
  .icon-spinner-sm {
    .ring {
      stroke: $btn-light;
    }
    .path {
      stroke: $btn-light;
    }
  }
}

.pui-btn.pui-btn-brand:focus, .btn.btn-brand:focus {
  background-color: $btn-brand-color-focus;
  border-color: $btn-brand-color-focus;
  outline: none;
}

.pui-btn.pui-btn-brand:hover,
.pui-btn.pui-btn-brand:focus:hover,
.btn.btn-brand:hover,
.btn.btn-brand:focus:hover {
  background-color: $btn-brand-color-hover;
  border-color: $btn-brand-color-hover;
  outline: none;
}

//Flat brand
.pui-btn-brand-flat, .btn-brand-flat {
  color: $btn-brand-color;
  .icon {
    fill: $btn-brand-color;
  }
  &:hover,
  &:focus,
  &:hover:focus {
    color: $btn-brand-color-focus;
    outline: none;
    .icon {
      fill: $btn-brand-color-focus;
    }
  }

  // Spinner
  .icon-spinner-lg,
  .icon-spinner-md,
  .icon-spinner-sm {
    .ring {
      stroke: $btn-brand-color;
    }
    .path {
      stroke: $btn-brand-color;
    }
  }
}

//brand Alt Button
//---------------------------------------
.pui-btn.pui-btn-brand-alt, .btn.btn-brand-alt {
  background-color: transparent;
  color: $btn-brand-color;
  border-color: $btn-brand-color;
  .icon {
    fill: $btn-brand-color;
  }

  //Spinner
  .icon-spinner-lg,
  .icon-spinner-md,
  .icon-spinner-sm {
    .ring {
      stroke: $btn-brand-color;
    }
    .path {
      stroke: $btn-brand-color;
    }
  }
}

.pui-btn.pui-btn-brand-alt:focus, .btn.btn-brand-alt:focus {
  background-color: transparent;
  color: $btn-brand-color-focus;
  border-color: $btn-brand-color-focus;
  outline: none;
  .icon {
    fill: $btn-brand-color-focus;
  }
}

.pui-btn.pui-btn-brand-alt:hover,
.pui-btn.pui-btn-brand-alt:focus:hover,
.btn.btn-brand-alt:hover,
.btn.btn-brand-alt:focus:hover {
  background-color: transparent;
  color: $btn-brand-color-hover;
  border-color: $btn-brand-color-hover;
  outline: none;
  .icon {
    fill: $btn-brand-color-hover;
  }
}

//danger Button
//---------------------------------------
.pui-btn.pui-btn-danger,
.btn.btn-danger {
  background-color: $btn-danger-color;
  color: $btn-light;
  border-color: $btn-danger-color;
  .icon {
    fill: $btn-light;
  }

  // Spinner
  .icon-spinner-lg,
  .icon-spinner-md,
  .icon-spinner-sm {
    .ring {
      stroke: $btn-light;
    }
    .path {
      stroke: $btn-light;
    }
  }
}

.pui-btn.pui-btn-danger:focus, .btn.btn-danger:focus {
  background-color: $btn-danger-color-focus;
  border-color: $btn-danger-color-focus;
  outline: none;
}

.pui-btn.pui-btn-danger:hover,
.pui-btn.pui-btn-danger:focus:hover,
.btn.btn-danger:hover,
.btn.btn-danger:focus:hover {
  background-color: $btn-danger-color-hover;
  border-color: $btn-danger-color-hover;
  outline: none;
}

//Flat danger
.pui-btn-danger-flat,
.btn-danger-flat {
  color: $btn-danger-color;
  .icon {
    fill: $btn-danger-color;
  }
  &:hover,
  &:focus,
  &:hover:focus {
    color: $btn-danger-color-focus;
    outline: none;
    .icon {
      fill: $btn-danger-color-focus;
    }
  }

  // Spinner
  .icon-spinner-lg,
  .icon-spinner-md,
  .icon-spinner-sm {
    .ring {
      stroke: $btn-danger-color;
    }
    .path {
      stroke: $btn-danger-color;
    }
  }
}

//danger Alt Button
//---------------------------------------
.pui-btn.pui-btn-danger-alt, .btn.btn-danger-alt {
  background-color: transparent;
  color: $btn-danger-color;
  border-color: $btn-danger-color;
  .icon {
    fill: $btn-danger-color;
  }

  // Spinner
  .icon-spinner-lg,
  .icon-spinner-md,
  .icon-spinner-sm {
    .ring {
      stroke: $btn-danger-color;
    }
    .path {
      stroke: $btn-danger-color;
    }
  }
}

.pui-btn.pui-btn-danger-alt:focus, .btn.btn-danger-alt:focus {
  background-color: transparent;
  color: $btn-danger-color-focus;
  border-color: $btn-danger-color-focus;
  outline: none;
  .icon {
    fill: $btn-danger-color-focus;
  }
}

.pui-btn.pui-btn-danger-alt:hover,
.pui-btn.pui-btn-danger-alt:focus:hover,
.btn.btn-danger-alt:hover,
.btn.btn-danger-alt:focus:hover {
  background-color: transparent;
  color: $btn-danger-color-hover;
  border-color: $btn-danger-color-hover;
  outline: none;
  .icon {
    fill: $btn-danger-color-hover;
  }
}
