@import "../pui-variables";

.bg-cloud {
  background: $neutral-10 url('images/gray-cloud.png') no-repeat 50% 50%;
}

.bg-glow {
  background: radial-gradient(ellipse at 50% bottom, #4b6475 0%, #243640 60%);
}


.bg-full-bleed {
  background-image: url('images/aboutus-hero.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}





