@import "../pui-variables";
@import '../mixins';
@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/tooltip";

/*doc
---
title: Tooltip
name: tooltip
categories:
  - Objects
  - All
---

<code class="pam">
<i class="fa fa-download" alt="Install the Component">
npm install pui-css-tooltips --save
</i>
</code>


Tooltips are used to display extra information on hover. They can be used with any hoverable element.

The `title` attribute defines the text that appears on the tooltip.
The `data-placement` attribute defines the tooltip's placement.
If `data-placement` is not specified, the tooltip is placed on top by default.

<div class="alert alert-warning">
  <p class="em-high">
    Tooltips must be initialized with javascript: <code>$(mySelector).tooltip();</code>
  </p>
</div>

```html_example
<p>
  Check out this
  <a id="link-with-tooltip-1" href="#" data-toggle="tooltip" data-placement="left" title="I should be on the left">
    tooltip on the left!
  </a>
</p>

<p>
  Check out this
  <a id="link-with-tooltip-2" href="#" data-toggle="tooltip" data-placement="right" title="I should be on the right">
    tooltip on the right!
  </a>
</p>

<p>
  <button id="button-with-tooltip-1" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="I should be on the top">
    Check out this tooltip on the top!
  </button>
</p>

<p>
  <button id="button-with-tooltip-2" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="I should be on the bottom">
    Check out this tooltip on the bottom!
  </button>
</p>
```

```js_example
$('#link-with-tooltip-1').tooltip();
$('#link-with-tooltip-2').tooltip();
$('#button-with-tooltip-1').tooltip();
$('#button-with-tooltip-2').tooltip();
```

<div class="alert alert-info">
  <p class="em-high">
    If you want to use a tooltip on a disabled element, place the tooltip in a wrapper div with the class <code>.button-with-tooltip-wrapper</code>.
  </p>
</div>

```html_example
<div id="disabled-button-with-tooltip" class="button-with-tooltip-wrapper" data-toggle="tooltip" data-placement="right" title="This button is totally disabled!">
  <button type="button" class="btn btn-default" disabled=true>
    Disabled button
  </button>
</div>
```

```js_example
$('#disabled-button-with-tooltip').tooltip();
```

*/

.button-with-tooltip-wrapper {
  display: inline-block;
}

/*doc
---
title: Tooltips
name: tooltips_react
categories:
  - React Beta
---

<code class="pam">
<i class="fa fa-download" alt="Install the Component">
npm install pui-react-tooltip --save
npm install pui-react-overlay-trigger --save
</i>
</code>

Require the subcomponent:

```
var Tooltip = require('pui-react-tooltip').Tooltip;
var OverlayTrigger = require('pui-react-overlay-trigger').OverlayTrigger;
```


Tooltips are used to display extra information on hover.
To make an element show a tooltip, wrap it in an `OverlayTrigger`.
If the `overlay` property passed into the `OverlayTrigger` will be displayed on hover,
this is where the `Tooltip` can be used. The is currently a thin wrapper around
React Bootstrap.

Tooltips are placed using the `placement` property on `OverlayTrigger`, "left", "right", "bottom", "top".

```react_example
<div>
<p>
  Check out this
  <UI.OverlayTrigger placement="left" overlay={<UI.Tooltip>I should be on the left</UI.Tooltip>}>
    <a href="#"> tooltip on the left</a>
  </UI.OverlayTrigger>
</p>
<p>
  Check out this
  <UI.OverlayTrigger placement="right" overlay={<UI.Tooltip>I should be on the right</UI.Tooltip>}>
    <a href="#"> tooltip on the right</a>
  </UI.OverlayTrigger>
</p>
<p>
  Check out this
  <UI.OverlayTrigger placement="top" overlay={<UI.Tooltip>I should be on the top</UI.Tooltip>}>
    <a href="#"> tooltip on the top</a>
  </UI.OverlayTrigger>
</p>
<p>
  Check out this
  <UI.OverlayTrigger placement="bottom" overlay={<UI.Tooltip>I should be on the bottom</UI.Tooltip>}>
    <a href="#"> tooltip on the bottom</a>
  </UI.OverlayTrigger>
</p>
</div>
```
*/
