@import "../pui-variables";

.copy-to-clipboard-image {
  path {
    fill: $gray-3;
  }
}

.copy-to-clipboard .sr-only {
  user-select: text;
}

.clipboard-button {
  background-color: $btn-light;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $gray-2;
  height: $input-height-base;
  width: $input-height-base;
}