@import "../pui-variables";
@import '../mixins';

.tile-layout {
  display: flex;
  flex-flow: row wrap;
}

.tile-layout .tile-item {
  display: flex;
  box-sizing: border-box;

  > * {
    flex-grow: 1;
  }
}

$breakpoints: (xs, 0), (sm, $screen-sm-min), (md, $screen-md-min), (lg, $screen-lg-min), (xl, $screen-xl-min);

@each $breakpoint-name, $breakpoint-variable in $breakpoints {
  @media only screen and (min-width: $breakpoint-variable) {
    @for $numCols from 1 to 13 {

      .tile-layout.tile-layout-#{$breakpoint-name}-#{$numCols} {
        .tile-item {
          width: 100% / $numCols;
        }

        &.tile-gutter .tile-item {
          &:nth-child(n) {
            padding: $grid-gutter-width / 2;
          }

          &:nth-child(#{$numCols}n) {
            padding-right: 0;
          }

          &:nth-child(#{$numCols}n + 1) {
            padding-left: 0;
          }
        }
      }
    }
  }
}