@import "../pui-variables";
@import '../mixins';

.pui-modal-backdrop {
  position: fixed;
  background: transparentize($modal-backdrop-bg, 0.2);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  opacity: 0;
  z-index: $zindex-modal;
  transform: translateZ(0);
  will-change: opacity;
  overflow-y: auto;

  &.pui-modal-show {
    opacity: 1;
  }
}

.pui-modal-dialog {
  background: #fff;
  width: $modal-md;
  margin: ($base-unit * 6) auto;
  position: relative;
  border-radius: 2px;
  border: 1px solid $modal-content-border-color;
  box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
  transform: translateY(-$base-unit * 10);
  will-change: transform;

  @media (min-width: $screen-sm-min) {
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }

  &.pui-modal-show {
    transform: translateY(0);
  }

  &.pui-modal-lg {
    width: $modal-lg;
  }

  &.pui-modal-sm {
    width: $modal-sm;
  }
}

.pui-modal-close-btn {
  position: absolute;
  right: $base-unit * 2;
  top: $base-unit * 2;
}

.pui-modal-header {
  min-height: ($modal-title-padding + $modal-title-line-height);
  border-bottom: 0;
  padding: ($base-unit * 3) ($base-unit * 3) 0 ($base-unit * 3);
}

.pui-modal-title {
  margin: inherit;
  line-height: inherit;
}

.pui-modal-body {
  padding: $base-unit ($base-unit * 3) $base-unit ($base-unit * 3);

  p {
    font-size: 18px;
    line-height: 24px;
  }
}

.pui-modal-footer {
  padding: 0 ($base-unit * 3) ($base-unit * 3) ($base-unit * 3);
  text-align: right;
  border-top: 0;
  @include clearfix; // clear it in case folks use .pull-* classes on buttons

  .pui-btn + .pui-btn {
    margin-left: $base-unit;
    margin-bottom: 0;
  }

  .pui-btn-group .pui-btn + .pui-btn {
    margin-left: -1px;
  }
}