@import "../pui-variables";

.pui-back-to-top {
  color: $neutral-11;
  text-align: center;
  font-size: $font-size-h3;

  bottom: 100px;
  position: fixed;
  right: 100px;
  display: none;
  padding-top: 13px;
  height: 50px;
  width: 50px;
  z-index: $zindex-navbar;

  border: 0;
  border-radius: 50%;
  background: $brand-8;
  box-shadow: 0 0 9px rgba(153, 153, 153, 0.8);

  &:hover {
    background: $brand-5;
    color: $neutral-11;
  }

  // TODO: rename all occurrences of .icon to .pui-icon
  .icon {
    font-size: 20px;
    stroke: $neutral-11;
    path {
      stroke-width: 5;
    }
  }
}
