@import "../pui-variables";
@import '../mixins';
@import '../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins';

/*doc
---
title: Buttons
name: button
categories:
  - Elements
  - All
---

Install the component:

```
npm install pui-css-buttons --save
```

Button styles can be applied to any element. Typically you'll want to
use either a `<button>` or an `<a>` element:

```html_example_table
<button class="btn btn-primary">Button</button>

<a class="btn btn-primary" href="http://trulia.com">Link</a>
```

If your button is actually a link to another page, please use the
`<a>` element, while if your button performs an action, such as submitting
a form or triggering some javascript event, then use a `<button>` element.

*/


/*doc
---
title: Full Width
name: button_full_width
parent: button
---

There is an additional modifier that will make the button take the
full width of the container. It may be used with the any of the button
size and style modifiers.

Create block level buttons - those that span the full width of a parent - by adding `.btn-block`.

```html_example
<button class="btn btn-primary btn-block">Full width button</button>
```

*/

.btn {
  font-weight: 900;
  padding: 5px 15px;

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: not-allowed;
    pointer-events: none; // Future-proof disabling of clicks
    box-shadow: 0 3px 0 $shadow-2;
  }
}

/*doc
---
title: Styles
name: button_styles
parent: button
---

Button                                                             | Disabled                                                                    | Class                   | Description
------------------------------------------------------------------ | --------------------------------------------------------------------------  | ----------------------- | -----------
<button class="btn btn-default">Default</button>                   |<button class="btn btn-default" disabled>Default</button>                    | `btn btn-default`       | This is what buttons look like, this is the go to button style.
<button class="btn btn-default-alt">Default alternate</button>     |<button class="btn btn-default-alt" disabled>Default alternate</button>      | `btn btn-default-alt`   | This is what buttons look like, this is the go to button style (on white backgrounds).
<button class="btn btn-primary">Primary</button>                   |<button class="btn btn-primary" disabled>Primary</button>                    | `btn btn-primary`       | Use this button as the primary call to action
<button class="btn btn-lowlight">Lowlight</button>                 |<button class="btn btn-lowlight" disabled>Lowlight</button>                  | `btn btn-lowlight`      | Use this button for other actions, like cancel/dismiss
<button class="btn btn-danger">Delete</button>                     |<button class="btn btn-danger" disabled>Delete</button>                      | `btn btn-danger`        | This button is for delete actions, these actions should also have a confirmation dialog
<button class="btn btn-highlight">Highlight</button>               |<button class="btn btn-highlight" disabled>Highlight</button>               | `btn btn-highlight`      | Use this button for other important actions, e.g. restarting apps
<button class="btn btn-highlight-alt">Highlight alternate</button> |<button class="btn btn-highlight-alt" disabled>Highlight alternate</button> | `btn btn-highlight-alt`  | Use this button for other important actions, e.g. marketing call to actions
*/

.btn-default {
  @include button-skin($btn-default-color, $btn-default-bg, $btn-default-bg-hover);
}

.btn-default-alt {
  @include button-skin($btn-default-alt-color, $btn-default-alt-bg, $btn-default-alt-bg-hover, $btn-default-alt-border);
  @include button-shadow;
}

.btn-primary {
  @include button-skin($btn-primary-color, $btn-primary-bg, $btn-primary-bg-hover);
  @include button-shadow;
}

.btn-highlight {
  @include button-skin($btn-highlight-color, $btn-highlight-bg, $btn-highlight-bg-hover);
  @include button-shadow;
}

.btn-highlight-alt {
  @include button-skin($btn-highlight-alt-color, $btn-highlight-alt-bg, $btn-highlight-alt-bg-hover);
  @include button-shadow;
}

.btn-lowlight {
  @include button-skin($btn-lowlight-color, $btn-lowlight-bg, $btn-lowlight-bg-hover);
}

// Danger and error appear as red
.btn-danger {
  @include button-skin($btn-danger-color, $btn-danger-bg, $btn-danger-bg-hover);
  @include button-shadow;
}

/*doc
---
title: Sizes
name: button_sizes
parent: button
---

There are two sizes for buttons: Large and default. Simply apply the
size modifier class for the desired size.

```html_example_table
<button class="btn btn-primary btn-lg">Large</button>

<button class="btn btn-primary">Default</button>
```

*/

.btn-lg {
  // line-height: ensure even-numbered height of button next to large input
  @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-medium, $line-height-large, $border-radius-small);
}


/*doc
---
title: Buttons
name: button_react
categories:
  - React Beta
---

Install the component:

```
npm install pui-react-buttons --save
```

Require the subcomponent:

```
var DefaultButton = require('pui-react-buttons').DefaultButton;
```


Buttons use the button tag by default. If you'd like a link rather than a button, simply add an `href` attribute.

```react_example_table
<UI.DefaultButton href="http://example.com">
  Default
</UI.DefaultButton>
```

To make a button large, set the `large` property to true.

```react_example_table
<UI.HighlightButton large={true}>
  Big Button
</UI.HighlightButton>
```

To make a button full-width, set the `block` property to true.

```react_example
<UI.DangerButton block={true} href="http://i.imgur.com/oq2qkUN.gif">
  Danger Zone
</UI.DangerButton>
```

Specific button types.

```react_example_table
<UI.DefaultButton>
  Default
</UI.DefaultButton>

<UI.DefaultAltButton>
  Default alternate
</UI.DefaultAltButton>

<UI.PrimaryButton>
  Primary
</UI.PrimaryButton>

<UI.LowlightButton>
  Lowlight
</UI.LowlightButton>

<UI.DangerButton>
  Danger
</UI.DangerButton>

<UI.HighlightButton>
  Highlight
</UI.HighlightButton>

<UI.HighlightAltButton>
  Highlight alternate
</UI.HighlightAltButton>
```

The base button renderer. You won't really interact with this directly.

```react_example_table
<UI.UIButton>
  I'm a button
</UI.UIButton>
```
*/
