/* ==========================================================================
  Browser support
  ========================================================================== */
/* Typography
   ========================================================================== */
/* Grid
   ========================================================================== */
/* Transition mixins */
/* Button Mixins */
/* line 6, ../../src/styleguide/styleguide.scss */
html {
  background-color: #ecefef;
}

/* line 10, ../../src/styleguide/styleguide.scss */
.container {
  max-width: 1128px;
  width: auto;
  margin: 0 auto;
}

/* line 16, ../../src/styleguide/styleguide.scss */
.content {
  margin-top: 5px;
}

/* line 21, ../../src/styleguide/styleguide.scss */
.main > h1 {
  margin-top: 30px;
}

/* line 25, ../../src/styleguide/styleguide.scss */
.main > h1:first-child {
  margin-top: 0;
}

/* line 29, ../../src/styleguide/styleguide.scss */
h1.styleguide,
h2.styleguide,
h3.styleguide,
h4.styleguide,
h5.styleguide,
h6.styleguide {
  color: #00a79d;
  font-weight: 600;
  margin-top: 0;
}
@media screen and (min-width: 992px) {
  /* line 29, ../../src/styleguide/styleguide.scss */
  h1.styleguide,
  h2.styleguide,
  h3.styleguide,
  h4.styleguide,
  h5.styleguide,
  h6.styleguide {
    padding-top: 50px;
  }
}

/* line 44, ../../src/styleguide/styleguide.scss */
h1.styleguide {
  font-size: 42px;
}

/* line 48, ../../src/styleguide/styleguide.scss */
footer {
  margin-top: 20px;
  text-align: center;
}

/* line 54, ../../src/styleguide/styleguide.scss */
.componentMenu {
  max-height: 535px;
  width: 175px;
  overflow-y: auto;
}

/* line 60, ../../src/styleguide/styleguide.scss */
blockquote:before {
  content: "Design Note:";
  font-weight: bold;
}

/* line 65, ../../src/styleguide/styleguide.scss */
blockquote {
  border: 1px solid #eee;
  border-radius: 4px;
  font-family: "Comic Sans MS";
  font-size: 16px;
  margin: 10px 0;
  padding: 5px;
}

/* line 75, ../../src/styleguide/styleguide.scss */
.styleguide-header {
  min-height: 40px;
  width: 100%;
  z-index: 100;
  background: #243640;
  color: white;
}
@-webkit-keyframes hoverSpin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-moz-keyframes hoverSpin {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes hoverSpin {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .6;
  }
  100% {
    opacity: 1;
  }
}
/* line 100, ../../src/styleguide/styleguide.scss */
.styleguide-header .styleguide-logo {
  float: left;
  margin-top: 5px;
  margin-right: 15px;
}
/* line 105, ../../src/styleguide/styleguide.scss */
.styleguide-header .styleguide-logo:hover {
  -moz-animation: hoverSpin 5s linear infinite;
  -webkit-animation: hoverSpin 5s linear infinite;
  animation: hoverSpin 5s linear infinite;
}
/* line 111, ../../src/styleguide/styleguide.scss */
.styleguide-header #navbar-hamburger {
  float: right;
  margin: 4px 0px;
  border: none;
  padding: 5px 7px;
  border-radius: 4px;
  background: transparent;
  -webkit-transition: background 0.5s ease-out;
  -moz-transition: background 0.5s ease-out;
  transition: background 0.5s ease-out;
}
/* line 120, ../../src/styleguide/styleguide.scss */
.styleguide-header #navbar-hamburger:hover {
  background: #3f484f;
}
/* line 124, ../../src/styleguide/styleguide.scss */
.styleguide-header #navbar-hamburger .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background: #F8F8F8;
}
/* line 131, ../../src/styleguide/styleguide.scss */
.styleguide-header #navbar-hamburger .icon-bar:not(:first-of-type) {
  margin: 4px;
}
/* line 137, ../../src/styleguide/styleguide.scss */
.styleguide-header #styleguide-first-level-nav-wrapper {
  margin: 0 -10px;
}
/* line 141, ../../src/styleguide/styleguide.scss */
.styleguide-header ul#styleguide-first-level-nav {
  display: none;
  clear: both;
  margin: 0;
  padding: 0;
  background: #243640;
  list-style-type: none;
}
/* line 149, ../../src/styleguide/styleguide.scss */
.styleguide-header ul#styleguide-first-level-nav > li {
  -webkit-transition: background 300ms ease-out;
  -moz-transition: background 300ms ease-out;
  transition: background 300ms ease-out;
}
/* line 152, ../../src/styleguide/styleguide.scss */
.styleguide-header ul#styleguide-first-level-nav > li > a {
  color: white;
}
/* line 156, ../../src/styleguide/styleguide.scss */
.styleguide-header ul#styleguide-first-level-nav > li a.category-link, .styleguide-header ul#styleguide-first-level-nav > li a.styleguide-second-level-nav-link {
  padding: 8px 10px;
}
/* line 160, ../../src/styleguide/styleguide.scss */
.styleguide-header ul#styleguide-first-level-nav > li a.category-link {
  display: inline-block;
  width: 55%;
  -webkit-transition: color 300ms ease-out;
  -moz-transition: color 300ms ease-out;
  transition: color 300ms ease-out;
}
/* line 166, ../../src/styleguide/styleguide.scss */
.styleguide-header ul#styleguide-first-level-nav > li a.styleguide-second-level-nav-link {
  float: right;
  width: 40%;
  text-align: right;
}
/* line 172, ../../src/styleguide/styleguide.scss */
.styleguide-header ul#styleguide-first-level-nav > li ul.styleguide-second-level-nav {
  display: none;
  padding-left: 0;
  list-style-type: none;
  background-color: #282828;
}
/* line 178, ../../src/styleguide/styleguide.scss */
.styleguide-header ul#styleguide-first-level-nav > li ul.styleguide-second-level-nav > li {
  padding-bottom: 5px;
  font-size: 16px;
}
/* line 182, ../../src/styleguide/styleguide.scss */
.styleguide-header ul#styleguide-first-level-nav > li ul.styleguide-second-level-nav > li a {
  display: block;
  color: #F8F8F8;
  padding: 8px 10px 8px 30px;
}
/* line 189, ../../src/styleguide/styleguide.scss */
.styleguide-header ul#styleguide-first-level-nav > li ul.styleguide-second-level-nav > li:hover a {
  color: #49a8d5;
}
/* line 196, ../../src/styleguide/styleguide.scss */
.styleguide-header ul#styleguide-first-level-nav > li:hover, .styleguide-header ul#styleguide-first-level-nav > li.active {
  background: #282828;
}
/* line 199, ../../src/styleguide/styleguide.scss */
.styleguide-header ul#styleguide-first-level-nav > li:hover a.category-link, .styleguide-header ul#styleguide-first-level-nav > li:hover a.styleguide-second-level-nav-link, .styleguide-header ul#styleguide-first-level-nav > li.active a.category-link, .styleguide-header ul#styleguide-first-level-nav > li.active a.styleguide-second-level-nav-link {
  color: #00a79d;
}
@media (min-width: 992px) {
  /* line 75, ../../src/styleguide/styleguide.scss */
  .styleguide-header {
    position: fixed;
    top: 0;
  }
  /* line 210, ../../src/styleguide/styleguide.scss */
  .styleguide-header #styleguide-first-level-nav-wrapper {
    margin: 0;
  }
  /* line 214, ../../src/styleguide/styleguide.scss */
  .styleguide-header ul#styleguide-first-level-nav {
    display: block;
    clear: none;
    top: 0;
    background: transparent;
  }
  /* line 220, ../../src/styleguide/styleguide.scss */
  .styleguide-header ul#styleguide-first-level-nav > li {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: 10px 15px;
    font-size: 14px;
  }
  /* line 227, ../../src/styleguide/styleguide.scss */
  .styleguide-header ul#styleguide-first-level-nav > li a.category-link {
    padding: 0;
    display: inline;
  }
  /* line 232, ../../src/styleguide/styleguide.scss */
  .styleguide-header ul#styleguide-first-level-nav > li a.styleguide-second-level-nav-link {
    float: none;
  }
  /* line 236, ../../src/styleguide/styleguide.scss */
  .styleguide-header ul#styleguide-first-level-nav > li ul.styleguide-second-level-nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    padding: 10px 20px;
  }
  /* line 244, ../../src/styleguide/styleguide.scss */
  .styleguide-header ul#styleguide-first-level-nav > li ul.styleguide-second-level-nav > li a {
    padding: 0;
  }
  /* line 251, ../../src/styleguide/styleguide.scss */
  .styleguide-header ul#styleguide-first-level-nav > li:hover ul.styleguide-second-level-nav {
    display: block;
  }
  /* line 258, ../../src/styleguide/styleguide.scss */
  .styleguide-header #navbar-hamburger {
    display: none;
  }
}

/* line 264, ../../src/styleguide/styleguide.scss */
div.codeExample, div.jsExample {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 10px 0;
}

/* line 270, ../../src/styleguide/styleguide.scss */
div.jsExample {
  border-top: 0px;
}

/* line 274, ../../src/styleguide/styleguide.scss */
div.codeExample:before, div.jsExample:before {
  font-family: "OpenSans", sans-serif;
  color: #222;
  border: 1px solid #ccc;
  border-radius: 4px;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  position: relative;
  padding: 2px;
  display: block;
}

/* line 286, ../../src/styleguide/styleguide.scss */
div.codeExample:before {
  content: "Example";
  background-color: #f9f9f9;
  width: 60px;
  top: -1px;
  left: -1px;
}

/* line 294, ../../src/styleguide/styleguide.scss */
div.jsExample:before {
  content: "JS Example";
  background-color: #fff;
  width: 80px;
  top: -11px;
  left: -11px;
}

/* line 302, ../../src/styleguide/styleguide.scss */
div.codeBlock, div.exampleOutput {
  padding: 10px;
}

/* line 306, ../../src/styleguide/styleguide.scss */
div.codeBlock {
  background-color: #f9f9f9;
  border-top: 1px solid #ccc;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* line 313, ../../src/styleguide/styleguide.scss */
.exampleOutput .back-to-top {
  position: absolute;
}

/* line 317, ../../src/styleguide/styleguide.scss */
.docSwatch {
  min-height: 218.21px;
  border: 1px solid #ccc;
  padding: 10px 0 0 10px;
  font-size: 12px;
  margin-bottom: 5px;
}

/* line 325, ../../src/styleguide/styleguide.scss */
.codeExample .line > div:after {
  content: attr(class);
  display: block;
  min-height: 40px;
  line-height: 40px;
  background-color: #EEE;
  text-align: center;
  border-radius: 3px;
  font-size: 12px;
}

/* line 336, ../../src/styleguide/styleguide.scss */
table.styleguide {
  padding: 7px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  width: 100%;
}
/* line 342, ../../src/styleguide/styleguide.scss */
table.styleguide tr, table.styleguide th, table.styleguide td {
  padding: 7px;
  border: 1px solid #ccc;
  font-weight: normal;
}
/* line 347, ../../src/styleguide/styleguide.scss */
table.styleguide th {
  font-weight: bold;
}
/* line 351, ../../src/styleguide/styleguide.scss */
table.styleguide td.no-wrap, table.styleguide th.no-wrap {
  white-space: nowrap;
}

/* line 355, ../../src/styleguide/styleguide.scss */
.codeTable table {
  padding: 7px;
  border: 1px solid #ccc;
  width: 100%;
  margin-bottom: 12px;
  table-layout: fixed;
}
/* line 362, ../../src/styleguide/styleguide.scss */
.codeTable table tr, .codeTable table th, .codeTable table td {
  padding: 7px;
  border: 1px solid #ccc;
  font-weight: normal;
}

/* line 369, ../../src/styleguide/styleguide.scss */
.contrast-bar {
  padding: 20px;
  background-color: #243640;
  min-height: 80px;
}
/* line 373, ../../src/styleguide/styleguide.scss */
.contrast-bar .row {
  float: left;
  width: 100%;
}
/* line 376, ../../src/styleguide/styleguide.scss */
.contrast-bar .row .chip-color {
  min-height: 93px;
}

/* line 384, ../../src/styleguide/styleguide.scss */
.chip {
  margin-top: 5px;
}
/* line 388, ../../src/styleguide/styleguide.scss */
.chip .chip-color {
  min-height: 53px;
}
/* line 391, ../../src/styleguide/styleguide.scss */
.chip .chip-color-name {
  color: #777;
  padding-top: 5px;
  font-size: 8px;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

/* line 399, ../../src/styleguide/styleguide.scss */
.marquee {
  min-height: 400px;
}

/* line 402, ../../src/styleguide/styleguide.scss */
.marquee-name {
  color: #777;
  padding-top: 5px;
  font-size: 11px;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

/* line 409, ../../src/styleguide/styleguide.scss */
.componentMenu {
  max-height: 535px;
  width: 175px;
  overflow-y: auto;
}

/* line 415, ../../src/styleguide/styleguide.scss */
blockquote:before {
  content: "Design Note:";
  font-weight: bold;
}

/* line 420, ../../src/styleguide/styleguide.scss */
blockquote {
  border: 1px solid #eee;
  border-radius: 4px;
  font-family: "Comic Sans MS";
  font-size: 16px;
  margin: 10px 0;
  padding: 5px;
}

/* line 430, ../../src/styleguide/styleguide.scss */
.sg-code {
  padding: 2px 4px;
  color: #d14;
  white-space: nowrap;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* line 439, ../../src/styleguide/styleguide.scss */
div.codeExample, div.jsExample {
  border-radius: 5px;
  -moz-background-clip: padding;
  -o-background-clip: padding-box;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  border-bottom: 2px solid rgba(40, 40, 40, 0.08);
  background-color: #ECEFEF;
}

/* line 447, ../../src/styleguide/styleguide.scss */
div.jsExample {
  border-top: 0px;
}

/* line 451, ../../src/styleguide/styleguide.scss */
div.codeExample:before, div.jsExample:before {
  font-family: "OpenSans", sans-serif;
  color: #222;
  border: 1px solid #ccc;
  border-radius: 4px;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  position: relative;
  padding: 2px;
  display: block;
}

/* line 463, ../../src/styleguide/styleguide.scss */
div.codeExample:before {
  content: " Example ";
  background-color: #f9f9f9;
  width: 4.5em;
  top: -1px;
  left: -1px;
}

/* line 471, ../../src/styleguide/styleguide.scss */
div.jsExample:before {
  content: "JS Example";
  background-color: #fff;
  width: 80px;
  top: -11px;
  left: -11px;
}

/* line 479, ../../src/styleguide/styleguide.scss */
div.codeBlock, div.exampleOutput {
  padding: 10px;
}

/* line 483, ../../src/styleguide/styleguide.scss */
div.codeBlock {
  background-color: #f9f9f9;
  border-top: 1px solid #ccc;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* line 490, ../../src/styleguide/styleguide.scss */
.docSwatch {
  min-height: 218.21px;
  border: 1px solid #ccc;
  padding: 10px 0 0 10px;
  font-size: 12px;
  margin-bottom: 5px;
}

/* line 498, ../../src/styleguide/styleguide.scss */
.codeExample .line > div:after {
  content: attr(class);
  display: block;
  min-height: 40px;
  line-height: 40px;
  background-color: #EEE;
  text-align: center;
  border-radius: 3px;
  font-size: 12px;
}

/* line 511, ../../src/styleguide/styleguide.scss */
.grid-show {
  margin-bottom: 20px;
  text-align: center;
}
/* line 514, ../../src/styleguide/styleguide.scss */
.grid-show [class*=col]:before {
  content: attr(class) "\a" attr(grid-content);
  white-space: pre;
  display: block;
  background-color: #F8F8F8;
  padding: 10px 0;
  outline: 1px solid #b4b4b4;
}

/* line 526, ../../src/styleguide/styleguide.scss */
.styleguide-form {
  padding: 25px;
}

/* line 532, ../../src/styleguide/styleguide.scss */
.styleguide-component-wrapper {
  position: relative;
  border: 1px solid #c3c5c7;
  height: 200px;
  width: 100%;
  overflow: hidden;
}
/* line 538, ../../src/styleguide/styleguide.scss */
.styleguide-component-wrapper .ribbon-banner {
  position: absolute;
}

/* line 543, ../../src/styleguide/styleguide.scss */
pre {
  background-color: transparent;
  border: none;
}

/* line 550, ../../src/styleguide/styleguide.scss */
.exampleOutput .modal {
  position: relative;
  top: auto;
  right: auto;
  left: auto;
  bottom: auto;
  z-index: 1;
  display: block;
  opacity: 1;
}
/* line 560, ../../src/styleguide/styleguide.scss */
.exampleOutput .modal.fade .modal-dialog {
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

/* line 566, ../../src/styleguide/styleguide.scss */
.bkg-highlight-2 {
  background-position: 0 50%;
}

/* line 572, ../../src/styleguide/styleguide.scss */
.code-hide-haml .codeBlock.haml {
  display: none;
}

/* line 576, ../../src/styleguide/styleguide.scss */
.code-hide-html .codeBlock.html {
  display: none;
}

/* line 582, ../../src/styleguide/styleguide.scss */
.section-nav {
  font-size: 14px;
  padding-left: 0;
  font-weight: bold;
}
/* line 587, ../../src/styleguide/styleguide.scss */
.section-nav li {
  display: inline-block;
}
/* line 589, ../../src/styleguide/styleguide.scss */
.section-nav li a {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 5px;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  border-radius: 3px;
}
/* line 597, ../../src/styleguide/styleguide.scss */
.section-nav li a:hover {
  background-color: white;
}

/* line 604, ../../src/styleguide/styleguide.scss */
td.is-visible, td.is-hidden {
  text-align: center;
  vertical-align: middle;
}

/* line 609, ../../src/styleguide/styleguide.scss */
td.is-visible {
  color: #468847;
  background-color: #dff0d8 !important;
}

/* line 614, ../../src/styleguide/styleguide.scss */
td.is-hidden {
  color: #ccc;
  background-color: #f9f9f9 !important;
}

/* line 619, ../../src/styleguide/styleguide.scss */
.aligner {
  background-color: #F8F8F8;
}
/* line 621, ../../src/styleguide/styleguide.scss */
.aligner > * {
  background-color: white;
}
