@import "../mixins";
@import '../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins';

/*doc
---
title: Ellipsis
name: ellipsis
categories:
  - Utilities
  - All
---


<code class="pam">
<i class="fa fa-download" alt="Install the Component">
npm install pui-css-ellipsis --save
</i>
</code>


The type `.type-ellipsis` adds ellipsis to text when there is too much. Combine it with `.col-md-*` classes to get the width you want.

```html_example_table
<p class="type-ellipsis">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>
```

*/

.type-ellipsis {
  @include text-overflow;
}