@import "../pui-variables";

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */

textarea,
select {
  display: block;
  width: 100%;
  height: ($base-unit*4);
  padding: 4px $base-unit;
  /* The 6px vertically centers text on FF, ignored by Webkit */
  font-size: 14px;
  background-color: #fff;
  border: 1px solid $input-border;
  border-radius: 2px;
  -webkit-appearance: none;
  box-shadow: none;
  box-sizing: border-box;
  color: $dark-2;

  &::-ms-expand {
    display: none;
  }
}

select {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9IiM2MDc1ODAiIHdpZHRoPSI0OCIgaGVpZ2h0PSI0OCIgdmlld0JveD0iMCAwIDQ4IDQ4Ij48cGF0aCBkPSJNMjQsNSwxMiwxN2wyLjgzLDIuODNMMjQsMTAuNjZsOS4xNyw5LjE3TDM2LDE3WiIvPjxwYXRoIGQ9Ik0zMy4xNywyOC4xNywyNCwzNy4zNGwtOS4xNy05LjE3TDEyLDMxLDI0LDQzLDM2LDMxWiIvPjwvc3ZnPgo=);
  background-size: 18px 18px;
  background-position: right 6px bottom 6px;
  background-repeat: no-repeat;
  padding-right: 32px;
  -moz-appearance: none;
}

textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}

textarea:focus,
select:focus {
  border: 1px solid $input-border-focus;
  outline: 0;
}

fieldset {
  padding: 0;
  border-width: 0;
}

.form-group-checkbox {
  label {
    display: inline-block;
    font-weight: 400;
  }
}

label,
legend {
  color: $dark-2;
}

html body {
  textarea, select {
    &.disabled, &:disabled {
      background-color: $input-disabled;
      cursor: not-allowed;
      color: $dark-5;
      border-color: $input-border;
    }
  }
}

$form-icon-size-lg: 20px;
$form-icon-padding-lg: (($base-unit*5) - $form-icon-size-lg) / 2;
$form-icon-size-sm: 12px;
$form-icon-padding-sm: (($base-unit*3) - $form-icon-size-sm) / 2;
select {
  :not(input[type="radio"], input[type="checkbox"]) {
    height: $base-unit * 4;
  }

  &.input-lg {
    background-size: 20px 20px;
    background-position: right 9px bottom 9px;
    height: $base-unit * 5;
    font-size: $font-size-large;
    & ~ .icon {
      font-size: $form-icon-size-lg;
      right: $form-icon-padding-lg;
      bottom: $form-icon-padding-lg;
    }
  }

  &.input-sm {
    background-size: 14px 14px;
    background-position: right 4px bottom 4px;
    padding-top: 0;
    padding-bottom: 0;
    height: $base-unit * 3;
    font-size: $font-size-small;
    & ~ .icon {
      font-size: $form-icon-size-sm;
      right: $form-icon-padding-sm;
      bottom: $form-icon-padding-sm;
    }
  }
}

.form-control-static {
  line-height: $pui-line-height-large;
  margin: 0;
}

//Form Groupings
//-------------------------------------

.form-group {
  margin-bottom: ($base-unit*2);
  position: relative;
  label {
    position: relative;
    display: block;
    font-size: 14px;
    font-weight: 600;
    line-height: ($base-unit*4);
    margin-bottom: 0;
    margin-right: $base-unit;
    .icon {
      pointer-events: initial;
      position: relative;
      font-size: 16px;
      bottom: 0;
      right: 0;
    }
    &.label-sm {
      font-size: 12px;
      line-height: ($base-unit *3)
    }
    &.label-lg {
      font-size: 16px;
      line-height: ($base-unit *5)
    }
  }

  .dropdown .icon:not(.icon-toggle) {
    pointer-events: initial;
    position: relative;
    font-size: 16px;
    bottom: 0;
    right: 0;
  }

  //Validation Icons
  $form-icon-size: 18px;
  $form-icon-padding: (($base-unit*4) - $form-icon-size) / 2;

  .icon {
    pointer-events: none;
    position: absolute;
    right: $form-icon-padding;
    bottom: $form-icon-padding;
    font-size: $form-icon-size;
    svg {
      fill: $dark-5;
    }
    &.valid,
    &.invalid {
      position: absolute;
      right: $base-unit;
      top: $base-unit;
      font-size: 16px;
    }
    &.valid svg {
      fill: $input-border-valid;
    }
    &.invalid svg {
      fill: $input-border-invalid;
    }
  }

  .btn-icon .icon {
    pointer-events: initial;
    position: relative;
    right: inherit;
    bottom: inherit;
    svg {
      fill: inherit;
    }
    &.valid,
    &.invalid {
      position: relative;
      right: inherit;
      top: inherit;
      font-size: $form-icon-size;
    }
    &.valid svg {
      fill: inherit;
    }
    &.invalid svg {
      fill: inherit;
    }
  }
}

.form-group-search {
  position: relative;
  .icon {
    position: absolute;
    top: 50%;
    left: 7px;
    transform: translateY(-50%);
    font-size: 18px;
  }
  input {
    padding-left: 32px;
  }
}

.form-lg {
  label {
    font-size: 16px;
    line-height: 40;
  }
  input {
    height: ($base-unit*5);
    font-size: 16px;
  }
  .icon {
    font-size: $form-icon-size-lg;
    right: $form-icon-padding-lg;
    bottom: $form-icon-padding-lg;
  }
}

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: relative;
  margin-left: 0;
  margin-top: 0;
  display: inline-block;
  height: $font-size-small;
  width: $font-size-small;
  margin-right: $base-unit / 2;
}

.radio-inline,
.checkbox-inline {
  padding-left: 0;
}

.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-left: $base-unit;
}

.form-inline.form-lg {
  label {
    line-height: ($base-unit*5);
  }
}

.form-inline {
  display: inline-flex;
  vertical-align: top;
  &:not(.col) + .form-inline {
    margin-left: ($base-unit*2);
  }
  &:not(.col) + .btn {
    margin-left: ($base-unit*2);
  }
  label {
    margin-right: $base-unit;
    line-height: ($base-unit*4);
  }
  .help-block {
    right: 0;
  }
}

//Accept & Error (valid/invalid)
textarea.invalid {
  border: 1px solid $input-border-invalid;
}

textarea.valid {
  border: 1px solid $input-border-valid;
}

.help-block {
  position: absolute;
  bottom: -$base-unit * 2;
  font-size: $font-size-extra-small;
  line-height: $base-unit * 2;
}

.has-error {
  .help-block {
    color: $input-invalid-text;
  }

  input, textarea, select {
    border-color: $input-invalid-text;
  }
}

// Input Icons
//-------------------------------------
.form-group-left-icon, .form-group.form-group-left-icon {
  input {
    padding-left: 32px;
  }

  .input-icon {
    position: absolute;
    left: 7px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }
}

.form-group-right-icon {
  input {
    padding-right: 32px;
  }
}

.input-wrapper {
  position: relative
}

.form fieldset {
  margin: 0;
}

.form-unit {
  .optional-text {
    margin-left: $base-unit / 2;
  }

  > .grid-inline {
    align-items: center;

    & > .col:nth-child(2) {
      padding-left: 0;
    }
  }

  .label-row {
    line-height: 4 * $base-unit;
    min-height: 4 * $base-unit;
    font-weight: 600;
    font-size: 14px;
  }

  .field-row {
    min-height: 32px;
    display: flex;
    align-items: center;

    > * {
      min-width: 100%;
    }

    > input[type="checkbox"] {
      min-width: initial;
    }
  }

  .help-row {
    line-height: 2 * $base-unit;
    min-height: 2 * $base-unit;
    font-weight: 400;
    font-size: 12px;
  }

  .label-row .tooltip .icon {
    font-size: 2 * $base-unit;
    margin-left: $base-unit / 2;

    svg {
      fill: $dark-5;
    }
  }

  &.inline-form-unit {
    .field-row {
      height: 32px;
    }
  }

  &.has-error {
    .help-row {
      color: $input-invalid-text;
    }

    input,
    input[type="email"],
    input[type="number"],
    input[type="search"],
    input[type="text"],
    input[type="tel"],
    input[type="url"],
    input[type="password"],
    textarea,
    select {
      border: 1px solid $input-border-invalid;
    }
  }
}
